[2012-01-14 16:00] bashwork opened #1 "Fix Documentation for Client.Sync"
Nowhere does it mention that you have to call client.connect() and the resulting error is attempting to call members on a null socket.
1. Update the documentation and examples
2. Gracefully handle the unconnected state (like the **enter** method).

[2012-01-14 16:01] bashwork opened #2 "Finish Adding Functional Tests"
Finish adding the functional tests for all the server code and finish the unit test for the remainder of the server/client code.

Make sure that we are also using correct reference implementations (jamod, modpoll, etc) for each test:
- sync/async server
- sync/async client
- special contexts

[2012-01-14 16:02] bashwork opened #3 "ReadFileRecordResponse <calculateRtuFrameSize> calculates invalid size"
Working on current SVN trunk, Revision r176
Code to reproduce:

records = []
        records.append(FileRecord(file_number=26, record_number=0, record_length=1))
        request = ReadFileRecordRequest(records)
        request.unit_id = 4

[code]

Problem:
- When calculating the response frame, the function ReadFileRecordResponse.calculateRtuFrameSize will have the whole frame as argument in <buff

[2012-01-14 16:04] bashwork opened #4 "Change protocol to only read what it needs"
Right now we are just reading until we get a full packet (which made for easy async stream handling), however, it messes with the serial implementations.  What needs to happen is the header size needs to be read and then based on that, the exact amount specified there needs to be read.  This would make the RTU implementation more reliable and fix the timeout issue with the serial libraries.

[2012-01-17 05:48] #1 closed, assigned to bashwork

[2012-02-26 04:17] #3 closed, assigned to bashwork

[2012-05-04 23:00] kmcintyre opened #6 "ModbusClientFactory question/issue"
I have multiple tcp modbus devices - http://www.advantech.com/products/ADAM-6017/mod_426AC8AA-4C77-4E4E-AED7-B41B9B387CF9.aspx that I'm polling on a recurring basis.

Below is a test script I wrote with pymodbus - in my output you'll notice that my deferredlist isn't firing until after Ctrl-C is hit...it's almost like there's a bit of synchronous code holding it up - Any feedback would be apprecia

[2012-05-21 19:23] ch82 opened #7 "Bug in parsing error responses."
bugs in parsing error responses. pymodbus don't check func_code >=0x80
from pymodbus.factory import ClientDecoder
from pymodbus.transaction import ModbusTransactionManager , ModbusRtuFramer
framer = ModbusRtuFramer(ClientDecoder())
data='\x00\x90\x02\x00\x01i' #error response from device
framer.processIncomingPacket(data,None)

./bug.py
Traceback (most recent call last):
  File "bug.py", line 8, i

[2012-05-21 20:24] #7 closed, assigned to nobody

[2012-06-18 14:30] bashwork opened #9 "Match Responses by the Request TID"
Since the order of the asynchronous responses are not guaranteed to be in order if many requests are sent at the same time, the deferred needs to be matched by its TID.  In order to do this, the deferred queue should be changed to a deferred dictionary.  If a response doesn't match a TID in the queue, it should be logged and dropped.

The following discussion addresses this issue: https://groups.g

[2012-06-18 14:47] bashwork opened #10 "Change the Client Mixin to Use Constants"
The client mixin is using hard-coded values for the default unit address instead of using the value from the constants file.

[2012-06-18 14:53] #10 closed, assigned to nobody

[2012-06-18 15:16] bashwork opened #11 "Synchronous Server Leaking Sockets"
It appears that a long running synchronous server starts leaking socket file descriptors.

A full discussion of the issue can be found here: https://groups.google.com/forum/?fromgroups#!topic/pymodbus/RcmJVebgkvI

[2012-08-15 16:03] markgajdosik opened #13 "Synchronous Serial Modbus Client Issue"
Hi there,

in `factory.py` on line 240, where the functions are called from `__lookup`, the function is given no `kwargs`. Later on deeper in the code, the transaction ID is not passed to the function which retrieves the data for the correct transaction.

The response returned by this `__lookup` call then returns transaction with no data, transaction ID 0 and unit ID 0 -- although deeper debugging

[2012-10-18 02:48] #6 closed, assigned to nobody

[2012-11-13 05:55] tspr opened #14 "sync client not working / slave adressing not possible anymore"
In the old interface, i could do (with a client=ModbusTcpClient(IPaddress) object)

result=client.read_holding_registers(register, count, slaveno)

now this fails on me! Where do i set the slaveno?

[2013-02-04 15:32] keleshev opened #17 "CHANGELOG"
Hi, we started using pymodbus 0.9.0 about a year ago. I can see that current version is 1.1.0, but there is no CHANGELOG file to figure out what was changed between these two releases, and whether moving to 1.1.0 makes sense for us or not.

[2013-02-19 07:35] walkertong opened #18 "RTU over TCP"
Hi,
    I had written a script to pull information from a device through modbus gateway, it worked very well whit version 0.9. Somedays ago i installed 1.1, it can not work anymore. I wirte a brief fllowing:
   in v0.9, I created a new class in client/sync.py named ModbusRTUTcpClient, it copied from ModbusTcpClient, the only change is :  change  BaseModbusClient.**init**(self, ModbusSocketFramer(C

[2013-04-01 16:28] #14 closed, assigned to nobody

[2013-04-01 16:34] #11 closed, assigned to nobody

[2013-04-02 05:10] #17 closed, assigned to bashwork

[2013-04-04 04:17] #9 closed, assigned to bashwork

[2013-04-04 04:44] #18 closed, assigned to bashwork

[2013-04-10 05:11] #13 closed, assigned to bashwork

[2013-04-22 15:37] karlp opened #19 "twisted port.stopListening() doesn't stop?"
I'm building a small gtk3 (pygobject) app, and I want to start/stop the modbus server socket (this is a modbus server, faking out the real hardware)

in my gtk main window, I have this...

[code]

and on the button press...

[code]

This works well, but for the "stop" button, simply calling

[code]

I know this might be deferred, but I don't see it ever finish.  There is a client continually makin

[2013-04-23 17:58] karlp opened #20 "ModbusServerContext doesn't implement __delitem__"
ModbusServerContext implements **getitem** and **setitem** (Which is awesome by the way, it lets me add/remove/change slaves at runtime)

However, the only access to removing slaves is to leave the slave id, but set the slave object to None.  This _works_, but you get errors like "pymodbus.server.async - Datastore unable to fulfill request: 'NoneType' object has no attribute 'validate'"

Wouldn't

[2013-05-28 21:08] Edke opened #21 "While using sync.client, _recv() too early after _send()"
Hello.

Spent two days figuring this, but this helped an issue. I'm querying a device, that is a bit slow in response via Modbus. Using sync.client and TCP Server ICS-10X from Planet gave me a headache. Was not able to get result of ReadHoldingRegistersRequest():

[code]

After modifying of ModbusTransactionManager's execute() and putting delay between _send() and _recv() everything works great:

[2013-06-05 20:48] #20 closed, assigned to bashwork

[2013-06-06 04:48] bashwork opened #22 "Add python3 support"

[2013-07-03 21:47] brandonfwl opened #25 "First Steps /help"
I tried to run:

//
from pymodbus.client.sync import ModbusTcpClient

client = ModbusTcpClient('myStaticIP, port=myPort')
client.connect()
rr = client.connect()
print rr
client.write_coil(1, True)
result = client.read_coils(1,1)
print result.bits[0]
client.close()
//

Output is as follows:
//
True
Traceback (most recent call last):
  File "./test.py", line 11, in <module>
    print result.bits[0]

[2013-07-10 15:38] bashwork opened #27 "Create a common troubleshooting list"
There are a number of errors that can be solved with a simple checklist.  Create an example with a number of different options to try and a documentation page describing troubleshooting steps.

[2013-07-16 09:41] Edke opened #28 "Problem with chunked response via TCP/IP server"
Hello again.

While testing #21 my code reminded me, that I had to rewrite ModbusTcpClient because my [Planet ICS-100 Media converter](http://www.planet.com.tw/en/product/product.php?id=16529) returns response from Modbus device not as single packet, but data are chunked across multiple packets.

I have rewritten ModbusTcpClient, please inspect this [code](https://gist.github.com/Edke/6007273) and

[2013-07-16 15:42] #25 closed, assigned to nobody

[2013-07-26 18:49] xamox opened #29 "Thanks for moving to github."
No issue, just wanted to say thanks for moving this to github, a lot easier to keep up with the pace of devleopment.

[2013-07-28 16:40] #29 closed, assigned to nobody

[2013-07-31 03:47] #4 closed, assigned to bashwork

[2013-08-27 16:30] brandonfwl opened #30 "Example Non Issue"
This isn't an "issue" but rather a request for an example.  If I could get an example to read a single register, decode and print that value.  The modbus device I'm using is an IDEC D12 model (TCP).  The link below has their modbus addressing table (in an excel spreadsheet), which is where my confusion starts.  I'd like to read Data Register D0000 (modbus address 400001) and print that decoded val

[2013-09-04 08:50] madsl opened #31 "Using pymodbus within a twisted python app makes pymodbus.client.sync.ModbusUdpClient mistakenly use IPv6"
I have only tested with the UDP Client, I can only guess the same applies to TCP.

[code]

Result of running this on my computer (in ipython for clarity):
[code]
It seems that if you do the socket.inet_pton(socket.AF_INET6, address) within a twisted application, it won't throw a socket.error even if there's no IPv6 addresses available (I don't have support for IPv6 at both the kernel or in the pyt

[2013-09-16 19:50] #30 closed, assigned to nobody

[2013-09-27 00:21] ghost opened #33 "cannot enable/disable RTS for client and slave"
when  i use serial RTU and RS-485  wires, how do i set set RTS high and low.

i know i gotta to do it in the source codes, like for read_holding_register request , i need to set it high to send the request and low to receive the response from slave.

and for the slave Linux box, i need to set RTS high to send a reponse back to master and set it low right after that.

where do i do that ?

i know i

[2013-09-27 03:25] #22 closed, assigned to bashwork

[2013-10-03 00:06] xvart opened #34 "mask write register disabled in the client"
Was there a reason this was disabled?

[2013-10-17 01:14] mdresser opened #36 "modbus-scraper.py example doesn't work"
I've found and fixed a typo

and a missing twisted import statement

but now I'm hitting errors that exceed my very modest (practically non-existent) knowledge of python.

[2013-10-26 23:36] bashwork opened #37 "RTU/Serial Framer Fix Branch Issues"
I am opening an issue that can contain all responses about fixing the RTU/serial framer problems.  Please keep all comments about the new branch (framer-fix) here so it is easy to track issues.  Thanks!

[2013-11-08 08:12] fengrujun opened #38 "pymodbus.client.sync.ModbusTcpClient read_input_registers get none ?"
HI,sorry for my poor english!
     Why my tcp client get none after perfoming function 'read_input_registers'?My code is:
     from pymodbus.client.sync import ModbusTcpClient as ModbusClient

[code]

The result is:
DEBUG:pymodbus.transaction:Running transaction 1
DEBUG:pymodbus.transaction:0x4d 0x4f 0x44 0x42 0x55 0x53
DEBUG:pymodbus.transaction:getting transaction 1
DEBUG:pymodbus.transaction:Ru

[2013-11-13 22:39] Barmaley13 opened #39 "Async Client Example"
Hi there,
First of all thanks for the awesome work. I am pretty new to this project so I am still trying to get up to speed on this. I've been trying to execute following example.

[code]

I've actually changed "localhost" to ip address of my modbus unit. Anyway, It seems like callbacks never get executed. Also, I am not sure how do you pass arguments to process and printResult functions. Also syn

[2013-11-15 21:13] brycobat opened #40 "Python <=2.6 Sync ModbusTCPClient socket.create_connection: no source_address kwarg"
(Context: I'm stuck on Python 2.6 on an embedded box, upgrading to 2.7 or higher isn't under my control at the moment.)

The socket API changed in Python 2.7, in 2.6 and prior socket.create_connection doesn't handle the source_address kwarg. (This shows up in the ModbusTcpClient.connect(), pymodbus/client/sync.py, line 142 or so.)

Is there a better way to handle this besides doing something like

[2013-11-19 20:40] mksharma opened #41 "Modbus garbage values in return and error AttributeError: 'ExceptionResponse' object has no attribute 'registers'"
Hi Guys,
My modbus system is Asynchronous and  I have tried to solve my problem in 2 ways

Way 1: I am trying to read a register in this way:
#

1.self.client = ModbusClient(ip_add)
2.result  = self.client.read_holding_registers(register_start_add,num_of_registers)
3.decoder = BinaryPayloadDecoder.fromRegisters(result.registers, endian=Endian.Little)
4.
5. if format_of_reg == 'ASCII': output = dec

[2014-02-07 06:33] ghost opened #43 "SyntaxError: assignment to keyword => True, False = (1 == 1), (0 == 1)"
C:\Anaconda>pip install -U pymodbus
Downloading/unpacking pymodbus
  Downloading pymodbus-1.2.0.tar.gz (75Kb): 75Kb downloaded
  Running setup.py egg_info for package pymodbus
    Traceback (most recent call last):
      File "<string>", line 14, in <module>
      File "C:\Anaconda\build\pymodbus\setup.py", line 26, in <module>
        from pymodbus import **version**, **author**
      File "pymod

[2014-02-20 20:45] #43 closed, assigned to nobody

[2014-05-16 11:50] Tamarinen opened #47 "Handling of malformed MEI responses"
We have a heat pump that manages to confuse pymodbus when asked to identify itself through RTU. When asked for the mandatory information, the response is as follows:

0x01 00x2b 0x0e 0x01 0x01 0x00 0x00 0x01 0x00 0x04 NIBE 0x01 0x08 F1345-60 0x02 0x04 4150 0xab 0x9a

The pump indicate that the MEI response contain only one object, while three are sent, which calculateRtuFrameSize() in mei_message.

[2014-06-24 22:12] irbigturtle opened #49 "Win7 ImportError: No module named pymodbus.client.sync"
It appears to have successfully installed, and the .egg file is in site-packages, but I can't import.

If I run setup.py --version it returns 1.2.0, but when I try to import...

from pymodbus.client.sync import ModbusTcpClient

Traceback (most recent call last):
  File "<pyshell#9>", line 1, in <module>
    from pymodbus.client.sync import ModbusTcpClient
ImportError: No module named pymodbus.clie

[2014-07-24 04:09] #39 closed, assigned to nobody

[2014-07-30 18:17] ghost opened #50 "Print value in holding register in mode rtu"
Hello, I want to read and print the values stored in holding registers 00 to 03, and I succeeded with Modpoll, but when I tried with this code in python, the result is None
ps: My python version is 2.7.3
# !/usr/bin/env python

from pymodbus.client.sync import ModbusSerialClient as ModbusClient
client=ModbusClient(method='rtu',port='/dev/ttyUSB0',baudrate=9600,timeout=1)
client.connect()

response

[2014-08-03 17:51] MAKOMO opened #51 "Timeout for ModbusUdpClient"
If the slave stops, the UDP client realized with pymodbus hangs (on OS X). There seems to be no way to specify a timeout on the underlying socket as for the ModbusSerialClient. The following would allow to use a timeout argument using the newly passed down kwargs.

[code]

An update on the python3 build would be nice too.

Thanks,
Marko

[2014-08-15 06:15] ghost opened #54 "Corrupted telegram when passing 0x0000 to "write_registers""
When writing a code like
client.write_registers(0xC003, 0x0000)
the sended telegram is corrupted and does not contain a valid request.

[2014-08-19 07:51] sjlongland opened #57 "setValues is called with incorrect address"
Hi,

I'll see if I can get some better data, but I've noticed that pymodbus seems to have a bug when performing a register write.  Reading works fine, however when I perform a write register, it first validates the address range, which works, but then tries to call setValues with the wrong register address.

[code]

Here, I tried writing to register 2011, it validates that it can write to register

[2014-08-19 07:56] #57 closed, assigned to nobody

[2014-08-19 21:46] #50 closed, assigned to nobody

[2014-08-20 11:19] j105rob opened #58 "pymodbus.client.async ModbusClientProtocol mishandling transactions"
We are running against Emerson EP204-P200-EN00 RTUs fully async using twisted and have noticed some odd issues with the deque in the async client protocol.

I have noticed that just doing a .popleft() might not be the implementation you intended w/ an async process, since many functions being processed by the reactor are pushing requests through the client and there is no guarantee when they will

[2014-08-26 17:43] magnusm6 opened #59 "Some help for installing modbuspy on ubuntu"
I hope someone can help me because I am not a python expert. I couldn't install modbuspy package on a Windows machine so I'm planning to install ubuntu on a virtual machine. My questions are:

1. Is that ok if I install ubuntu 14.04 .1lts?
2. Is that ok if I use python 2.7.8?

thanks in advance

[2014-09-05 20:20] platinummonkey opened #60 "Slave ID for request not verified when accepting response"
It appears that the validation process is not checking that the slave id in the request matches the slave id in the response. For a synchronous client a response from a rogue device should not be considered a valid response when reading coils/holding/input/discrete registers.

Edit: oops, referring to server code.

[2014-09-12 19:47] colnewman26 opened #62 "read_holding_registers returns None on BeagleBone Black, no issue on Windows and Linux VM"
I wrote my python script in Windows, and it worked fine, the PLC returned the values I wanted.

edit: I just tried it on my Mint 17 Virtual Machine and it works fine on there too. It's just the BBB that doesn't work /edit

Now I am trying to run it on my BeagleBone Black (running the latest Debian) and it's just returning "None" I don't event get a time out exception. After the the allotted timeou

[2014-09-19 01:58] sjlongland opened #63 "pymodbus.server.sync: chuid server on bind"
Hi,

I've looked around and while I can get the PyModbus server to bind to port 502 as root, this represents a possible security risk and gives us other headaches (like files being created as root).  Obviously port 502 can't be bound to by an unprivileged process and a lot of software (e.g. MacroView SCADA) assumes it'll find Modbus on that port, so we're more or less stuck there.

Many daemons wi

[2014-10-24 19:16] signix opened #68 "Incomplete data received from pl1000e module"
Using ModbusTcpClient to connect to pl1000e module I received only the first part of the response and not the registers for some of them (firmware MAY05).
After investigation it semms that the tcp response is send as two sequences
.
If I add this line to transaction.py (line 68) everything is ok
result = self.client._recv(1024)
++ if len([hex(ord(x)) for x in result]) <= 7:
++     result += self.c

[2014-11-05 12:04] Bouni opened #69 "read_holding_registers returns always none"
Maybe this isn't a real issue but i can't get the library to read registers.
I try to read status data from a [SICK FlexiSoft](http://www.sick.com/group/EN/home/products/product_news/safe_control_solutions/Pages/flexi_soft.aspx) Safety PLC with [Modbus Gateway](https://www.mysick.com/saqqara/im0036614.pdf).
Here is a [Gist](https://gist.github.com/Bouni/598ff8b7cee0fc43e978) of my snippet.
I can c

[2014-11-06 16:01] #69 closed, assigned to nobody

[2014-11-10 10:26] Loris1123 opened #70 "no RtuFramer for serial synchronus server"
It seems like you cannot use an RtuFramer for a synchronus serial server.

    pymodbus.server.async.StartSerialServer(context, identity=None,
        framer=ModbusAsciiFramer, **kwargs):

uses a framer as parameter, ModbusAscii as default.

    pymodbus.server.sync.StartSerialServer(context=None, identity=None, **kwargs):
        framer = ModbusAsciiFramer

This one uses only the AsciiFramer. No

[2015-01-05 07:18] bashwork commented on #51
Fixed with b13c89d32ade35e6121d5e11d7f089551b92da62

[2015-01-05 07:18] #51 closed

[2015-01-05 07:27] #62 closed

[2015-01-05 07:28] #40 closed

[2015-01-05 07:28] #36 closed

[2015-01-05 07:29] #31 closed

[2015-01-05 07:38] #70 closed

[2015-01-05 07:42] bashwork commented on #63
I didn't add a whole lot of infrastructure for creating advanced daemons, however if you are using the twisted stack, you can use tac files and achieve everything you want:

http://www.tsheffler.com/blog/?p=526

I can add a feature request for this, however it may be a minute before I can get to it.

[2015-02-10 12:51] tomkuijsten commented on #43
Just wanted to add that you could also download the source from the 3 branch and use the "python setup.py install", which will work.

[2015-02-10 16:33] roberthdevries commented on #28
There is a small typo on line 150 of transaction.py

Here is the patch:
diff --git a/pymodbus/transaction.py b/pymodbus/transaction.py
index 4000f65..b2040c3 100644
--- a/pymodbus/transaction.py
+++ b/pymodbus/transaction.py
@@ -147,7 +147,7 @@ class ModbusTransactionManager(object):
             # the current frame and alert the application code
             # that there was an error.

[2015-02-11 06:02] bashwork commented on #28
Ah, good find. I'll patch this asap.
On Feb 10, 2015 8:33 AM, "roberthdevries" <notifications@github.com> wrote:

[2015-02-23 07:38] pakerfeldt opened #73 "RemoteSlaveContext not supporting unit"
Is there a reason why, specifically setValues and getValues in, RemoteSlaveContext doesn't support **kwargs to enable for the unit (what I typically call slave id) parameter? I modified this to accommodate for a scenario where I have a bottle instance backed by a RemoteSlaveContext which communicates with multiple slaves. Should I send a PR for this or is this supposed to be handled in some other

[2015-02-24 13:03] bbinet commented on #38
I get a similar issue: `client.read_input_registers` often return `None`.
Note the I'm using the synchronous tcp client (`pymodbus.client.sync.ModbusTcpClient`)

I tried to investigate a bit, and it seems this is due to the `getTransaction` method which cannot find the transaction id:
https://github.com/bashwork/pymodbus/blob/master/pymodbus/transaction.py#L159-167

Any idea why we experience this

[2015-02-24 13:05] bbinet commented on #38
may be the `pymodbus.client.sync.ModbusTcpClient` is not really synchronous?

[2015-02-27 15:07] bbinet commented on #38
For the record, I finally managed to fix this issue: it occurred because the socket was not ready when I tried to read_input_registers, and I noticed that if I add `time.sleep(0.001)` after `client.connect()`, it was working.

So I now open the connection with `client.connect()` once, then always keep the same connection when I run `client.read_input_registers`, and everything is fine now, it does

[2015-03-09 09:06] kevinee commented on #73
Hi Patrik, I am new here but am having the same issue as you. I am interested in using pymodbus/example/contrib/serial-forwarder.py as a bridge from modbus-tcp to modbus-rtu(485). The example almost works for this purpose, except the unit-id is not passed from the tcp side to the rtu side. As you pointed out (https://groups.google.com/forum/#!topic/pymodbus/HkE_5gQ-gT8) RemoteSlaveContext in remot

[2015-03-09 10:35] pakerfeldt commented on #73
I decided to base my project on NodeJS instead, using a completely different library. So to me, personally, this is no longer an issue. However, here's a patch on the remote.py changes I did to make it handle unit ids.

https://gist.github.com/pakerfeldt/9671aaf6e39e3c7912ac

[2015-03-16 07:38] SergeyDubovitsky opened #75 "Modbus server. How to generate error?"
I have created a server example: http://pymodbus.readthedocs.org/en/latest/examples/asynchronous-server.html  I need a timer to generate an error Modbus client (eg 81 8F)? How can this be implemented?

[2015-03-16 20:51] kevinee opened #76 "RTU sync client always waits for timeout (with possible solution)"
The RTU serial port client always waits for the port timeout value, e.g.;
client = ModbusClient(port = 'dev/ttyUSB0', ..... , timeout = 1)
will cause every request to take one second as the read size is always set to 1024 bytes, larger than an actual response. One possible solution is to read the first few bytes of the response and from that determine the complete response size. This is possible f

[2015-03-16 22:44] Cougar commented on #76
I proposed patch that I have successfully used myself in issue #55

[2015-03-21 16:48] alexkaskasoli opened #77 "Read Device Information using ModbusTcpClient"
I've looked at the docs for the ModbusTcpClient, there's functions to read coils and registers but I couldn't see one for what Modbus calls "Function 43/14: Read Device Information"

Can you read the device information using a ModbusTcpClient object?

[2015-03-24 00:20] xvart commented on #77
no support for that as yet, and I'm busy with other things at work at the moment so won't be able to add anything for a while

[2015-03-24 02:29] xvart commented on #75
you need to ask the main pymodbus developer

[2015-03-24 14:14] alexkaskasoli commented on #77
Thanks for the update!
Pymodbus is great though, I will perhaps try to implement RDI myself and get back to you if I do.

[2015-03-25 20:41] alexkaskasoli opened #78 "Server DataBlock starting address always 0?"
I've tried setting up a coils data block on a sync server with:
[code]
where coils is a dictionary with first value ie (1: False)

or using

[code]
with coils a list of True/False values.

The values are correct but the start address is always 0. Here's a sample of my enumerators output:
[code]

(Enumerator works on real PLCs and other simulators)

Is this a bug? Or am I misunderstanding how to se

[2015-03-25 21:05] #78 closed

[2015-03-30 17:09] bashwork commented on #77
All of the modbus spec is implemented. These requests are in the mei_messages import.

[2015-03-30 17:09] #77 closed

[2015-04-01 23:36] bashwork commented on #75
I'm sorry I don't understand the question. Can you explain more?

[2015-04-01 23:38] bashwork commented on #73
There was no reason, it was just an omission. I will incorporate your patch. Thanks!

[2015-04-02 00:13] #73 closed

[2015-04-02 00:15] bashwork commented on #59
Both of those are fine. When you are installing, please install from github and not pip. The dependencies can however be installed from pip.

[2015-04-02 00:15] #59 closed

[2015-04-02 18:55] MartinBorg commented on #59
Btw. pymodbus 1.2.0 is available directly in Ubuntu: http://packages.ubuntu.com/search?keywords=pymodbus&searchon=names&suite=all

[2015-04-16 13:10] gudul opened #80 "wrong _rtu_frame_size in mei_message.ReadDeviceInformationRequest"
For test purposes I set a synchronous serial server on one machine and a synchronous serial client on a second machine. Machines are linked through USB-RS485 adapters.
Testing the response to MEI requests, I noticed that the server side was rejecting the packet due to wrong CRC. It led me to discover that the variable _rtu_frame_size set to 3 in the class mei_message.ReadDeviceInformationRequest l

[2015-05-03 00:09] estan commented on #19
Not sure if the problem I have is similar, but I'm using a `ModbusTcpServer` upon which I call `serve_forever` in a thread. But trying to shut down the server by calling `shutdown` is not working. The `shutdown` call blocks seemingly forever (and the server keeps serving requests).

This only happens when a client is continually making requests. If there's no traffic, then the `shutdown` call succ

[2015-05-03 00:16] estan commented on #19
To clarify. I'm using Qt, and I set up the server and call `serve_forever` as follows:

[code]

I create and start such a thread in my GUI code, and when my main window closes, I do:

[code]

But the program never terminates if there are clients actively making requests. The `shutdown` call never returns.

[2015-05-03 21:30] estan opened #82 "Add more convenient API for checking if response is error?"
In some of the examples I've seen e.g:

[code]

Is this the canonical way to check if a response is an error or not? If so, what's the best way to pinpoint what kind of error it was? Check the `exception_code` against `ModbusExceptions`?

Note sure how the API could be improved, but would be nice if there were some more examples of error handling in the examples (which are great!).

[2015-05-05 09:47] Alikornio opened #83 "Problems with rtu circutor."
Hello. I have used modbus poll for windows for read my circutor values, and it works.

Now i want to do it with a raspberry. I had searching for a modbus library that works in modbus rtu protocol, and found this.

I didn't found great help in the documentation.

1st i didn't know what function i have to use for read the real values form circutor. I think that is read_discrete_inputs, but didn't kn

[2015-05-05 10:09] karlp commented on #83
Looks like  your particular circutor device doesn't have 6 coils from address 1.  Perhaps they're meaning address 0/ register 1?  Perhaps your device has less than 6 available to read?  try 1/1, instead of 1/6.

On the bright side, you're getting a well formed response from your device :)

[2015-05-18 12:31] Loris1123 opened #84 "Stop async Server"
I didn't find a way to stop an async TCP Server. I need this to test the server with different configuration in a single script.

To stop the async server I added the following code to async.py:

[code]

It seems like it is working for me. Maybe you should include something similar to pymodbus.

[2015-05-26 00:10] sjlongland opened #85 "pymodbus.client.async.ModbusSerialClient seems to be missing"
Hi,

I'm in the process of writing an asynchronous Modbus interface using pymodbus, I went to try out some of the functional tests, namely this one:

https://github.com/bashwork/pymodbus/blob/46c900832aa35a00955f2fd12537f4963687bb87/examples/functional/asynchronous-rtu-client.py

I get the following error:

[code]

Where do I find the asynchronous `ModbusSerialClient`?

[2015-05-26 14:09] clafouti2104 opened #86 "Function Read Discrete Inputs"
Hi,

I'm trying to use the modbus function 2 (read discrete inputs) but the response received is not correct.
Is there a way to get the non formatted response (no True/False response but the 0x..)?

Thanks

from pymodbus.client.sync import ModbusTcpClient as ModbusClient

import logging
logging.basicConfig()
log = logging.getLogger()
log.setLevel(logging.DEBUG)

client = ModbusClient('172.22.8.9',

[2015-06-10 19:56] xinthose commented on #86
This is what I use:

	# registers --- 40000
	client.write_register(0,7)
	reg_result = client.read_holding_registers(0x00,4,unit=1)
	print "read_holding_registers: " + str(reg_result.registers)
	reg_result_0 = reg_result.registers[0]	# single result
	print reg_result_0

[2015-06-18 23:06] jefferyanderson opened #90 "Dictionary for BaseModbusDataBlock in Data Store not functioning as expected"
Based on my reading of the manual, it appears the purpose of the dictionary method is to enable the definition of gaps, e.g:
data = {1:'1', 3:'3', ..., count:'count'}
[1,3,...,count]

Should allow for the specification of a value for register 1, and a value for register 3, without a value for register 2. It appears that instead that this line:
hr = ModbusSequentialDataBlock(1,{1:"1",3:"13"})

is i

[2015-06-18 23:20] #90 closed

[2015-06-18 23:21] jefferyanderson commented on #90
Actually, I think this is now user error - I should be using ModbusSparseDataBlock

[2015-06-21 16:20] Eventect commented on #51
I believe the modification above has not been committed properly. It should read, as MAKOMO suggested:

    self.socket.settimeout(self.timeout)

but it appears to have been commited as:

    self.settimeout(self.timeout)

which deliver a no method error in case the timeout option is passed.

[2015-06-26 09:33] vthielen opened #91 "pip installs old version (with bugs)"

[2015-06-26 09:36] vthielen commented on #91
When using pip-3.2 on beaglebone to check out pymodbus3, it installs the 1.0.0 version of the software which has bugs.
I copied from the githup python3 branch and installed with: "python3 setup.py install" to get the latest version

[2015-07-17 14:11] neldog2 opened #93 "Losing connection to multiple clients when calling loseConnection"
I tried getting an answer from stackoverflow but no luck so I'm asking here.  I cobbled together some code from different examples trying to get the async client reading multiple values from multiple different modbus targets(power meters).  The clients all connect fine and get the first set of values I ask, but then they all disconnect before all the information is returned.  Code:

[code]

Is thi

[2015-07-21 08:13] bochengyang opened #94 "Can not excute the example frontend.py"
The frontend.py looks use to application in one socket.
I got the error message after run this example.
"socket.error: [Errno 98] Address already in use"
This problem looks like the so_reuseaddr problem.
But I can not see any library can add this option.

[2015-07-22 19:27] tabishibly opened #95 "PYMOBUS returning none"
I am using pymodbus library to set up communication over tcp. When I try reading registers, it is returning "none" How do i solve this?

[2015-07-30 22:20] Eventect opened #96 "#51 not solved"
I believe the patch to solve #51  has not been committed properly. It should read, as MAKOMO suggested in #51 :

    self.socket.settimeout(self.timeout)

but it appears to have been commited as:

    self.settimeout(self.timeout)

which deliver a no method error in case the timeout option is passed.

[2015-08-09 14:21] IntrepidBrit commented on #43
Downloaded from the python3 branch, used "python setup.py install" and still received the above error.

[2015-08-13 11:32] Sprinterfreak opened #97 "No communication to Emerson Commander SE drive (RTU/Serial)"
Dear,
im Trying to talk to an Emerson Commander SE drive using modbus RTU.
Tryed different implementations sync and async. Both didn't work.
But minimalmodbus can talk to the drive, so I assume the hardware setup ist correct.

I digged around a bit and found out that the answers from the drive didn't get fully received.
The device manual can be found here:
 http://www.transbearco.com/Tech_Support_

[2015-08-13 12:52] karlp commented on #97
I haven't looked at this closely, but are you really sure you're doing the right thing?  You seem to have a mix of socket (TCP) _and_ serial (RTU) configuration in the same code.  Your description talks of trying to do RTU.

I've never tried any of the twisted stuff either personally.  Do you have the minimal modbus code that does work?

[2015-08-13 16:45] Sprinterfreak commented on #97
### The minimalmodbus code wich works
[code]

Yes I have tried to go different ways talking to my drive.
First I have used the code above with ModbusRtuFramer and SerialModbusClient commented in and SocketFramer vs connectTCP commented out. Same result. Nothing...
At least I'am trying to pass the traffic to
### Pymodbus Synchronous Serial Forwarder
*similar to the Example http://pymodbus.readthedo

[2015-08-13 18:00] karlp commented on #97
If you're trying to work out why pymodbus isn't working and minimal modbus is, can you at least start by trying some direct comparisons?  You have minimal modbus working on serial RTU.  Great.  Now do the same with pymodbus.  That _should_ be easy.  If that doesn't work, you can make a nice clear bug report about what doesn't work, and you can leave out all of this socket relay noise.

If that _do

[2015-08-13 23:58] Sprinterfreak commented on #97
Thanks Karl.
As I mentioned before the rtu standalone-version of my programm without "socket things" differs in two lines of code:
assigning framer module
[code]

and in _main()_ chosing the serial client as factory
[code]
Now no socket things are involved anymore. The result is already posted above.
This runs until ` DEBUG:pymodbus.transaction:adding transaction 5 ` and hangs forever.
Only interu

[2015-08-21 16:19] kseagrav opened #98 "Bad packet creation"
I am trying to use a serial server to acquire packets from a transmitter over RS485 (using ModbusRtuFramer). Whether I use a synchronous server or an asynchronous server, and no matter how I manipulate the timeout, the creation of the packets seems to be inconsistent. I really need to use async, because I need an updating function to update the registers in the context(s), but in an attempt to get

[2015-09-26 06:23] bashwork commented on #96
Fixed.

[2015-09-26 06:23] #96 closed

[2015-10-16 03:46] dhoomakethu opened #101 "read operation on invalid unit id renders all future transaction with valid unit id's failing"
I have a modbus simulator with 4 slaves defined in it with slave id's [1, 2, 3, 4]  [using modbus_tk] , I also have a pymodbus client to talk to this modbus slaves over TCP . Everything is working fine as long as we are using the correct slave device id's (unit id) but as soon an invalid id is used , all the transactions start returning None even for valid device address.

A sample snippet of clie

[2015-10-16 06:04] dhoomakethu commented on #101
Well, I figured out the problem , the issue was with the buffer not cleared on error ,on a new transaction , the buffer would also contain the previous error message and hence would again result in an exception.
I modified the code to overcome this issue , though not the neat way ,but gets the work done for me for the time being. I can create a PR if the moderators are OK with this workaround.

Al

[2015-10-26 17:18] mindmixer opened #103 "What's the best way of writing the float value to ModbusServerContext ?"
I'm using the pymodbus library for creating the Modbus server. I've discovered all examples and faced with problem related to writing float value on the server (slave) side. There is an updating_writer function in which I want to write the float value = 22.34 to 2 holding resitors:

    def updating_writer(a):
        context  = a[0]
        register = 3
        slave_id = 0x00
        address  =

[2015-10-28 10:21] mindmixer opened #104 "Wrong example for BinaryPayloadBuilder"
In the [Modbus Payload Server Context Building Example](https://github.com/bashwork/pymodbus/blob/master/examples/common/modbus-payload-server.py) you can find the following part of code:
[code]
but the `builder` object (the instance of `BinaryPayloadBuilder` class) doesn't have the `to_registers` method.

[2015-10-28 13:24] #104 closed

[2015-10-28 13:27] #103 closed

[2015-10-28 21:25] LorenAmelang opened #105 "Install fails on Windows Python 3.3 - pyserial"
I thought it might be faster to run my test script on my Windows machine with local Wireshark than to set up a promiscuous capture from Wi-Fi via Linux Wireshark. Guess not. My Win7 only has Python 3.3...

Select Branch = Python3
https://github.com/bashwork/pymodbus/tree/python3
Download Zip
Move contained folder to C:\Apps\Python33\Lib\site-packages
C:\Apps\Python33\Lib\site-packages\pymodbus-pyt

[2015-11-20 04:41] LorenAmelang commented on #105
Just saw this, with almost the exact error message I get:
http://stackoverflow.com/questions/25082577/netbeans-python-pyserial-import-not-found

Their solution didn't help:

Requirement already satisfied (use --upgrade to upgrade): pyserial in c:\apps\python33\lib\site-packages\pyserial-2.7-py3.3-win32.egg

Requirement already up-to-date: pyserial in c:\apps\python33\lib\site-packages\pyserial-2.7

[2015-11-30 18:29] jordan-heemskerk opened #107 "examples/contrib/message-parser.py broken after v1.1.0"
Tested 1.2.0 and bleeding edge.

v1.1.0:

[code]

v1.2.0 and current master:

[code]

I dug around a bit to see what was changed between versions but I'm very new to this codebase. Any help would be appreciated.

[2015-11-30 18:53] jordan-heemskerk commented on #107
I've managed to track it down to this commit

edc1a1876c7f79f82de3d6fe6fdb7537151d1fe1 Fix bogus calculation in ModbusSocketFramer.checkFrame (one of the tests also seemed wrong, I had to fix it)

Specifically, this part of the commit.

[code]

If I checkout master and change that line back to
[code]
then the message-parser.py example works again.

I'll leave it to someone more knowledgeable which

[2015-12-01 08:51] leocor commented on #43
Same error to date.

[2015-12-03 21:31] apalkoff commented on #43
same. python 3.5

[2015-12-05 22:21] Cougar opened #108 "Fast single threaded non-blocking serial RTU client using Tornado (async)"
Hi,

I needed single threaded, non-blocking and fast serial RTU Modbus client for embedded Linux controllers. Because I have used [Pymodbus](https://github.com/bashwork/pymodbus) and [Tornado](https://github.com/tornadoweb/tornado) non-blocking IOLoop before, I decided to make my work based on them.

Pymodbus has already async client implemented with [Twisted](https://twistedmatrix.com/) but it di

[2015-12-06 20:54] Cougar commented on #85
AFAIK there is none. I just opened case #108 where I implemented one possible solution.

[2015-12-06 21:40] sjlongland commented on #85
Ahh, using Tornado too, I like! :-)

[2015-12-10 15:13] Don42 opened #109 "ModbusTcpClient is missing a timeout parameter"
The connect call of the ModbusTcpClient should use `self.timeout` like the serial and UDP clients.
That means ModbusTcpClient.**init** should also take a `timeout` Keyword argument.

Changes should only be necessary at the two locations listed.
pymodbus/pymodbus/client/sync.py:139
pymodbus/pymodbus/client/sync.py:142

[2015-12-11 13:50] cudeso opened #110 "State per client-IP"
Hi,

This isn't an "issue" but rather a question. Is there a way to have the state of the coils and HR independent per client IP?
F.e.: a server starts with a predefined set of values. If client A changes the value of a HR then this is only visible to client A. Client B still sees the original value set during server startup.

Thanks.
koen

[2015-12-11 21:48] karlp commented on #110
Bear in mind that there's no way you could do this on modbus-rtu, it's only something you think you're used to having from IP applications.  You _might_ be able to hack something together, but you'd be confusing anyone else using your software who expects "modbus"

[2015-12-11 22:02] cudeso commented on #110
I understand.
The idea is to setup something ('classroom-purpose') where one can interact with the slave/master without getting interfered with actions done by other participants.
Figured out I should get "somewhere" (store.py I assume) access to the client_address set in ModbusBaseRequestHandler and then add in the file something for storing the data in a sqlitedb or similar.

[2015-12-12 13:52] karlp commented on #110
Why not just have separate virtual devices per participant instead? less hassle, more standard, less programming.

[2015-12-29 13:10] Cougar commented on #108
Hi,

I need some opinions for exception (error) handling in async way. There are two possible ways to receive error conditions.

One is from sync calls like class instance initialization and from calls like read_holding_registers() when something bad happens (problems with serial connection for example). These can raise exception like always.

Another type of errors can happen already in async cod

[2015-12-31 12:25] Humphreybas commented on #91
I had other problems with pip, described below, but this is my workaround and I think would work for you as well:
sudo pip3 install https://github.com/bashwork/pymodbus/archive/python3.zip
Just point pip to the zip file of the python3 branch.

I first tried
sudo pip3 install pymodbus
but it failed to install since I was installing the python 2 version apparently. Then I used the workaround above.

[2016-01-14 20:20] neldog2 commented on #108
Looking forward to the TCP version as I have had no luck getting the twisted version to work.

[2016-02-12 10:12] WillyKaze commented on #95
Just hit the same bug. I'll investigate this.

[2016-02-12 13:21] WillyKaze commented on #95
@tabishibly Which branch are you using ?

[2016-02-13 09:33] oetcoleman commented on #95
I'm getting this on the python3 branch.  Suspect it might be to do with the zope.interface dependency not installing correctly.

[2016-02-22 13:26] HFlor opened #114 "Wrong data by Reassembled TCP Segments"
I have this script:

`#!/usr/bin/env python

from pymodbus.client.sync import ModbusTcpClient

client = ModbusTcpClient('192.168.75.27')
client.connect
result = client.read_input_registers(1000, 62)
print result
client.close()
`

The response from the client comes in 2 packages. The recording is attached. As error message I get the following:

`Traceback (most recent call last):
  File "./read2.py

[2016-02-22 13:49] ellepdesk commented on #95
I'm also seeing this for ModbusSerialClient, read_holding_registers returns None for python3/pymodbus3, and a correct response for pyfon2.7/pymodbus

[2016-03-09 08:54] WillyKaze commented on #95
Thanks for the answer, I since ported my code to use pylibmodbus. I didn't run any benchmarks between this two libs but libpymodbus with ctypes (not cffi) seems quite reactive and easy to cross-compile for BeagleBone Black

[2016-03-09 21:13] geoffe commented on #43
How is this issue closed?   Broken in pymodbus-1.2.0 -- is there a work-hack-around?  Is there a pymodbus-1.2.1?

[2016-03-10 11:23] ccatterina opened #116 "ModbusTcpClient.read_holding_registers return None"
Hi,
I'm trying to read a device with modbus rtu over tcp, but read_holding_registers function return always None. If i edit transaction.py adding a time.sleep(0.5) between send and recv like suggested in an other similar issue here, read_holding_registers return me the right values. Is there an other cleaner way to make it works?

`self.client = ModbusTcpClient(host=ip, port=port, framer=ModbusRtu

[2016-03-10 16:15] meeas opened #117 "Install breakage with latest setuptools?"
I think there may have been something in the latest setuptools that is choking on something in pymodbus/**init**.py.  It doesn't appear to install through pip nor by download with manual install.  Here is the error:

[code]

Commenting out the try/except section which makes up the last four lines of that file fixes the issue allowing pymodbus to install cleanly.

[2016-03-15 02:56] barik commented on #117
Depending on the version of Python you are using, you may wish to try `pip install pymodbus3`.

[2016-03-15 15:11] geoffe commented on #117
Ah, thanks.  Although I found a more active project minimalmodbus which may suit just as well.

[2016-03-23 18:31] CabritoIncognito commented on #116
@ccatterina I'm getting a very similar response. Have you had any luck figuring this issue out and (@bashwork ) does anyone see anything blatantly wrong with what I'm attempting? I've been able to pull back input register 32605 from the device I'm connected to with both C# and java but would rather use Python for the project.

from pymodbus.client.sync import ModbusTcpClient as ModbusClient
from p

[2016-03-23 19:24] ccatterina commented on #116
hi @CabritoIncognito i figured this issue out using this version of pymodbus https://github.com/mesias/pymodbus edited by @mesias . By the way i didn't receive the same output as yours, did you try to specify the unitid in client.read_input_register? i think it's necessary when you use modbus rtu over tcp.

PS: ty @mesias your version solved me this problem after many days searching for a solution

[2016-03-24 16:07] CabritoIncognito commented on #116
Thanks Claudio! The Mesias version worked well for me and I was able to get the results I was looking for with the addition of the unitid.

I appreciate it!

Justin

________________________________
From: Claudio Catterina <notifications@github.com>
Sent: Wednesday, March 23, 2016 3:25 PM
To: bashwork/pymodbus
Cc: CabritoIncognito
Subject: Re: [pymodbus] ModbusTcpClient.read_holding_registers retu

[2016-03-29 11:19] timothyarnold1983 opened #118 "socket.create_connection() error"
Hi,
Firstly i'm not a seasoned developer, so apologies!

I recently updated to the current version of Pymodbus and found that my basic code would silently fail when attempting a TCP connection. TCP Dump shows no packets leaving the interface, which suggested something was up with the connection.

The culprint appears to be the source_address even though it was set (or wasn't - same result). Removi

[2016-03-30 14:09] vkooistra commented on #97
Did you ever get it to work properly? I'm running in the exact same issue.

[2016-03-30 14:13] DJJo14 opened #119 "No Check for ascii data"
While doing:
`result = client.read_input_registers(0x00,0x13, unit=adrr)`

I get:

`File "C:\Python27\lib\site-packages\pymodbus\client\common.py", line 120, in read_input_registers
    return self.execute(request)
  File "C:\Python27\lib\site-packages\pymodbus\client\sync.py", line 83, in execute
    return self.transaction.execute(request)
  File "C:\Python27\lib\site-packages\pymodbus\transacti

[2016-03-30 14:44] Sprinterfreak commented on #97
Yes. But only synchronous.
The best experiences I've made using pySimpleModbus.
This was pretty reliable and fast as i can remember.

[2016-03-31 11:57] vkooistra commented on #97
Got it to work with async. The ModbusRtuFramer in transaction.py is bugged.

In function ProcessIncomingPacket a call is made to self.checkFrame(). This function creates a crc buffer based on frame_size (frame_size - 2: frame_size) and does a check on it using the first 2 positions of the buffer. However in almost all situations this will result in a buffer with size 0, simply because not enough d

[2016-04-04 15:59] bbinet commented on #38
1 year later, I was hit again by the same issue: `client.read_input_registers` is still returning `None`most of the time despite the `time.sleep(0.001)` trick after the `client.connect()` statement.
This time, to make it work, I had to patch pymodbus code to introduce `time.sleep(0.1)` between `client._send` and `client._recv` in [transaction.py#L64-L68](https://github.com/bashwork/pymodbus/blob/m

[2016-04-05 10:15] bbinet commented on #38
After more investigation, I've found out that pymodbus would not conform correctly to the modbus specification as it will stop reading data from the tcp socket even if all expected data have not been received.
Actually it does not take into account the `length` field of the MBAP Header as in my case, the first `client._recv` call would not return all data, and pymodbus does not check that expected

[2016-04-11 20:20] fcsds opened #120 "read_input_registers sends more information than needed."
Hi,

I have been using pymodbus now for a couple of years in many different platforms to read out and store data from different sources into a dashboard program. Recently, I enabled one of our Allen Bradley PLCs to relay some info through ModbusTCP and notices that when I request to read a specific register, it then sends me all the enabled registers data. Here is my code for your analysis:

from

[2016-04-11 20:46] fcsds commented on #120
Found out from the API that if I use:
info = client.read_input_registers(0,1,unit=1)
I solve my problem.

[2016-04-16 18:40] meeas opened #121 "Wrong version in changelog"
Your last changelog.rst commit said you were bumping version to 1.3, however the new section is labeled as 1.2, so you have two 1.2 sections.

[2016-04-26 11:01] thunderbirdtr opened #122 "How can I read RTU value ? (as a Master or using pymodbus.client.sync"
Hi ;
I was trying to use pymodbus for TCP and RTU connections but I have small problem for reading value. When I use TCP I  can use "getRegisters","registers" this parameters but If I use ModbusSerialClient I can't call my that parameters and If I print the register value It's give me just "None" as a result and can't ready anything from it. Here is the code I use for simple RTU connection to slav

[2016-04-28 00:04] byhisdeeds commented on #103
I have the same problem. What was your solution why you closed it.

[2016-05-17 06:10] pmjfontes opened #123 "StartSerialServer Error when trying to use a different Framer"
Hi Guys,
I am trying to use the Pymobus to create an RTU Serial Slave device, I got into an error when trying to set the parameter framer=ModbusRtuFramer in the StartSerialServer call.

[code]

I assume this is happening because the StartSerialServer, calls the ModbusSerialServer with the framer parameter and it also sends it in the **kwargs to the class __init__.

As workaround I am calling:

[co

[2016-06-06 16:26] ekw opened #124 "Validate write data values"
I'm following Asynchronous Server Example (http://pymodbus.readthedocs.io/en/latest/examples/asynchronous-server.html) for my modbus server.  Where would I hook into to validate that the value for a write holding register transaction is within some range, and to return a ParameterException if the value is out of range?  Thank you for your help.

[2016-06-06 16:28] ekw commented on #124
I'm sorry, I see there's a pymodbus google group that's more appropriate for this.  Closing this issue.

[2016-06-06 16:28] #124 closed

[2016-06-06 22:02] #123 closed

[2016-06-08 22:36] #86 closed

[2016-06-10 23:56] #120 closed

[2016-06-13 08:27] FlaminMad commented on #103
Quite a way down the line now but I also am experiencing this problem. Any ideas on the solution?

[2016-06-28 20:21] MatthewWest opened #126 "PyPI doesn't include python version"
The [PyPI page](https://pypi.python.org/pypi/pymodbus) for the package doesn't state what version of Python it's compatible with. As a result, `sudo pip3 install pymodbus` fails as it's trying to install the old Python 2 version. It'd be great if we could get a python 3 package posted.

[2016-07-13 11:03] muldereric opened #127 "Writing booleans on async server results in struct.unpack error"
When a boolean is written to the server, the following error occurs:
`Unhandled Error
Traceback (most recent call last):
  File "/usr/local/lib/python2.7/dist-packages/twisted/python/log.py", line 101, in callWithLogger
    return callWithContext({"system": lp}, func, *args, **kw)
  File "/usr/local/lib/python2.7/dist-packages/twisted/python/log.py", line 84, in callWithContext
    return context.

[2016-07-13 13:30] muldereric opened #128 "Writing booleans on async server results in struct.unpack error"
Config that I am using (stripped down version):

[code]

When a boolean is written to the server, the following error occurs:

[code]

Because I am not that familliar with Python or the pymodbus library yet, this issue may just be a programming error, but as far as I can tell, there's nothing wrong with my code.
As long as I don't let my Modbus TCP Client write to the booleans, this script runs fi

[2016-07-13 16:29] #127 closed

[2016-07-13 16:32] muldereric commented on #127
Don't know what happened but after the first edit it created a new issue. Closed this one because the new one (#128)

[2016-07-14 13:49] anrodlo opened #129 "TCP ACK missing with modbus tcp sync server"
I just start a synchronous modbus TCP server and a synchronous TCP client in different local machines. Some TCP acknowledges are missing. See Wireshark file attached (you must change the file type to pcap in order to open with Wireshark, it was not possible to upload pcap files to this site. Recommended filter tcp.port == 502).

In attached file, frame 147 is the response for query frame 122. Ther

[2016-07-19 16:47] thompcd commented on #122
Sorry for kicking up an old thread - but did you ever get any results on this? I've been trying to get RTU to work for a week now to no avail and can't find any info on it.

[2016-07-20 08:18] anrodlo commented on #129
Invalid. ACKs are included in the responses.

[2016-07-20 08:18] #129 closed

[2016-07-27 11:20] semyont commented on #122
Hi,
Did you try to use the latest 1.3.0 build? or are you using the pip 1.2.0 version?

[2016-07-28 15:50] thompcd commented on #122
Hello,
Thanks for the response!
I was using the pip 1.2.0 version. I never made any progress on this, as I swapped over to minimalmodbus and it has all the features I needed. I've finished up on this project, so I don't believe I'll be able to revisit what my issue was.

[2016-07-28 20:28] muldereric commented on #128
Does anyone have an idea on what is going wrong here?
I'm not a Python guru and just know some basics, but would love to get this one solved with some help.

[2016-08-02 07:22] muldereric commented on #128
Figured out that the error is caused by the client writing data to the server.
When I use Kepware to simulate my client, everything works as expected, however the other software package does not use/send the CRC byte

[2016-08-09 07:24] sameer546 opened #131 "Modbus Register Reading"
I have trying to read data in being sent from PLC to register address 40001,40002,40003..
But the response is None. When I used trial version of the third party software I'm getting the data in those registers.
Why I'm not able to read the data stored in the registers through python code.
I used the following: (RTU Mode, Using RS232 Cable)
import pymodbus
from twisted.internet import reactor, prot

[2016-08-25 01:45] Tutunkommon commented on #117
Install is still broken.  Looked at minimalmodbus but it doesn't support TCP.  Hoping pymodbus3 covers everything!

[2016-09-04 02:56] alonek1 commented on #43
same problem

[2016-09-04 02:58] alonek1 commented on #43
pip install pymodbus3 will work

[2016-10-06 13:44] rlshumat commented on #131
Have you checked your baudrate? The default baudrate that pymodbus uses is 19200: http://pymodbus.readthedocs.io/en/latest/library/constants.html

Most PLCs that I have connected to default to a slower baud rate such as 9600.
Second, on the line rr = client.read_holding_registers(40001,1), if you are looking at register 1 you only need to address 1 and not 40001. ( rr = client.read_holding_registe

[2016-10-12 15:55] hpatel826 commented on #97
@vkooistra Would you mind sharing a diff of your changes? I might be having related issues and would like to observe you fix

[2016-10-12 18:49] Sprinterfreak commented on #97
I switched to modbus simple then.
Didn't get the async version to run.
With the sync version I got pretty slow communication too.

My setup doesn't exists anymore so in my case I can't tell if the problem
still persists at the current master.

Am 12.10.2016 17:55 schrieb "Hitesh Patel" <notifications@github.com>:

[2016-10-12 19:40] vkooistra commented on #97
[transaction.py.txt](https://github.com/bashwork/pymodbus/files/525469/transaction.py.txt)

I can't remember it exactly, I have to look it up. Anyway, the attached file is what I altered to get it to work. It has been stripped down to RTU only, which was easier to figure things out and all.

The main items changed are at line 160. Where the framereset has been removed (well more moved elsewhere).

[2016-10-13 09:27] act-eer opened #134 "Not working on Python 3.5.2"
The example code is not working on python 3.5.2:

[code]

Result:

[code]

[2016-10-18 03:02] OptrixAU commented on #104
Why was this closed? Any explaination?

[2016-10-18 03:35] OptrixAU opened #135 "Thread Test"
It would be nice if PyModbus would quickly check to see if it was running on the main thread before calling 'Run' in StartTcpServer.

If it IS being launched in a thread, you could then add 'installSignalHandlers=False' to avoid an exception.

[2016-10-18 03:39] OptrixAU opened #136 "Documentation On Writing Values to Registers"
I'd love to see some additional documentation on how you're expected to write values to the datastore when writing a Modbus/TCP server.

Writing 16-bit int values is pretty straight-forward, but if I wanted to write a //float// or //double// into the buffer instead, the documentation is quite unclear on how you'd force the data into the appropriate structure, taking endianness into account.

I'd i

[2016-11-11 09:42] hno commented on #122
After getting the serial layers worked out the version included in Debian works for me (1.2.0-2).

For it to work the serial port must alreadby be configured as an RS485 port with the right settings, and the serial driver used need to properly support RS485.  On BeagleBone black the TI serial driver (/dev/ttyO4) works. The 8250 serial driver (/dev/ttyS4) do not work properly (part of the request i

[2016-11-11 09:53] hno commented on #122
These are my client connection settings that works:

note: pyserial is from Debian jessie-backports as the older version in jessie lacks RS485 mode setting support. If the port is already configured in rs485 mode then rs485_mode setting is not needed I think.

[code]

[2016-11-12 15:17] ifjake opened #138 "Endianness of registers when decoding"
My PLC device uses big-endian to store values, however this also means whenever a datatype has to be split across two registers, it will also use the second register first, the endianness is across all 4 bytes as a whole. Currently I'm trying to decode some 32-bit floats with the payload decoder, but I had to redefine the decode_32bit_float so that it grabbed the last two bytes first and then the

[2016-11-14 20:31] sansal54 opened #139 "Registers in Database DataStore cant be read from remote client"
I try to implement a database backed TCP server so that my registers will be kept in database. For that task I modulated "Updating Server" example . When I run the code I can query regısters from inside. But I cant read same registers from a client located on another computer. With normal ModbusSlaveContext I was able to do that. Results are attached. and here is my code:

[code]
![image 4](https:

[2016-11-16 14:25] semyont commented on #138
The PLC registers could be swapped...you can use ModiconPayloadDecoder Example by bash
[pymodbus/examples/contrib/modicon-payload.py](url)

    `def decode_32bit_float(self, size=1):
        ''' Decodes a float from the buffer
        '''
        self._pointer += 4
        fstring = self._endian + 'f'
        handle = self._payload[self._pointer - 4:self._pointer]
        handle = handle[2:] + han

[2016-11-21 19:21] anrodlo opened #141 "Access one bit in a unique data store"
From the Modbus data model  definiton in the Modbus application protocol specification (chapter 4.3), if a unique data block (or store) is shared for holding, input registers, coils and discrete inputs, it must be possible to reach the same data "via several MODBUS functions, either via a 16 bit access or via an access bit".
But when I try to do this with pymodbus, writing a single coil overwrites

[2016-11-26 11:05] smurfix commented on #134
Looks like part of a larger problem.

Is anybody actually working on combining the various Py3 porting efforts out there back into one repository (preferably this one's python3 branch)?

[2016-12-05 20:52] idahogray opened #142 "MaskWriteRegisterRequest/MaskWriteRegisterResponse don't belong in the file_message module"
I was looking around for these classes and had to look pretty hard to find it in the file_message module. I think they would fit better in the register_write module.

I would be happy to submit a pull request if you agree.

[2016-12-17 21:11] barik opened #145 "pymodbus3 1.0.0 on pypi?"
If this is the authoritative pypi repository, can you update the package that is available at:
https://pypi.python.org/pypi/pymodbus3/1.0.0

I was about to report a bug, only to realize that this bug is only for the http://uzumaxy.github.io/pymodbus3/ build of the pypi package.

[2016-12-17 21:26] barik commented on #126
Any updates on this? Should be simple to set Py Version to 2 on the PyPI page, and would solve a lot of confusion.

[2017-01-05 08:35] suibaf opened #146 "Attributerror: NoneType object has no attribute function_code/bits"
Hi,
my app work fine on raspberry pi for hour and hour, then without no apparente reason it give me this error, it continue to work but occasionally it give me this error.
I know what is the error, but I don't understand why it work fine and then it give this error!
BR

[2017-01-10 17:42] mohitbansal111 opened #147 "read_holding_registers give exception after few hours."
Hi ,

I am trying to run my application to read register values from a PLC.
It's loop after 10-20 sec to read registers values and send back to server. This work successfully for couple of hour but after that it's give me exception error 'exceptions.IndexError' : 'list index out of range'.
The code snippet is following:
[code]

Is my code have some problem or there is some issue in pymodbus code.

[2017-01-10 23:23] milanthakker opened #148 "BinaryPayloadBuilder object has no attribute to_registers()"
I'm trying to use the binary payload builder to initialize a complex data store, but the issue I constantly am running into is that it has no to_registers attribute.  I've tried working around using pack and unpack functions in python but I tend to get a bunch of errors that way.

[2017-01-12 07:56] Nanahara opened #149 "Stop loop in ModbusSingleRequestHandler in server/sync.py"
Hello,

Why self.running in handle function of ModbusSingleRequestHandler is not set at False on except ? If I run a ModbusSerialServer in a separate thread I cannot stop properly. And I think that the loop in serve_forever function in ModbusSerialServer is useless.

What do you think about that ?

[2017-01-25 22:06] jotathebest commented on #148
Have the same issue, could you fix it in some way ?

[2017-01-25 22:27] milanthakker commented on #148
It looks like that function is broken in some way - I got around it by splitting my complex data into two registers (by default initialized as uint_16s) and configuring my client to look at the registers properly.

To split a float into two uint_16s of binary data:
`def float_to_uint16(number):
    i1, i2 = unpack('HH', pack('f', number))
    return i1, i2`

Assuming you set your values with:
`con

[2017-02-02 19:24] alexdumitrescu commented on #41
bump!!

[2017-02-06 14:38] xiaomingfm opened #151 "Some mistake in /exapmle/common/updating-server.py"
i find some mistake in branch python3's example code:

/exapmle/common/updating-server.py

def updating_writer(a):
    log.debug("updating the context")
    context  = a[0]
    register = 3
    slave_id = 0x00
    address  = 0x10
    values   = context[slave_id].getValues(register, address, count=5)
    values   = [v + 1 for v in values]
    log.debug("new values: " + str(values))
    context[slav

[2017-02-22 15:12] vincent1190 commented on #116
This is a simple solution. It returns none because of the delay in the PLC(atleast that was the case for us) . It takes a second for the PLC to actually respond so you just have to setup while loop along with  time.sleep() to allow some time for the response to come in

[2017-03-02 21:55] egarl004 commented on #148
any progress on this? just ran into this issue today.

[2017-03-07 06:38] MayukhSobo commented on #114
Any solution to this found ?? Please let me know

[2017-03-07 07:18] HFlor commented on #114
There is no solution. Before I could investigate the problem, the manufacturer of the heat pump has installed an update. After that, the packages were bigger and more complete.

[2017-03-09 19:24] glinders commented on #93
I had a similar issue, where I would get 'Connection to the other side was lost in a non-clean fashion: Connection lost' errors.

I fixed that by giving each request a different time in reactor.callLater, so the requests would be handled sequentially instead of simultaneously:

[code]

[2017-03-19 13:20] a1ananth commented on #109
Consider merging this PR #140 to fix this issue.

[2017-03-24 05:09] lakerszhy opened #153 "'ModbusRtuFramer' object has no attribute 'buildPacket'"
I install branch python3, and run `examples/contrib/message-generator.py`, there is an error `'ModbusRtuFramer' object has no attribute 'buildPacket'`, how to solve this problem？Thank you.

[2017-03-29 13:08] jjchromik commented on #148
if your problem was that this function was not existing - it is because in last releases it was not there. I found it e.g. herehttps://github.com/bashwork/pymodbus/blob/master/pymodbus/payload.py :
`    def to_registers(self):
        ''' Convert the payload buffer into a register
        layout that can be used as a context block.

        :returns: The register layout to use as a block
        '

[2017-04-05 01:26] egarl004 commented on #148
This helped so much. Working late and you saved the day! Awesome!

Emerson Garland

[2017-04-06 16:45] tmcolby commented on #84
I needed the ability to stop the server also.  Thank you, Loris1123.  Your solution works for me as well.  I agree that it would be nice to have this incorporated into pymodbus.

[2017-04-12 15:43] Astarry commented on #151
Why do you say get_values(), set_values() should be called? getValues(), setValues() are methods belonging to the class ModbusSlaveContext which is the type of context[slave_id]

[2017-04-15 20:00] andrey-git opened #155 "Publish pymodbus on pypi"
Could you publish this package on Pypi, so it can be fetched without specifying the github URL?

home-assistant/home-assistant#7069

Thanks!

[2017-04-20 07:45] k2nsloos opened #156 "Serial + Async + RTU violates modbus protocol, results in bugs"
Hi,

I recently tried to communicate with an SC2004MBS over RS485 using the pymodmus async library.
However I noticed that several commands got dropped by the slave, whenever they we're issued in a small time frame.

Upon reading the Modbus specification ([http://www.modbus.org/docs/Modbus_over_serial_line_V1_02.pdf](http://www.modbus.org/docs/Modbus_over_serial_line_V1_02.pdf)) I found two issues

[2017-04-30 11:55] submerged15 opened #159 "FifoTransactionManager: Transaction never removed after errorCallback"
Hi,

I'm using pymodbus over RS485 with RtuFramer and AsyncModbusProtocol based on the twisted serialport. (Python 2.7)

Whenever there are multiple slaves attached and one of them is disabled, there is a reponse/transaction mismatch. The request of the disabled slave never return any response and any further requests with any other slaves too. No timeout is ever reached and I have to call the err

[2017-04-30 12:07] submerged15 opened #160 "Serial + Async + RTU: Callback is never fired"
Hi again,

I'm using pymodbus over RS485 with RtuFramer and AsyncModbusProtocol based on the twisted serialport. (Python 2.7)

The callback of the method transaction/ModbusRtuFramer/processIncomingPacket is never fired. In this case the method async/ModbusClientProtocol/_handleresponse.

Workaround: Derivate the ModbusClientProtocol, override the dataReceived method and insert the complete content

[2017-05-04 14:40] DaveTrussel commented on #155
+1 Or is there a reason only the python 2 version is on PyPI?

[2017-05-12 02:46] dhoomakethu commented on #160
If you have a working solution could you please raise a PR, so that it could be reviewed and merged if necessary?
Thanks

[2017-05-12 02:48] dhoomakethu commented on #159
I believe there is a fix in one of the raised PR's, It will be available as part of 1.3.0 release

[2017-05-12 02:50] dhoomakethu commented on #155
pymodbus is already available in PyPi.
[PyModbus](https://pypi.python.org/pypi/pymodbus)

[2017-05-12 02:50] #155 closed

[2017-05-12 02:51] dhoomakethu commented on #147
Could you please attach the traceback?

[2017-05-12 05:46] andrey-git commented on #155
@dhoomakethu That pypi version is 4 years old. Does it support python3?

[2017-05-12 10:25] dhoomakethu commented on #155
Ah, you are talking about python3, no there is not one on the pypi, you could try this branch .[python3](https://github.com/riptideio/pymodbus/tree/python3) , I will see if there is a version made available for python3 , but I do not have a ready timeline.

[2017-05-12 10:44] MartinBorg commented on #155
It would be nice to have **one** pymodbus for both 2.7 and 3.4+ at some point.
Are there any plans for a merge?

[2017-05-12 12:22] dhoomakethu opened #162 "create and release pymodbus version 1.3.0"
- [ ] Review and merge pending PR's

- [ ] Create and release new pymodbus version 1.3.0 [python2]

- [ ] Create and release new pymodbus version 1.3.0 [python 3] ???

[2017-05-12 12:47] dhoomakethu commented on #155
I am currently working on it, I do not have a definite timeline though.

[2017-05-12 19:24] glebv commented on #123
+1, the same issue

[2017-05-16 04:14] dhoomakethu commented on #142
@idahogray sorry for the late reply, please raise a PR if it is handy

[2017-05-17 05:28] dhoomakethu commented on #155
A new universal version is now available on pypi

[2017-05-17 05:28] dhoomakethu commented on #162
New version is available (python 2 and 3) on pypi

[2017-05-17 05:28] #162 closed

[2017-05-17 09:08] #148 closed

[2017-05-17 09:09] dhoomakethu commented on #148
fixed with version 1.3.0.rc1

[2017-05-17 09:09] dhoomakethu commented on #121
fixed

[2017-05-17 09:09] #121 closed

[2017-05-17 09:11] dhoomakethu commented on #126
with pymodbus v1.3.0rc1 the package can be installed on both python2 and python3.

[2017-05-17 09:11] #126 closed

[2017-05-17 09:17] dhoomakethu commented on #134
addressed with the latest pymodbus v1.3.0rc1 which is compatible with both python2 and python3

[2017-05-17 09:17] #134 closed

[2017-05-17 09:19] dhoomakethu commented on #136
I will see if the documentation could be updated, meanwhile you can refer [modbus-payload-examples](https://github.com/riptideio/pymodbus/blob/master/examples/common/modbus-payload.py)

[2017-05-17 09:19] #136 closed

[2017-05-17 09:23] dhoomakethu commented on #156
fixed with pymodbus v1.3.0rc1

[2017-05-17 09:23] #156 closed

[2017-05-17 09:24] dhoomakethu commented on #159
fixed with pymodbus v1.3.0rc1

[2017-05-17 09:24] #159 closed

[2017-05-17 09:25] dhoomakethu commented on #145
official pymodbus with python3 support is available on pypi (v1.3.0rc1)

[2017-05-17 09:25] #145 closed

[2017-05-17 15:55] oryxr opened #165 "'WriteMultipleRegistersResponse' object has no attribute 'registers'"
I use RTU serial sync communication with pymodbus on master .
It works perfectly but sometime this error occur :
`ModbusExceptionError with 'writeCoils': IllegalValue
` and after I have this errors recurrents : `'WriteMultipleRegistersResponse' object has no attribute 'registers'` or this error too:
`'WriteMultipleCoilsResponse' object has no attribute 'bits'`
I can't repeat error, but when I rest

[2017-05-17 16:09] oryxr commented on #165
I this error too, same condition:
`'WriteMultipleCoilsResponse' object has no attribute 'bits':`

[2017-05-17 22:22] MartinBorg opened #166 "Python 3.5: One test case fails"
When trying to build a Debian package from pymodbus 1.3.0~rc1, I get:
[code]

[2017-05-18 05:01] wexi commented on #160
I probably encounter the same problem with long RTU queries. It is not "firing" since client/async.py dataReceived() receives incomplete data. Indeed, serial.Serial is using non blocking timeout=0, so why would we receive the complete packet if it is long...
I will try to use timeout=None with a short inter_byte_timeout and report if I am successful.

[2017-05-18 12:39] dhoomakethu commented on #160
I believe with the latest release 1.3.0rc1, the issue should be fixed. Just give a try and update your findings.

[2017-05-18 19:35] wexi commented on #160
Thanks, however with pymodbus-1.3.0rc1 I encounter the following unhandled error.

[code]

[2017-05-19 03:01] dhoomakethu commented on #160
@wexi do see this error always ? I am not able to reproduce this at my end. Could you give more info regarding your setup ?

[2017-05-19 08:14] tusharvb19 commented on #122
****My Setup********
Arduino--->RS485 slave example---->RS485 TTL module---->pair of wire---->RS485 to USB module---->Nano Pi NEO with dietpi(jessie) working
(I have tested the above setup via USB on PC using modbus master simulator and it is working!

Here is my code I want to read holding registers for NanoPi NEO:

import pymodbus
import serial
from pymodbus.pdu import ModbusRequest
from pymodbu

[2017-05-19 09:02] tusharvb19 commented on #122
@hno

After adding your code got this issue:

 client.socket.rs485_mode = rs485_mode
  File "/usr/local/lib/python2.7/dist-packages/serial/serialutil.py", line 496, in rs485_mode
    self._reconfigure_port()
  File "/usr/local/lib/python2.7/dist-packages/serial/serialposix.py", line 445, in _reconfigure_port
    self._set_rs485_mode(self._rs485_mode)
  File "/usr/local/lib/python2.7/dist-packages/

[2017-05-19 18:33] wexi commented on #160
I solved my problem by simplifying/correcting transaction.py processIncomingPacket(self, data, callback). I can't say that I am satisfied: With a given Modbus query the normal response length is known in advance and this information is not utilized. To your question, I am using the Kivy modified twisted reactor. My OS is Ubuntu. Thanks.

[patch.txt](https://github.com/riptideio/pymodbus/files/1015

[2017-05-20 02:26] dhoomakethu opened #167 "Integrate CI"
Integrate Travis CI for PR's

[2017-05-20 06:30] dhoomakethu commented on #166
will be fixed with PR #168

[2017-05-20 06:42] #167 closed

[2017-05-20 06:42] #166 closed

[2017-05-20 08:05] tusharvb19 opened #169 "'NoneType' object has no attribute 'registers'"
***Here is my Code

#!/usr/bin/python2.7

from pymodbus.client.sync import ModbusSerialClient as ModbusClient
client = ModbusClient(method='rtu', port='/dev/ttyS1',
                      stopbits=1, bytesize=8, timeout=0.3,
                      baudrate=19200)
client.connect()
debug=True
#enable hardware handshake IMPORTANT
client.socket.rtscts=True

#specify which slave you want to talk to
myUni

[2017-05-21 00:56] dhoomakethu commented on #109
Merge and fixed as part of #140

[2017-05-21 00:56] #109 closed

[2017-05-22 05:14] dhoomakethu commented on #169
Your `read_holding_registers` method is not returning any values. This could either be a problem with your serial device or serial settings you are using to setup the connection. Enabling logs could throw more light on the actual problem. If you think your setup is working fine , try increasing the read timeout and see if that helps.

[2017-05-22 05:15] dhoomakethu commented on #165
what version of pymodbus are you working with ?

[2017-05-22 12:43] oryxr commented on #165
pymodbus 1.2.0 branch python3, same error with python2

[2017-05-22 13:05] dhoomakethu commented on #165
Please use the latest v 1.3.0rc1 , it is supposed to have a bug fix for similar problem. Let me know your findings

[2017-05-23 09:41] tanmayee30 commented on #50
Hello,
I have successfully got the register values using code:
**code:**
`
import pymodbus
import serial
from pymodbus.pdu import ModbusRequest
from pymodbus.client.sync import ModbusSerialClient as ModbusClient
#initialize a serial RTU client instance
from pymodbus.transaction import ModbusRtuFramer

#!/usr/bin/env python

#from pymodbus.client.sync import ModbusSerialClient as ModbusClient
clien

[2017-05-23 12:29] tusharvb19 commented on #169
@dhoomakethu
When I am enabling the debug I got the packets and after decoding them they are correct one!

DEBUG:pymodbus.transaction:Running transaction 1
DEBUG:pymodbus.client.sync:will sleep to wait for 3.5 char
DEBUG:pymodbus.transaction:recv: 0x1 0x4 0x10 0x3 0xef 0xfe 0xff 0xcf 0x40 0x10 0x2 0x7c 0xbf 0xff 0x80 0xe8 0xff
DEBUG:pymodbus.factory:Factory Response[1]
DEBUG:pymodbus.transaction:a

[2017-05-23 12:52] ccatterina commented on #169
I think ReadCoilsResponse has ```bits``` attribute, not ```registers```.
Try this:
[code]

[2017-05-23 18:22] tusharvb19 commented on #169
But I am using read registers and not coils

[2017-05-24 00:28] dhoomakethu commented on #169
@tusharvb19 what version of pymodbus are you using? There is a newer version available 1.3.0rc1. please give it a try, the issue you are facing has a fix in there

[2017-05-24 08:27] oryxr commented on #165
I test with the new version and I have the same error

[2017-05-24 08:35] oryxr opened #170 "ord() expected string of length 1, but int found"
When I run pymodbus-1.3.0-rc1 with debug activate, I have this error:
`ord() expected string of length 1, but int found`

I remove ord function in transaction.py and sync.py same as:
`# _logger.warning("cleanup recv buffer before send: " + " ".join([hex(ord(x)) for x in result]))`
to
`_logger.warning("cleanup recv buffer before send: " + " ".join([hex(x) for x in result]))`

and it run.
Why do you

[2017-05-24 09:23] dhoomakethu commented on #170
what version of python are you using ? Could you provide the code snippet, which is causing you this error ?

[2017-05-24 09:28] dhoomakethu commented on #170
If you are using python3, there is a bugfix on the way.

[2017-05-24 09:29] oryxr commented on #170
I using python3 and when I remove only ord( it's run correctly)

[2017-05-24 09:44] dhoomakethu commented on #170
A version with the fix will be available by this week.

[2017-05-25 13:17] Lstick opened #171 "struct.error: argument for 's' must be a bytes object"
When I run pymodbus-1.3.0-rc2 with debug activate, I have this error:

Code is:
builder = BinaryPayloadBuilder(endian=Endian.Little)

builder.add_string('abcdefgh')

payload = builder.build()

[2017-05-26 07:18] dhoomakethu commented on #171
if you are using python3 , pass the string as bytestring ,
`builder.add_string(b'abcdefgh')`

[2017-05-26 13:21] Lstick commented on #171
Thanks a lot!

[2017-05-26 13:21] #171 closed

[2017-05-27 06:53] #170 closed

[2017-05-27 06:59] dhoomakethu commented on #153
available with v1.3.0rc2

[2017-05-27 06:59] #153 closed

[2017-05-27 07:09] dhoomakethu commented on #151
Not an issue

[2017-05-27 07:09] #151 closed

[2017-05-27 07:18] dhoomakethu commented on #139
I am sorry if this is late, but are you still having this problem ?

[2017-05-27 07:21] dhoomakethu commented on #105
cleaning up old issues, there is a universal pip installable pymodbus available . I have no windows machines to test , please use it and reopen the issue if you are still having trouble installing it on windows. Any support to make pymodbus compatible with windows is highly appreciated.

[2017-05-27 07:21] #105 closed

[2017-05-27 07:22] dhoomakethu commented on #19
cleaning up old issues.

[2017-05-27 07:22] #19 closed

[2017-05-27 07:23] dhoomakethu commented on #21
cleaning up old issues. Should be fixed with the latest versions

[2017-05-27 07:23] #21 closed

[2017-05-27 07:24] #34 closed

[2017-05-27 18:06] wexi commented on #160
Adding to my previous comment regarding async RTU (improper repacking, a criticism which still stands):

To add timeout protection to async RTU we have to addTimeout() to the deferred.
addTimeout, when fired, causes a CancelledError response errback.
**It is pymodbus responsibility** then to remove the transaction from its FifoTransactionManager instance, which it doesn't... bad things then happen

[2017-05-27 21:07] dhoomakethu commented on #160
If you think you have a working solution for this issue, could you please
raise a PR ?

ಮೇ 27, 2017 11:36 ಅಪರಾಹ್ನ ರಂದು, "Enoch" <notifications@github.com> ಅವರು
ಬರೆದಿದ್ದಾರೆ:

[2017-05-27 21:28] wexi commented on #160
A proper solution for the addTimeout() bug requires pymodbus to supply a canceller function during the construction of its deferred. This canceller should remove the transaction from the appropriate manager. Since **I am only interested in async RTU now** I took a shortcut. I leave it for those with write access to this repository (aka the maintainers) to do the hard work.

Again, processIncomingP

[2017-05-27 21:55] dhoomakethu commented on #160
Thanks for the hints. I do not mind adding more contributors to the
project. Let me know if you need write access to the repo. Anyhow, You can
always fork and raise a PR upstream. This is a community driven project and
more helping hands are highly appreciated.

ಮೇ 28, 2017 2:58 ಪೂರ್ವಾಹ್ನ ರಂದು, "Enoch" <notifications@github.com> ಅವರು
ಬರೆದಿದ್ದಾರೆ:

A proper solution for the addTimeout() bug require

[2017-05-29 06:26] timothywalsh opened #174 "What's the Python 3 status?"
Can someone in the know please give an overview of the status of pymodbus and Python 3?

I have managed to get pymodbus to work on python 2.7, however I have already developed the rest of my application using Python 3, and I'm not sure I want to go to the trouble to downgrade to 2.7 if there is another way around it.

I have installed pymodbus3 using pip3, however it doesn't work for me with Pytho

[2017-05-29 06:40] timothywalsh commented on #174
Update: I downloaded the latest source code from Github (version 1.3.0rc2) and installed it with `sudo python3 setup.py install`. It seems to be working now.

Correction: I'm using Python version 3.4.5 here, not 3.6 as stated earlier

[2017-05-29 11:57] dhoomakethu commented on #174
You can install also with `pip3 install pymodbus` , which should install the latest version on pypi

[2017-05-30 06:34] dhoomakethu opened #175 "Enhancements - Make pymodbus return a known return type always"
Sometimes, Pymodbus returns None as a response to a transaction , instead it should return Exception Response with relevant information regarding the failure.

This issue should cover
#169, #146

[2017-05-30 14:32] ptendolkar commented on #174
@dhoomakethu Tried to do this on fresh python 3 install windows 10 64 bit and got the same error that @timothywalsh had, "can't assign to keyword".

Cloning the repo and running `python setup.py` in the pymodbus directory worked.

[2017-05-30 15:30] dhoomakethu commented on #174
I will take a look in that case and update

ಮೇ 30, 2017 8:02 ಅಪರಾಹ್ನ ರಂದು, "Prasad Tendolkar" <notifications@github.com>
ಅವರು ಬರೆದಿದ್ದಾರೆ:

[2017-05-31 03:09] dhoomakethu commented on #174
For some reason PIP install was downloading the older version of pymodbus , when you do `pip install pymodbus` , to overcome this you can install explicitly with `pip install pymodbus==1.3.0rc2`

[2017-06-01 09:34] abhishekricky opened #176 "Issue with Redis DataStore"
Hi,

I am trying to create a Modbus TCP Server with Redis DataStore

below is the code. But its not working

#!/usr/bin/env python
'''
Pymodbus Asynchronous Server Example
--------------------------------------------------------------------------

The asynchronous server is a high performance implementation using the
twisted library as its backend.  This allows it to scale to many thousands
of nod

[2017-06-01 12:50] dhoomakethu commented on #176
what exactly you mean by not working? Could you please provide me with the python version, pymodbus version you are using ? Please also provide any tracebacks in case of errors.

[2017-06-02 14:16] abhishekricky commented on #176
Hi,

Well problem following code is not working . The code snipnet where i changed modbusdatastore to redis

`store = RedisSlaveContext(
di = ModbusSequentialDataBlock(0, [23]*100),
co = ModbusSequentialDataBlock(0, [23]*100),
hr = ModbusSequentialDataBlock(0, [23]*100),
ir = ModbusSequentialDataBlock(0, [23]*100))

context = ModbusServerContext(slaves=store, single=True)`

But error is related to

[2017-06-02 14:19] abhishekricky opened #177 "Need related to Modbus Server Callback"
Hi,

I am using this following code to turn on pymodbus server

http://pymodbus.readthedocs.io/en/latest/examples/asynchronous-server.html

But need to help which code part need to inserted to have callback, where if someone has written value to any register or coil, need to execute a web service

[2017-06-04 07:13] dhoomakethu commented on #176
could you paste the traceback here ?also do mention the python version, pymodbus version and redis version.

[2017-06-05 01:36] timothywalsh commented on #174
Hi dhoomakethu,

That's not really a fix... more of a workaround. I would suggest that this issue should be reopened until the root problem is fixed properly, and `pip3 install pymodbus` just works.

--Tim

[2017-06-06 03:26] dhoomakethu opened #179 "Wrong expected response length for coils and discrete inputs"
get_response_pdu_size methods in class ReadBitsRequestBase  returns wrong response pdu size.
Number of coils to be read should be

[2017-06-07 16:04] bnjroos opened #181 "Issue running Custom Datablock Example"
Good evening,

When I try to run the Custom Datablock Example, I get the following error:
[code]
I have not modified anything, any idea on what needs to be done to make it run ?

Thank you in advance,

Bnjroos

[2017-06-07 16:41] chendrix4 opened #182 "How to change the baud rate?"
I have the most recent version of pyModbus and am running in Python 3. I don't see any way to change the Modbus parameter. I installed the module with pip and have thoroughly examined the source code.

[2017-06-08 06:46] dhoomakethu commented on #182
You can  basically pass any of the serial parameters while creating the serial client. Just pass the desired parameter as a keyword argument.
[serial](https://pythonhosted.org/pyserial/pyserial_api.html#serial.Serial)

Example
[code]

[2017-06-08 06:46] #182 closed

[2017-06-08 06:59] dhoomakethu commented on #181
Not sure which example are you running ,if your custom datablock is inherited from `ModbusSequentialDataBlock` , you need to pass starting address and values while creating object instance , in case you are creating custom datablock based on `ModbusSparseDataBlock`, you need to pass the values for your datastore (either as list or a dict). You can refer [synchronous server example](https://github.

[2017-06-08 07:46] dhoomakethu opened #184 "Prepare for 1.3.1"
bump directly to 1.3.1 ?

[2017-06-08 08:06] bnjroos commented on #181
Thank you for the help, will have a deeper look at it.

[2017-06-08 08:23] #181 closed

[2017-06-08 08:23] #179 closed

[2017-06-08 13:52] oryxr commented on #165
always this errors with rc2

[2017-06-08 14:09] dhoomakethu commented on #165
Are you trying this against any real modbus device ? Can you give some more information regarding your setup and baudrate?

[2017-06-22 06:42] ccatterina commented on #116
Should be fixed by PR #180

[2017-06-24 06:16] #165 closed

[2017-06-24 06:17] dhoomakethu commented on #184
https://pypi.python.org/pypi/pymodbus/1.3.1

[2017-06-24 06:17] #184 closed

[2017-06-24 06:18] dhoomakethu commented on #175
fixed with https://pypi.python.org/pypi/pymodbus/1.3.1

[2017-06-24 06:18] #175 closed

[2017-06-24 06:18] dhoomakethu commented on #169
should be fixed with pymodbus==1.3.1 , please reopen in case the issue still persists

[2017-06-24 06:18] #169 closed

[2017-06-24 06:20] dhoomakethu commented on #174
fixed with pymodbus 1.3.1

[2017-06-24 06:20] #174 closed

[2017-06-24 06:21] dhoomakethu commented on #146
should be fixed with pymodbu 1.3.1 , please reopen in case the issue still persists

[2017-06-24 06:21] #146 closed

[2017-06-24 06:22] dhoomakethu commented on #147
should be fixed with pymodbu 1.3.1 , please reopen in case the issue still persists

[2017-06-24 06:22] #147 closed

[2017-06-24 06:23] dhoomakethu commented on #177
Check [asynchronous-processor](https://github.com/riptideio/pymodbus/blob/master/examples/common/asynchronous-processor.py)

[2017-06-24 06:23] #177 closed

[2017-06-24 06:24] dhoomakethu commented on #176
not reproducible, please re-open with relevant information (traceback, logs with debug enabled)

[2017-06-24 06:24] #176 closed

[2017-06-24 06:25] dhoomakethu commented on #142
MaskWriteRegisterRequest/MaskWriteRegisterResponse  are now part of register_write_message.py  (from 1.3.1)

[2017-06-24 06:25] #142 closed

[2017-06-24 06:35] dhoomakethu commented on #141
Why are using <write_registers> to write to a coil, you should be using <write_coil> if you want to override a single coil and <write_coils> if you want to override multiple coils.
[write_coil](http://pymodbus-n.readthedocs.io/en/latest/library/client-common.html#pymodbus.client.common.ModbusClientMixin.write_coil)
[write_coils](http://pymodbus-n.readthedocs.io/en/latest/library/client-common.html

[2017-06-24 06:35] #141 closed

[2017-06-24 06:38] #131 closed

[2017-06-24 06:40] dhoomakethu commented on #128
Pymodbus need complete packet (with CRC) to decode a request, I will close this issue as this is not related to pymodbus.

[2017-06-24 06:40] #128 closed

[2017-06-24 06:45] #101 closed

[2017-06-24 07:40] dhoomakethu opened #186 "Transaction struck at never ending while loop on incomplete response"
Modbus TK sends error response without CRC and this response would make the pymodbus client struck in never ending read mode .

[2017-06-24 09:05] dhoomakethu commented on #186
This is not exactly a bug from pymodbus per se , this is actually because ModbusTK sends error response without address and CRC and pymodbus expects those two fields to validate an error response. But better to handle this case from with in pymodbus as well

[2017-06-27 03:11] dhoomakethu commented on #118
@timothyarnold1983 , Could you please share the code snippet you are using to investigate this further. Feel free to close , if you think this is not an issue.

[2017-06-28 12:11] dhoomakethu commented on #117
fixed with pymodbus >= 1.3.0

[2017-06-28 12:11] #117 closed

[2017-06-28 12:18] #91 closed

[2017-06-28 12:20] #80 closed

[2017-07-04 23:19] markmevans opened #189 "Latest release tarfile is missing the leading v"
This breaks existing bitbake recipes.

`https://github.com/riptideio/pymodbus/archive/1.3.1.tar.gz` vs `https://github.com/riptideio/pymodbus/archive/v1.3.0rc2`

Either way is fine as long as it's consistent.  Thanks!

[2017-07-05 07:16] dhoomakethu commented on #189
fixed, thanks

[2017-07-05 07:16] #189 closed

[2017-07-06 04:31] dhoomakethu opened #190 "Fix examples"

[2017-07-09 22:49] vermut opened #191 "[ModbusSerialClient] On higher baudrates _silent_interval is too small to be enforced"
At least say if I'm right or wrong.

Code at: https://github.com/riptideio/pymodbus/blob/master/pymodbus/client/sync.py#L367

Baudrate: 57600
`_silent_interval`: 0.000668402777778
typical `ts`: 1499640168.84
typical `_last_frame_end`: 1499640168.83

It appears quite often `ts == self._last_frame_end + self._silent_interval` due to float round error. Even if it's 0.00001 smaller.

[2017-07-09 23:00] vermut commented on #191
P.S. I'm not sure if `time.sleep(0.000668402777778)` will do something meaningful instead of being rounded up to 0.

[2017-07-10 11:13] singhaisid0 opened #192 "Pymodbus in pyscada"
I am not getting functionality of following program which is using pymodbus library.
Please can anubody help me in this
`# -*- coding: utf-8 -*-
  | from pyscada import log
  |  
  | try:
  | from pymodbus.client.sync import ModbusTcpClient
  | from pymodbus.client.sync import ModbusSerialClient
  | from pymodbus.client.sync import ModbusUdpClient
  | from pymodbus.constants import Defaults
  | dr

[2017-07-11 01:55] dhoomakethu commented on #191
I agree , its been on my plate for sometime.
`// Modbus states that a baud rate higher than 19200 must use a fixed 750 us
// for inter character time out and 1.75 ms for a frame delay.
// For baud rates below 19200 the timeing is more critical and has to be calculated.
// E.g. 9600 baud in a 10 bit packet is 960 characters per second
// In milliseconds this will be 960characters per 1000ms. So for

[2017-07-11 01:57] dhoomakethu commented on #192
what exactly is the problem ? Please share any error tracebacks if available , also please provide details regarding the pymodbus version.

[2017-07-11 05:58] singhaisid0 commented on #192
The following link from where I get this code.
[Pyscada-modbus-device](https://github.com/trombastic/PyScada/blob/dev/0.7.x/pyscada/modbus/device.py)
Actually it's Pyscada program which is using pymodbus library in which I am not getting which type of format it's sending for request to device and which type of format it's getting in reponse.

[2017-07-11 06:42] dhoomakethu commented on #192
please go through the documentation of [pyscada](http://pyscada.readthedocs.io/en/dev-0.7.x/) or get in touch with the pyscada maintainers on how to use Modbus with pyscada.  Please raise an issue if there is any particular issue with pymodbus .

[2017-07-11 06:42] #192 closed

[2017-07-11 06:51] dhoomakethu commented on #191
Thats a good thing to have but not a high priority item to be considered for development. Though the timings on python is not guaranteed, it should work for most of the cases considering the fact that majority of the hardwares/OS combination on which pymodbus is being run is good.

[2017-07-11 06:58] xtofl commented on #191
Ok.  Thanks for the quick reply!

[2017-07-13 11:13] marokamaro opened #194 "Problem with read_coils and read_discrete_inputs"
Hello,

I made a slave with a register with 8 bits (I tried also many different variants - it is only an example):

[code]

And when I try to read this register in ModbusMaster I always receive 0101 as an answer:

I tried to decode this with this code:

[code]

but I received:

I don't have any problems with holding or input registers

Is there any mistake or there is a fault in pymodbus library?

[2017-07-14 11:36] marokamaro commented on #75
I suppose I have a similar problem as an author of the thread. I would like to create some registers which will respond with an error (bad frame format or only incorrect CRC). How can I do something like this? I start the server with StartSerialServer function.

[2017-07-21 10:20] jonathan-daniel opened #196 "Switching slaves to read from error"
Hello,

I have two slaves and one master.
When I read from either slaves it works, but when I read from one slave, and then the other I get an error.

DEBUG:pymodbus.server.sync:0x2 0x3 0x0 0x1 0x0 0x8 0x15 0xff
DEBUG:pymodbus.factory:Factory Request[1]
ERROR:pymodbus.server.sync:Socket error occurred unpack requires a string argument of length 4

Am I missing something?
Thanks

This is the code f

[2017-07-21 12:27] dhoomakethu commented on #196
are you running both the servers on the same port ? Please share the client code as well . Also do mention the version of pymodbus on which this is observed.

[2017-07-21 12:38] jonathan-daniel commented on #196
Thanks for the reaction

The master code:

[code]

One slave is on dev/ttyUSB1 another slave is on dev/ttyUSB2 and the master is on dev/ttyUSB0.
I dont know much about how ports work on Linux, but Im guessing its a different port since its a different dev.

pymodbus version 1.3.1

[2017-07-21 12:54] dhoomakethu commented on #194
use `to_registers()` instead of `build()` , `build()` does not take care of the endianess, `to_registers()` considers the endianness before calling building the payload.

`co_block = ModbusSequentialDataBlock(0, builder_coils.to_registers())`

[2017-07-21 12:54] #194 closed

[2017-07-21 13:15] jonathan-daniel commented on #196
So these are probably the most useful logs.

As you can see  It seems slave 2 is interpreting the first byte of the slave 1's response as a function code:

SLAVE 1
[code]

SLAVE 2

[code]

[2017-07-21 14:48] dhoomakethu commented on #196
I see your serial configuration are different for server and client

`StartSerialServer(context, framer=ModbusRtuFramer, identity=identity, port='/dev/ttyUSB2', stopbits=2, bytesize=8, parity='O', ignore_missing_slaves=True, timeout=.005, baudrate=921600)`

`client = ModbusClient(method='rtu', port='/dev/ttyUSB0', timeout=1, stopbits=1, bytesize=8, parity='N', baudrate=921600)`

Also I am not sure

[2017-07-25 05:55] allon3721 opened #197 "client get the value is not expected,please check."
store = ModbusSlaveContext(
    di = ModbusSequentialDataBlock(0, [(x if x % 2 != 0 else 0) for x in xrange(2000)]),
    co = ModbusSequentialDataBlock(0, [(x if x % 2 != 0 else 0) for x in xrange(2000)]),#[0, 1, 0, 3, 0, 5...
    hr = ModbusSequentialDataBlock(0, [(x+1) for x in xrange(125)]),
    ir = ModbusSequentialDataBlock(0, [(x+1) for x in xrange(125)]))
print 'ir list:',store.store['i']
c

[2017-07-25 11:46] allon3721 opened #198 "problem for getValues method."
def getValues(self, fx, address, count=1):
        ''' Validates the request to make sure it is in range

        :param fx: The function we are working with
        :param address: The starting address
        :param count: The number of values to retrieve
        :returns: The requested values from a:a+c
        '''
        address = address + 1  # section 4.4 of specification
        _logger.de

[2017-07-26 09:02] jonathan-daniel commented on #196
My configurations are the same I copied the wrong source, the masters and slave all have each own ports, and I tested various baudrates.

I tried using libmodbus in c and it works, so I know for sure its not the settings or my setup.

[2017-07-26 11:40] dhoomakethu commented on #196
If it works with libmodbus, it should work with pymodbus as well.I can not think of any reasons why your code is not working If your serial configurations are same for both master and slave (parity, baudrate etc) . Are you using any real modbus device as your slave? Also if possible please share the correct source code you are using (both python and libmodbus) , just share a link .

[2017-07-26 11:55] dhoomakethu commented on #198
please refer # section 4.4 of specification from [Modbus Protocol Spec](http://www.modbus.org/docs/Modbus_Application_Protocol_V1_1b3.pdf )

[2017-07-26 11:55] #198 closed

[2017-07-26 12:01] dhoomakethu commented on #197
Please use zero_mode.
[code]

[2017-07-26 12:01] #197 closed

[2017-07-26 15:03] jonathan-daniel commented on #196
Very weird things going on, it was working the whole day with libmodbus until some point (I did not change anything in the code or hardware). So you might be right its not a problem in the library, I really dont know. I will create a repository soon with all the code I tried.

To be clear, everything is one device, my laptop, im just using 3 USB ports with three USB to RS485 converters that are co

[2017-07-27 13:45] #196 closed

[2017-07-31 13:44] Jostikas opened #199 "Serial stops reading before full response has been received"
On a Delta DVP-SV2, the following:

[code]

Returns this:
[code]

So, the response arrives, but isn't read. Maybe related to https://github.com/riptideio/pymodbus/issues/68

[2017-08-01 03:36] dhoomakethu commented on #199
what is the read timeout you are using in your client ?

[2017-08-01 05:31] dhoomakethu commented on #199
I will also accept this as bug, as I found another issue debugging this issue, as of now the possible workaround is to increase the timeout of the client, when dealing with ascii protocol.

[2017-08-01 08:27] Jostikas commented on #199
If I understand it correctly, the timeout is the default 3s (which sounds right, considering that if I accidently used the wrong unit ID, it timed out after 3 s). The response comes much faster than this though.

Is there another timeout I need to check? Fact is, that it should not stop reading serial port until the 3s has actually elapsed or \r\n is read. Currently, it does.

[2017-08-01 09:01] dhoomakethu commented on #199
if you observe this `WARNING:pymodbus.client.sync:cleanup recv buffer before send` in your log, it indicates that the previous read was incomplete or the receive buffer had only partial data . T

[2017-08-01 14:07] Jostikas commented on #199
Then why did reading from the receive buffer stop? It didn't time out, as I said, both transactions were well under timeout (as in, around 0.2 s in total by eye-feel), and the second transaction already flushes what looks like a valid end of packet from the receive buffer (`WARNING:pymodbus.client.sync:cleanup recv buffer before send: 0x46 0x46 0x30 0x30 0x46 0x41 0xd 0xa`). Am I understanding the

[2017-08-02 10:00] dhoomakethu commented on #199
I do not have any ASCII modbus device to give you an exact answer , My observations are based on the logs provided by you. As you can see the both recv transaction are incomplete , the only reason I could think is of timeout or wrong response length being calculated by pymodbus (ref: [transaction.py](https://github.com/riptideio/pymodbus/blob/master/pymodbus/transaction.py#L126), With the ASCII si

[2017-08-02 13:40] ccatterina opened #200 "'Unable to decode request' with Modbus rtu over TCP"
Hi,
We use many RS485 to Ethernet converter to read data with Modbus RTU over TCP and I've noticed that with  the version ```1.3.1``` of pymodbus the failure rate has increased. Most of the time  i receive ```Modbus Error: [Input/Output] Modbus Error: [Input/Output] Unable to decode request```.

I think is the result of calling ```socket.recv``` with the expected length of the response instead of

[2017-08-03 02:19] dhoomakethu commented on #200
starting with pymodbus 1.3.0, pymodbus implements three new feature to speedup transactions and reduce error rates.

- Clears read buffer before starting a transaction
- Calculates the expected response length beforehand to reduce the wait time on recv.
- retry recv in case of incomplete response recieved.

The decode error happens when the received packet fails CRC check or is corrupt. Just to ma

[2017-08-03 06:18] ccatterina commented on #200
I do some test with debug logs enabled, the problem seems different from what i expected:

[code]

[2017-08-03 06:22] ccatterina commented on #200
sync client.

[2017-08-04 00:27] MrLobs opened #201 "ModbusRtuFramer.advanceFrame() is never called after transmission errors"
A message like `0x1 0x5 0x0 0x0 0xff 0x0 0x0 0x0` to `ModbusSerialServer` causes the following events:

- In `processIncomingPacket()`:
- `checkFrame()` returns `False`
- in `_process(callback, error=True)` `data` is assigned to `getRawFrame()`
- in `self.decoder.decode(data)` it expects 4 bytes of data (`self.address, self.count = struct.unpack('>HH', data)`), but gets the entire frame. *Rises an

[2017-08-04 05:08] dhoomakethu commented on #149
Please try the fix from the dev branch and let me know if you still face any problem

[2017-08-04 05:08] #149 closed

[2017-08-04 06:51] dhoomakethu commented on #201
could you please check this issue with [1.3.2rc1](https://github.com/riptideio/pymodbus/releases/tag/v1.3.2rc1)

[2017-08-04 07:12] dhoomakethu commented on #119
Not able to reproduce, please provide the logs if you have any.

[2017-08-04 16:14] dhoney opened #202 "Unable to read register values from Modbus TCP server"
I have an HMI panel that is Modbus TCP master, my device is Modbus TCP slave.

[code]

When I run the server I can see transactions in the debug log, tcpdump even shows me interactions happening with the two clients.

However, when I try to connect to the Server locally on the same device with a separate script, I do not get the updated values.

The connection to the HMI was tested as working on a

[2017-08-04 17:07] dhoney commented on #202
Some more verbose tcp dump data, I can see there is a message from the slave claiming the checksum is incorrect.

[code]

[2017-08-05 14:46] Jostikas commented on #199
Currently, the expected length is calculated as ´self.base_adu_size + expected_pdu_size´. Checking the get_expected_pdu_size methods, it seems to return the size as it would be for a RTU message. In ASCII mode, each RTU byte is encoded as two bytes, which is not accounted for, it seems (or I couldn't find where it takes place). Except for the starting colon (0x3a) and the ending \r\n (0xd 0xa), Th

[2017-08-06 05:34] dhoomakethu commented on #202
what is the output of the client transactions? Do you get any errors ? Please share the client logs as well.

[2017-08-06 06:20] dhoomakethu commented on #199
good point, there is a fix for expected length for ASCII already , refer [this line](https://github.com/riptideio/pymodbus/blob/dev/pymodbus/transaction.py#L116)  in `dev` branch.  May be that is the reason why the code worked fine for  me as I generally will be on dev branch.
If you would like to give a try, there is an pre release available with this fix [1.3.2rc1](https://github.com/riptideio/p

[2017-08-06 06:26] dhoney commented on #202
@dhoomakethu I only have logs from my device (the Modbus TCP Slave) posted above.
On Monday I may be able to get a look at the program loaded onto the HMI but I don't have access to the physical device at this point.

Regarding this section in my server code:

[code]

For holding and input registers, will this create 220 and 250 registers on the corresponding ranges (3xxxx and 4xxxx) or is there s

[2017-08-06 06:35] dhoomakethu commented on #202
Yes, a statement like `hr = ModbusSequentialDataBlock(0, [0]*220),` would create a register range starting at index 0 ==> 40001 for holding registers and all the way up to 40221 as per the modbus addressing convention. So any read on address 0 would give you the values stored at 40001. A very good explanantion of various datablocks are available [here](http://pymodbus.readthedocs.io/en/latest/exam

[2017-08-06 06:37] dhoomakethu commented on #202
re. your second question (different values being sent) you can use the `BinaryPayloadBuilder` class to build your server data and `BinaryPayloadDecoder` to decode back the data with your client. [refer](http://pymodbus.readthedocs.io/en/latest/examples/modbus-payload.html?highlight=BinaryPayloadBuilder)

[2017-08-06 06:50] dhoney commented on #202
Reviewing the section on datablocks confirms to me the layout of registers is correct.

The `BinaryPayloadDecoder` is quite nice, I've been using python's `struct` module to handle floats and the like but this will a nicer way to deal with string values.

My main concern regarding the incoming data types was if they were being rejected based on a dependency for further configuration. This does not

[2017-08-07 02:40] dhoomakethu commented on #202
Let me understand the problem here correctly, which communication is broken, HMI-> PyModbusServer or PyModbusServer->PyModbusClient ?

[2017-08-07 13:24] MrLobs commented on #201
Sorry for the delay
Yes, the issue has gone, thank you!

[2017-08-07 13:24] #201 closed

[2017-08-07 17:41] dhoney commented on #202
The communication path for HMI->PyModbusServer is broken.

[2017-08-07 23:57] dhoomakethu commented on #202
What is the device address the HMI is trying to read the value from ? The server you have created is having the device address as zero so it will only respond to broadcasts, if you want to create a server with particular device address (let's say 1) set `context = ModbusServerContext(slaves={1: store}, single=False)`. Also if both master and slave are on the same subnet use `0.0.0.0`  in your `Sta

[2017-08-08 14:07] ccatterina commented on #200
I tried the version ```v1.3.2rc1```, the issue seems fixed.

[2017-08-08 16:15] dhoney commented on #202
The HMI is configured to talk to address 1.

I made the suggested changes but now when I run my code to instead of empty/unchanged registers I get `'exception_code': 11`.

Looking at the modbus spec this indicates the device is unreachable or failed to respond.

[2017-08-08 16:56] dhoomakethu commented on #202
For the client it is better to use explicit IP address instead of `0.0.0.0`. is there a firewall that is active and blocking the transactions? Also if it is possible to use a  different port,use a port >1024 like 5020 and check.

[2017-08-08 22:41] dhoomakethu commented on #200
Thanks, I will keep it open for some time for you to confirm .

[2017-08-08 22:43] dhoomakethu commented on #119
Please try 1.3.2.rc1 for a potential solution

[2017-08-09 18:03] dhoney commented on #202
I have tested using both `0.0.0.0` and the assigned static IP.

To my knowledge there is no firewall, it is a direct connection.
At this time I cannot specify another port without sending the client some updated code.

I have ordered a duplicate HMI that should be in tomorrow, once I replicate the setup in my lab I will have more information to share.

[2017-08-10 00:24] dhoomakethu commented on #202
Please share the details of your HMI client (model/spec) etc

[2017-08-11 15:02] #200 closed

[2017-08-15 03:37] anjamago opened #204 "Unable to read register values from Modbus rtu"
Hello,
I am trying to read data from modbus rtu without success
I do not have much experience in modbus but I tried to resivir the data of my automata which is connected by serial to my raspberry atrabes of a usb to rs485 the only thing I notice is that the client connects but from now on I can not do more Nothing i can not remember

My program is as follows
`
#!/usr/bin/env python
from pymodbus.c

[2017-08-15 05:06] dhoomakethu commented on #204
I see no problem with  the communication from pymodbus side based on your logs, please ensure you are using the same serial settings on both raspberry pi as with pymodbus. Also make sure to enable the termination on the USB-RRS485 adapter if any. Check the logs of your modbus application on raspberry pi and see if the packets are reaching it.

[2017-08-15 13:41] anjamago commented on #204
The truth would not know how to configure my rs485 usb to resivir the data, could you give me an example of how to do it would be of great help

[2017-08-17 14:38] Grominet opened #207 "rolling response or first byte empty"
Hello,

Sorry, I am not an Modbus or python expert, but I don't know how continue to solve my issue :
I've an modbus equipment (Nilan combi 300), and use an FDTI USB plugin RPI to communicate.

My issue is I can't get a stable response, and that give checksum error. I've two script to explained issue :
- one the response is stable, but start with empty byte
- second the response is "rolling", and

[2017-08-17 15:10] dhoomakethu commented on #207
Hello, This repo deals with `pymodbus` and not `minimal modbus`, please raise the issue against [minimal-modbus](https://github.com/pyhys/minimalmodbus). feel free to raise an issue here, If you face any issues using pymodbus.

[2017-08-17 15:12] dhoomakethu commented on #204
I am sorry but without the details of the hardware you are using I am unable to help.

[2017-08-17 15:16] Grominet commented on #207
Hello,
Sorry for first post, please see edited issue.
And on fact i've same issue with minimalmodbus
Thanks

[2017-08-17 15:23] dhoomakethu commented on #207
could you please provide the complete client initialization code, the one in the snippet is incomplete
`client = ModbusClient(method='rtu', port='/dev/serial/by-id/usb-FTDI_FT232R_USB_UART_00000000-if00-port0', timeout = 1 ,stopbits = 1, bytesize = 8, parity = 'E', baudrate = 19200, loopback$`

I want to know, what is loopback here and why are you using it?

[2017-08-17 15:28] dhoomakethu commented on #207
`DEBUG:pymodbus.transaction:send: 0x1e 0x3 0x0 0xcf 0x0 0x1 0xb6 0x5a
DEBUG:pymodbus.transaction:recv: 0x0 0x1e 0x83 0x2 0xf1 0x37 0x0`

If you ignore the first byte in your recv message (0x0), the rest of the data makes a valid modbus error response, which is for `0x02 Illegal Data Address` , so is `207` a valid address ? Could you check with the specs ?

[2017-08-17 17:11] Grominet commented on #207
Hi, thanks for looking.
for loopback, it's set to False (as default). I was trying to set it to True one time to see if it that was that parameter cause "rolling".

207 is not valid for input header, only holding register, you're right.
Here I try with a valid one for the input header :
[code]
Always this empty byte... I can't get a "correct" answer, or a valid modbus error :)

[2017-08-21 08:32] dhoomakethu commented on #207
If you ignore the first byte in the response (`0x0`), you are actually getting a valid response (not verified though) ` 0x1e 0x3 0x2 0x19 0x64 0x27`. I am not sure why the device is responding with the extra `0x0` in your response.

[2017-08-21 09:06] Nanahara commented on #149
Hello,

I test your fix and it seems to work correctly.

Thank you,
Alexis

2017-08-04 7:08 GMT+02:00 dhoomakethu <notifications@github.com>:

[2017-08-21 11:43] Grominet commented on #207
Ok, maybe have you some idea to do it?
Which function I can use to?
Or which parameter could help ?
Thanks to bring me on the way.

[2017-08-21 16:01] dhoomakethu commented on #207
I am afraid this falls outside the purview of pymodbus, unless a proper response is recieved pymodbus could not do much. you could probably check if your connections are proper and try with other baudrate and see if the communication gets stable at any of the other baudrates.

[2017-08-23 06:23] #186 closed

[2017-08-23 06:40] dhoomakethu commented on #199
pymodbus 1.3.2 is out with the fix for this issue. Please re-open if still facing the issue.

[2017-08-23 06:40] #199 closed

[2017-08-23 06:41] dhoomakethu commented on #119
pymodbus 1.3.2 is out with the fix for this issue. Please re-open if still facing the issue.

[2017-08-23 06:41] #119 closed

[2017-08-24 05:15] dhoomakethu commented on #191
fixed with 1.3.2

[2017-08-24 05:15] #191 closed

[2017-08-24 05:18] dhoomakethu opened #209 "Prepare for 1.4.0"
Following issues would be covered and will be updated on need basis
This would cover as an Epic to cover all open tasks pending with PyModbus. Please do not close this issue . All new Issues to be mentioned/referenced here.

- [x] Fix examples #190
- [x] ~~Fix #160~~  --> Will be handled with 2.0.0. release
- [x] Fix #139
- [x] Fix #135
- [x] Check #108
- [x] Fix #107
- [x] Fix #94
- [x] ~~Fix #98

[2017-08-24 21:08] anjamago commented on #204
the usb conversion a [rs485 ](https://www.vistronica.com/comunicaciones/convertidor-usb-a-rs485-detail.html?gclid=Cj0KCQjw8vnMBRDgARIsACm_BhJoBwc_l2mpNOi711IIIovoavYeszmShO7JNJ0i6Eot7TgbqbfiQtQaAjCIEALw_wcB)
the plc is a AMP1-E
Manufactured in the city of medellin colombia is not very commercial yet so there is no information on the internet

[2017-08-26 06:49] dhoomakethu commented on #204
This is something I do not have access to, Can you use some other USB-RS485 converter, something like this https://sgcdn.startech.com/005329/media/sets/ICUSB422IS_Manual/ICUSB422IS.pdf ?

[2017-08-27 21:32] ghost opened #210 "Release tar ball without generated files?"
Hi,

while I think, that for some users it is convenient to have a release .tar.gz file with all documentation pre-build, it makes life slightly harder for redistributors (like me, working on the Debian pymodbus package). For Debian packages (and probably most other Linux distributions), it is required, that all non-source files are build from source. One can, of course, just remove the files and

[2017-08-28 04:02] dhoomakethu commented on #210
The release is entirely controlled by GITHUB as of now, All I am doing is just click the button `Draft a new release`, create a tag and publish. I will have to go through the release documentation to fine tune it (to what you are asking). The majority of the users use the package via PIP and I know only a few people who depends on the release here on the github repo (cc. @markmevans )

[2017-08-28 08:15] tryer3000 commented on #190
`examples/functional/synchronous-rtu-client.py` fail to pass on ubuntu 16.04

[2017-08-28 08:32] tryer3000 commented on #209
I'd like to know when will 1.4.0 be released.

[2017-08-28 09:17] dhoomakethu commented on #209
@tryer3000  No definite timeline is available as of now.

[2017-08-28 09:18] dhoomakethu commented on #190
@tryer3000 could you please paste the error trace here ?

[2017-08-28 21:14] MartinBorg commented on #210
I think, that both the pypi and the github archive have the pre-compiled documentation included, which is probably, because it is already in the version control.

[2017-08-29 05:50] tryer3000 commented on #190
@dhoomakethu  FYI

EEEEEE
======================================================================
ERROR: testReadWriteCoil (__main__.SynchronousRtuClient)
----------------------------------------------------------------------
[code]

[2017-08-29 07:05] dhoomakethu commented on #190
Thanks, will have a look

[2017-08-29 22:52] markmevans commented on #210
I also require a source tarball to build from.  I ignore the generated documentation so this specific issue does not directly affect me but agree that it really does not need to be under source control.

I'd vote to remove the generated documentation files under source control and fixing the hooks to  [readthedocs.org]https://readthedocs.org/projects/pymodbus/) but I don't know what that entails.

[2017-08-30 03:38] dhoomakethu commented on #210
@markmevans , JFYI  the latest documentation is upto date here [pymodbus-n](http://pymodbus-n.readthedocs.io/en/latest/), I do not have access to the original pymodbus documentation

[2017-09-01 07:22] dhoomakethu opened #211 "IndexError: string index out of range"
Once in a while pymodbus throw this error

[code]

another one

[code]

[2017-09-08 12:00] thaxy opened #212 "InvalidMessageRecievedException when try to communicate with a modbus slave device (RTU)"
Hello,

When I try to read modbus registers from a slave through a serial port via pymodbus:
I get the following error:

[code]

As you can see I get a response from the slave but pymodbus got problems decoding the response.
I use the following framer:
`framer = ModbusRtuFramer(ClientDecoder())`

When I emulate a slave with pymodbus ``StartSerialServer`` instead using my original slave device I su

[2017-09-08 13:02] dhoomakethu commented on #212
what version of Pymodbus are you using ?

[2017-09-08 13:17] thaxy commented on #212
Sorry, my bad v1.3.2

[2017-09-08 13:38] dhoomakethu commented on #212
Thanks,  It is interesting to know that the read works fine with emulated pymodbus server and modbus sync client. Would it be possible for you to share your client code and the debug logs with  sync client ?

[2017-09-08 13:45] thaxy commented on #212
It seems that the read always works fine with the emulated ``pymodbus`` slave no matter if use sync or async (via ``twisted``) master.
But when I connect to a slave device emulated by http://modbustools.com/modbus_slave.html only the sync request of ``libmodbus`` seems to work the async gets a response but has a problem decoding it correctly.

How can I send you the source code in private?

[2017-09-08 13:57] thaxy commented on #212
Maybe this is intersting too (sync client):

[code]

[2017-09-09 05:25] dhoomakethu commented on #212
Since, I am working on linux based system , I could not test against modbustool ,but I did tried against [this](https://github.com/riptideio/kivy-modbus-simu) and [this](https://github.com/dhoomakethu/modbus_sim_cli) for slave simulation and they did worked without any issue.

[2017-09-11 09:30] thaxy commented on #212
Seems like pymodbus doesn't wait until all bytes are received.

serial cable length: 1.5m
holding registers in slave: [1, 23, 56, 456, 0, 0, 0, 0, 0, 0]

slave: modbus slave (windows software)
request: 01 03 00 00 00 0a c5 cd
response (async): 01 03 14 00 6f 00 17 00
response (sync):  01 03 14 00 01 00 17 00 38 01 c8 00 00 00 00 00 00 00 00 00 00 00 00 07 f5

slave: pymodbus slave
request: 0x1 0x3

[2017-09-11 12:37] dhoomakethu commented on #212
A lot of enhancements have gone in to sync client which would make it pretty stable and many of those changes (e.g waiting for the complete response, having 3.5 char space between transactions and others ) have not yet gone in to async client. Since I work with sync client + given the fact that I donot have the setup to reproduce the issue, I would appreciate if you can have a look and figure out

[2017-09-11 14:04] thaxy commented on #212
I am currently working with ``timeout=None``

From:  http://pyserial.readthedocs.io/en/latest/pyserial_api.html#serial.Serial

I will review the logic of the sync client and make a PR to the ``dev`` branch in the next weeks since I am working on another project. Please have a look at my current changes maybe you can say something to the ``while`` loop and the ``self._process(callback, error=True)`

[2017-09-11 14:21] dhoomakethu commented on #212
all those changes are required for the sync client to work fine, It is not supposed to be breaking async client, but looks like it is. I will try to look in to the issue sometime this week. Your current changes in the PR could break the sync client. Thanks for looking .

[2017-09-13 11:16] bracco23 opened #214 "Using pymodbus to issue wrong requests"
Hello,

I'm working on a specification-compliant implementation of Modbus and I was trying to use this package to develop an automatic test environment to validate my implementation.

I successfully implemented normal requests, but now I wanted to test responses at things like wrong function codes, wrong data formats, wrong checksum and things like that.

Can I integrate that with the module someh

[2017-09-14 04:35] dhoomakethu commented on #214
You can very well use pymodbus for your tasks, You can create your invalid requests by creating classes derived out of `ModbusRequest` and extend `ModbusSerialClient` to include your requests, so that you can do
[code]

[2017-09-14 06:48] bracco23 commented on #214
Thanks, to try to understand if it was possible I used pyreverse to create a class diagram to help me navigate the package and I arrived to the same solution, and it worked fine. I also found some interesting things about the library itself, but I will talk about that in a new issue.

[2017-09-14 07:10] bracco23 opened #215 "Wrong behavior when function code 0x00 is used (and Modbus 1.1 specs)"
Hello,

I was trying to test the correct behavior of a Modbus slave when an invalid function code is used. To create a future-proof test, I was trying to use function code 0x00, that is an invalid function code according to the specs (section 4.1 of Modbus Application Protocol 1.1b3).

This is the request class I am using:

[code]

But when I try to issue this request, things go wrong, it is sent

[2017-09-14 07:12] #214 closed

[2017-09-14 10:05] dhoomakethu commented on #215
PyModbus as of now supports only valid function codes , since are running your own modified pymodbus stack , you will have to fix it locally as this is not something that will be supported by pymodbus.
From the specs (please note `normal response`)

response, the server sets the MSB of the function code to 1. This makes the function code
value in an exception response exactly 80 hexadecimal higher

[2017-09-17 16:52] madhusudhanjk opened #216 "Pymodbus synchronous tcp client receives packet partially"
Here is the complete transaction, refer Highlighted B+I for the observation

pymodbus.server.sync: DEBUG: Started thread to serve client at ('172.26.70.41', 43829)
pymodbus.server.sync: DEBUG: Client Connected [172.26.70.41:43829]
pymodbus.server.sync: DEBUG: Started thread to serve client at ('172.26.70.42', 34000)
pymodbus.server.sync: DEBUG: Client Connected [172.26.70.42:34000]
pymodbus.transa

[2017-09-18 08:30] #215 closed

[2017-09-18 08:36] dhoomakethu commented on #216
what version of pymodbus are you using ? Also do you mean to say the server is receiving incomplete request ?

[2017-09-18 08:47] madhusudhanjk commented on #216
pymodbus version : 1.3.2. Its's client who is receiving incomplete

[2017-09-18 14:39] dhoomakethu commented on #216
Let me clarify it again, A client is the one which sends requests and a slave/server is something which responds to those requests, The logs you have provided talks about synchronous server, If I understand correctly , you have three `ModbusTcpClient` instances which are querying against one `ModbusTcpServer`. And The `ModbusTcpServer` sometimes receives only partial requests. Please correct me if

[2017-09-18 15:12] madhusudhanjk commented on #216
I start three ModbusTcpServer  conencting to a remote gateway , this in log corresponds to
pymodbus.server.sync: DEBUG: Started thread to serve client at ('172.26.70.41', 43829)
pymodbus.server.sync: DEBUG: Client Connected [172.26.70.41:43829]
pymodbus.server.sync: DEBUG: Started thread to serve client at ('172.26.70.42', 34000)
pymodbus.server.sync: DEBUG: Client Connected [172.26.70.42:34000]
T

[2017-09-18 15:24] dhoomakethu commented on #216
Could you provide your server and client code?

[2017-09-19 08:18] thaxy commented on #212
We want to use this lib in our project but since this code is used by the sync client too we are unsure if we can overview the impact on the codebase  Are you currently working on a solution or would it be our turn?

[2017-09-19 10:07] dhoomakethu commented on #212
If you have a working solution, please raise a PR on dev branch so that somebody would review .  As of now , I do not have a definite time line for an official fix.

[2017-09-20 15:34] pawelmarkowski opened #217 "Issue with Modbus Error: [Input/Output] No Response received from the remote unit"
Hello,
I am checking out pymodbus.__version__ '1.3.2'  library and attached code does not work, but code copy in pymodbus3 works fine.

What did I do wrong?

[code]

DEBUG:pymodbus.transaction:Running transaction 1
DEBUG:pymodbus.transaction:send: 0x0 0x1 0x0 0x0 0x0 0x6 0x1 0x3 0x1d 0x51 0x0 0x2
DEBUG:pymodbus.transaction:recv: 0x0 0x1 0x0 0x0 0x0 0xb 0x1 0x3 0x8 0x45 0xae 0x6f 0x8c
DEBUG:pymodbu

[2017-09-21 14:04] dhoomakethu commented on #217
@pawelmarkowski , would you mind sharing your findings? Was it a problem with your setup?

[2017-09-21 15:07] pawelmarkowski commented on #217
no it was not a problem with setup. It still does not work ... interesting thing is that the device has address = 7505 with 32bit registry ... I found other 16bit address that works and I can read a data so I closed the ticket. It is strange that a pymodbus3 works fine.

[2017-09-21 16:24] dhoomakethu commented on #217
Are you working with a real modbus device ? If yes can you please share the details/specs?

[2017-09-21 17:49] pawelmarkowski commented on #217
http://www.lumel.com.pl/download/Z2Z4L2x1bWVsL2VuL2RlZmF1bHRfbXVsdGlsaXN0YV9wbGlrb3cudjAvNTIx/n4309a.pdf

[2017-09-22 03:41] dhoomakethu commented on #217
@pawelmarkowski the device talks only about serial interface but your code is for Modbus TCP, Is there a RTU-TCP gateway you are talking to ?

[2017-09-22 10:59] pawelmarkowski commented on #217
Gateway, but I will confirm it on Monday.

[2017-09-22 18:53] thaxy commented on #212
Just to give you some feedback here: Our project lead decided not to invest any time to fix this bug. My hands are tied, you are on your own. Good luck... :confused:

[2017-09-28 05:56] daxiabiluo opened #219 "server and client"
How to set up of the server for the client request address and value?

[2017-09-28 06:04] dhoomakethu commented on #219
Please refer https://github.com/riptideio/pymodbus/blob/master/examples/common/synchronous-server.py

[2017-09-28 06:04] #219 closed

[2017-09-28 22:46] zikann opened #220 "Code hangs after akward? factory response [135]"
Hi,
this is my setup:
pymodbus: 1.3.2
Modbus RTU over RS485
3 devices on network
continously doing what's below:
4 registers queried from 1. device in 4 requests
2 registers queried from 2. device in 2 requests
2 registers queried from 3. device in 2 requests

I belive one device has some problems with communication( the oldest one) and when this happens the whole comunication stops until applicat

[2017-09-29 06:35] dhoomakethu commented on #220
Ok, Questions.

1. What client are you using (sync/async) ?
2. How are you doing the continuous query , Could you share your client code?
3. Are the three devices connected on the same serial port or on different ports ?

Thanks

[2017-09-29 07:57] zikann commented on #220
Ad1. Sync client running in separate thread.
Ad2. Simple loop over dictionary having the settings needed to query devices( device id, adresses etc... ).
[code]
Ad3. Same serial port over RS485 network.

[2017-09-29 09:12] dhoomakethu commented on #220
Thanks, If it is possible, Could you please connect one device at a time and see if you can get response with out errors for all three devices ? From your logs , device 2 and 3 are not responding. This happens even when the connections are not proper.

[2017-09-29 10:15] zikann commented on #220
This is only a small piece od log showing the time just before the hang.
The statystics from the day it happened are folowing:

device 1:
requests per day = 183682
propper responses per day= 182962
success ratio = 99,6

device 2:
requests per day = 91930
propper responses per day= 90952
% = 98,9%

device 3:
requests per day = 91926
proper responses per day= 87857
success ratio = 95%

After that da

[2017-10-02 09:02] pawelmarkowski commented on #217
Hello, sorry for 1 week delay :). I updated above link - device has modbus TCP interface.

[2017-10-03 04:07] lixiangabcd08 commented on #217
I have the same problem with version '1.3.2'. The length of received package through sync TCP client is not correct.

Following is the logging information:

DEBUG:root:Read a holding register
DEBUG:pymodbus.transaction:Running transaction 1
DEBUG:pymodbus.transaction:send: 0x0 0x1 0x0 0x0 0x0 0x6 0x7e 0x3 0x9c 0x42 0x0 0x1
**DEBUG:pymodbus.transaction:recv: 0x0 0x1 0x0 0x0 0x0 0x5 0x7e 0x3 0x2 0x0

[2017-10-03 04:28] dhoomakethu commented on #217
@lixiangabcd08 In your case I see you are trying to read the absolute address (40002), Could you just pass the index (0x2) as address and see if you can get the expected result?

[2017-10-03 05:13] dhoomakethu commented on #217
@pawelmarkowski could you give a try with this branch and let me know if it works ?

https://github.com/riptideio/pymodbus/tree/217-fix-tcp-client

[2017-10-03 05:17] dhoomakethu commented on #220
Thanks for the data , What is the load on the CPU when the reads start failing ? Would you mind share the configuration of the device on which the client is running ?

[2017-10-03 07:04] lixiangabcd08 commented on #217
@dhoomakethu thank you very much for your suggestion, but changing the base address doesn't work. Same problem persists. As I have said, there are some problems regarding the number of bytes in the first 2 received packages. From 3rd package onwards, the received package length becomes ok. But since it's synchronous, it doesn't work out very nicely.

[2017-10-03 07:11] lixiangabcd08 commented on #217
@dhoomakethu By the way, the code works correctly when I initiate the ModbusTcpClient with library from pymodbus3 and use the read_input_registers function from pymodbus. So I believe there is some bug inside initiation of client code. Hope it helps debugging.

[2017-10-03 07:28] dhoomakethu commented on #217
@lixiangabcd08 please see the comment above , please try the pymodbus from that branch or use the tar file to install pymodbus.

https://github.com/riptideio/pymodbus/tree/217-fix-tcp-client or with this
pymodbus-1.4.0rc1.tar.gz

[2017-10-03 07:34] pawelmarkowski commented on #217
Still the same error.

1st transaction 6010 address: 16bit registry 2 frames
address = 6010
count = 2
result = self.client.read_holding_registers(address, count, unit = self.unit)

DEBUG:pymodbus.transaction:Running transaction 1
DEBUG:pymodbus.transaction:send: 0x0 0x1 0x0 0x0 0x0 0x6 0x1 0x3 0x17 0x7a 0x0 0x2
DEBUG:pymodbus.transaction:recv: 0x0 0x1 0x0 0x0 0x0 0x7 0x1 0x3 0x4 0xf9 0x84 0x45 0xc

[2017-10-03 07:44] pawelmarkowski commented on #217
@dhoomakethu
It works in your version. Only what I need is to change decoding because in this registry data is stored in reverse order.

DEBUG:pymodbus.transaction:Running transaction 1
DEBUG:pymodbus.transaction:send: 0x0 0x1 0x0 0x0 0x0 0x6 0x1 0x3 0x17 0x7a 0x0 0x2
DEBUG:pymodbus.transaction:recv: 0x0 0x1 0x0 0x0 0x0 0x7 0x1 0x3 0x4 0xfc 0xbb 0x45 0xc0
DEBUG:pymodbus.transaction:0x0 0x1 0x0 0x0

[2017-10-03 07:59] dhoomakethu commented on #217
@pawelmarkowski thanks for confirming, I will wait on @lixiangabcd08 to confirm so that I can push this to master and close the issue

[2017-10-03 11:22] lixiangabcd08 commented on #217
@dhoomakethu I am very sorry that I am unable to verify it until next week:(

[2017-10-03 12:19] dhoomakethu commented on #216
similart to #217 , will be tracked there

[2017-10-03 12:19] #216 closed

[2017-10-03 12:20] dhoomakethu commented on #207
Not an issue with pymodbus

[2017-10-03 12:20] #207 closed

[2017-10-03 12:22] dhoomakethu commented on #204
@anjamago Is there an update for this issue ?

[2017-10-03 12:22] #95 closed

[2017-10-03 12:26] dhoomakethu opened #221 "Re do/enhances calculating expected response for various protocols"
ModbusTCP seems to be having a problem reading everything in the response, refer #217, #200 , #202

Fixes for slwo reads ot the following protocols:
- [x] TCP
- [ ] RTU
- [ ] Serial

[2017-10-03 12:27] dhoomakethu commented on #202
@dhoney Is there an update on this ? or could this be closed?

[2017-10-03 12:28] dhoomakethu commented on #217
will be tracked with #221

[2017-10-03 12:28] #217 closed

[2017-10-03 16:25] zikann commented on #220
I dont't remember the exact value but I remember it was "normal"  not 100%
or something like that. The client is a  normal PC 2 cores Windows 10 etc...
Its running over a moxa usb-rs485 converter in half duplex 2 wire
configuration.

03.10.2017 07:17 "dhoomakethu" <notifications@github.com> napisał(a):

[2017-10-06 11:29] dhoomakethu commented on #210
@MartinBorg @markmevans I have added a gitattributes files which should exclude the documentation/tests and other un releated stuff the generate release tarball. Refer PR #223 .

Please let me if this addresses the issue you raised in this issue.
[.gitattributes](https://github.com/riptideio/pymodbus/pull/223/files#diff-fc723d30b02a4cca7a534518111c1a66)

[2017-10-09 20:52] MartinBorg commented on #210
Thanks for tackling this issue! I never used `.gitattributes`, so I'm not sure what it does. But it looks like it would leave out the documentation, examples etc. entirely, right? If so, this is not what I would want, because we do ship the documentation and examples in Debian. We just want to build them ourselves, not use prebuild software or documenation (= "generated files"). I suggest not to h

[2017-10-10 04:32] dhoomakethu commented on #210
@MartinBorg thanks for the feedback, I will see what needs to be done.

[2017-10-12 05:51] lixiangabcd08 commented on #217
@dhoomakethu Sorry for the late reply, I have tried your version. It does not solve the problem. However the error is a bit different now.
Instead of receiving 10 packages in the first transaction, 1 package in the second transaction and 11 (correct number) packages in the rest of transactions, now I receive 10 package in every transaction.

Debugging infomation as followed:
169.254.82.110:502
DEB

[2017-10-12 09:03] dhoomakethu commented on #217
@lixiangabcd08  , Are you sure you are using the correct pymodbus version ? The behaviour you are observing is not expected , with the changes ModbusTCP client would now will receive up to 1024 bytes of data in one read. Please uninstall and install pymodbus again (the version with patch in this comment thread above ) and confirm.
Thanks

[2017-10-12 13:50] lixiangabcd08 commented on #217
@dhoomakethu Thank you for your reply! I believe I am using the correct pymodbus library since I have uninstall and install for a few time. The received modbus data from execution using the offical version and the version in this thread are different. And I only observe this behavior for one type of our TCP device while the other TCP devices work fine with pymodbus.

[2017-10-12 16:30] dhoomakethu commented on #217
@lixiangabcd08 Thats interesting to know, could you please share the details of the device ? Also Are you getting correct response if using any other modbus packages (for e.g Modbus-tk ?)

[2017-10-13 01:32] lixiangabcd08 commented on #217
@dhoomakethu The problematic device is SMA Solar PV inverter (STP 5000TL-20) with SunSpec Modbus Interface. For the same manufacturer, SMA cluster controller works fine with pymodbus. I have not tried Modbus-tk (I only have access to the inverter once a week), but QModMaster and pymodbus3 give corrects response. Appreciate all the effort you put in.

[2017-10-13 03:21] dhoomakethu commented on #217
Thanks for the update, good to know it works with pymodbus3, I will have a look.

[2017-10-14 00:25] mariogirasole opened #228 "Gateway example"
Dear all, I'm trying to do a simple Modbus TCP gateway that read data from up to 5 remote devices and publish these information at modbus tables on the server.
I not seeing dificults to read and write messages to remote devices using the modbus functions created.
For this project, my customer need to read the data on the server (my gateway) on the Input Status and Input Register tables (modbus FC2

[2017-10-14 04:47] dhoomakethu commented on #228
You can not read and write to Input registers or discrete inputs as per the modbus spec, they are read only. You can use Holding Registers and Coils  if you would like to do R/W operations. But your problem statement is kind of confusing.

1. Are the 5 slave devices real or simulated ,what mode are they running (RTU/TCP/ASCII) ?
2. How is your customer intend to read the data on the server you are

[2017-10-14 06:09] dhoomakethu commented on #108
@Cougar I know this might be late, Off late we came up with this PR #226 to provide async client support based on twisted/tornodo/asyncio. Please have a look and share your comments if possible.

[2017-10-14 07:28] bhagn commented on #160
@submerged15, @wexi can you share the code that instantiates the async client? Is the reactor running in its own thread?

[2017-10-14 08:30] wexi commented on #160
You are welcome to examine my 'local' branch:
https://github.com/wexi/pymodbus/tree/local
See Foreword in README.rst

[2017-10-14 13:50] mariogirasole commented on #228
Hello, I'll decribe an example from my need:
My 5 slaves devices are real in Modbus TCP mode.
My slaves devices providing holding registers information (range 30101 to
30147).
Almost all information are available in bits at the holding registers at
source maps (slaves), for this reason I'm using modbus FC3 to read these
information.
Once read the information, I need to put them on my server contex

[2017-10-15 13:05] zikann commented on #220
Hi,
I've got new, perhaps interesting logs:
[code]
"2017-10-14 11:14:05,778 DEBUG:Factory Response[248]" is the last entry in log.

[2017-10-16 03:24] dhoomakethu commented on #228
@mariogirasole Thanks for the explanation but no attachments , please update your comments with the attachment

[2017-10-16 03:30] dhoomakethu commented on #220
@zikann Could you add the following flags to your client `retry_on_empty=True, retries=3 or more`

[code]

[2017-10-16 14:54] mariogirasole commented on #228
Here are my python codes for Server and Client Sides:

Server Side
=======
#!/usr/bin/env python
# -*- coding: utf-8 -*-

# Definições do programa
nSlaves = 3 # Número de eleavadores (Slaves) máx 10
master= [0]*1
master[0] = ['10.146.4.16',502,1] # Endereços do servidor (Master)
maceth = "b8:27:eb:bd:5a:3e" #endereço mac address do adaptador ethernet (proteção)
# License
mac = open('/sys/class/net

[2017-10-17 04:29] candronikos opened #230 "pymodbus RTU not working"
### Versions

* Python: Python 2.7.13
* OS: Linux raspberrypi 4.9.41-v7+ #1023 SMP Tue Aug 8 16:00:15 BST 2017 armv7l GNU/Linux
* Pymodbus: 1.3.2
* Modbus Hardware (if used): N/A

### Description

Trying to test the pymodbus driver in RTU mode. In an serial viewer no data is received. Testing raw data packets with pyserial works, setting the client in 'ascii' mode at least shows something's receiv

[2017-10-17 04:41] dhoomakethu commented on #230
Is there a physical modbus device connected on the port `/dev/ttyS0` ? Modbus RTU requires RS485 support, please check if Raspberry PI can work in RS485 mode , if not use USB to RS485 converters , which should work just fine.

[2017-10-17 04:51] candronikos commented on #230
Are you saying that 'rtu' needs RS485 and 'ascii' doesn't? My colleague has verified that 'ascii' mode works over the same port when doing the `rr = client.read_holding_registers(10,count=12,unit=5)`.

Also, how can I confirm that the RPI is using RS485? It's connected using the UART pins if that helps.

[2017-10-17 05:01] dhoomakethu commented on #230
Yes 'rtu' mode works only on RS485 , As far as I know Raspberry Pi does not support RS485 out of the box(correct me if I am wrong). You need something like this https://www.sparkfun.com/products/13706 to get the RS485 working.

[2017-10-18 04:44] dhoomakethu commented on #228
@mariogirasole , are you expecting the values you read and write in `updating_process` on the client side to be reflecting on your server code (Server side) ? . Ideally, Your gateway client and server needs to be using the same context in order to get the correct values. I will give a try of your code this week and will update .

[2017-10-18 04:45] #230 closed

[2017-10-19 06:25] dhoomakethu commented on #228
@mariogirasole , unfortunately there is no straight forward solution for your problem, A remote slave context is one to one mapping of the datablocks on the remotes and it uses the regular read/write functions to read/write from the remote hosts (refer https://github.com/riptideio/pymodbus/blob/master/pymodbus/datastore/remote.py#L86) , Hence when you read a holding register in `updating_process`

[2017-10-22 20:53] zikann commented on #220
Flags added, unfortunately the behaviour is still the same.
For now I don't have fresh logs to show.

After further investigating the previous logs I find it strange that things like this happen:
[code]
How is it possible that it says that factory response is 64 when the previous line shows that there is no response?

[code]
How is it possible that it says that factory response is 1 when the previ

[2017-10-23 03:04] oict18 opened #231 "Modbus Module not found"
### Versions

* Python: 3.5.3
* OS: raspbian, rpi 3 b
* Pymodbus: 1.3.2
* Modbus Hardware (if used):

### Description

(I am new to Python and r-pi's.  Thanks in advance for putting up with a learner)
Looking to do a quick test on a local server before testing to PLC, but not getting very far.  python can't find the pymodbus module.

### Code and Logs

// copied from web, put into python
from pymo

[2017-10-23 03:36] dhoomakethu commented on #231
How did you install pymodbus ?

[2017-10-23 03:41] oict18 commented on #231
well... I botched it the first time, then I installed following the instructions at https://github.com/riptideio/pymodbus

git clone git://github.com/bashwork/pymodbus.git
cd pymodbus
python setup.py install

[2017-10-23 04:16] dhoomakethu commented on #231
You can install with `pip install pymodbus` , which should actually take care of installing the latest stable version  correctly on to your site-packages.

[2017-10-23 04:16] #228 closed

[2017-10-23 04:17] #231 closed

[2017-10-23 12:54] oict18 commented on #231
executed pip install pymodbus (actually did that previously thinking it
would repair the install)
ran pip freeze and pymodbus==1.3.2 is in the list.

the test program throws the same error:
Traceback (most recent call last):
File "/home/pi/Desktop/project/testPy.py", in line 1, in <module>
from pymodbus.client.sync import ModbusTcpClient
ImportError: No module named 'pymodbus'

program has accesse

[2017-10-23 13:02] dhoomakethu commented on #231
That should work, Could you please paste the output of the following commands
[code]

[2017-10-23 13:07] oict18 commented on #231
something wrong with the path?

pi@raspberrypi:~ $ pip show pymodbus
Name: pymodbus
Version: 1.3.2
Summary: A fully featured modbus protocol stack in python
Home-page: https://github.com/riptideio/pymodbus/
Author: dhoomakethu
Author-email: otlasanju@gmail.com
License: BSD
Location: /home/pi/.local/lib/python2.7/site-packages
Requires: pyserial, twisted
pi@raspberrypi:~ $ echo $PYTHONPATH

pi@rasp

[2017-10-23 13:26] oict18 commented on #231
so looking at this, the location is set to:

Location: /home/pi/.local/lib/python2.7/site-packages

again, excuse my lack of experience in this platform please... I've
been looking in /usr/local/python2.7/dist-packages/pymodbus.

learning the pi and raspbian.  is the modules supposed to install in
both locations?  do i need to do something with the path & which
should it point too?

On Mon, Oct 23

[2017-10-23 13:31] dhoomakethu commented on #231
just do `export PYTHONPATH=/home/pi/.local/lib/python2.7/site-packages` before running your script. That should fix the issue.

[2017-10-23 13:42] oict18 commented on #231
great, thanks.  I will run that later today

On Mon, Oct 23, 2017 at 8:32 AM, dhoomakethu <notifications@github.com>
wrote:

[2017-10-23 22:51] picarro-cvala commented on #60
I am also seeing same problem. Problem is not checking slave id, but real problem is it does not able to reach code where it checks slave id and throw exception before that. In this scenario server fails in CRC check of package and throw exception (as it try to parse message as request and CRC is for response).

Location: transaction.py file ModbusRtuFramer->processIncomingPacket(self, data, callb

[2017-10-24 03:12] dhoomakethu commented on #60
@picarro-cvala please share more information on your setup , the client used ,the modbus device you are trying to control etc

[2017-10-24 05:28] picarro-cvala commented on #60
@dhoomakethu I have one client (master) and two server (salves) connected using serial. My client and server is configure for RTU.

[2017-10-24 06:09] dhoomakethu commented on #60
@picarro-cvala is that a sync client or async client?

[2017-10-24 09:25] Amritsoul commented on #217
I have tried using pymodbus3 also, but i am getting the same error

[2017-10-24 16:02] picarro-cvala commented on #60
@dhoomakethu yes server and client are sync. and yes both slaves are connected on the same serial port.

I notice there is one thread for same problem on stack over flow too:
https://stackoverflow.com/questions/45235640/pymodbus-multiple-slaves-error

Client code:

import sys
import time
from struct import pack, unpack
from pymodbus.client.sync import ModbusSerialClient as ModbusClient

com_settin

[2017-10-24 16:37] dhoomakethu commented on #60
@picarro-cvala if you are using pymodbus sync server to represent your slave, You do not have to have two instances running , you can create multiple slaves on the same server with a slave store dict, something like this.
[code]

[2017-10-24 16:48] picarro-cvala commented on #60
@dhoomakethu our use case is different, slave are different HW. And server are running on individual HW. And over modbus we control individual HW.

Do you think, in our case we need to use async server?

[2017-10-24 16:56] dhoomakethu commented on #60
Technically that should work, but you will have to make

[2017-10-24 16:58] picarro-cvala commented on #60
@dhoomakethu do you mean by async will work?

[2017-10-24 17:01] dhoomakethu commented on #60
@picarro-cvala see my comment above

[2017-10-24 17:08] picarro-cvala commented on #60
@dhoomakethu I have added some more code as below for slave 2. but problem is reproducible if we talk with just one slave and 2nd slave will report error.

I am not using two client. only one client. Agree with you, if more than one client talks on RTU it will be unpredictable behavior.

import sys
import time
from struct import pack, unpack
from pymodbus.client.sync import ModbusSerialClient as M

[2017-10-25 01:40] dhoomakethu commented on #60
@picarro-cvala I believe the problem is with the servers , could you please post your server code here (for both servers) ?

[2017-10-25 17:05] picarro-cvala commented on #60
@dhoomakethu yes, error is at server side. In my first message I have describe problem and it is at server side. Also shared exact method where this problem will happen. I think any server example code will work to reproduce problem, for example "https://pymodbus.readthedocs.io/en/latest/examples/synchronous-server.html". Just make one change that give slave id and make context as below:

# 1 for

[2017-10-26 04:40] dhoomakethu commented on #60
@picarro-cvala Could you please use `dev` branch with the fix and see if that fixes the issue or You can use this tar file
[pymodbus-1.4.0rc1.tar.gz](https://github.com/riptideio/pymodbus/files/1416975/pymodbus-1.4.0rc1.tar.gz)

[2017-10-26 09:15] linhanh123 opened #232 "Modbus error while communicating with Trio Motion MC403-Z"
Hi,

Her is my setup
Server - running on Raspberry Pi, with Python 2.7
Client - running on Trio Motion controller MC403-Z.

When the controller sends requests to PC, it works at first. But after a random period of time, the server displays errors. Sometimes, it display error(1), sometimes it displays error(2), even though the controller just sends the same read/write request all the time.

###Erro

[2017-10-26 15:47] pallix opened #233 "Cannot pass an handler function to the TCP sync server"
The [handler parameter](https://github.com/riptideio/pymodbus/blob/master/pymodbus/server/sync.py#L254) of the `ModusTcpServer` init function is not taken in account by the code: it is not used. Passing an handler has no effect.

[2017-10-26 17:21] picarro-cvala commented on #60
@dhoomakethu sure I will try to use dev branch. Meanwhile can you please share code changes for this issue in dev branch (I would like to do code change walk through).

[2017-10-27 01:25] dhoomakethu commented on #60
@piccaro-cvala please refer the commit 5f0d2ed

[2017-10-27 04:01] dhoomakethu commented on #232
Are both server and client from pymodbus ? Is this a Modbus RTU issue or Modbus TCP issue ? It would be good if you use the issue template for better assistance.

[2017-10-27 11:49] linhanh123 commented on #232
The server is from pymodbus, the client is from the trioBasic Modbus functions. I'm using Modbus TCP, connecting over an Ethernet cable.
On the server, I use the synchronous server example for the code. On the client, I just open the client connection, and try read/write to the sever.
Does this make the question clearer? Sorry I'm still pretty new to this.

[2017-10-27 16:00] picarro-cvala commented on #60
@dhoomakethu I did code walk through, and I think change looks good. I will try to use dev branch and verify on real master and slave environment.

[2017-10-27 21:01] rsfellers commented on #60
@dhoomakethu I tested dev branch on real HW and looks good. But I see one problem in the fix. With this commit you are overwriting one existing functionality, which is I think for master request message.

File name: sync.py method ModbusBaseRequestHandler.execute(). With implemented change it will never go into execute method and it will not go into NoSuchSlaveException exception case where it thr

[2017-10-27 22:16] picarro-cvala commented on #60
@dhoomakethu above comment was mine. By mistakenly I posted comment with my teammate account.

[2017-10-28 03:02] dhoomakethu commented on #60
@picarro-cvala those line become irrelevant now, the modbus exception code `GatewayNoResponse` in the exception block `response = request.doException(merror.GatewayNoResponse)` is only applicable for gateway's which is generally a TCP device and is as  per [modbus spec](http://www.modbus.org/docs/Modbus_Application_Protocol_V1_1b3.pdf). Refer section `7 MODBUS Exception Responses`. One of the four

[2017-10-28 04:09] picarro-cvala commented on #60
@dhoomakethu sounds good. I have one more question: By any chance do you know when this bug fix will be releasing?

[2017-10-28 05:20] dhoomakethu commented on #60
@picarro-cvala as soon as #209 is closed.

[2017-10-28 05:25] dhoomakethu commented on #232
@linhanh123 thanks, could you use the pymodbus from dev branch and verify this issue.This could be same as #216 and there is a fix for it in [dev](https://github.com/riptideio/pymodbus/tree/dev) branch. Let me know if you need assistance with building the pymodbus library from dev branch.

[2017-10-28 05:28] picarro-cvala commented on #60
@dhoomakethu just request: if it will take more than one week, then it is possible to create patch for this fix?

[2017-10-28 05:31] dhoomakethu commented on #60
@picarro-cvala there is not definite timeline , I can create pre-release on github if you would like that. If you want to have it on PyPI then you will have to wait till all the action items are closed

[2017-10-30 09:15] linhanh123 commented on #232
@dhoomakethu I download the pymodbus library from the dev branch and replaced the old one with this one. It still shows the same error though...

[2017-10-30 09:21] dhoomakethu commented on #232
@linhanh123 when you say download, did you git cloned the dev branch and created an installer with `python setup.py sdist` or somethin similar and did a `pip install` of the sdist ?

[2017-10-30 10:26] linhanh123 commented on #232
@dhoomakethu I went into the branch dev, and there's a "Clone or download button", and when I clicked on it, I got the file "pymodbus-dev.zip"

[2017-10-30 11:56] dhoomakethu commented on #232
Please share the logs with debug enabled.

[2017-10-30 12:17] linhanh123 commented on #232
Here are the logs with the 2 errors.

[Error1.log](https://github.com/riptideio/pymodbus/files/1427125/Error1.log)
[Error2.log](https://github.com/riptideio/pymodbus/files/1427126/Error2.log)

[2017-10-30 12:56] dhoomakethu commented on #232
do you have the logs after the errors have occured ?

[2017-10-30 13:03] linhanh123 commented on #232
Sorry I don't :/ After the error occurred, there was no more logging.

[2017-10-30 19:57] dmosberger commented on #98
Hmmh, I see this issue is from 2015 and yet I appear to run into the same problem.  I'm using the modbus server example from the documentation, except modified to enable RTU via serial like this:

[code]

The server very quickly would die with an uncaught exception trying to decode a packet (struct.unpack threw the exception because the packet didn't have the expected length.

I think the problem

[2017-10-31 15:33] dmosberger commented on #98
Here is a better version:
[code]

[2017-11-02 09:51] MarekLew opened #234 "example code bug in remote_server_context.py"
In file:
https://github.com/riptideio/pymodbus/blob/master/examples/contrib/remote_server_context.py#L160

`RemoteServerContext` not have `self.__slaves`

more in:
https://github.com/riptideio/pymodbus/commit/fec7ac37f37e3d29196f6775c24a833bf9881539

[2017-11-02 21:38] dhewgill opened #235 "Timeout issue with ModbusTCPClient sync client when processing response from write multiple registers and using ModbusRTU framer."
* Python: 3.6.3 [64-bit]
* OS: Windows 10 [64-bit]
* Pymodbus: 1.3.2
* Modbus Hardware (if used):

### Description
I create a client like so:

[code]

Yields the following output:
DEBUG:pymodbus.transaction:Running transaction 2
DEBUG:pymodbus.transaction:send: 0xff 0x10 0x1 0x9a 0x0 0x1 0x2 0xbe 0xef 0xd3 0x22
DEBUG:pymodbus.transaction:Transaction failed. (timed out)
DEBUG:pymodbus.transaction:s

[2017-11-03 02:19] dhoomakethu commented on #235
Why do you want to use RTU framer with TCP client? `ModbusSocketFramer` is the one that needs to be used.

[2017-11-03 03:34] dhewgill commented on #235
The device that I am interfacing with supports the usual ModbusTCP as well as the gateway-like ModbusRTU over TCP where a full ModbusRTU request is wrapped in a TCP frame, then unwrapped by the device and forwarded along unmodified over a serial line. For this, I need the RTU framer.

[2017-11-03 06:00] dhoomakethu commented on #235
I am sorry, pymodbus does not support that feature as of now,  you can do that with a modbus server (refer https://github.com/riptideio/pymodbus/blob/master/examples/contrib/serial-forwarder.py)

[2017-11-03 06:00] #235 closed

[2017-11-03 06:02] dhoomakethu commented on #235
You can override the Socket framer to meet your needs .

[2017-11-03 06:33] dhoomakethu commented on #234
There you go, #4736b0f , Thats just an example and not a part of main library. Please feel free to do the changes and raise PR. The changes for `__iter__` is done inline with python 3 compatibility. I am closing this issue. Please comment on the PR, if you have further concerns.

[2017-11-03 06:33] #234 closed

[2017-11-03 14:50] dhewgill commented on #235
Thanks for the info.

[2017-11-04 18:15] zikann commented on #220
I've found in code that when the response is not valid the frame is decoded as "raw":
https://github.com/riptideio/pymodbus/blob/62b1350b721ce01bec35de7a828fbc92a3084744/pymodbus/transaction.py#L465-L466
so the mentioned log means that instead of a valid frame a not valid frame starting with 0x01 was received.

But this doesn't explain the original issue with "hanging" of the thread that is respon

[2017-11-05 03:28] dhoomakethu commented on #220
@zikann thanks for the follow-up, I am halfway debugging this issue but I am having tough time to reproduce this. I will keep this open for the time being

[2017-11-06 06:09] dhoomakethu commented on #204
No update from the creator, closing this for the time being.

[2017-11-06 06:09] #204 closed

[2017-11-06 06:10] dhoomakethu commented on #202
Closing this as not reproducible.

[2017-11-06 06:10] #202 closed

[2017-11-06 14:23] dhoney commented on #202
@dhoomakethu Sorry for the radio silence, my update on this is bellow:

We ended up using a PLC as a gateway between the HMI and and Linux client, with the PLC acting as a slave.

I asked for some information on the PLC used and form what I gathered their implementation is a custom linux embedded device, not a traditional PLC (AB, Click, Siemens, etc). From this I would assume that there is someth

[2017-11-06 14:31] dhoomakethu commented on #202
@dhoney, no issues .Please feel free to reopen this issue any time

[2017-11-07 13:55] pallix opened #237 "Very slow performance"
### Versions

* Python: 2.7.6
* OS: Ubuntu 14.04
* Pymodbus: 1.3.2
* Modbus Hardware (if used):

### Description

I have timed the sending of one mega byte of data with modbus RTU and the transfer spead is approximatively 7 KB/s.
When using `libmodbus` with RTU, I got a 10x performance improvement.
I have set the same baudrate in both cases.
This difference seems very strange to me and I wonder if

[2017-11-07 14:23] dhoomakethu commented on #237
Could you provide some more details on the client being used (sync/async), baudrate used and any script you used to measure the performance ?

[2017-11-07 14:35] pallix commented on #237
Thank you for your quick answer.

I use the sync client and server, a baudrate of 921600 and the Linux `time` command to measure performance of pymodbus.

To measure the performance of `libmodbus`, programs are provided by the library in the `tests` folder.

[2017-11-08 06:56] dhoomakethu commented on #237
@pallix Thanks, Are you doing a write coil/holding registers or a read operation ? Also when you say one mega byte of data ,are you reading it from the file ? would be helpful, if you could share your code snippet.

[2017-11-08 09:25] pallix commented on #237
Sorry that I did not provide the code sample directly. Server side:

[code]

Client side:
[code]

[2017-11-12 05:21] dhoomakethu commented on #237
Sorry for the late reply, There are multiple problems resulting in the slow timings. To begin with , For some reason the WriteRegisters Request doesn't come with response pdu size, and hence pymodbus waits at reading the bus till timeout (it actually is looking to read 1024 bytes which is default when the response pdu size is not calculated), There is another check when the number of bytes receive

[2017-11-13 13:03] pallix commented on #237
Thanks for the reply!

We checked the C benchmark and it is using much more registers (121) whereas the Python version throws an error when trying to pack more data than in this example.

Do you know why I cannot send more than 20 bytes at once?

[2017-11-13 14:32] dhoomakethu commented on #237
The max number of registers supported by pymodbus in one transaction is 125, not sure what you mean by you can not send more than 20 bytes at once ?? Could you please show us how are you trying to pack the data ?

[2017-11-13 14:40] pallix commented on #237
I pack the example as in the code above. When adding a line such as:

[code]

then an error is thrown when sending the data.

[2017-11-13 15:29] dhoomakethu commented on #237
Not sure how you are building here payload, I can read up to 122 registers in one shot with float and read 125 registers in one shot

[code]
And this is my response

[code]

[2017-11-13 16:04] pallix commented on #237
Can you show me the code of the server? When using your example, I get an

[code]

Is it necessary to read the registers after writing?

[2017-11-13 16:08] dhoomakethu commented on #237
I am using the server from here
https://github.com/riptideio/modbus-simulator

[2017-11-14 08:32] pallix commented on #237
Thank you. I tried your code. Unfortunately, I still get either:

`Socket error occurred unpack requires a string argument of length 4`

or the previous error when the argument to `make_payload` is 24 or smore.

[2017-11-14 08:52] dhoomakethu commented on #237
@pallix could you try with the latest on the `dev` branch?

[2017-11-14 09:03] pallix commented on #237
I get the same result.

[2017-11-14 09:37] dhoomakethu commented on #237
I have no idea,what could be going wrong, Could you please share your entire code (both  server and client)

[2017-11-14 10:04] pallix commented on #237
Thank you. I asked for permission to post the code. Client:

[code]

Server:
[code]

requirements.txt:

[code]

[2017-11-14 10:11] pallix commented on #237
I installed pymodbus with `pip install --user --upgrade git+https://github.com/riptideio/pymodbus.git@dev`

[2017-11-14 14:57] dhoomakethu commented on #237
@pallix , the only change I did was to add `retry_on_empty=True` in the client initialisation and I could get your code working with out any problem, note I am running this on Mac OSX high sierra with dummy serial ports (`/dev/ttyp0` for server and `/dev/ptpy0` for client). Also I am using `PAYLOAD_SIZE = 250` instead of 120 for RTU but sticked to 120 for ascii. I could get the 1 MB transaction in

[2017-11-14 15:19] pallix commented on #237
That is very kind of you to test this.

You did not get a `Socket error occurred unpack requires a string argument of length 4` on the server side? I tried adding `retry_on_empty=True`, still get the error.

[2017-11-14 15:37] dhoomakethu commented on #237
Nope, I did not get any such error. Could you paste the logs when you get these error (both from server and client) . Jus to confirm , can you try on other systems/is?

[2017-11-14 16:01] dhoomakethu commented on #237
Also, Please give a try at lower baudrates first (say 9600, 19200, 38400) and see if that works at those rates.

[2017-11-14 16:05] pallix commented on #237
Client:

[code]

Server:

[code]

You are right, it works with a lower baudrate!

[2017-11-14 16:18] dhoomakethu commented on #237
@pallix thanks for the confirmation, Issues with the speed are hard to debug and fix across different OS.I would keep this at lower priority for the time being.You can choose to keep this issue open if you like. I will be closing this as of now.

[2017-11-14 16:18] #237 closed

[2017-11-14 16:19] pallix commented on #237
Thank you very much for your support.

[2017-11-14 16:21] dhoomakethu commented on #237
No Problem, You are welcome.

[2017-11-15 23:45] dmdelorme opened #238 "help wanted"
<!--

### Versions

* Python: 2.7
* OS:Linux openplotter 4.9.13-v7+ #974 SMP Wed Mar 1 20:09:48 GMT 2017 armv7l GNU/Linux
* Pymodbus: current  pymodbus==1.3.2
* Modbus Hardware (if used):  epsolar tracer A

### Description
every second time i run the following code i/rpi3 has issues

### Code and Logs
[code]
debug output
[code]
 # code and logs here.
As you can see every second run of the script/p

[2017-11-16 01:26] dhoomakethu commented on #238
@dmdelorme what kind of help are you seeking?

[2017-11-16 09:44] dmdelorme commented on #238
woops i for got to include the info
it seems ever other time i run the code it has an issue connecting. see debug i included 2 debug outputs when i ran the code twice.
pymodbus ver 1.3.2
OC Linux openplotter 4.9.13-v7+ #974 SMP Wed Mar 1 20:09:48 GMT 2017 armv7l GNU/Linux
On a RPi3
python version 2.7
the Modbus device is a epsolar tracer A
The Code
[code]
Debug output
[code]
debug 2 working
[code]

[2017-11-16 12:23] dhoomakethu commented on #238
You can start with lower baudrates(9600, 19200, 38400 etc) and increased read timeout .
`client = ModbusClient(method='rtu', port='/dev/ttyXRUSB0', baudrate=115200, stopbits = 1, bytesize = 8, timeout = 1)
sock = socket.socket(socket.AF_INET, socket.SOCK_DGRAM)`

[2017-11-16 12:53] dmdelorme commented on #238
tried that baud is non adjustable time out did not help nether. why every every second time?

[2017-11-16 13:04] dhoomakethu commented on #238
You are receiving incomplete response and incorrect response in your failure case from the device. Is the wirings solid (correct termination installed, no loose connections ?) . Could you share the manual for the device , I could not find any on the net with the modbus specs for the device you have mentioned.

[2017-11-16 13:17] dmdelorme commented on #238
Modbus Error: [Input/Output] Modbus Error: [Invalid Message] ReadBitResponse(432) i think it is incorrect?
I have tried different ports but no change.
https://github.com/kasbert/epsolar-tracer/blob/master/archive/1733_modbus_protocol.pdf

[2017-11-16 13:21] dhoomakethu commented on #238
The Invalid Message error is raised when it is expecting a valid response but received a different one after decoding. I will run some manual decoding to see if something is wrong from the pymodbus side , but from the logs it looks like it is not. Let me double confirm.

[2017-11-16 16:11] fluffyfury opened #239 "Sync read_input_registers() from serial RTU device gives random results"
### Versions

* Python: 2.7.9
* OS: Raspbian Jessie
* Pymodbus: 1.3.2
* Modbus Hardware (if used): Raspberry Pi with LB-LINK RB-RS485 board + Smartprocess SMARTRAIL X835

### Description

I am trying to read the input registers of a power meter and I noticed that as I increased the "count", errors started to appear. So asking for 2 registers seemed fairly reliable, but when I tried 6 or 12, it som

[2017-11-16 16:28] dhoomakethu commented on #239
Could you try with an explicit timeout for reads while creating the client ?
`client = Modbus client(method= "rtu", timeout=3,....)`

[2017-11-16 16:29] fluffyfury commented on #239
Thank you for looking into this. Yes, I did try timeout = 3 and timeout = 0 in the past. Nothing seemed to change.

Also, a new error I am seeing now when printing result.registers is "Exception Response(%d, %d, None)", again with random numbers.

[2017-11-17 00:29] dmdelorme commented on #238
I might have a clue i am using a usb /rs485 cable it uses a exar driver.
`xr_usb_serial_common: Exar USB UART (serial port) driver`
I change to this version [https://www.exar.com/design-tools/software-drivers](url) 1.b connects but data is trash every time.
changed to [https://github.com/kasbert/epsolar-tracer](url)  	xr_usb_serial_common-1a
then every other read is garbage:) 100% improvement but

[2017-11-17 12:02] fluffyfury commented on #239
I believe I found the issue. I still get errors like "Unable to decode request", "ReadBitResponse()" and "No response received from the remote unit", but a lot less than before.
The problem is electromagnetic interference. The raspberry pi is connected in a lab, lying near other cables and not using a proper twisted pair shielded connection. By moving the raspberry pi away from other equipment, th

[2017-11-17 12:02] #239 closed

[2017-11-17 13:18] dhoomakethu commented on #239
@fluffyfury that was what I was about to recommend (check line terminations, ground and cable) ,glad that you figured it out. Thanks for the confirmation

[2017-11-17 13:20] dhoomakethu commented on #238
@dmdelorme please refer #239, which is similar to what you are facing , the issues could be due to electro magnetic interference as well. Please check and revert

[2017-11-17 21:32] dmdelorme commented on #238
I will look into that. I am not dealing with a lot of current  but have seen a few references to this issue.
Thanks

[2017-11-19 15:25] dmdelorme commented on #238
yup it looks like it was some loose wires causing noise. not 100% yet but better.

[2017-11-19 15:25] #238 closed

[2017-11-21 04:46] rahulraghu94 commented on #94
This is not reproducible. Please try running the script on another port

[2017-11-21 04:46] #94 closed

[2017-11-24 09:05] #84 closed

[2017-11-24 09:06] #233 closed

[2017-11-24 09:06] #107 closed

[2017-11-24 11:13] dhoomakethu commented on #211
Not reproducicble

[2017-11-24 11:13] #211 closed

[2017-11-24 13:30] rahulraghu94 commented on #190
@dhoomakethu, are there more examples that are broken apart from the ones that got fixed this week?

[2017-11-24 16:44] sansal54 commented on #139
Yes I am still having this problem, @dhoomakethu

[2017-11-24 20:05] rickmoua opened #244 "pymodbus.client.sync import ModbusTcpClient -error"
### Versions

* Python: v3.6
* OS: win 10
* Pymodbus:
* Modbus Hardware (if used):  SICK Lector

### Description

What were you trying, what has happened, what went wrong, and what did you expect?

### Code and Logs

[code]

I tried to run the command "pymodbus.client.sync import ModbusTcpClient"
but getting this error below.

I already download the pymodbus from github and install it. But when ru

[2017-11-25 04:01] dhoomakethu commented on #244
Make sure pymodbus is in the `PYTHONPATH`.

[2017-11-26 04:18] #244 closed

[2017-11-26 04:28] dhoomakethu commented on #76
Fix already available in pymodbus 1.3 and above

[2017-11-26 04:28] dhoomakethu commented on #76
Fix already available in pymodbus 1.3 and above

[2017-11-26 04:28] #76 closed

[2017-11-28 06:43] rahulraghu94 commented on #139
@sansal54 , check out the `dev` branch for a fix. Please get back to us if you still face problems

[2017-11-28 09:46] rahulraghu94 opened #245 "Bring unit test code coverage to 90%"
### Current coverage:

[code]

[2017-11-30 08:34] ltcasg opened #247 "Seems impossible to create a MODBUS/TCP server on port 502"
Hello

Using pymodbus 1.3.2 on a Raspberry Pi 3 with Raspbian and Python 2.7 installed, I tried to create a MODBUS/TCP server from the "Synchronous Server Example"

To be able to communicate with a MODBUS/TCP client I replaced the line:
[code]
with
[code]
But unfortunately, launching the modified script generates a "Permission denied" error in socket.py.

If I replace 502 with 5020, the server is

[2017-11-30 08:55] dhoomakethu commented on #247
Run as sudo

[2017-11-30 12:35] ltcasg commented on #247
Thanks for your answer

But it seems I have another issue when I try to use ```sido```
![image](https://user-images.githubusercontent.com/34121979/33430707-c7d05e0a-d5d1-11e7-8584-996b50bfbb01.png)

[2017-11-30 13:03] dhoomakethu commented on #247
You probably need to set the `PYTHONPATH` ,so that the python interpreter can find the installed pymodbus package.

[2017-11-30 14:43] josemariasecurity opened #248 "Writing a value (float) over holding registers (localhost, 502) using Modbus TCP version"
### Versions

* OS: Raspbian / Debian

### Description

I would need an example to write a value (float) over holding registers (localhost, 502) using Modbus TCP version. I did not find this example. Please, could you give me a simple example?

[2017-11-30 15:23] dhoomakethu commented on #248
Please refer to example https://github.com/riptideio/pymodbus/blob/master/examples/common/modbus-payload.py

[2017-12-01 09:11] izak commented on #221
I seem to be having a problem related to this issue. If not helpful, I apologise. I'm trying to communicate with an SMA solar inverter using the Sunspec protocol. The response is supposed to be `0x53 0x75 0x6e 0x53` (literally `SunS`), but it seems the last byte is chopped off and then I get the same `No Response` error.

[code]

And the output:

[code]

[2017-12-01 09:34] dhoomakethu commented on #221
@izak, could you please give with the code on `dev` branch ? It is supposed to be having a fix with respect to modbus TCP.

[2017-12-01 09:41] izak commented on #221
This happens with the code on the dev branch too. That was the first thing I tried, because I noticed some work had gone into this already.

The trouble seems to be that `socket.recv` receives a byte short, which is perfectly legit, that's how the unix syscall works. But because we're running a SocketFramer, it does something else I don't quite yet comprehend. I'm only about 2 hours into the code

[2017-12-01 09:47] dhoomakethu commented on #221
Ok, if that is the case could you please try the read transaction twice and see if the missing byte is cleared before the second read transaction ? Please share the logs here.

[2017-12-01 09:52] izak commented on #221
By literally just calling  `self._recv` a second time in transaction.py and appending the result, it does indeed work.

[code]

[2017-12-01 09:53] dhoomakethu commented on #221
Just in case useful, I found an example for sunspec client here https://github.com/riptideio/pymodbus/blob/29d236edaccd48ddc35b5503298d157be2428cd1/examples/contrib/sunspec_client.py, the example is very old and might be buggy, give it a try.

[2017-12-01 09:57] izak commented on #221
My use case was really to poke around a bit to see what I have to work with. I'm actually working on a project with code written in C, that is, I'm not actually going to use pymodbus in this project (but we are using it in [this one](https://github.com/izak/Bornay-venus-driver), where it works fine). I since came up with a different way to poke around: Just sniff the traffic from the wire with wir

[2017-12-01 10:00] dhoomakethu commented on #221
Cool, I will keep this case in mind while fixing this issue, thanks for bringing this up.

[2017-12-01 10:58] dhoomakethu commented on #221
@izak If you don't mind could you please give a try on [this branch](https://github.com/riptideio/pymodbus/tree/%23221-Tcp-read) and check if it works fine with your setup.

[2017-12-01 12:58] josemariasecurity commented on #248
Thank you dhoomakethu.

Regards,

[2017-12-01 13:59] #248 closed

[2017-12-01 14:05] izak commented on #221
Indeed that seems to solve it. Thanks!

[2017-12-01 14:24] dhoomakethu commented on #221
Thanks for confirming

[2017-12-02 05:13] #247 closed

[2017-12-05 10:11] MazoSergey opened #250 "To scrape a real PLC in realtime and use that data to create NEW updating server"
### Versions

* Python: 2.7
* OS: Linux
* Pymodbus: 1.3.2
* Modbus Hardware (if used): RSIM

### Description

I am trying to make a clone of a real PLC with a help of Scraper example, and then use that data to create MODBUS server... If i understand correct I have to: scrape  a real PLC --> save the data to file --> create server --> load data from file to server. It looks like I do not understand

[2017-12-05 12:28] lromor commented on #220
Hello,
same problem here, no response and hangs.

-l

[2017-12-05 13:20] dhoomakethu commented on #220
@iromor, could you please provide some information regarding your setup. Any logs before and after hang is highly appreciated.

[2017-12-05 13:22] dhoomakethu commented on #250
@MazoSergey what exactly is the problem ? Did you run the scraper example agains the PLC and encountered any error ?

[2017-12-05 13:26] MazoSergey commented on #250
@dhoomakethu thank you for support! Yes, I tried to run example, I've got a file (dump of data from PLC). Now I am trying to run "Modbus Simulator Example" with -c option, and getting "Configuration Error: Invalid Configuration" :(

[2017-12-05 13:52] dhoomakethu commented on #250
Could you upload the saved the configuration here please ?

[2017-12-05 13:55] MazoSergey commented on #250
For sure! Here it is:
[conf.txt](https://github.com/riptideio/pymodbus/files/1531316/conf.txt)

[2017-12-06 07:54] rahulraghu94 commented on #250
Hello @MazoSergey,

Could you please try [this branch](https://github.com/riptideio/pymodbus/tree/%23250-fix-scraper-simulator) on your config file?
I contains a fix that worked. Please let us know :)

[2017-12-06 08:23] MazoSergey commented on #250
Hello @rahulraghu94,
Thank you very much guys for your support. I tried to use an updated modbus-simulator. Now it is started, but it seems that simulator does not take correct date from map dump. I've make a dump of PLC with 400001 = 111, 400002 = 222, but in simulator i see only zeros :(

[2017-12-07 07:16] ltcasg commented on #247
For all having the same issue as mine, here is the way I used to solve it:

In the server script, initialize the server with its IP address and a port > 1024
[code]

open a LXTerminal window and execute:
[code]
then launch the server script.

Test with a MODBUS/TCP client and result on wireshark
![image](https://user-images.githubusercontent.com/34121979/33702863-bdb645de-db25-11e7-91f6-3112e80fb9

[2017-12-14 11:29] josemariasecurity commented on #248
Hi!

Firstly, congratulations for your library.

Sorry, I integrated some lines of your example (https://github.com/riptideio/pymodbus/blob/master/examples/common/modbus-payload.py) to write a float. But I have the following error. The output (script) is as follows.

Received data from USB: 25.3486633300
DEBUG:pymodbus.transaction:Running transaction 1
DEBUG:pymodbus.transaction:send: 0x0 0x1 0x0

[2017-12-15 09:18] dhoomakethu commented on #248
Hello @josemariasecurity sorry for the delayed response. You are using `write_register` method from the client instead of `write_registers`. `write_register` is to be used only when writing a single register (16 bits/2 bytes max) , you are creating a 32 bit float which basically is 2 registers (32 bits/4 bytes).
Here is the change you need to make

`rq = client.write_registers(2, payload, skip_enc

[2017-12-19 05:34] dhoomakethu commented on #114
Will be fixed as part of 1.4.0 Refer #251

[2017-12-19 05:34] #114 closed

[2017-12-20 17:29] dhoomakethu commented on #210
@ghost, I have removed all unwanted files from the doc folder in this branch [tar-ball-without-docs](https://github.com/riptideio/pymodbus/tree/tar-ball-without-docs) . Please give it a try and see if that addresses your requirement with this issue. Sorry for keeping it open for a long time.

[2017-12-22 10:09] dhoomakethu commented on #209
There is a new version available on PyPI just in case somebody wants to give a try
`pip install pymodbus==1.4.0rc2`

[2017-12-22 10:18] dhoomakethu commented on #245
Thanks @rahulraghu94 , merged

[2017-12-22 10:18] #245 closed

[2017-12-22 10:22] dhoomakethu commented on #98
@dmosberger Could you please verify with the latest changes on `dev` branch or you can also try the pre-release 1.4.0rc2 either from github or from pypi `pip install pymodbus==1.4.0rc2` or `pip install https://github.com/riptideio/pymodbus/archive/v1.4.0rc2.tar.gz`

[2017-12-22 12:37] rahulraghu94 commented on #250
Hello @MazoSergey , can you provide code excerpts, output and logs appended to the problem you're facing?

[2017-12-22 12:51] #85 closed

[2017-12-22 12:59] #49 closed

[2017-12-23 06:58] dhoomakethu commented on #68
Already addressed with #251

[2017-12-23 06:58] #68 closed

[2017-12-23 07:01] #83 closed

[2017-12-23 07:15] dhoomakethu opened #254 "Prepare for 2.0.0"
Following issues would be covered and will be updated on need basis
This would cover as an Epic to cover all open tasks pending with PyModbus for 2.0.0 release. Please do not close this issue . All new Issues to be mentioned/referenced here.

- [x] Check #37
- [x] Check #47
~~- [ ] Check #93~~ --> Moved to next release
- [x] Check #138
- [x] Fix #160
- [x] Fix #212
- [ ] Fix #220
- [x] Fix #221
~~

[2017-12-23 07:16] #116 closed

[2017-12-23 07:21] dhoomakethu commented on #60
@picarro-cvala There is a new pre  release available 1.4.0rc2 both on PyPI and Github with the fix to this issue. I will close this issue as of now, Please feel free to re-open if you still think the issue is not fixed. Sorry for the delay with the release.
`pip install pymodbus==1.4.0rc2`

[2017-12-23 07:21] #60 closed

[2017-12-23 07:24] dhoomakethu commented on #38
Already handled as part of 1.4.0 release

[2017-12-23 07:24] #38 closed

[2017-12-23 07:27] dhoomakethu commented on #37
Good one to enhance and fix

[2017-12-23 11:21] MazoSergey commented on #250
Again thanks guys! Tomorrow i will be on the work and will provide all needed information...

[2017-12-26 12:13] dhoomakethu opened #255 "Payload decoder errors when using Little endian"
### Versions

* Python: 3.5
* OS:OSX
* Pymodbus: 1.4.0rc2
* Modbus Hardware (if used):

### Description
When decoding registers with binary payload decoder with little endian data the values are decoded incorrectly.

### Code and Logs

[code]

[2017-12-26 12:40] #255 closed

[2017-12-26 15:22] MazoSergey commented on #250
Hello and sorry for delay guys. So I am trying to use files from #250-fix-scraper-simulator brunch: `pymodbus/examples/contrib/modbus-scraper.py -c data -s 172.27.248.33` against MOD_RSim Version 8.20. After that I am executing `pymodbus/examples/contrib/modbus-simulator.py -c data -D` and trying to connect with ModScan32. But as the result I did success to connect to the simulator but all data is

[2017-12-26 15:31] MazoSergey commented on #250
After I tried to scrape a real PLC I've got an error:

[scraper_log (real_PLC).txt](https://github.com/riptideio/pymodbus/files/1587516/scraper_log.real_PLC.txt)

[2017-12-26 15:33] rahulraghu94 commented on #250
@MazoSergey , thanks for the information! I'll have a closer look ASAP and get back to you :)

[2018-01-02 19:22] picarro-cvala commented on #60
@dhoomakethu Sounds good.

[2018-01-03 05:59] rahulraghu94 commented on #93
@neldog2, sorry for the (very :P) late response.
If you're still facing this issue, it looks like you're calling `transport.loseConnection()` before the entire message transaction can complete. Consider attempting the same with a longer delay or using [task.deferLater](http://twistedmatrix.com/documents/12.1.0/core/howto/time.html) as @glinders is suggesting.

Closing for now. Reopen if you face t

[2018-01-03 05:59] #93 closed

[2018-01-03 07:15] #209 closed

[2018-01-03 07:16] #210 closed

[2018-01-03 07:16] #190 closed

[2018-01-03 07:16] #138 closed

[2018-01-03 07:16] #135 closed

[2018-01-04 07:11] rahulraghu94 commented on #160
Hello, I'm unable to reproduce this problem as of the new `pymodbus 1.4.0` release and will be closing this now.

If you are still facing this issue, feel free to reopen this and make sure you leave your **code excerpts**, **logs**, **expected outputs** and anything else that can help us track the problem.

Thanks :)

[2018-01-04 07:11] #160 closed

[2018-01-04 15:22] Kudie86 opened #256 "Modbus TCP Transaction ID >255"
### Versions

* Python: 2.7
* OS:
* Pymodbus: 1.4

### Pymodbus Specific
* Server: tcp - async
* Client: tcp - sync

### Description

Hello,

I have a async modbus TCP server running on a RaspberryPi and a windows computer as a sync client. With pymodbus 1.4.0 the server stops responding after several time, which is not the case with pymodbus 1.3.2. I checked with wireshark and found out that the

[2018-01-04 15:53] dhoomakethu commented on #256
Could you please attach the debug logs for both client and server.

[2018-01-04 16:45] Kudie86 commented on #256
[logging_client.log](https://github.com/riptideio/pymodbus/files/1604001/logging_client.log)
[logging_server.log](https://github.com/riptideio/pymodbus/files/1604002/logging_server.log)

Attached the logs.
The client has a timeout at transaction 256 (row 1793). The position where the server stops is in row 2983 in the server log.
I use a single thread (threading library) to read data out of the da

[2018-01-04 17:24] dhoomakethu commented on #256
Got it thanks, I could reproduce the b issue and found out the reason. Will give you a patch by tomorrow

[2018-01-05 04:42] dhoomakethu opened #257 "PEP-8 Compliant code"
Make Pymodbus PEP-8 compliant

[2018-01-05 04:54] dhoomakethu commented on #256
@Kudie86 Please use this branch and see if it fixes your issue.
https://github.com/riptideio/pymodbus/tree/%23256-Fix-TCP-Server-Transactions

[2018-01-05 06:10] rahulraghu94 commented on #257
Yikes. This going to take a while :P

[2018-01-05 08:12] Kudie86 commented on #256
Great, it is working now! Thanks!

[2018-01-05 08:12] #256 closed

[2018-01-08 08:48] rahulraghu94 commented on #250
Hello @MazoSergey,

I'm using the config file you have uploaded here and am checking few of the values. They seem to be holding values. Are you using the message-parsers unser `examples/contrib/message-parser.py` to decode your message?

[code]

[2018-01-08 14:08] #82 closed

[2018-01-09 15:00] fluffyfury opened #260 "Version 1.4.0 throws error for leading 0x1 messages, but works fine under version 1.3.2"
### Versions

* Python: 3.5.3
* OS: Raspbian Stretch
* Pymodbus: 1.4.0 / 1.3.2
* Modbus Hardware (if used):

### Pymodbus Specific
* Server: tcp - async
* Client: tcp/rtu - sync/async

### Description

Since upgrading pymodbus to v.1.4.0 the client works fine for a while and then throws an "ERROR   :[Failure instance: Traceback (failure with no frames): <class 'pymodbus.exceptions.ConnectionExcept

[2018-01-09 15:32] dhoomakethu commented on #260
Could you give a try with this branch please https://github.com/riptideio/pymodbus/tree/%23256-Fix-TCP-Server-Transactions

[2018-01-09 19:23] ruwido opened #261 "Serial Server RS485 - Interrupted receivemessage"
Hi,

i am simulating a modbus slave on my computer with pymodbus. The slave is connected over a usb to 485 converter to a real modbus master.

 ### Versions
* Python: 3.4
* OS: Win7 Pro
* Pymodbus: 1.4
* Modbus Hardware (if used): real master

### Pymodbus Specific
* Server: serial - sync

### Description
Everything works fine, but if i simulate a slave with more datapoints (e.g. 24 32bit input re

[2018-01-10 07:55] rahulraghu94 commented on #261
@ruwido , could you provide more information on how you're generating the slaves (`self.slaves`) while creating the `ModbusServerContext`?

[2018-01-10 08:49] ruwido commented on #261
Thanks for your answere!

Her is a Screenshot:
![image](https://user-images.githubusercontent.com/35272727/34763022-2601edd0-f5ea-11e7-8870-950ce244befb.png)

I have a dict with single datablocks. Cause i am simulating more slaves on one com-port i put the dicts from every slave in a list (self.list_DataBlockDisc).
Also i have a list with all Slave id's.
In the Screenshot you can see that i am ite

[2018-01-10 11:35] fluffyfury commented on #260
This branch seems to work fine. It is still running and has passed all the messages leading with 0x1.

[2018-01-10 11:35] #260 closed

[2018-01-11 10:56] bfabio opened #263 "NameError: global name 'TimeoutError' is not defined"
### Versions

* Python: 2.7.13
* OS: GNU/Linux
* Pymodbus: 1.4.0

### Description

Pymodbus 1.4.0 raises a `NameError` when using Python 2 because `TimeoutError` was added in Python 3.3.

### Code and Logs

[code]

[2018-01-11 12:14] #263 closed

[2018-01-11 12:38] #250 closed

[2018-01-18 20:33] shayden-- commented on #232
Hello,

Our group is currently using a Trio MC4N-ECAT and we are encountering the same errors. I've taken many packet captures and it appears that the Trio TCP stack will occasionally fragment a Modbus ADU across two TCP segments. If the fragment is an incomplete packet but larger than 0x7, then Error1 occurrs. If the fragments is less than 0x7, it causes Error2.

I forked the repo and created an

[2018-01-19 01:58] dhoomakethu commented on #232
@shayden-- Thanks for the patch, will have a look in to it. Please raise a PR against `dev` branch when ready.

[2018-01-22 23:21] gordio commented on #122
@tusharvb19 `ReadCoilsResponse` not contain`registers`, check `coils` property.

[2018-01-26 10:57] dhoomakethu commented on #37
Will be handled as part of 1.5.0

[2018-01-26 10:57] #37 closed

[2018-02-05 11:38] josemariasecurity opened #271 "TypeError: __init___() got an unexpected keyword argument 'endian'"
Hi!

Firstly, congratulations for your work. Sorry, I have this error when I use your code. I attach an image with the error: http://es.tinypic.com/view.php?pic=2925oht&s=9

Thank you. Regards.

[2018-02-05 11:57] rahulraghu94 commented on #271
@josemariasecurity, `BinaryPayloadBuilder` takes arguments `payload`, `byteorder` and `wordorder`.
Endian as an argument is no longer supported!

Eg:
`>>> builder = BinaryPayloadBuilder(byteorder=Endian.Little)`

Do let us know if you face any other problems

[2018-02-05 14:43] #271 closed

[2018-02-06 14:16] duliba opened #272 "pymodbus 1.3.2 source not available on PyPI"
### Versions

* Python: pypy 5.6.0
* OS: MacOS Sierra
* Pymodbus: 1.3.2

### Pymodbus Specific
pymodbus version 1.3.2

### Description
I was trying to download the source for pymodbus 1.3.2 via pip, but apparently it's not available in the worldwide PyPI index servers. Here's what I wanted to do and failed:
pypy -m pip download --no-binary :all: pymodbus==1.3.2

To work around it, I'm using this:

[2018-02-06 15:59] dhoomakethu commented on #272
It is available on pypi https://pypi.python.org/pypi/pymodbus/1.3.2 .

[2018-02-06 17:36] duliba commented on #272
It's available there, but it's not the source version - it's a wheel (binary). Earlier versions, like pymodbus 1.2.0, have a tar.gz file instead (which is source code). It doesn't have to do with pypy compatibility, we're just talking about downloading the package.

[2018-02-07 04:32] dhoomakethu commented on #272
@duliba thanks for the clarification, starting from 1.3.x we are only uploading universal wheels to pypi. You can download the source from the [releases](https://github.com/riptideio/pymodbus/releases) . Is there a reason why you need the source . Let me know if you are having any issues using the wheel.

[2018-02-09 12:08] dhoomakethu commented on #272
@duliba I will be closing this issue. Please feel free to re-open if you don't find the answer satisfactory.

[2018-02-09 13:49] BitBoxLtd opened #273 "write_registers() stalls when using serial"
write_registers() stalls when using serial.

Log shows that read was waiting for 1024 bytes of response but received 8.
Copying get_response_pdu_size() method from WriteSingleRegisterRequest class to WriteMultipleRegistersRequest class appears to fix it.

Python v3.4.4
pymodbus v1.4.0
pyserial v3.4

[2018-02-09 13:52] rahulraghu94 commented on #273
Could you please raise a pull request against dev branch if you have a fix?

[2018-02-09 14:30] BitBoxLtd commented on #273
This is a duplicate of #267 - closing.

[2018-02-09 14:30] #273 closed

[2018-02-09 15:22] #272 closed

[2018-02-20 16:08] timothyarnold1983 opened #274 "field device hangs - physical reset required."
### Versions

* Python: 2.6
* OS: Linux (Centos 7)
* Pymodbus: 1.1.0
* Modbus Hardware (if used):  Starline CPM

### Pymodbus Specific
* Server: tcp - sync
* Client: rtu/ascii - sync

### Description

We have been successfully monitoring a significant number of modbus devices using Moxa TCP/IP Gateways and RTU Field units. We've recently integrated starline CPM modules and we've found after a rand

[2018-02-21 03:53] dhoomakethu commented on #274
@timothyarnold1983 Are you having problems with both pymodbus client and server ? Any logs would be helpful.

Also note, you are using a very old version of pymodbus (1.1.0) and unsupported version of python (2.6). You can still go ahead and use pymodbus 1.3.2 but it is not tested on 2.6 so things can break.

[2018-02-21 07:26] timothyarnold1983 commented on #274
The only symptom is the remote field device is hanging at random times and is unrecoverable - simply no longer responds to any Modbus requests  until physically reset. We have 250+ other manufacturers field devices and have had zero issues!

Noted on the old version and we will test the new version at some point. It's a case that it currently works. We are successfully polling 5000+ registers ever

[2018-02-21 09:04] dhoomakethu commented on #274
@timothyarnold1983 Thanks, I will just keep this issue open for some more time . Please share any logs if available.

[2018-03-03 21:38] muhlbaier opened #276 "version 1.4.0 TCP connection closed after 256 messages"
### Versions

* Python: 2.7.14
* OS: Windows 7 64 bit
* Pymodbus: 1.4.0 (this issue is introduced with 1.4.0)
* Modbus Hardware (if used): none, TCP / localhost

### Pymodbus Specific
* Server: tcp - async
* Client: tcp - async

### Description

I have a client that connects to a server and reads a bunch of registers using:

Note: count is between 1 and 4
rr = client.read_input_registers(address,

[2018-03-04 06:42] dhoomakethu commented on #276
This is same as #256 and #260 . A fix is available on this [branch](https://github.com/riptideio/pymodbus/tree/%23256-Fix-TCP-Server-Transactions) . I will try to get this in to the next release asap. Please give a try on the above mentioned branch . I will be closing this issue as of now .

[2018-03-04 06:42] #276 closed

[2018-03-04 10:15] mrcreatd opened #277 "Problem with receiving MEI message (udp sync rtu)"
I have a problem with receiving MEI message, when use UDP sync client and RtuFramer.
### Versions
* Python 3.5.2 / Python 3.6.2
* OS: Ubuntu 16.04.4 LTS / Microsoft Windows [Version 10.0.10586]
* Pymodbus: 1.4.0
* Modbus Hardware (if used): RS-485 unit (slave) connected to hardware virtual serail gateway (ethernet)
### Here comes a snippet of the code:

[code]
I don't have any problems with read_h

[2018-03-06 10:39] kierun opened #278 "Async server might get the wrong UID from the incoming packet."
### Versions

* Python: 2.7.5
* OS: CentOS Linux release 7.4.1708 (Core)
* Pymodbus: 1.4.0
* Modbus Hardware (if used):  N.A.

### Pymodbus Specific
* Server: tcp - async -- Python using pymodbus.
* Client: tcp - async -- C++, external code.

### Description

I have a python async server and I am using that to test a C++ client.

Note that the client works fine with the hardware. I am writing a si

[2018-03-06 10:48] kierun commented on #278
If this is indeed a bug, I am happy to write a PR. Probably the shortest PR ever, but still. ☺

[2018-03-06 11:22] dhoomakethu commented on #278
@kierun Please check the branch https://github.com/riptideio/pymodbus/compare/%23256-Fix-TCP-Server-Transactions#diff-ee743422eb414b680c3227dab6427f4aL62, there is a fix for this already (only for TCP but breaks for RTU). I will get this to 1.5.0 ASAP.
Thanks

[2018-03-06 11:28] kierun commented on #278
I might have found a bug in the fix…

The sync version does scale the uid to a zero index. However, the async version does not.

[2018-03-06 11:31] dhoomakethu commented on #278
Thanks for the report. The fix is still work under progress and that's the reason it is still lying around for some time. I am short of hands and time. I will try to see if this is addressed asap. If you think you have a solution which works for both sync and async versions, please feel free to raise a PR.

[2018-03-06 11:37] kierun commented on #278
I am wrong. You can set the `ModbusServerContext`'s slaves to use whatever index you want. I should do that, not munge incoming data.

I should be doing this:

[code]

Where `get_data` reads the data from a ConfigObj initialisation file and should not impact anything here.

---

Are you happy to leave this open till 1.5.0 is released?

[2018-03-06 11:43] dhoomakethu commented on #278
Yup, I don't mind. I Might have a release by the end of this month though.

[2018-03-06 11:48] kierun commented on #278
That would be great.  Many thanks indeed for your efforts and quick replies. Much appreciated.