[2020-07-20 10:52] warfery opened #514 "Asynchronous Server Example doesn't work for RTU server"
### Versions

* Python: 2.7.2, 3.8.1
* OS: Windows 10
* Pymodbus: 2.3.0
* Modbus Hardware (if used):

### Pymodbus Specific
* Server: rtu - async

### Description

I'm trying to run script from Asynchronous Server Example. Default TCP example is working correctly but when i change server to RTU then i got following error:

### Code and Logs

[code]
My code:
[code]

[2020-07-20 12:10] dhoomakethu commented on #514
This should be fixed in this branch https://github.com/riptideio/pymodbus/tree/asyncio-bug-fixes .Please give it a try

[2020-07-21 18:53] MatthewBoeding opened #515 "Broadcast error on repl client"
### Versions

* Python: 2.7.16
* OS: Debian (Raspberry Pi OS)
* Pymodbus: 2.3.0
* Modbus Hardware (if used): pymodbus client with two pymodbus servers running on RPi's

### Pymodbus Specific
* Server: rtu - sync
* Client: rtu - repl

### Description

I currently have a RS-485 bus with 3 Raspberry Pi each running pymodbus (1 master/client and 2 slaves/servers). I want to be able to read device info

[2020-07-23 19:42] kile9 opened #516 "Custom Datablock Issue"
I'm trying to develop custom datablock functionality using pyModbus and am following the example in the documentation: https://pymodbus.readthedocs.io/en/latest/source/example/custom_datablock.html

Unlike the example, I'm using the serial server (StartSerialServer) with RTU framer.
`StartSerialServer(context, framer=ModbusRtuFramer, identity=identity)`

When I run the code, I get errors every tim

[2020-07-24 08:35] dhoomakethu commented on #516
It is because you are calling the `get_value` from the parent of `ModbusSparseDataBlock` which has these methods unimplemented.  If you change `super(ModbusSparseDataBlock, self).getValues(address, values)` to `super(CustomDataBlock, self).getValues(address, values)` . Your example should work as expected.

[2020-07-24 08:35] #516 closed

[2020-07-24 10:05] tracernz commented on #516
Also need to implement validate I think? Unless you only want the registers passed into the ModbusSparseDataBlock initialiser to work.

[2020-07-28 13:31] kile9 commented on #516
Thanks, everyone. Would you like me to correct the example?

[2020-07-28 13:46] dhoomakethu commented on #516
@kile9 it will be taken care in the next release, if you have the code ready.Please raise a PR.

[2020-07-31 14:44] szarkadani opened #518 "RTU Async Server not working properly"
## Versions

* Python: 3.7.3
* OS: Raspbian GNU/Linux 10
* Pymodbus: 2.3
* Modbus Hardware: Waveshare can rs485 hat

### Pymodbus Specific
* Server: rtu - async
* Client: rtu- sync

### Description
I'm using 2 Pis for server and client over RTU.
I want to make a server that updates some registers from redis and the client just reads it, but before trying to achieve the loop and a redis get I want

[2020-08-01 09:48] BullT opened #519 "Pymodbus DE/RE RS485 pin control"
Hi,

How can I control the DE/RE pin in my RS485 board if I using the Pymodbus library?

Can I configure the Pymodbus for use the DE/RE pin automaticly?

Thanks, XCO

[2020-08-01 11:44] dhoomakethu commented on #518
Pymodbus should work with any baudrate host is supports. The problem with serial ports is that you will have to make the lines are terminated properly. Your best would be to go with TCP server/Client. Also, you can check if the received response is error with `rr.isError()` and discard those responses.

[2020-08-01 11:46] dhoomakethu commented on #519
Pymodbus uses pyserial to communicate over serial bus and accepts all the parameters pyserial takes . Refer https://pyserial.readthedocs.io/en/latest/pyserial_api.html#serial.Serial .

[2020-08-01 13:05] abdulmannanrauf opened #521 "customized Modbus protocol implementation."
I need to implement a customized Modbus protocol implementation with pymodbus.
The message structure to read the hold register data is:

address (1byte) + func code (1byte) + Serial No:(10 bytes)               +      start reg: address (2 bytes) +length ( 2bytes)+ checksum

    00                      03                          31 32 31 34 33 32 34 33 35 33              00 00

[2020-08-01 13:32] dhoomakethu commented on #521
You will have to create a custom framer with your requirements deriving from `ModbusFramer` or in your case `ModbusRtuFramer` class and implement the required methods. Refer https://github.com/riptideio/pymodbus/tree/master/pymodbus/framer for the examples.

[2020-08-01 21:12] szarkadani commented on #518
Serial is a must, I won't go with TCP. I'm going to check response error, but the question is why did it work for the 3rd time and if I change the baud rate why would the server receive the messages in more parts?
I mean you can see the first 2 response from the server is way different than the 3rd. If I change the baud rate, the error from Data Received: 0x1 0x3 0x0 0x1 0x0 0x1 0xd5 0xca goes to

[2020-08-02 00:23] abdulmannanrauf commented on #521
Many Thanks @dhoomakethu. I spent quite some time on it however still struggling. Can you also help by sharing an example simulation (generator) using rtuframer.py  . i.e https://github.com/riptideio/pymodbus/blob/master/pymodbus/framer/rtu_framer.py

I  would like to test the example with virtual serial port driver (implementing both master and slave).

Thank a lot

[2020-08-04 07:11] szarkadani commented on #518
Update: Version: 2.4.0rc1 working flawlessly with baud rate 19200. 👍

[2020-08-04 07:11] #518 closed

[2020-08-07 07:00] luli440 opened #522 "client.read_holding_registers（）Why can't a single device read more than 120 points"
### Versions

* Python:
* OS:
* Pymodbus:
* Modbus Hardware (if used):

### Pymodbus Specific
* Server: tcp/rtu/ascii - sync/async
* Client: tcp/rtu/ascii - sync/async

### Description

What were you trying, what has happened, what went wrong, and what did you expect?

### Code and Logs

[code]

[2020-08-07 07:26] xvart commented on #522
I guess read the spec, there is a maximum packet length defined for response to function code 23(0x17) of 8bits so 256 bytes which works out to around 120 registers.

Weirdly had some one from Schneider ask this same question.

[2020-08-07 07:29] luli440 commented on #522
Where can I change the maximum packet length?

[2020-08-07 12:55] tracernz commented on #522
You can read 125 registers or 2000 coils, per the [protocol specification](https://modbus.org/docs/Modbus_Application_Protocol_V1_1b3.pdf).

[2020-08-07 15:27] AnkitaPadma opened #523 "IS there any system configuration requirements for running pymodbus efficiently?"
### Versions

* Python: 3.8.3
* OS: Windows 10 / 16gb
* Pymodbus:2.3.0

When used the same setup in 32gb RAM  - the speed of communication was pretty fast.
But when switched to 16gb RAM - the speed has reduced drastically.

has anyone faced this issue previously?

[2020-08-07 15:31] AnkitaPadma commented on #523
@dhoomakethu  Do you have any idea about this. Please suggest

[2020-08-07 17:14] #522 closed

[2020-08-07 17:16] dhoomakethu commented on #523
What client are you talking about here ? Can you provide more information on your observation? What was the metrics used to identify the slowing down of communication?

[2020-08-10 15:36] Fnikan opened #524 "ReadDeviceInformationRequest (Frame check failed, ignoring!!)"
### Versions

* Python:3.7
* OS:Windows
* Pymodbus: RTU
* Modbus Hardware (if used): RS485 USB

### Pymodbus Specific

* Client: rtu

### Description

Hi,
i want to get the device identifications from a DGZ-meter [https://www.dzg.de/fileadmin/dzg/content/downloads/produkte-zaehler/dvh4013/DZG_Modbus_Protocol.pdf](url) but i get frame check failure.
actually what i recieve as the buffer is correct.

[2020-08-11 10:55] Abbad-Zafar opened #525 "Read RTU Holding Register through Serial Forwarder/TCP."
I have Energy Meter connected through RTU and able to get holding registers data through simple RTU Code.
Now i want to make Convert this RTU to TCP through Forwarder. I want to send data to TCP which forwards the command to RTU and fetches data for me.

I have implement the Forwarder code just dont know how to fetch the holding register of RTU through it.

**Code for Simple RTU Read**

[2020-08-11 11:04] Abbad-Zafar commented on #525
@dhoomakethu

[2020-08-11 12:06] dhoomakethu commented on #525
@Abbad-Zafar Do you get any errors when using the serial_forwarder example? Any logs would be helpful.

[2020-08-11 12:17] dhoomakethu commented on #525
The serial_forwarder example basically ignores the slave-id's (refer `single=True`) . If you want to make the forwarder specific to your device address, you will have to do something like `context = ModbusServerContext(slaves={<device_id>: store, single=False)` . This would make the serial forwarder work only for the device id specified, If you want to handle multiple devices then keep updating th

[2020-08-11 12:38] Abbad-Zafar commented on #525
Thanks for the reply Sir
Here is Code of Forwarder that i am now using :
    client = ModbusClient(method='rtu', port='/dev/ttyUSB0')
    store = RemoteSlaveContext(client)
    context = ModbusServerContext(slaves = {0x01: store}, single=False)
    # ----------------------------------------------------------------------- #
    # run the server you want
    # ---------------------------------------

[2020-08-11 12:39] Abbad-Zafar commented on #525
My Device Id is 0x01 or 1. The register address is also fine because i have tested it with simple RTU read code.

[2020-08-11 12:41] dhoomakethu commented on #525
Illegal address is when you try to access the wrong register offsets. Are
you sure the reading works directly with serial clients? Can you share the
logs with serial client accessing directly and with serial forwarder please?

ಮಂಗಳ, ಆಗ 11, 2020 18:08 ದಿನಾಂಕದಂದು Abbad Zafar <notifications@github.com>
ಅವರು ಬರೆದಿದ್ದಾರೆ:

[2020-08-11 12:44] Abbad-Zafar commented on #525
Yes Sir it working fine with simple RTU Read.
Simple RTU Read Code:
client = ModbusClient(method='rtu', port='/dev/ttyUSB0', baudrate=9600, timeout=0.5)

client.connect()

read=client.read_holding_registers(address = 0x0010, count =2, unit=1)

data=read.registers

print(data) #print register data

client.close()

It returns  [0, 226]

[2020-08-11 12:48] Abbad-Zafar commented on #525
**Log of siple RTU Read:**

**Log of Forwarder:**
DEBUG:pymodbus.server.sync:Started thread to serve client at ('127.0.0.1', 54467)
DEBUG:pymodbus.server.sync:Client Connected [127.0.0.1:54467]
DEBUG:pymodbus.server.sync:Handling data: 0x0 0x1 0x0 0x0 0x0 0x6 0x1 0x3 0x0 0x1 0x0 0x41
DEBUG:pymodbus.framer.socket_framer:Processing: 0x0 0x1 0x0 0x0 0x0 0x6 0x1 0x3 0x0 0x1 0x0 0x41
DEBUG:pymodbus.fac

[2020-08-11 14:03] dhoomakethu commented on #525
Thanks, My guess is that the `offset` and `count` combination you are using with serial forwarder is invalid. Can you try the reads when using the serial forwarder `(address=0x10, count=2, unit=1)` and  `(address=0x01, count=0x41, unit=1)` directly with serial client.  Please share the modbus specs ,if you have it handy,

[2020-08-11 14:16] Abbad-Zafar commented on #525
- using the serial forwarder (address=0x10, count=2, unit=1) NOT WORKING same Error.
- using Serial Client (address=0x01, count=0x41, unit=1) Working and getting response  [0, 1, 0, 1, 0, 1].

using this energy meter, reading voltage at address 0010:
https://owen-brothers.co.uk/pub/media/wysiwyg/OB418_User_Manual.pdf

[2020-08-11 15:32] dhoomakethu commented on #525
Hmm, interesting, can you share the logs for serial forwarder for `(address=0x10, count=2, unit=1)` ? and logs for serial client for `(address=0x01, count=0x41, unit=1) ` for comparision.

[2020-08-11 15:34] dhoomakethu commented on #525
Also just for testing, can you try serial_forwarder with address +/- 1 compared to what you will do with regular serial client i.e use address (0xf and 0x11).

[2020-08-12 07:45] Abbad-Zafar commented on #525
**logs for serial forwarder for (address=0x10, count=2, unit=1)**

**Logs for Serial RTU  for (address=0x01, count=0x41, unit=1)**

[2020-08-12 08:28] Abbad-Zafar commented on #525
@dhoomakethu Have you yourself tested any Serial forwarder code to forward rtu to tcp ? If yes could you send me that. Thanks

[2020-08-12 09:15] dhoomakethu commented on #525
@Abbad-Zafar I think your serial forwarder is working fine.  Looks like you are using wrong function code while polling tcp server. I see you are using function code 4 (Read Input Register) while reading from the forwarder.

Please try these against the tcp server

[code]
This seems to be a invalid request `address = 0x001, count =65, unit=1` . I did not see any registers starting at address `0`.

[2020-08-12 09:51] Abbad-Zafar commented on #525
Sir i am sending you code again..
**Code of RTU Forwarder to TCP:**

**Logs of this code :**

**Code for Reading from Tcp forwarder:**

**Log of this code:**

[2020-08-12 10:55] Abbad-Zafar commented on #525
@dhoomakethu can there be RTUFramer issue ?

[2020-08-12 12:42] Abbad-Zafar commented on #525
Sir again getting same errors.
**Code of RTU Forwarder to TCP:**

**Logging Data of this Code:**

**Code of RTU to TCP Reciever:**

**Log of this code:**

[2020-08-12 14:21] dhoomakethu commented on #525
@Abbad-Zafar I see you are missing `unit` in your `RemoteSlaveContext` can you change it to `store = RemoteSlaveContext(client, unit=1)` and try. This should work.

[2020-08-13 03:53] dhoomakethu commented on #524
What version of pymodbus is this ? You are not getting the complete response back from the device and there is a CRC checksum failure.

[2020-08-13 07:45] Abbad-Zafar commented on #525
Sir there is some progress but receiving new errors can you please look into it. Thanks

**Code of Serial Forwarder:**

**Log of this code:**

**Code of Receiver:**

**Log of this Code:**

[2020-08-13 08:05] Abbad-Zafar commented on #525
Thanks Sir i got it working with the above code .. Sometimes it gives the correct Handling_register value sometimes it gives the error above.

[2020-08-13 08:28] Abbad-Zafar commented on #525
print(read.registers)
AttributeError: 'ModbusIOException' object has no attribute 'registers'
Sometimes i get this error on receiver side .. sometime it works fine . Can you idetify the problem ? Thanks

[2020-08-13 08:52] Abbad-Zafar commented on #525
When the Code is working

**Forwarder Log:**

**Receiver Log:**

[2020-08-13 09:42] dhoomakethu commented on #525
You can use `read.isError()` to check if you are getting valid response or error response and process accordingly.

[2020-08-13 09:42] dhoomakethu commented on #525
@Abbad-Zafar Will be closing this issue.

[2020-08-13 09:42] #525 closed

[2020-08-13 10:04] Abbad-Zafar commented on #525
OK Sir Thanks for your help.

[2020-08-13 11:11] Abbad-Zafar commented on #525
@dhoomakethu i am getting error response. getting socket error as i have posted previously. Could you help me in it ?

[2020-08-16 13:05] AnkitaPadma commented on #523
@dhoomakethu - So I m using pymodbus with django rest framework. So what I noticed was that first time when I had installed pymodbus on my laptop the performance was very good..as to the read and write operations. The speed was decent.

Now when I reinstalled the setup in new laptop, the communication speed has slowed down to a large extent, that the reads itself for a single register is taking ov

[2020-08-16 17:29] NagarjunaReddy1242 opened #526 "how to read ascii data using pymodbus"
how can I read ASCII data using pymodbus library?

[2020-08-17 07:57] Abbad-Zafar opened #527 "Getting Socket errors most of time when getting response"
### Versions

* Python: v3
* OS: Raspbian
* Pymodbus: Latest
* Modbus Hardware (if used): OB418 https://owen-brothers.co.uk/pub/media/wysiwyg/OB418_User_Manual.pdf

### Pymodbus Specific
* Server: RTU to TCP Forwarder
* Client: Read TCP Register by sending request to Forwarder

### Description

I am using RTU to TCP Forwarder. Sometimes it fetches the right register value but most of the times it

[2020-08-17 08:25] Abbad-Zafar commented on #527
@dhoomakethu

[2020-08-17 08:26] Abbad-Zafar commented on #527
Have changed the timeout but no change still getting error most of time. Sometimes i get the correct register value otherwise errors

[2020-08-17 08:56] dhoomakethu commented on #527
It also depends on how fast you are querying the results. The general practice is to poll every <n> seconds where n>read timeout . Pymodbus generally is the mediator and sometime the slave unit is not quick enough to handle multiple request with in a short spawn of time.

[2020-08-17 08:58] dhoomakethu commented on #526
`client = ModbusClient(method='ascii', port='/dev/ptyp0', timeout=1)`
Refer https://pymodbus.readthedocs.io/en/latest/source/example/synchronous_client.html

[2020-08-17 09:00] Abbad-Zafar commented on #527
Sir mostly when i turn on Energy Meter and send the single request but it still gives me error.

[2020-08-17 09:02] dhoomakethu commented on #523
@AnkitaPadma Can you run this script https://pymodbus.readthedocs.io/en/latest/source/example/performance.html ? Please update the script with correct serial settings and register offsets. I am not sure how you are using pymodbus in your code. When you say the it works perfectly fine with modbus tool or minimal modbus , are you running the same code (read your application) with pymodbus replaced w

[2020-08-17 09:05] dhoomakethu commented on #527
Your logs says there is no response received, could be that the slave is still not ready. Can you write a simple code which polls the meter every <n> seconds and log the number of failures against the success cases. That should provide you more inputs on what could be happening. Also , is this the issue faced only with the forwarder or is the same issue observed with standl alone RTU client as wel

[2020-08-17 09:12] Abbad-Zafar commented on #527
No Sir standalone RTU works fine ... Okay Sir i will write code to poll meter every seconds

[2020-08-17 11:21] dcneeme opened #528 "example scripts for async usage with tornado?"
Could anybody confirm that the example scripts (linked below) to test async pymodbus with tornado are still valid for pymodbus 2.3.0 - 2.4.0 (have problems)? If not, has anyone a working script (both rtu and tcp are of interest)?

https://pymodbus.readthedocs.io/en/latest/source/example/async_tornado_client.html
https://pymodbus.readthedocs.io/en/latest/source/example/async_tornado_client_serial.h

[2020-08-17 11:36] Abbad-Zafar commented on #527
Sir tried this code. But it stops as i get error. Do you know how to get it looping to log failure and success cases?

[2020-08-17 11:41] AnkitaPadma commented on #523
@dhoomakethu Yes using the same code, by just changing the library from pymodbus to minimal
For reference

 Pymodbus code:
    client = ModbusSerialClient(
        method='rtu',
        port=meter.port,
        baudrate=9600,
        timeout=60,
        parity='N',
        stopbits=2,
        bytesize=8
    )
    if client.connect():
        readVal = client.read_input_registers(reg.regAddress, 2,

[2020-08-17 12:35] Abbad-Zafar commented on #527
Sir sometimes it reads successfully the registers in 1 seconds. and sometimes it doesn't. Cant identify the problem

[2020-08-17 13:54] dhoomakethu commented on #528
what problems are you facing with those scripts?

[2020-08-17 13:57] dhoomakethu commented on #523
Timeout of 60s for pymodbus and 0.5 sec for minimal modbus. Is there a reason for this? What happens if you use timeout of `0.5` sec with pymodbus as well ? Also what is the slave device under test here ?

[2020-08-17 13:58] Abbad-Zafar commented on #527
Update: Tried a while loop which constantly read register until it receives correct value

[2020-08-17 13:59] dhoomakethu commented on #527
Does that work @Abbad-Zafar ? How many errors before getting the actual result?

[2020-08-17 14:01] Abbad-Zafar commented on #527
There is no specific time. Sometime it receives correct result on first try some time it takes 4,5 tries.

[2020-08-17 14:02] AnkitaPadma commented on #523
For testing if the connection is getting timeout, i had set 60s in pymodbus, as it wasnt responding only.
Energy meter is the slave device I m testing here

[2020-08-17 14:48] dhoomakethu commented on #523
installation process remains the same, `pip install pymodbus` `strict=False` would make the connections kind of stable on windows machine (just a hack). What is the make of energy meter/spec etc?

[2020-08-18 10:38] dcneeme commented on #528
4 async trials below. using python3.7.5 and tornado 6.0.4. sync communication with the same rtu slave and tcp server is ok, with both pymodbus versions.

1. # python3 async_tornado_client.py # pymodbus2.3.0 tcp / keeps running, outputs nothing
DEBUG:asyncio:Using selector: EpollSelector
DEBUG:asyncio:Using selector: EpollSelector
INFO:pymodbus.client.asynchronous.thread:Starting Event Loop: 'PyMod

[2020-08-19 07:42] dhoomakethu commented on #528
Thanks, Will take a look. I assume you have tested on pymodbus 2.3.0 and 2.4.0rc1 ?

[2020-08-19 08:31] dcneeme commented on #528
yes

[2020-08-19 09:02] Fnikan commented on #524
Hi, i use pymodbus 2.3

[2020-08-20 12:51] Abbad-Zafar commented on #527
@dhoomakethu something in your mind other than while loop ?. I have tried everything still could get a clean response.

[2020-08-22 11:37] sunkencity opened #529 "ReadFifoQueueResponse implementation error?"
### Versions

* Python: all
* OS: all
* Pymodbus: 2.3
* Modbus Hardware (if used):

### Pymodbus Specific
* Client: tcp/rtu/ascii - sync/async

### Description

Error: When reading fifo values on client the first 4 are never read.
I don't understand why 4 is deducted statically from the count when decoding and why fifo length is being number of bytes rather than number of fifos, it doesn't match t

[2020-08-28 11:25] dcneeme commented on #528
hi,
keeping fingers crossed that you get a chance to look at it some time soon.

[2020-08-28 13:56] dhoomakethu commented on #528
@dcneeme seems to be working with the simulation setup . Any particular real hardware you are trying this against?

[2020-08-28 14:22] dhoomakethu commented on #528
Ok, on 2.3.0 do `pip install tornado==4.5.2` .This was the last compatible tornado with pymodbus. Please give it a try and update your findings.

[2020-09-08 06:05] LordGameleo opened #530 "Examples related to Modbus TLS connection."
### Versions

* Python: Python3
* OS: Ubuntu
* Pymodbus: Latest
* Modbus Hardware (if used):

### Pymodbus Specific
* Server: tls - sync/async
* Client: tls - sync/async

### Description

Is there any example related to ModbusTLS Connection? Both Server and Client Side.
How can I test both? Is there any software for it?

[2020-09-08 06:10] LordGameleo commented on #530
Never Mind. I found it in comments of PR https://github.com/riptideio/pymodbus/pull/439 .  If possible please add direct link to the Readme.md

[2020-09-08 06:12] dhoomakethu commented on #530
Just in case. Here are the examples.

https://github.com/riptideio/pymodbus/blob/dev/examples/common/synchronous_server.py#L122

[2020-09-08 06:16] LordGameleo commented on #530
@dhoomakethu thanks for response over such a short time. Found it. But why do we have client example in /contrib/ and server example in /common/ Can we create a simple example for server as well in /contrib/ directory?

[2020-09-11 08:45] copyCat304 commented on #437
I found via trial and error that there should be atleast 20sec delay between register read or write call.

from pymodbus.client.sync import ModbusSerialClient as ModbusClient
from pymodbus.constants import Endian
from pymodbus.payload import BinaryPayloadDecoder
from pymodbus.payload import BinaryPayloadBuilder
import time
print("import ok")
client = ModbusClient(method='rtu', bytesize = 8, baudra

[2020-09-11 14:18] #494 closed

[2020-09-11 14:18] #486 closed

[2020-09-11 14:18] #500 closed

[2020-09-11 14:18] #385 closed

[2020-09-11 14:18] #509 closed

[2020-09-13 10:28] Cougar opened #533 ""infinite loop" takes 100% of CPU when using async RTU (serial) with Tornado"
### Versions

* Python: 3.8.3
* OS: Linux
* Pymodbus: v2.4.0
* Tornado: 4.5.2
* Modbus Hardware (if used): IT5888-4

### Pymodbus Specific
* Client: rtu - async (Tornado)

### Description

When using async serial RTU with Tornado, [BaseTornadoSerialClient](https://github.com/riptideio/pymodbus/blob/de3955e46087f5cdcd77184da9a681d7ad20c032/pymodbus/client/asynchronous/tornado/__init__.py#L135) clas

[2020-09-13 21:15] Cougar commented on #533
When looking some more, it seems me that the whole serial handling logic is incorrect and can work only in ideal situations. In case of any error condition or other delay in data (following example), it just stops the whole Modbus processing.

This is how it works right now: [execute()](https://github.com/riptideio/pymodbus/blob/de3955e46087f5cdcd77184da9a681d7ad20c032/pymodbus/client/asynchronous

[2020-09-14 15:34] JamesJeffryes commented on #467
@dhoomakethu I'm happy to open a PR to address this. One thing to note is that converting to use of the async keyword would limit the library to 3.5+ but that seems like a pretty reasonable limitation to me.

[2020-09-14 15:34] JamesJeffryes commented on #513
duplicates #467 but with more complete information.

[2020-09-14 15:36] dhoomakethu commented on #467
Yes, pymodbus 3 would be only available for Python 3.5 and above and it should be good to have that change. Feel free to raise a PR

[2020-09-15 23:38] Cougar commented on #533
With "small" patch I got it working as it should in async mode.

I didn't find any existing method that can be used to check partial frames and let data reading continue if frame is not ready. All other implementations are broken one or another way. They either drop buffers if frames are not fully read, especially when last 1-2 bytes (CRC) is missing, or they are not able to process buffers with 1

[2020-09-22 10:07] Simonefardella commented on #519
@dhoomakethu i have a MAX485 module wired like this one:
![image](https://user-images.githubusercontent.com/5062855/93869285-e17f5300-fccb-11ea-8338-d5ec6934a1b7.png)

Actually i'm not able to figure out how to control the RE/DE pin from the library using the [Synchronous Client Example](https://pymodbus.readthedocs.io/en/latest/source/example/synchronous_client.html)

How i can control the RE/DE

[2020-09-23 21:54] Cougar commented on #533
I implemented a "usable" asynchronous serial/RTU client library on top of `pymodbus` in [https://github.com/Cougar/pymodbus_async](https://github.com/Cougar/pymodbus_async).

This is what I did:
  * Replaced (extended) [`pymodbus.client.asynchronous.serial.AsyncModbusSerialClient`](https://github.com/Cougar/pymodbus_async/blob/master/pymodbus_async/client/asynchronous/serial.py#L16) to not use ori

[2020-09-24 04:12] dcneeme commented on #528
Thanks for the tornado version hint, it helped further. Tried both pymodbus 2.3.0 and 2.4.0 with this tornado version, both TCP and RTU. Both have similar problems and are unfortunately unusable as of now.

async tcp is slightly broken  - works with 10 s pauses every now and then.
async rtu is totally broken and unusable.

Cougar has taken over my investigations. See his findings about async  RTU

[2020-09-24 05:40] dhoomakethu commented on #533
@Cougar thanks for the analysis. I will take a look. In general, I am planning to keep only asyncio support from 3.x series for async client and servers as its real pain to maintain 3 async frameworks (twisted, tornado and asyncio). Also, I am planning to completly redo many parts for 3.x (some you have mentioned in your comments).

[2020-09-24 05:42] dhoomakethu commented on #528
@dcneeme I am pretty sure there are issues with tornado but asyncio should be working based on my limited testing. If you have any error logs for asyncio please share so that I can take a look.

[2020-09-24 06:01] dhoomakethu commented on #533
@Cougar What version of tornado are you supporting (6.x?)

[2020-09-24 22:06] Cougar commented on #533
I used the version that you suggested earlier, i.e. my module works with `tornado==4.5.2` and `pymodbus==2.4.0`

[2020-09-30 15:17] dhoomakethu commented on #533
@Cougar this looks good, would you mind raising a PR please?

[2020-10-02 16:02] branati commented on #485
For me run with:
self.base_adu_size = 8
and
result = result[3:]
Thank you friends!!!!

[2020-10-04 19:53] raphapassini commented on #500
Sorry for commenting in an already closed issue but I do believe it's still broken.
I have 2 scripts doing the same thing, one sync and other async.

Sync Script
`import logging
import sys
from time import sleep
from pymodbus.constants import Endian
from pymodbus.client.sync import ModbusSerialClient as ModbusClient
from pymodbus.payload import BinaryPayloadDecoder

from .decoder import ModbusType

[2020-10-05 01:42] jawnsy commented on #488
Dear maintainer:

Thanks for creating this awesome library!

I'm seeing a similar issue with the synchronous client, here are relevant parts of my code:

[code]

I worked around this by adding my own retry logic (if `rq.isError` is true), but it would be nice to understand why the internal retry mechanism doesn't seem to be working or if I can turn on additional debugging. Maybe I need to look int

[2020-10-05 04:06] tracernz commented on #488
This line looks relevant: https://github.com/riptideio/pymodbus/blob/de3955e46087f5cdcd77184da9a681d7ad20c032/pymodbus/transaction.py#L169

[2020-10-06 14:30] thormick opened #538 "Previous response from modbus device returned as current response when using sync TCP over network with lag"
### Versions

* Python: 3.8.2
* OS: Ubuntu 20.04.1 LTS
* Pymodbus: 2.4.0
* Modbus Hardware (if used): Hardware independent, verified with local testing against dummy sync server

### Pymodbus Specific
* Server: tcp - sync
* Client: tcp - sync

### Description
TCP sync requests over a laggy network connection against different ranges of registers eventually give the timed-out result of one register

[2020-10-06 17:42] shnabin opened #539 "Connect to Multiple Clients & Act as Gateway"
Hi,

### Versions

* Python: 3.7.4
* OS: Windows
* Pymodbus:
* Modbus Hardware (if used): ABB, GE, Siemens

### Pymodbus Specific
* Server: tcp
* Client: tcp

### Description

Hi,

I need help with the following 2 points.

1. Is it possible to connect to multiple hosts/clients in one instance,
(Ex: Server IP : 192.168.1.1 , Client IP : 192.168.1.2, 192.168.1.3, etc) port 502, If its possible kindl

[2020-10-08 12:21] muhosevo opened #540 "deleting coils"
solved.

[2020-10-09 05:27] dhoomakethu commented on #539
Yes, you can connect to multiple servers but you will have to use multiple clients as well. you can also take a look at https://github.com/riptideio/pymodbus/blob/master/examples/contrib/concurrent_client.py  and https://github.com/riptideio/pymodbus/blob/master/examples/contrib/remote_server_context.py

[2020-10-09 07:04] NagarjunaReddy1242 opened #542 "pymodbus ASCII"
Can you please share me a sample code for reading ASCII format data to sending a query?

[2020-10-12 14:03] thormick commented on #538
Quoting myself:

Even though the TID used for the request isn't returned as part of the response object, I noted that the ModbusTcpClient of course has transaction with the last TID used there, that I can check against. The client's app is a quite single threaded and synchronous affair, so there shouldn't be any issue with race conditions.

My client's code now checks the response to `read_holding

[2020-10-12 20:07] JeremyRitchie opened #543 "Question: Create ModBus Proxy using pymodbus"
### Description

Hi,

I'm trying to create a modbus server which will act as a proxy for modbus.
It will receive modbus commands and then execute those commands on a downstream modbus server, and then return the result to the original requester.

How can i implement this with pymodbus?

I've been searching online and unable to find something suitable.

Thanks

[2020-10-13 08:43] dhoomakethu commented on #543
You can take a look in to the below examples
https://github.com/riptideio/pymodbus/blob/master/examples/contrib/serial_forwarder.py
https://github.com/riptideio/pymodbus/blob/master/examples/contrib/remote_server_context.py
https://github.com/riptideio/pymodbus/blob/master/examples/common/callback_server.py

[2020-10-13 08:44] dhoomakethu commented on #542
https://github.com/riptideio/pymodbus/blob/master/examples/common/synchronous_client.py#L74

[2020-10-13 08:44] #542 closed

[2020-10-14 03:41] #543 closed

[2020-10-15 13:00] swamper123 opened #544 "Drop Python 2 support?"
### Versions
* Python: >=3.6
* Pymodbus: >= 2.4

### Description

I haven't found in the Readme, which Python versions shall be supported  here ("it should work fine under any python version > 2.7 (including python 3+)").

Python 2 is dead since this year (and may have been dead a long time ago, I mean the lifecycle was more than 9 years), so there won't be more fixes, it will just cause more prob

[2020-10-16 12:48] mahadi commented on #538
I am observing similar problems. Checking the transaction IDs gives me:

[code]

[2020-10-16 19:15] SEC-VT opened #547 "Extended address support"
### Versions

* Python: 3.7
* OS: Debian
* Pymodbus: 2.4.0
* Modbus Hardware (if used):
KOYO CLICK C0-11ARE-D

### Pymodbus Specific
* Client: tcp

### Description

Modbus TCP client is unable to accept addresses > 65535 as input, which limits access to devices using 6 digit addressing.

### Code and Logs

[code]

[2020-10-17 07:04] tracernz commented on #547
Are you trying to read a digital input (1xxxxx address, not possible) or a coil (0xxxxx)? 65535 is the highest possible address for the Modbus protocol. [This Kepware page might help](https://www.kepware.com/en-us/support/knowledge-base/2008/modbus-5-digit-addressing-versus-6-digit-addressin/).

[2020-10-20 11:31] obaidullahaamer commented on #437
Getting same issue. I tried Adding 20 sec delay and it worked. But is there any efficient way to solve this issue. That would make my life a lot easier.

[2020-10-20 12:20] dhoomakethu commented on #437
@obaidullahaamer it all boils down to how fast the modbus slave is responding and how many registeres are being queried. Ideally the client should not have to wait for 20sec to get the values. What is the model and make of your slave?

[2020-10-20 12:27] obaidullahaamer commented on #437
@dhoomakethu Iam using EM737CT (MetersUK) and trying to get 37 values from registers. When using 20s delay, it slows down the program considerably.

[2020-10-20 15:30] l337quez opened #550 "How can I read the unit id of the slave from the server"
### Versions

* Python:  3.8.6
* OS:  Linux
* Pymodbus:
* Modbus Hardware (if used):  im use Pc desktop on server, client use ESP32

### Pymodbus Specific
* Server: tcp//async   --> Python
* Client: tcp//async   --> C++

### Description

 have problems, I have been reading but there are things that I do not understand well. My client is written in C ++, it is a microcontroller, I want to read the

[2020-10-21 01:42] l337quez commented on #550
i need decode framer unit

[2020-10-22 12:29] SEC-VT commented on #547
It seems to me that it is indeed possible to read input bits/coils at addresses like 1xxxxx so long as one strips the leading digit. For the above case where I'm attempting to read an input point with MODBUS 984 address 100033:

[code]
provides the correct result.

IMO, ignoring the primary table identifier (or rather, implying it in the function call) seems a little unwieldy, but I get the argume

[2020-10-22 12:34] SEC-VT commented on #547
Nevermind. I had been using a modified version of the module. Closing this issue.

[2020-10-22 12:34] #547 closed

[2020-10-22 17:49] tracernz commented on #547
Ah, sorry, I had this confused with something else in my head. You can't read discrete inputs on modern Modicon PLCs because they use topological addressing rather than the classic 1xxxx addressing.

You always do that for Modbus, e.g. for holding registers you drop the leading 4. There is also an offset of 1 in many devices.

[2020-10-23 19:10] l337quez commented on #38
como puedo decodificar para obtener el unit id del cliente

[2020-10-26 14:45] thormick commented on #538
Had a few minutes to peek at this today. I can reproduce this in 1.5.0 8f3fc71035ef0a23dca1214cef67bdd67d5ff83e, but not in 1.4.0 4ed1f1a9750bc931c100ed24f5cc0fc032ab5f4d

[2020-10-26 17:41] thormick opened #551 "retry_on_empty broken in 2.4.0"
### Versions

* Python: 3.8.5
* OS: Ubuntu 20.04.1 LTS
* Pymodbus: 2.4.0
* Modbus Hardware (if used): Hardware independent, verified with local testing against dummy sync server

### Pymodbus Specific
* Server: tcp - sync
* Client: tcp - sync

### Description

retry_on_empty feature doesn't work without also setting retry_on_invalid, but this is neither intuitive nor documented. If only retry_on_e

[2020-10-27 15:19] thormick commented on #538
I've toyed around with minimal fix to this in [this repository](https://github.com/gapitio/pymodbus/tree/gapit-fixes-1) (along with some other changes), but it's tricky to do a proper fix. I've gotten the "Always close the connection..." alternative I've outlined done in [this commit](https://github.com/gapitio/pymodbus/commit/8c5ab8f7d435515c97c7545d31b577bbc9391bed), and it seems to improve the

[2020-10-27 19:21] mahadi commented on #538
You are writing that the transaction management currently is a mess. So this sounds like a redesign is needed?

[2020-10-28 07:29] dhoomakethu commented on #538
@thormick thanks for the effort, I will take a look when I get some time.

[2020-10-28 07:41] dhoomakethu commented on #550
How are you writing to the server ? I see you have two slaves `0x01` and `0x08` but in `updating_writer` function you are trying to get context with slave_id=0 `values = context[slave_id].getValues(register, address, count=16)`. Try with either of `0x01` or `0x08` and your code should work as expected.

[2020-10-28 07:41] #550 closed

[2020-10-28 07:42] dhoomakethu commented on #544
Python2 support will be removed from pymodbus 3.x onwards. JFYI.

[2020-10-28 07:43] #540 closed

[2020-10-28 07:43] dhoomakethu commented on #530
@LordGameleo those examples are provided by the contributors and hence are maintained there.

[2020-10-28 07:43] #530 closed

[2020-10-28 07:44] dhoomakethu commented on #527
@Abbad-Zafar Are you still having this issue or can this be closed?

[2020-10-28 07:45] swamper123 commented on #544
Thanks for the information.
I will start some cleanup PRs already ;)

[2020-10-28 07:48] Abbad-Zafar commented on #527
Yes its resolved. Thank You very much.

[2020-10-28 07:48] #527 closed

[2020-10-28 15:59] l337quez commented on #550
my question and the support plant it wrong. so I'll do another issue, thanks for answering, but now if I'm going to be clearer in my question

[2020-10-28 16:04] l337quez opened #552 "how to read the value of the unit id of each client"
### Versions

Versions
Python: 3.8.6
OS: Linux
Pymodbus:
Modbus Hardware (if used): im use Pc desktop on server, client use ESP32

### Pymodbus Specific
Server: tcp//async --> Python
Client: tcp//async --> C++

### Description

hello, i changed my code. I want to know the unit id, which is the customer's identification, it is a unique value and that comes in the plot. which is the way to read that

[2020-10-29 08:40] Abbad-Zafar opened #553 "How to read the message which is being sent to modbus device in order to receive data from it ?"
### Versions

* Python:
* OS:
* Pymodbus:
* Modbus Hardware (if used):

### Pymodbus Specific
* Server: tcp/rtu/ascii - sync/async
* Client: tcp/rtu/ascii - sync/async

### Description

What were you trying, what has happened, what went wrong, and what did you expect?

### Code and Logs

[code]

[2020-10-29 08:41] Abbad-Zafar commented on #553
@dhoomakethu

[2020-10-29 11:13] thormick commented on #538
@mahadi Well not a *full* redesign, the basic design seems sound. There just seems to be a lot of code for handling special cases that is just jammed sideways into the `execute`, `_transact` and `_recv` methods, which could be beneficial to refactor. This makes it difficult to cut through it to address a specific issue.

There's a few other issues that clutter the source, for instance I question t

[2020-10-29 11:33] dhoomakethu commented on #553
Can you be more specific please?, I am not quite getting the question.

[2020-10-29 11:41] Abbad-Zafar commented on #553
I want the hex response or packet which the master sends to slave or vice versa

[2020-10-30 13:04] earth430 opened #554 "PyModbus framer failing to RTU Over TCP Due to adding TCP header( MAC address )"
### Versions

* Python: 3.8 32bit
* OS: windows10
* Pymodbus: 2.4.0
* Modbus Hardware (if used):  CSE-H55N2(RTU to TCP ) ---> 485 modbus device

### Pymodbus Specific
* Server: rtu over tcp- sync/async
* Client: tcp - sync/async

### Description

I am using Serial Ethernet Device Server (CSE-H55N2) https://www.eztcp.com/en/download/pds_files/an_ezmanager_en.pdf

enter image description here    htt

[2020-10-30 16:34] l337quez commented on #553
I would like to know how to read the complete message including reading the unit id

[2020-10-30 16:47] dhoomakethu commented on #554
@earth430 you may have to write a custom framer to handle your use cases. Please take a look in to the implementation of `socket framer`.

[2020-10-30 16:51] dhoomakethu commented on #553
@Abbad-Zafar there is no direct way at present to get raw response. You may have to reverse engineer the registers to get the frame.

[2020-10-30 16:57] dhoomakethu commented on #552
You should be able get the unit with `response.unit_id`>. Let me know if that doesn't work

[2020-11-01 02:22] earth430 opened #555 "Error occurs when data quantity is more than 2 Modbus RTU over TCP"
### Versions

* Python: 3.8 32bit
* OS: windows10
* Pymodbus: 2.4.0
* Modbus Hardware (if used):  CSE-H55N2(RTU to TCP ) ---> 485 modbus device

### Pymodbus Specific
* Server: rtu over tcp- sync/async
* Client: tcp/rtu - sync/async

### Description

If the number of Modbus requested data is set to 1, it is received without error, but if the quantity is set to 2 or more, an error will appear. How

[2020-11-03 12:30] Abbad-Zafar commented on #553
@dhoomakethu Doesn't the logging show info about packets ? What are being sent and what are being received ?

[2020-11-03 12:32] dhoomakethu commented on #553
You can view the data if you running with level debug.

[2020-11-04 05:39] dhoomakethu commented on #555
@earth430 Can you share the specs for your modbus device ? Looks like Your modbus device is sending the data in chunks and in reverse order. Can you try with increased timeout and see if that helps? At present pymodbus expects messages to be coming in one shot for it to process.

[2020-11-05 20:31] tiagocoutinho opened #557 "Create an AsyncModbusTCPClient from within a coroutine blocks"
### Versions

* Python: 3.7, 3.8 or 3.9
* OS: Linux Mint 20 Ulyana
* Pymodbus: 2.4.0
* Modbus Hardware (if used): examples/common/synchronous_server.py

### Pymodbus Specific
* Server: tcp - sync
* Client: tcp - asyncio

### Description

Trying to create an AsyncModbusTCPClient from within a coroutine blocks.

I expect the AsyncModbusTCPClient to return a tuple <event_loop, client> but instead the

[2020-11-06 05:32] dhoomakethu opened #559 "Explore aioserial as a replacement for pyserial-asyncio"
### Versions

* Python: 3.6 and above
* OS:
* Pymodbus:
* Modbus Hardware (if used):

### Pymodbus Specific
* Server: tcp/rtu/ascii - sync/async
* Client: tcp/rtu/ascii - sync/async

### Description

What were you trying, what has happened, what went wrong, and what did you expect?

### Code and Logs

[code]
https://github.com/changyuheng/aioserial

[2020-11-06 08:19] swamper123 commented on #559
I like the way the code is written in modern terms. It looks uniform in each point. They have a point about high-level usage, which may help us a lot.

The code itself looks like "sync" async way to integrate pyserial into an async context. Only one read/write request is allowed and they are executed in an seperate Thread. I am not sure if this may lead in complications, since this way is not Thre

[2020-11-06 08:26] dhoomakethu commented on #559
Thanks for the inputs @swamper123 .  I am working on a bunch of transaction related enhancements which covers invalid responses, delayed responses agnostic to sync and async versions . This is one of the package I was hoping to explore as part of the exercise. Will keep posted on the findings.

[2020-11-06 08:41] dhoomakethu opened #560 "Pymodbus 3.x"
### Versions

* Python: 3.6 and above (3.7 and above preferrably)
* OS: linux|windows|osx
* Pymodbus: 3.x
* Modbus Hardware (if used):  NA

### Pymodbus Specific
* Server: tcp/rtu/ascii - sync/async
* Client: tcp/rtu/ascii - sync/async

### Description

This issue covers a broader range of enhancements and bug fixes that will be going part of pymodbus 3.x which targets only python 3.6 and above. T

[2020-11-06 14:41] thormick commented on #538
I've tweaked my patch a bit, and it shouldn't close the socket more than reasonable now. Available [here](https://github.com/gapitio/pymodbus/tree/gapit-fixes-2) (note that branch contains all the tweaks I've done for [Gapit](https://github.com/gapitio)). I haven't verified that there aren't still weird corner case issues if there is packet fragmentation and only the first part the message arrives

[2020-11-06 14:54] dhoomakethu commented on #538
Refer #560 . This is one of the identified bug and a fix is under testing.

[2020-11-06 15:03] thormick commented on #538
Oops, gave the wrong link to the repo, should be [here](https://github.com/gapitio/pymodbus-1/tree/gapit-fixes-2). Updated my previous message.

[2020-11-13 00:35] opencv-github commented on #134
I have  also  this  poblem.Even i  OFF  my  firewall  and  still  it  gives  me  the   connection  error

[2020-11-13 05:05] dhoomakethu commented on #134
@opencv-github what version of pymodbus are you using? The latest versions should have these issues already fixed. Share the logs and code if you have.

[2020-11-19 22:18] f-steff commented on #353
Two year later, "client.inter_char_timeout = 0.05" just saved my ass.
It seems like not everything is well in this code.

[2020-11-21 18:57] MountainKing91 commented on #508
Hi,
a bit late to the party but yes, devices sometimes swap bytes in strings too. I ran into a situation (production environment) where a bunch of strings were written from a PC with MoviconNext to a Delta PLC and they came up swapped in the HMI. I used pymodbus to debug what was going on and I used this function to sistematically swap bytes:
`
def swap_bytes(registers):
    swapped = []
    for r

[2020-11-25 14:21] nhi-vanye commented on #553
A spin out RFE for Serial would be to use `serial.serial_for_url()` instead of `serial.Serial()` to allow the `spy://` url schema to be used.

https://pyserial.readthedocs.io/en/latest/url_handlers.html

[2020-11-27 09:48] pydaw opened #561 "Modbus Server with multiple slave devices context - writing to a register overwrites to all slaves"
### Versions

* Python: 3.8
* OS: Ubuntu Buster
* Pymodbus: 2.4.0
* Modbus Hardware (if used): USB-RS485-WE-1800-BT (FTDI Chip)

### Pymodbus Specific
* Server: rtu - async (but tried both async and sync)

### Description

I have an issue with a simple pymodbus server.
i.e. writing to slave 1, register address 1, should be a different register from slave 100, register 1.

In my case, writing to re

[2020-11-27 13:11] pydaw commented on #561
Was not a bug,
Had to make separate store objects

'''python
    # ----------------------------------------------------------------------- #
    # initialize your data store
    # ----------------------------------------------------------------------- #
    #store = ModbusSlaveContext(zero_mode=True)

    # Add datastores to slaves
    addresses = [1, 100]
    slaves = {}
    for adress in address

[2020-11-27 13:11] #561 closed

[2020-12-02 17:51] ddabush opened #565 "concurrent.futures._base.TimeoutError with AsyncModbusTCPClient"
### Versions

* Python:3.7
* OS:mac
* Pymodbus:  2.4
* Modbus Hardware (if used):  PLC

### Pymodbus Specific
* Server: tcp/rtu/ascii - sync/async
* Client: tcp/rtu/ascii - sync/async

### Description

I am using AsyncModbusTCPClient in order to work with my hardware in asynchronous manner.
when I am using it and try to read data from registers I get TimeoutError.

but when I am using the blocking

[2020-12-02 22:17] karlp opened #566 "SparseDataStore.reset() doesn't follow expectations"
### Versions

* Python: 3.8
* OS: n/a
* Pymodbus: dev
* Modbus Hardware (if used): n/a

### Pymodbus Specific
* Server: tcp/rtu/ascii - sync/async: tcp/sync, but n/a for this

### Description
The .reset() method for sparse datablocks doesn't really do anything you'd expect, as it's a default implementation from the sequential store.

[code]

At this point, the store contained two registers, 0x2000

[2020-12-03 06:44] swamper123 commented on #565
Did you meassure/verify that 20ms is enough time to respond?
Make a Wireshark trace (or similar) to verify that the packages arrive on time.

[2020-12-03 07:38] ddabush commented on #565
the timeout is on seconds:
[code]
moreover the timeout is not related to it event if I change the timeout to 20000 I get timeout very fast.
[code]

[2020-12-03 12:25] swamper123 commented on #565
? What was the solution?

[2020-12-03 12:29] ddabush commented on #565
I closed by mistake. the issue exists.

[2020-12-03 17:18] lampra1 opened #569 "Forwarder does not respect the unit id when polling serial device"
### Versions

* Python: 3.7.9
* OS: openwrt
* Pymodbus: 2.4
* Modbus Hardware on the master: Bus 001 Device 002: ID 1a86:7523 QinHeng Electronics HL-340 USB-Serial adapter

### Pymodbus Specific
* Forwarder example with 2 slave devices
[code]
### Description
I expect that when polling modbus tcp with device id 2 that the response will originate from the serial device with id 2 not from the serial

[2020-12-03 22:33] karlp opened #570 "Server: ReportServerId can only customize the "ServerID" portion"
Function code 17 / 0x11 is poorly defined, (yay, modbus!)

![Screenshot from 2020-12-02 22-26-41](https://user-images.githubusercontent.com/127907/101095586-0e968e80-35b6-11eb-94b5-f6d3b4eada55.png)
Some real world devices use a single byte for the server id, and XXX bytes for the "Additional data" and others use XXX bytes for the server id and have no additional data.

Currently, via undocumented

[2020-12-03 22:34] karlp commented on #570
Why do I care?  Basically, implementing replicas of real world devices in pymodbus, so I don't need the actual hardware wired up.  Part of that includes all these corner functions.

[2020-12-04 04:26] dhoomakethu commented on #565
@ddabush have you given a try with the latest dev branch ? It looks like this might have been fixed in there.

[2020-12-04 07:50] ddabush commented on #565
This is not an official release. I do I use it in my project?

[2020-12-08 12:34] swamper123 commented on #565
If you got a requirements.txt in your project you can add:

`-e git+https://github.com/riptideio/pymodbus.git@dev#pymodbus`

Or installing it in your project like:
`python -m pip install git+https://github.com/riptideio/pymodbus.git@dev#pymodbus`

Both ways should (hopefully) work.

[2020-12-08 14:59] ddabush commented on #565
Still having this issue attaching picture of the connection while debugging:
[https://files.slack.com/files-pri/T0J3YV3RT-F01GEGTFL7M/screen_shot_2020-12-08_at_16.13.02.png](url)

[2020-12-08 15:08] dhoomakethu commented on #565
@ddabush OK will take a look and update

[2020-12-09 06:37] swamper123 commented on #565
@ddabush You can copy paste the picture into github as well (I do that with snapshots). So everybody can have a look on it, instead of slack users only. ;)

[2020-12-09 06:56] ddabush commented on #565
Sorry :)
<img width="1165" alt="Screen Shot 2020-12-08 at 16 13 02" src="https://user-images.githubusercontent.com/1558250/101595669-6db43300-39fc-11eb-8487-1e2afe4e3034.png">
And for some reason the field of the host is 127.0.0.1 even though I gave it a value in the constructor.

[2020-12-09 07:46] swamper123 commented on #565
In your code you provided code, you just have:

`host=ip`
as parameter, but ip is not defined, but I guess this is just a placeholder in that case ;)

But I may have found a clue!

[code]

Replace the `loop.run_until` .... with `new_loop.run_until .`... give it a shot, otherwise a shot for me 🍺

[2020-12-09 08:05] ddabush commented on #565
still having the timeout issue.
For some reason the ip and the timeout are not changing to the values I put in the constructor:

code:
[code]

the connection instance during debug:
![Screen Shot 2020-12-09 at 10 02 42](https://user-images.githubusercontent.com/1558250/101601764-b7ede200-3a05-11eb-8f08-33ed02e7be4f.png)

Error:
[code]

[2020-12-14 09:03] JonAlberdi opened #571 "TCP Client and Server identification"
### Versions

* Python: 3.8
* OS: Ubuntu
* Pymodbus: 2.4

### Pymodbus Specific
* Server: tcp - sync/async
* Client: tcp - sync/async

### Description

Hi,

I have a couple of questions in regard to the TCP connection between a Client and a Server. I am using the common examples, both sync and async.

-In the server example an Identification is defined for the server, is this identification sent t

[2020-12-14 09:55] dhoomakethu commented on #571
You can run `ReadDeviceIdentification` to fetch those values from the server. refer https://github.com/riptideio/pymodbus/blob/master/examples/common/synchronous_client_ext.py#L81
The modbus spec does not specify any such identification for client, hence its not supported on the client.

[2020-12-14 09:55] #571 closed

[2020-12-15 15:22] daviddabush commented on #565
@swamper123 I think if we will do short zoom and I will show you the problem we can make a real progress.

[2020-12-15 15:32] JulesEmangeard opened #572 "ReadDeviceInformationRequest with ModbusSerialClient fails with struct.error"
### Versions

* Python: 3.7.2
* OS: Windows 10
* Pymodbus: 2.4.0
* Modbus Hardware (if used):

### Pymodbus Specific
* Server: tcp/rtu/ascii - sync/async
* Client: tcp/rtu/ascii - sync/async

### Description
Hello,

I was trying to get Modbus RTU equipments informations (like brand or reference) using function code 43 (sub function 14) but when using the ReadDeviceInformationRequest with ModbusSer

[2020-12-15 15:52] dhoomakethu commented on #572
On Windows can you please initialize the client with `strict=False` and see if that fixes

[2020-12-15 16:28] JulesEmangeard commented on #572
I already did it but it didn't fixed it

[2020-12-16 08:32] dhoomakethu commented on #572
Thanks for the update. Unfortunately I don't have access to windows machine to try this. I will keep this open and see if there is a better way to pass wait time between waiting for data.

[2020-12-16 14:34] ot2789 opened #573 "Repl client single write register issue (resp.count)"
Hello! I have a problem with the pymodbus library when writing a single register value.
This is the error that I get:

**client.write_register(int(address), int(value), unit=self.__unit)**
  File "/usr/local/lib/python3.6/dist-packages/pymodbus/repl/client.py", line 50, in _wrapper
    'count': resp.count

Problem is in this file: https://github.com/riptideio/pymodbus/blob/master/pymodbus/register

[2020-12-19 04:28] dhoomakethu commented on #565
@ddabush You are not passing `unit_id` in the the request . Can you pass `unit_id`. That should resolve this issue.

[2020-12-19 04:29] #565 closed

[2020-12-19 04:30] dhoomakethu commented on #573
@ot2789 what version of pymodbus are you using ? Can you share the command the you are using which resulted in this error?

[2020-12-19 07:17] dhoomakethu commented on #573
@ot2789 please give a try with `2.5.0` and let me know if that fixes issue.

[2020-12-19 13:41] dhoomakethu commented on #551
@thormick Could you please give a try with https://github.com/riptideio/pymodbus/tree/2.5.0

[2020-12-23 08:55] ot2789 commented on #573
I am using 2.4.0. So the last released version. I will update to 2.5.0 to see if it is fixed.

[2020-12-23 11:01] ot2789 commented on #573
Is there a way to install this via PIP? Or do I need to do the manual installation?

[2020-12-23 20:33] mainakae opened #576 "Reverse TCP scheme question"
### Versions

* Python: 3.9
* OS: raspberry / macOS
* Pymodbus: 2.4
* Modbus Hardware (if used):

### Pymodbus Specific
* Server: tcp - sync/async
* Client: tcp - sync/async

### Description

Hi everyone, and thanks for this awesome piece of software. First of all, I wanted to make clear that this is not an issue but more a question or support request. I didn't know where else to ask (google group

[2020-12-24 12:15] dcneeme commented on #576
Hi, are you thinking of unencrypted ModbusTCP connections over
      the public internet? Sounds like an unsafe/vulnerable thing to
      avoid... My suggestion would be: use a small local collector host
      to query your meters and forward the data in a secure way.

    Neeme

[2020-12-24 12:21] dhoomakethu commented on #576
Can you give an example of a slave which offers this feature ?

[2020-12-24 12:23] mainakae commented on #576
Thanks a lot for commenting @dcneeme, it sure does sound unsafe but some ISP providers offer private networks via SIM, and also are affected by ECG-NAT, thus the "unsafeness" is somewhat mitigated. Anyway, adding TLS on top of the TCP connection is possible. The main point on this post is the reverse-ness of the situation in which the slave initiates the connection.

Best regards!
Pedro

[2020-12-24 12:33] mainakae commented on #576
Sure @dhoomakethu !, solar inverters from Huawei, network analyzers from ARELSA for smart lighting in smart city solutions, IPeX devices from Odin Solutions (also for sensoring and network analyzing on smart city scenarios)...

[2020-12-25 13:27] dhoomakethu commented on #576
OK, so if you want to do something similar with pymodbus there is no out of the box solution available, however if you are using a gateway like raspberry pi,  You can collect the data from the slave and push it to your backend over http/websocket/firebase/mqtt or whatever the solution you deem is good. With this approach you can be sure that only you have the access to the device and also monitor

[2020-12-26 10:51] mainakae commented on #576
Yes, that is definitely possible, and saner to do than directly communicating through an insecure tcp channel. The case for insecure communications, though, is not that much: for instance, the SUN2000 solar inverters I'm now interfacing with, do use TLS on the TCP connection they establish. They even provide means to establish and check certificates for both the device and the server, so that comm

[2020-12-30 04:46] dhoomakethu commented on #573
@ot2789 sorry for the delay, try with `pip install git+https://github.com/riptideio/pymodbus.git@2.5.0`

[2020-12-30 06:41] dhoomakethu commented on #573
Fixed with 2.5.0rc1. Please install from https://pypi.org/project/pymodbus/2.5.0rc2/ .
Refer https://github.com/riptideio/pymodbus/releases

[2020-12-30 06:43] dhoomakethu commented on #572
Fixed with 2.5.0.
Please install from https://pypi.org/project/pymodbus/2.5.0rc2/ .
Refer https://github.com/riptideio/pymodbus/releases

[2020-12-30 06:43] dhoomakethu commented on #570
Fixed with 2.5.0.
Please install from https://pypi.org/project/pymodbus/2.5.0rc2/ .
Refer https://github.com/riptideio/pymodbus/releases

[2020-12-30 06:44] dhoomakethu commented on #566
Fixed with 2.5.0.
Please install from https://pypi.org/project/pymodbus/2.5.0rc2/ .
Refer https://github.com/riptideio/pymodbus/releases

[2020-12-30 06:45] #552 closed

[2020-12-30 06:45] dhoomakethu commented on #551
Fixed with 2.5.0.
Please install from https://pypi.org/project/pymodbus/2.5.0rc2/ .
Refer https://github.com/riptideio/pymodbus/releases

[2020-12-30 06:46] dhoomakethu commented on #533
Fixed with 2.5.0.
Please install from https://pypi.org/project/pymodbus/2.5.0rc2/ .
Refer https://github.com/riptideio/pymodbus/releases

[2020-12-30 06:49] #521 closed

[2020-12-30 06:49] dhoomakethu commented on #515
Fixed with 2.5.0.
Please install from https://pypi.org/project/pymodbus/2.5.0rc2/ .
Refer https://github.com/riptideio/pymodbus/releases

[2020-12-30 06:50] dhoomakethu commented on #514
Fixed with 2.5.0.
Please install from https://pypi.org/project/pymodbus/2.5.0rc2/ .
Refer https://github.com/riptideio/pymodbus/releases

[2020-12-31 12:32] JulesEmangeard commented on #572
I installed the 2.5.0 version but unfortunately it didn't fix the problem.
When `time.sleep(0.1)` in `def _wait_for_data(self):` I get a response of my equipment around 2 times each 10 trys and when I set `time.sleep(0.2)` or `time.sleep(0.3)` then it's perfectly working.

[2020-12-31 13:11] dhoomakethu commented on #572
This is not yet handled , so the behaviour would be the same in 2.5.0

[2021-01-01 11:56] Cougar commented on #533
Looks good. Still would be great to do some code cleanup and refactoring for 3.0 but it is usable now.

I let my [test](https://github.com/Cougar/pymodbus_test/tree/pymodbus-2.5.0rc2) run more than 7 hours (443 min) at 19200 doing more than 900k registry read transactions. It took only 15 min user CPU time and less than a minute system CPU time.

I also tested it with two serial instances running

[2021-01-02 06:49] shishir-dey opened #580 "pymodbus\server\asynchronous.py\StartSerialServer: TypeError: __init__() got an unexpected keyword argument 'timeout'"
### Versions

* Python: 3.7
* OS: Windows 10
* Pymodbus: 2.4.0
* Modbus Hardware: CP210x USB to UART Bridge connected to a Modbus Master device

### Pymodbus Specific

* Server: rtu - async

### Description

The program crashes.

Seems like ```twisted.internet.serialport.SerialPort``` does not have a ```timeout``` parameter. See https://twistedmatrix.com/documents/15.4.0/api/twisted.internet.seria

[2021-01-02 06:52] dhoomakethu commented on #580
This should be fixed with 2.4.0. what version of pymodbus is this

[2021-01-02 06:53] dhoomakethu commented on #580
You can also give a try with 2.5.0rc2

[2021-01-02 22:26] altendky opened #581 "Add Trio support"
I am interested in having PyModbus support Trio async in addition to asyncio, Twisted, and Tornado.  No promises I will succeed but I have started exploring the code and am trying to piece together some amount of Trio functionality.  I figured it would be good to publicly document the interest and whatever efforts I make in case anyone else is interested or knows anything on the topic.

In case th

[2021-01-04 12:42] ot2789 commented on #573
Hello! Yes the newest version fixed the problem! Thanks alot!

[2021-01-04 12:42] #573 closed

[2021-01-05 16:29] thormick commented on #551
Can confirm that this fixes the issue.

Sorry about becoming one of the `_no_response_devices`, my plans to hack on this project between Christmas and New Year fell through.

[2021-01-09 10:49] JonAlberdi opened #586 "Extract client IP from server"
### Versions

* Python: 3
* OS: Ubuntu
* Pymodbus: 2.4

### Pymodbus Specific
* Server: tcp - sync
* Client: tcp - sync

### Description

Hi,

I am working on a project that uses the TCP sync server and TCP sync client examples and I ran into a problem that I am not sure how to solve. When using the "StartTCPserver" or "ModbusTCPserver" functions, I would like to extract the IP of the client that

[2021-01-12 02:55] dhoomakethu commented on #586
There is no direct way of fetching this information,  You will have to write your `handler` derived from `ModbusConnectedRequestHandler` and override `setup` method to update an attribute in the server.

Something like this

[code]
Refer https://github.com/riptideio/pymodbus/blob/master/pymodbus/server/sync.py#L46

Note, `serve_forever()` is blocking.

[2021-01-14 07:46] jhfatehi commented on #580
I am running pymodbus 2.4.0 and got the same error.  I resolved it by removing the 'timeout' kwarg from line 339 in pymodbus/server/asynchronous.py.

[2021-01-14 10:46] shishir-dey commented on #580
I tried a similar workaround and the server works fine after that. Pymodbus version is 2.4.0.

[2021-01-14 12:56] dhoomakethu commented on #580
Did you guys tried 2.5.0rc2?

[2021-01-19 10:11] ietamaher commented on #421
@HAMH96 did you find a solution for this problem? I am also having this problem.

[2021-01-20 19:28] altendky opened #598 "Include tests in coverage checks"
It is valuable to include tests in coverage checks to make sure that all your tests are actually running and to catch any dead code in them.  I can add this but figured I wouldn't mix it in to the present pile of CI PRs.

[2021-02-03 19:26] SayedMosalem opened #601 "How can I read the registers"
https://pymodbus.readthedocs.io/en/latest/source/example/async_tornado_client_serial.html

How can I read the registers in the above example?

[2021-02-04 03:19] dhoomakethu commented on #601
Under `beginAsynchronousTest ` refer line ` rr = client.read_holding_registers(1, 1, unit=UNIT)`.

[2021-02-04 04:52] SayedMosalem commented on #601
I understand, I mean how can I access the value of the register @ the specified address. What "read_holding_register" is returing and how can I get specific info from the frame/response returned

Thanks for the quick reply

[2021-02-04 08:26] dhoomakethu commented on #601
ah sorry, you can access the registers with `rr.registers` . Please make sure you check for errors before hand with `rr.isError()`.

[code]

[2021-02-04 10:09] SayedMosalem commented on #601
Sorry to bother you but I have tried many times to access (rr.isError) or (rr.registers) and I got below error:
'Future' object has no attribute 'isError'   --> in the first trial
'Future' object has no attribute 'registers'  --> in the second trial when I removed the error check "if"

[2021-02-05 04:06] dhoomakethu commented on #601
You can see `dassert` function in the top, which acts as a callback to the future. `future.result` and `future.exception` should  give the actual values/exceptions.
What version of tornado are you using? And when you run the examples are you seeing any errors?
Please also help with the version of pymodbus and python version you are using.

[2021-02-08 13:55] MaximKolbin commented on #282
Hello, Thank you for the example. I took your code as a basis, but I redid the update values function. In "class pymodbus.datastore.ModbusSequentialDataBlock" there are functions: getvalue, setvalue. Which allow you to change the data in input registers.
`loop = LoopingCall(f=updatevalues, a=block1)
    loop.start(interval, now=True)
    reactor.run()

def updatevalues(a):
         b= a.getValues(

[2021-02-11 16:53] NagarjunaReddy1242 opened #602 "502 port refused."
root@Omega-6834:~# python modbus_ip.py
ERROR:pymodbus.client.sync:Connection to (192.168.0.200, 502) failed: timed out
ERROR:pymodbus.client.sync:Connection to (192.168.0.200, 502) failed: timed out
Traceback (most recent call last):
  File "modbus_ip.py", line 13, in <module>
    rr = client.read_holding_registers(0x0001,2,unit=2)
  File "/usr/lib/python2.7/site-packages/pymodbus/client/common.py

[2021-02-11 16:58] NagarjunaReddy1242 opened #603 "can connect multiple persons to read the device data at same time."
Hi sir,
Can connect multiple persons to the same device and read the Modbus data same time.

[2021-02-12 06:29] swamper123 commented on #602
Have you checked your firewall configuration? Perhaps the port is blocked.

[2021-02-12 06:31] swamper123 commented on #603
In case of Modbus TCP, everyone is a client and the device is a server....like every client/server story this is possible until certain limits are reached (if you are ddosing your device, it won't work well 😉 ).

[2021-02-12 07:33] dhoomakethu commented on #602
Make sure your slave is running on the IP and PORT you have mentioned. The error says the remote is not accepting the connection or the connection request is not going out.

[2021-02-12 07:33] #602 closed

[2021-02-12 07:33] #603 closed

[2021-02-12 12:18] NagarjunaReddy1242 commented on #602
how to read Modbus UDP data using pymodslave simulator.

**#from pymodbus.client.sync import ModbusTcpClient
import win_inet_pton
import time
from pymodbus.client.sync import ModbusUdpClient as ModbusClient

#from pymodbus.transaction import ModbusRtuFramer
import logging
logging.basicConfig()
log = logging.getLogger()
log.setLevel(logging.DEBUG)

client = ModbusClient('172.16.1.140')
l=client.con

[2021-02-17 15:21] JamesJeffryes commented on #560
Thanks for all your work on this project! Python 3.10 is [scheduled to be released ](https://www.python.org/dev/peps/pep-0619/) in October of this year and will be the first version that will be incompatible with pymodbus 2.X code (due to the removal of the `@coroutine` decorator. I have several libraries that depend on this project that I would like to be able to update just as soon as we have 3.

[2021-02-17 16:25] dhoomakethu commented on #560
@JamesJeffryes I am particularly held up with cleaning up . I have no definite timeline in mind to release 3.x soon. There is a branch [3.0.0](https://github.com/riptideio/pymodbus/tree/3.0.0) available which still python2 compatible . You can also look in to existing PR's and issues with label `3.x` which are required to move in to that direction.

[2021-02-19 12:02] cti-jsweet commented on #580
@dhoomakethu checked this issue that I was having and it looks like the 2.5.0rc2 fixed the issue for me

[2021-02-19 12:14] cti-jsweet commented on #580
Doing some testing today on 2.5.0rc2 I'll try to update with my results.

[2021-02-22 16:05] sfl0r3nz05 opened #606 "Modbus Identity (TLS) Verification"
### Pymodbus Specific
* Server: TLS - sync
* Client: TLS - sync

### Description

Hello Modbus experts,

I am trying to provide a mechanism for identity verification. For this, I need to retrieve the server and client certificates, as they are exchanged (see figure below). It is not clear to me how to retrieve these certificates from the current TLS implementation of pymodbus.

I would appreciate

[2021-02-23 15:26] fahadalisarwar1 opened #607 "Incomplete message received."
I want to access a modbus device but I keep getting "incomplete messsage received" error.
My code is following

[code]

the output is below.
[code]

[2021-02-25 09:58] dhoomakethu commented on #607
Please help us with additonal details regarding pymodbus version and OS. if you are running on windows try with `strict=False` in client initialization.

[2021-02-25 14:54] sfl0r3nz05 commented on #606
### Versions

* Python: 3.8
* OS: Ubuntu Server 18.04
* Pymodbus: latest

### Pymodbus Specific
* Server: tls
* Client: tls

### Description

As I have indicated in the previous issue, I am trying to verify the identities of both client and server before establishing the Modbus connection. For this purpose, I have modified the sync client to manage certificates and as part of, def connect method,

[2021-02-26 06:40] dhoomakethu commented on #606
@starnight Would you mind taking a look in to this please ?

[2021-02-26 19:06] sfl0r3nz05 commented on #606
Thanks @dhoomakethu, while a solution is found, I'm doing a trick that consists of taking the client's cert directly from the CA and extracting from the cert the public key to send to the external identity verification.

![image](https://user-images.githubusercontent.com/6643905/109343398-97e3f700-786d-11eb-813a-96dc2d80d309.png)

[2021-02-28 04:10] starnight commented on #606
@sfl0r3nz05 Seems you found a solution.

However, I have question for doing Server Identity Verification "again".

I believe the [TLS handshake](https://docs.python.org/3/library/ssl.html#ssl.SSLSocket.do_handshake) provided by Python's ssl library is already done "client verifies server's certification" action.  The 4th step mentioned in `Table 5 TLS Full Handshake Protocol` of [MB-TCP-Security-v

[2021-02-28 18:38] sfl0r3nz05 commented on #606
@starnight, I appreciate your comments.

Before answering your question, I should mention that the solution found is partial, because I am not receiving the certificate from the client (on the server side) but retrieving it directly from the CA. Actually, I would need to retrieve it in the red square in the figure. So, I would appreciate if you can recommend me how to implement do_handshake() in t

[2021-03-02 09:59] laundmo opened #609 "Memory leak in sync servers due to socketserver memory leak."
### Versions

* Python: 3.7, 3.8, 3.9

### Pymodbus Specific
Affects:
- sync ModbusTCPServer
- sync ModbusUDPServer

### Description

When running any sync server based on the stdlib socketserver, a memory leak in socketserver can be observed. This is a known and resolved issue, which is not yet implemented in the current releases of python 3.7, 3.8 and 3.9.

Relevant python bug report: https://bu

[2021-03-02 10:31] laundmo commented on #609
@dhoomakethu this is not a enhancement, its a bug report/fix. currently long-running instances of the threading based servers WILL crash due to out of memory issues.

[2021-03-02 13:53] dhoomakethu commented on #609
@laundmo This is not a bug in the pymodbus library per-say and the fix is anyhow deemed to be available with future patches of python. We can have the patch as a hot-fix/enhancement for the time being and later choose to remove it.

[2021-03-02 14:05] starnight commented on #606
Okay!  Blockchain is an interesting usage.  What you mentioned is more like the 8th step **ClientCertificate** and 9th step **VerifyClientCertSig** in `Table 5 TLS Full Handshake Protocol` of [MB-TCP-Security-v21_2018-07-24](https://modbus.org/docs/MB-TCP-Security-v21_2018-07-24.pdf).
This is an interesting part that is not done by Python's ssl library by default.  It is also the same behavior of

[2021-03-02 14:11] dhoomakethu commented on #580
@shishir-dey I am not able to reproduce this issue, could you please paste the output of `pip freeze` of your python environment?

[2021-03-02 14:22] sfl0r3nz05 commented on #606
Thanks for the response @starnight, this is exactly what happens and what I need. I will close the issue and come back when I find a solution.

[2021-03-02 14:39] starnight commented on #606
Verification is okay, but I have not implement this feature yet.  Because I have not figured out how to implement the **authorization** action.

Since we know this is due to Python's ssl library, we can simplify this problem into simple TCP server/client socket over TLS.
I prepare a Server/Client pair as the attachments for example.  Please modify the filename extension to `.py`
[server.txt](https

[2021-03-02 14:41] laundmo commented on #609
@dhoomakethu i would still argue this should be labeled as bug, since its definitely something that will currently, and for 3.7 always (as the last bugfix release was 2020-06-27), make serious usage of the sync servers basically impossible.

also, as i said, if you want to support 3.7 you cannot expect to be able to remove the fix later, as 3.7 wont recieve that bugfix.

[2021-03-02 15:17] starnight commented on #606
if someone figure out how to implement the **authorization**, pull request is welcomed!  :)

[2021-03-02 20:06] dkristell commented on #307
Hi! I am also using Vaisala Temp sensor and expereince the same issue using FTDI based USB to RS485 adapter and talking Modbus. Do you know about any other solution except increasing sleep to 30ms? I would prefer not to customize sync.py.

[2021-03-02 23:07] aharrah commented on #307
I had the same preference. I patch sync.py at runtime. To use the code below just execute `hot_fix_sync()` in your code. This code will verify the old code (just in case sync is updated) and then replace the `_wait_for_data` function with a new one with a longer timeout.

[code]

[2021-03-03 03:08] altendky commented on #581
The PR is in work and waiting on others to get merged so as to have responsive CI.  Also, I've been on other stuff for a bit.

[2021-03-03 07:02] daviddabush commented on #565
Hi,
Do you have modbus client for gevent?

[2021-03-03 07:36] dhoomakethu commented on #565
@daviddabush nope, but I believe you can extend the existing client implementations to support gevents.

[2021-03-03 07:38] wcchh opened #610 "ModbusSerialClient read_coils failed"
### Versions

* Python: 3.6
* OS: ubuntu 16
* Pymodbus: 2.4.0
* Modbus Hardware (if used): FATEK FBs-CB25

### Pymodbus Specific
* Server: PLC
* Client: rtu - sync

### Description

I wanna read (64) coils data from a PLC. But received "incomplete message received" error...
Through another modbus helper, I found my output command is "00 01 00 00 00 40 3C 2B".
And the other modbus tools send "01 01

[2021-03-03 09:27] dhoomakethu commented on #610
Can you paste the logs of your transactions?

[2021-03-03 10:03] #515 closed

[2021-03-03 10:03] #524 closed

[2021-03-03 10:03] #528 closed

[2021-03-03 10:03] #533 closed

[2021-03-03 10:03] #551 closed

[2021-03-03 10:03] #566 closed

[2021-03-03 10:03] #570 closed

[2021-03-03 10:03] #580 closed

[2021-03-03 10:03] #609 closed

[2021-03-03 10:10] dhoomakethu commented on #33
closing stale issue

[2021-03-03 10:10] #33 closed

[2021-03-03 10:10] dhoomakethu commented on #58
Closing stale issue

[2021-03-03 10:10] #58 closed

[2021-03-03 12:19] lovasoa commented on #479
This is still an issue.

[2021-03-03 14:20] isj4 commented on #316
I still need this.

[2021-03-03 15:24] altendky commented on #598
Despite not having been commented on, this is in fact still valuable.

[2021-03-04 02:53] wcchh commented on #610
Here's the output as I see...
[code]

[2021-03-04 03:50] dhoomakethu commented on #610
@wcchh can you give a try with `2.5.0` and see if that helps?

[2021-03-04 07:34] swamper123 commented on #513
This issue is already solved in branch 3.0.

[2021-03-05 11:49] vpetrovych opened #612 "ModbusTcpClient - Second Request always fails"
### Versions

* Python: 3.8.7
* OS: HomeAssistant
* Pymodbus: 2.5.0
* Modbus Hardware (if used): http://www.raut-automatic.kiev.ua/free-programming-controllers/freemax-mini.html

### Pymodbus Specific
* Client: tcp - sync

### Description

What were you trying, what has happened, what went wrong, and what did you expect?
When trying to send 2nd request, an error is returned
[Connection] ModbusTcpC

[2021-03-05 12:08] vpetrovych commented on #612
To add more information for debugging. The issue is not present in 2.4.0 version.

Code:
[code]

Logs:
[code]

So this is something within 2.5.0 version

[2021-03-05 13:28] dhoomakethu commented on #612
@vpetrovych Can you call the requests in a loop and share the logs please? I am not able to reproduce this on my local setup.
Also please add the formatter to log `FORMAT = ('%(asctime)-15s %(threadName)-15s '
          '%(levelname)-8s %(module)-15s:%(lineno)-8s %(message)s')` to get the timing information.

[2021-03-05 13:31] dhoomakethu commented on #612
Just for your reference
[code]

[2021-03-06 04:36] dhoomakethu commented on #75
For any one who wants this featuere, it is part of `pymodbus.server` console script when you install pymodbus 2.5.0 and above and is available only with python3.6 and above.

[code]

[2021-03-06 04:36] #75 closed

[2021-03-06 04:36] dhoomakethu commented on #75
Note, the documentation is still not updated.

[2021-03-07 19:20] Panther50500 opened #613 "Number of registers"
### Versions

* Python: 3.7
* OS: Raspberry OS
* Pymodbus: 2.5
* Modbus Hardware (if used): Raspberry Pi / FT232

### Pymodbus Specific
* Server: rtu - sync
* Client: rtu - sync

### Description

Hello, I wanted configure the size of the modbus strucure as i needed (32 words). May be it is a misunderstanding of me but when I create a modbus structure of 32 words on the server, I can read or write

[2021-03-07 19:24] Panther50500 commented on #613
I wanted to put in bold this line :

block = ModbusSequentialDataBlock(0, [0]*32)

but it didn't display well

Fred

[2021-03-07 23:45] tracernz commented on #613
Try ModbusSparseDataBlock.

[2021-03-08 02:11] #586 closed

[2021-03-08 02:11] #576 closed

[2021-03-08 02:11] #572 closed

[2021-03-08 02:11] #559 closed

[2021-03-08 02:11] #557 closed

[2021-03-08 02:11] #555 closed

[2021-03-08 02:11] #554 closed

[2021-03-08 02:11] #553 closed

[2021-03-08 02:11] #539 closed

[2021-03-08 02:11] #526 closed

[2021-03-08 02:11] #523 closed

[2021-03-08 02:11] #519 closed

[2021-03-08 02:11] #512 closed

[2021-03-08 02:11] #502 closed

[2021-03-08 02:11] #501 closed

[2021-03-08 02:11] #488 closed

[2021-03-08 02:11] #485 closed

[2021-03-08 02:11] #469 closed

[2021-03-08 02:12] #464 closed

[2021-03-08 02:12] #462 closed

[2021-03-08 02:12] #454 closed

[2021-03-08 02:12] #453 closed

[2021-03-08 02:12] #450 closed

[2021-03-08 02:12] #445 closed

[2021-03-08 02:12] #429 closed

[2021-03-08 02:12] #428 closed

[2021-03-08 02:12] #421 closed

[2021-03-08 02:12] #419 closed

[2021-03-08 02:12] #415 closed

[2021-03-08 02:12] #402 closed

[2021-03-08 02:12] #395 closed

[2021-03-08 02:12] #388 closed

[2021-03-08 02:12] #386 closed

[2021-03-08 02:12] #383 closed

[2021-03-08 02:12] #382 closed

[2021-03-08 02:12] #368 closed

[2021-03-08 02:12] #317 closed

[2021-03-08 02:12] #261 closed

[2021-03-08 03:53] wcchh commented on #610
pymodbus           2.5.0rc2
Has the same status.

[2021-03-08 04:27] dhoomakethu commented on #613
Use `zero_mode=True` Refer the below comment from `synchronous_server` example.
[code]

[2021-03-08 04:27] #613 closed

[2021-03-08 04:34] dhoomakethu commented on #610
@wcchh  I have tried to reproduce this with latest pymodbus (2.5.0) and couldn't reproduce. Please share the modbus spec sheet for the modbus slave.

Also, if possible can you try any other transaction (reading holding/input registers ) if available?
Here is the snippet from the example I have tried.
[code]

[2021-03-08 07:53] wcchh commented on #610
Thanks for your reply~

Would you please run my sample code (in python file) to check the output? I think my code cannot specify slave ID and only as reading coils.

If you cannot reproduce it, that is` SEND: 0x0 0x1`, then I think it might be some system issues...

My sample code：
[code]
And the output of mine:

BTW, other transaction (reading holding registers ) seems good:

[2021-03-08 09:18] dhoomakethu commented on #610
@wcchh You are passing `unit` wrong. It should be `rr = client.read_coils(0, 64, unit=1)` not `UINT=1`

[2021-03-08 09:38] wcchh commented on #610
Ah...~ so sorry.

[2021-03-08 09:38] #610 closed

[2021-03-08 11:41] YtvwlD commented on #298
I think this is still valid, please reopen.

[2021-03-09 02:11] #122 closed

[2021-03-09 02:11] #118 closed

[2021-03-09 02:11] #27 closed

[2021-03-09 08:53] qistoph opened #614 "[Errno 111] Connection refused"
### Versions

* Python: 3.9.2
* OS: Alpine Linux v.3.13 (on Docker 19.03.13)
* Pymodbus: v.2.5.0
* Modbus Hardware (if used): Modbus TCP, no specific hardware

### Pymodbus Specific
* Server: tcp/rtu/ascii - sync/async
* Client: tcp/rtu/ascii - sync/async

### Description

What were you trying, what has happened, what went wrong, and what did you expect?
Trying to connect to my SolarEdge SE3000H l

[2021-03-09 13:05] heidecjj commented on #569
For now, adding the `unit` kwarg to `RemoteSlaveContext` should give you the behavior you're expecting:

[code]

[2021-03-09 14:55] dhoomakethu commented on #614
Can you paste the complete logs for pymodbus 2.5.0 and 2.4.0 please?

[2021-03-09 20:56] lampra1 commented on #569
@heidecjj Thank you, seems to be working.

[2021-03-09 21:26] qistoph commented on #614
And the logs (forgot to enable debug for the module)

**2.4.0**
[code]

**2.5.0**
[code]

[2021-03-10 04:33] dhoomakethu commented on #614
@qistoph Thanks for the logs, on pymodbus 2.4.0, can you add `client.close()` after your reads and see if there is a change in the behaviour? Pymodbus 2.5.0 closes socket connection after every read explicitly and opens the connection on reads.

[code]

[2021-03-10 09:10] qistoph commented on #614
That does replicate the issue in 2.4.0:

[code]

[2021-03-10 09:27] dhoomakethu commented on #614
@qistoph Thanks, so that basically indicates your slave has a tolerance to the number of immediate connects, probably a sleep between the reads should be a workaround on pymodbus 2.5.0. But I will see if I can add a support to disable disconnects after read as a seperate kwarg to client initialization.

[2021-03-10 09:50] qistoph commented on #614
Thanks! Adding a delay of 40ms indeed makes my code work with 2.5.0.

An option to disable disconnects sure would be nice.

[2021-03-11 13:27] aetasoul commented on #612
Same problem here.

Code:

[code]

pymodbus 2.5.0 LOG

[code]

pymodbus 2.4.0 LOG

[code]

[2021-03-11 14:03] dhoomakethu commented on #612
@aetasoul  and @vpetrovych  Refer #614 . This is a basically because `2.5.0` closes connection on each read/write and opens the connection again on the next transaction. If this connect/disconnect is too quick and if the slave is not happy or is still in the process of cleaning up previous connection you get the connection refused. The workaround is to introduce a small sleep between the reads to

[2021-03-11 14:21] aetasoul commented on #612
Has you can see in the code there is a sleep of two seconds:

[code]

[2021-03-11 14:31] dhoomakethu commented on #612
@aetasoul can you share the specs for your modbus slave?

[2021-03-11 14:40] aetasoul commented on #612
Specs: let me check if I can find it

With pymodbus 2.4.0 if I close the connection after the read the problem is the same as the 2.5.0. But it seems to not be a delay issue, I set the sleep to 10 seconds

[code]
LOG:

[code]

[2021-03-11 14:46] dhoomakethu commented on #612
@aetasoul Thanks for the experiments, looks like the slave doesn't like the disconnections. Let me make the disconnects optional after a succesfull read. You can expect 2.5.1rc1 in sometime with a patch.

[2021-03-11 15:06] dhoomakethu commented on #614
Please give a try with 2.5.1rc1 .
Release notes: https://github.com/riptideio/pymodbus/releases/tag/v2.5.1rc1
Pypi: https://pypi.org/project/pymodbus/2.5.1rc1/

[2021-03-11 15:07] dhoomakethu commented on #612
@aetasoul  @vpetrovych
Please give a try with 2.5.1rc1 .
Release notes: https://github.com/riptideio/pymodbus/releases/tag/v2.5.1rc1
Pypi: https://pypi.org/project/pymodbus/2.5.1rc1/

[2021-03-11 15:17] aetasoul commented on #612
Works like a charm 👍

I tried to remove the sleep and works also in this case 👍

[2021-03-11 21:32] qistoph commented on #614
2.5.1rc1 fixes my issue, without the sleep work-around :tada:

[2021-03-12 09:48] thunderbug1 opened #616 "ModbusSerialClient socket closed after first read"
I recently upgraded from python 2.7 to python 3.8.5
The code uses the Pymodbus library to connect to a ups and to periodically read some values.

In python2 the is_socket_open method returned true as long as the device was connected, but with python3 is_socket_open returns false after the first read (even though further reads work )

`
#The connection is established like:

BAUDRATE=115200
STOP_BIT

[2021-03-12 11:36] dhoomakethu commented on #616
Please try `pymodbus==2.5.1rc1` or you can add a small sleep between your reads.

[2021-03-12 14:13] aetasoul commented on #616
https://github.com/riptideio/pymodbus/issues/612

https://stackoverflow.com/questions/66526532/after-read-holding-registers-with-pymodbus-connection-is-broken-in-raspberry-pi/66581700?noredirect=1#comment117707861_66581700

[2021-03-13 02:12] #601 closed

[2021-03-13 21:04] jalarconn opened #617 "Modbus Server generate many child processes"
Hi All,

I have implemented a Modbus server with the PyModbus library.
For some time now, the process has been generating many child processes that I cannot control.
I would appreciate your help to optimize or control this process.
The server has modbus scalable units that write data and other units that query data.
Thanks

[2021-03-14 05:38] dhoomakethu commented on #617
@jalarconn can you please share more information ?Sample code, process tree etc?

[2021-03-14 21:12] jalarconn commented on #617
Yes, it's a code.

from pymodbus.server.sync import StartTcpServer
from pymodbus.device import ModbusDeviceIdentification
from pymodbus.datastore import ModbusSequentialDataBlock, ModbusSparseDataBlock
from pymodbus.datastore import ModbusSlaveContext, ModbusServerContext
from pymodbus.transaction import ModbusRtuFramer, ModbusBinaryFramer

def run_server():

    store = ModbusSlaveContext(0, zero

[2021-03-14 21:17] jalarconn commented on #617
![image](https://user-images.githubusercontent.com/56705838/111084449-340a3100-84f1-11eb-8df7-1e4af3191509.png)

This is the problem. The process automatically generates many child processes that I cannot control and end up using a lot of machine resources.
Thank to all

[2021-03-15 04:33] dhoomakethu commented on #617
Thanks, that's strange. What OS are you using?

[2021-03-15 12:41] jalarconn commented on #617
Hello, thanks for your answer, I am using Ubuntu Server 18.04

Atentamente,
Jaime Alacón N.

El lun, 15 mar 2021 a las 1:33, dhoomakethu ***@***.***>)
escribió:

--
Jaime Alarcón

[2021-03-15 14:35] CzakuGim opened #618 "The same Modbus Server context for different slaves (SqlSlaveContext)"
### Versions

* Python: 3.8.5
* OS: ubuntu 20.05
* Pymodbus: 2.5.0
* Modbus Hardware (if used): not yet

### Pymodbus Specific
* Server: rtu- async
* Client: rtu- sync

### Description

Hello,

I have some question about pymodbus and handling multicontext with sql.

I have found how to do single context handling using sql:

https://stackoverflow.com/questions/61949194/pymodbus-modbus-server-implem

[2021-03-16 14:10] dhoomakethu commented on #618
Try `single=False` that should do the trick.

[2021-03-16 14:12] dhoomakethu commented on #618
Where is slave id `0x03` in your code? You are allocating the same block to both slaves, have you tried creating separate blocks and see if that helps?

[2021-03-16 14:14] dhoomakethu commented on #617
Thanks, I donot have access to Ubuntu server so I couldn't test it there. But on Mac OSX I don't see such behaviour. What version of pymodbus and python is this?

[2021-03-16 16:31] TheBigFudge opened #619 "Unable to close sync ModbusTCPServer"
### Versions

* Python: 3.8
* OS: Ubuntu
* Pymodbus: 2.5.1rc1

### Pymodbus Specific
* Server: tcp - sync
* Client: tcp- sync

### Description

I'm currently building a Modbus server in a Docker image and extend the synchronous_server.py example for it:
[link](https://github.com/riptideio/pymodbus/blob/master/examples/common/synchronous_server.py)

Unfortunately I am not able to shutdown the serve

[2021-03-17 05:07] dhoomakethu commented on #619
How are you shutting down the server at present? Are you usning `psutil` to grab the `pid` and terminate ? If `synchronous_server.py` is your primary process (with PID 1), you can just kill that but that would also terminate your container. Also make sure there are no clients connected to the server (just for testing).

[2021-03-17 08:23] TheBigFudge commented on #619
Hey @dhoomakethu

Thanks for the quick reply. Currently I do not shutdown the server at all, so the container is not terminated yet. But that is my goal.

So basicly I have a main program (main.py) with PID 1 in the container, which opens a thread for the synchronous modbus server and starts the server. Now I want to terminate all processes when the container gets Ctrl+C, but unfortunately I can't

[2021-03-17 12:02] #619 closed

[2021-03-17 12:07] TheBigFudge commented on #619
have replaced `StartTcpServer ` with `ModbusTcpServer` and now I can run .shutdown() on the server instance. I could have thought of that myself, sorry for the inconvenience

[2021-03-17 15:43] thunderbug1 commented on #616
ok thank you very much for your answers, the fix with pymodbus==2.5.1rc1 resolved the issue for me :)

[2021-03-17 15:43] #616 closed

[2021-03-27 13:10] hhowe29 opened #620 "TCP client closed after every transmission"
This line from 2.5.0 closes the TCP client after every successful transmission with the server.

https://github.com/riptideio/pymodbus/blob/ce5d83b67928bf651cacaee4be2bb4bb212494bd/pymodbus/transaction.py#L226

:question: What is the reasoning behind this change? Prior to this, I believe that the TCP client would remain open until it was explicitly closed, or an error occurred.

Possible :bug: Pri

[2021-03-27 13:59] hhowe29 commented on #620
Looks like I am late to the game. This issue is already fixed in release candidate 2.5.1 rc1

https://github.com/riptideio/pymodbus/compare/v2.5.0...v2.5.1rc1#diff-5c8c5e837c99d44f092472a42b432e030b684aa2571f5561668d3ce4b4a3bd84R227

Related to #612

[2021-03-27 13:59] #620 closed

[2021-03-30 08:56] #614 closed

[2021-03-30 08:57] #612 closed

[2021-03-31 04:06] robotichustle opened #621 "Given read request, unable to read multiple Modbus RTU responses from usb serial in Continuous/streaming mode"
### Versions

* Python: 3.6.9
* OS: Ubuntu 18.04.5 LTS
* Pymodbus: 2.5.0
* Modbus Hardware (if used): Forsentek Load cell indicator (http://www.forsentek.com/prodetail_288.html)

### Pymodbus Specific
* Server: rtu - sync
* Client: rtu - sync

### Description

Hi guys,

I am able to successfully read values from a Modbus device connected to a torque sensor using pymodbus.client.sync.ModbusSerialCl

[2021-03-31 06:43] dhoomakethu commented on #621
copying from pymodbus gitter channel

[2021-03-31 07:17] tracernz commented on #621
Modbus is probably not the right protocol for this kind of application. EtherCAT or even Ethernet/IP offer the means to do this in a standards compliant way.

[2021-04-01 06:16] #316 closed

[2021-04-01 16:15] astha172 opened #623 "pymodbus"
### Versions

* Python:
* OS:
* Pymodbus:
* Modbus Hardware (if used):

### Pymodbus Specific
* Server: tcp/rtu/ascii - sync/async
* Client: tcp/rtu/ascii - sync/async

### Description

What were you trying, what has happened, what went wrong, and what did you expect?

### Code and Logs

[code]

[2021-04-01 16:18] astha172 commented on #623
hi, i connected modbus to pid controller and uses this code to write

import pymodbus
import serial
from pymodbus.pdu import ModbusRequest
from pymodbus.client.sync import ModbusSerialClient as ModbusClient #initialize a serial RTU client instance
from pymodbus.transaction import ModbusRtuFramer
import time,os

import logging
logging.basicConfig()
log = logging.getLogger()
log.setLevel(logging.DEB

[2021-04-01 16:39] dhoomakethu commented on #623
Can you share the logs for the transaction? Also add read holding register
call before and after write.

ಗುರು, ಏಪ್ರಿ 1, 2021 21:48 ದಿನಾಂಕದಂದು astha172 ***@***.***>
ಅವರು ಬರೆದಿದ್ದಾರೆ:

[2021-04-02 01:58] #607 closed

[2021-04-02 03:43] astha172 commented on #623
hello
True
DEBUG:pymodbus.transaction:Current transaction state - IDLE
DEBUG:pymodbus.transaction:Running transaction 1
DEBUG:pymodbus.transaction:SEND: 0x1 0x6 0x0 0xb8 0x0 0xfa 0x89 0xac
DEBUG:pymodbus.client.sync:New Transaction state 'SENDING'
DEBUG:pymodbus.transaction:Changing transaction state from 'SENDING' to 'WAITING FOR REPLY'
DEBUG:pymodbus.transaction:Changing transaction state from '

[2021-04-02 03:46] astha172 commented on #623
this is what i m getting ...after writing on 40184......as i seen previously that .....there is to offset of address.....thats why for writting in register185.....i given address of 184

[2021-04-02 03:53] astha172 commented on #623
[130]
DEBUG:pymodbus.transaction:Current transaction state - TRANSACTION_COMPLETE
DEBUG:pymodbus.transaction:Running transaction 5
DEBUG:pymodbus.transaction:SEND: 0x1 0x6 0x0 0xb8 0x0 0xfa 0x89 0xac
DEBUG:pymodbus.framer.rtu_framer:Changing state to IDLE - Last Frame End - 1617335505.947966, Current Time stamp - 1617335506.041352
DEBUG:pymodbus.client.sync:New Transaction state 'SENDING'
DEBUG:py

[2021-04-02 03:55] astha172 commented on #623
after adding read holding register before and after write .....i got same result nothing change value

[2021-04-02 04:39] dhoomakethu commented on #623
There are no error response received from the slave and it looks like there is no issue with your pymodbus code. Please refer the manual of your slave if it requires some explicit action to enable writing to registers. You can also try with other clients and available and confirm if the behaviour is same or different.

[2021-04-02 04:43] dhoomakethu opened #624 "Unit ID not handled properly in async clients"
@dhoomakethu, sorry for long response. Below is the log file of failing unit id validation.
[code]
If in the line 230 in pymodbus/framer/rtu_framer.py remove unit validation:
[code]
messages will start to receive correctly.
The reason, as I said, in pymodbus/client/asynchronous/async_io/__init__.py code:
[code]

_Originally posted by @olddudealex in https://github.com/riptideio/pymodbus/issues/608

[2021-04-02 05:03] astha172 commented on #623
what can be other different clients
[PID500_Modbus_Doc.pdf](https://github.com/riptideio/pymodbus/files/6247788/PID500_Modbus_Doc.pdf)
this is register list for reading and writing for PID

[2021-04-04 03:44] altendky commented on #581
Still running around on other tasks and haven't made it back here yet.

[2021-04-04 03:44] altendky commented on #598
Still running around on other tasks and haven't made it back here yet.

[2021-04-08 03:42] dhoomakethu commented on #298
This is required for 3.x

[2021-04-08 13:30] gabriel00mainka commented on #437
Have enyone the final code?

[2021-04-08 13:39] gabriel00mainka commented on #437
@jsr1611 or @Howeng98

[2021-04-09 06:23] grungy-ado commented on #624
Hi, I encounter the same problem. It seems that problem occurs in asynchronous modbus client when modbus frame is received in multiple chunks, so that `unit` is decoded (`unit = self.framer.decode_data(data).get("unit", 0)`) for each chunk, but only first chunk contains unit info. The other chunks of this frame does not contain `unit` and so the validation fails.

I would suggest resolving this is

[2021-04-14 01:51] #298 closed

[2021-04-17 11:38] sahilahluwalia commented on #437
Here is my code

from pymodbus.client.sync import ModbusTcpClient
from pymodbus.client.sync import ModbusTcpClient as ModbusClient
from pymodbus.datastore import ModbusSequentialDataBlock,ModbusSlaveContext,ModbusSparseDataBlock
client = ModbusClient('192.168.0.121',port=502,timeout=3)
for count in range(1):
    while True:
        try:
            results=client.read_input_registers(122)

[2021-04-18 12:09] dhoomakethu commented on #437
@sahilahluwalia what version of pymodbus are you using and what is you modbus slave (real hardware or simulated device?)

[2021-04-22 01:53] #618 closed

[2021-04-23 21:09] Luctins opened #626 "Cannot update context from inside a multiprocessing.Process"
### Versions

* Python: 3.8.6
* OS: Pop!_OS 20.10
* Pymodbus: 2.5.1
* Modbus Hardware (if used):  -

### Pymodbus Specific
* Server: tcp - async
* Client: [nodered-contrib-modbus](https://flows.nodered.org/node/node-red-contrib-modbus) - tcp - sync/async (not sure)

### Description

Trying to update the server context from inside a thread has no effect.
I expected that I could update the context f

[2021-04-28 11:06] mosolovsa opened #627 "Enron Modbus support"
Hi!

Pymodbus doesn't support Enron Modbus ( https://www.simplymodbus.ca/Enron.htm ) extension anyhow, am I right?

And if so, does the PR with such functionality would be eligible?
If the answer is yes I could implement it with some support via high-level guidance about how the author sees it must be done.

In case someone would be curious why the heck do I know that Enron Modbus extension is exi

[2021-04-30 07:10] rdiez opened #628 "Add support for hex values in REPL client.write_registers"
Modbus registers are 16-bit and sometimes it is easier to understand their values when expressed in hex.

However, in the REPL tool "pymodbus.console", it looks like you cannot use hex for the values:

ValueError("invalid literal for int() with base 10: '0x0331'")

It would be nice if you could use hex like depicted above.

[2021-05-05 20:00] altendky commented on #581
Well, the PR has finally been submitted for review so...  `:]`  (open sesame)

[2021-05-05 20:09] altendky commented on #598
oh yeah, i should look at this.  at some point.  (activity!)

[2021-05-05 20:47] Luctins commented on #626
note: It seems to be related to some sort of memory isolation that `multiprocessing.Process` does

[2021-05-06 02:21] #617 closed

[2021-05-07 02:26] #621 closed

[2021-05-09 02:26] #623 closed

[2021-05-11 10:44] thehaxxa opened #629 "Modbus RTU (serial) connection fails after first command in 2.5.1, (works in 2.3.0)"
### Versions

* Python: 3.8.1
* OS: Linux
* Pymodbus: 2.5.1
* Modbus Hardware (if used):
_MCU via CP2102 (USB)
Rockwell, Siemens PLCs  (FTDI Adapter)
ESP32 over UART (FTDI Adapter)_

### Pymodbus Specific
* Client: rtu - sync

### Description

This issue was identified as a upstream issue with pymodbus from Home Assistant's Modbus Component.
This issue emerged in Home Assistant 2021.5, when the py

[2021-05-11 10:49] janiversen commented on #629
👍 Lets hope this get solved fast and 2.5.2 are release so we can upgrade.

We want to use pymodbus async version, but once the 3.x is released.

[2021-05-11 12:09] dhoomakethu commented on #629
@thehaxxa would you mind giving the complete logs with 2.5.1 and 2.3.0. Pymodbus 2.5.1 closes connection on encountering error. We have seen in some cases adding a small delay after an error is encountered fixes these sort of issue. There should also be kwarg which should disable disconnects after an erroneous transaction. Will try to find it.

[2021-05-11 12:45] thehaxxa commented on #629
I can confirm the addition of `delay: 2` and `delay: 5` had no effect in this context.

[2021-05-11 13:15] dhoomakethu commented on #629
@thehaxxa  No the delay needs to be after an error is received. I will try to see if I can reproduce this issue with the limited hardware I have at my  disposal.

[2021-05-11 15:52] janiversen commented on #629
@dhoomakethu without being deep into your code, allow me a suggestion:
after connect() in client mode, skip anything received until first request is sent. For server mode, you need to add "If not a valid modbus message".

After that I think disconnect() on bad messages is an excellent idea.

[2021-05-11 15:53] janiversen commented on #629
If you want that tested I am sure @thehaxxa can help, if you send a patched python file.

[2021-05-12 04:16] dhoomakethu commented on #629
We are kind of doing it before every request [here](https://github.com/riptideio/pymodbus/blob/master/pymodbus/client/sync.py#L699)

[2021-05-12 08:04] dcneeme opened #630 "serial port speed related log records on every sync transaction since 2.5.0.rc1"
Found that when using sync queries, every query creates the following line into /var/log/syslog and /var/log/kern.log.

[code]

The same information is visible with dmesg -w.

This is a problem because the higher the communication rate, the faster grow the log files. There is no such problem with pymodbus 2.4.0 or earlier versions.

The problem only seems to be related to sync transactions, as asy

[2021-05-12 08:16] dhoomakethu commented on #630
@dcneeme can you try the stable version `2.5.1` and I believe it should be fixed in that version. It is basically due the fact in 2.5.0 connection would close on every transaction and re-opened .

[2021-05-12 08:27] dcneeme commented on #630
Thanks, 2.5.1 fixed the sissue.
    N

    On 12/05/2021 11:16, dhoomakethu wrote:

      @dcneeme
        can you try the stable version 2.5.1 and I believe
        it should be fixed in that version. It is basically due the fact
        in 2.5.0 connection would close on every transaction and
        re-opened .
      —
        You are receiving this because you were mentioned.
        Reply to

[2021-05-12 08:36] #630 closed

[2021-05-13 05:44] dhoomakethu commented on #629
@thehaxxa @janiversen Please take a look in to #631 . This is basically a shot in the dark as I was not able to reproduce the error locally with my setup. Let me know if this works. This should be same as the behaviour of the client with pymodbus < 2.5.0.

Let me know if that works. You can patch `transaction.py` locally and see if that helps.

[2021-05-13 07:05] thehaxxa commented on #629
I tested the commit and made a change to the Modbus Component in Home Assistant to add the `reset_socket=False` parameter. Everyone is working as expected thanks for making this PR.

[2021-05-13 07:18] janiversen commented on #629
@dhoomakethu first of all a big thanks for your swift response, you saved us for the pain of downgrading. HomeAssistant do however have a policy (which I cannot change) of only using released libraries, so I really really hope you can make a 2.5.2 soon.

I had a bigger look at the test cases, and it seems to me that it would be good to add some "black box" tests, like e.g. write a test that implem

[2021-05-13 11:12] dhoomakethu commented on #629
@thehaxxa thanks for the confirmation. @janiversen I do  have plans for functional tests which are long pending.However it's unlikely that is going to be implemented in near future. I will be making a release today or latest by the end of week. Thankd

[2021-05-13 13:35] terminet85 commented on #629
@thehaxxa I've tried the same but I still got crash

you have added reset_socket=false on modbus.py after line 183?

`                self._client = ModbusSerialClient(
                    method=self._config_method,
                    port=self._config_port,
                    baudrate=self._config_baudrate,
                    stopbits=self._config_stopbits,
                    bytesize=self._

[2021-05-13 13:38] thehaxxa commented on #629
That's correct, was it working in 2.3.0? The behaviour is the same for me.

[2021-05-13 13:47] terminet85 commented on #629
@thehaxxa
I'm the guy that was posting on https://github.com/home-assistant/core/pull/50457

Sorry I'm missing something... Is it working for you or not?

[2021-05-13 13:54] thehaxxa commented on #629
Yes it is working, my point is this issue was introduced in 2.5 and now it's functional with this parameter.

[2021-05-13 14:08] terminet85 commented on #629
I'm unable to reproduce this fix in my setup. Rock solid on 2.3.0

[2021-05-13 14:25] janiversen commented on #629
In order to active the fix for modbus you need to change files in the pymodbus library, and change in modbus.py as well.

I expect this patch to help users with instable connections, primarely based on rs-485 (serial).

On dev you will find 2 other user facing patchs and 2 internal patches:
- parameter “timeout:” on “modbus:” can now be used to control slow devices, that is if the device responds

[2021-05-13 14:31] dhoomakethu commented on #629
@thehaxxa @terminet85 @janiversen Please let me know if I should wait for you guys to confirm the solution to make a release. If you think its not solving the issue, please provide me with more logs/info to see if there is something else I need to take care of.

[2021-05-13 14:59] terminet85 commented on #629
@janiversen yeah i've patched the pymodbus library...

@dhoomakethu If I've forgot something is still no working. I'll take some debug home-assistant log if is fine.

[2021-05-13 15:00] janiversen commented on #629
OhhI thought I wrote that, I will upgrade pymodbus as soon as 2.5.2 is available.

[2021-05-13 15:02] janiversen commented on #629
Are you sure your issue is the same as @thehaxxa do you use a serial line. You might be better off to try the other options provided on dev.

[2021-05-13 15:03] janiversen commented on #629
Let us keep the HA issues on HA and if there are pymodbus issuesI will pass them on. @thehaxxa made this issue in accordance with me.

[2021-05-13 15:08] terminet85 commented on #629
Sure... I'm on serial too.
What is the other options please?

[2021-05-13 15:10] janiversen commented on #629
Delay/timeout on modbus: available on dev.

[2021-05-13 15:43] terminet85 commented on #629
@janiversen I've git cloned modbus from dev, I need to set something? 'cause still crash.

[2021-05-13 15:48] janiversen commented on #629
Please you need to read what I write on the different issues.
1) Let us not discuss HA problems here, this Issue for a specific bug that have been solved
2) The message before your tells you what you need
3) I am working on a patch that solves the lovelace issue.
But as far as I know (I apologize if I am wrong) you have not supplied logs to show the HA crash, which is interesting because other exp

[2021-05-13 15:50] dhoomakethu commented on #629
Please note, there will be an official 2.5.2 release in sometime.

[2021-05-13 15:53] thehaxxa commented on #629
I would open an issue on the HASS github. Providing as much detail of the hardware as you can, turn on debug logging and post your findings there.

[2021-05-13 15:56] terminet85 commented on #629
If you keep closing thread and tell what not to do, will be hard for me to be helpful. I need to open a new issue in home-assistant so?

[2021-05-13 15:58] janiversen commented on #629
Either open an issue in HA, or use one of the issues already open to provide your details. But of course if you are sure you have a pymodbus issue (which I as codeowner am not) you are in the right place.

[2021-05-13 16:04] dhoomakethu commented on #629
This is officially released.Please refer https://github.com/riptideio/pymodbus/releases/tag/v2.5.2 . You can install the latest with `pip install pymodbus --upgrade` or `pip install pymodbus==2.5.2`.

[2021-05-13 16:04] #629 closed

[2021-05-17 06:53] dcneeme commented on #630
the problem is back, for both 2.5.1 and 2.5.2

installing 2.4.0 clears the erratic behaviour for sync (but disables async with tornado)  :(

[2021-05-17 06:55] dcneeme opened #633 "the problem described in #630 is back for 2.5.1 and 2.5.2"
the problem with logging on every transaction is back, for both 2.5.1 and 2.5.2

installing 2.4.0 clears the erratic behaviour for sync (but disables async with tornado)  :(

[2021-05-17 07:04] dhoomakethu commented on #633
Please try `reset_socket=False` with client initialization and see if that helps.

[2021-05-17 10:26] LemonCANDY42 commented on #613
It's Work!

[2021-05-18 19:50] fess1100 opened #634 "Decoding Holding Registers to binary format"
### Versions

* Python: 3.9.1
* OS: Windows 10 Pro 2004
* Pymodbus: 2.5.1
* Modbus Hardware (if used):

### Pymodbus Specific
* Client: rtu

### Description
Need help with decoding Holding Registers to binary format. When reading, I get a value from 8 to 15 bits. I can't read the value from 0 to 7 bits. Thanks

Modbus Slave: ID:1 F:03
0: -47,2 (float32)
1:
2: -7565 (int)
3: -3 (int)
4: 4581 (uint)

[2021-05-19 05:13] dhoomakethu commented on #634
The`WordOrder` and `ByteOrder` are different for your second decode onwards. May be that is the issue?

[2021-05-19 05:54] fess1100 commented on #634
Please specify what you mean. I tried different combinations of register polling

``
#code 1
from pymodbus.client.sync import ModbusSerialClient
from pymodbus.payload import BinaryPayloadDecoder
from pymodbus.constants import Endian
from PyQt5 import QtWidgets, uic
from PyQt5.QtSerialPort import QSerialPort, QSerialPortInfo
from PyQt5.QtCore import QIODevice

client = ModbusSerialClient(method='rt

[2021-05-19 06:53] dhoomakethu commented on #634
Your question is not clear ` I get a value from 8 to 15 bits. I can't read the value from 0 to 7 bits.` . Are you trying to read values as bytes?. How are you reading values from 8-15bits ?

[2021-05-19 07:15] fess1100 commented on #634
Следующим запросом я хочу считать биты 0-15, но приходят 8-15. Что я делаю не так? В этом и есть мой вопрос

`BinaryPayloadDecoder.fromRegisters(client.read_holding_registers(8, 1, unit=1).registers, Endian.Little, Endian.Little).decode_bits()`

[2021-05-19 19:40] munich-ml opened #635 "Modbus Error: [Input/Output] [Errno 25] Inappropriate ioctl for device"
### Versions

* Python: 3.5.3
* OS: Rasbian GNU/Linux 9 (stretch)
* Pymodbus: 2.4.0
* Modbus Hardware (if used): Heidelberg Wallbox Energy Control

### Description
I'm getting a **Modbus Error** once I try to read any input register. I would be very happy for any hint!

### Code and Logs
[code]
... produces the following output on the Raspberry Pi:
[code]

[2021-05-20 05:34] fess1100 commented on #635
Try this way

r = walli.read_input_registers(13, 1)
print(r.**_registers_**)

[2021-05-20 12:44] protocolpy opened #636 "How to get response code in case of an exception / Provide a way to access raw data received with exception response"
### Versions

* Python:
* OS:
* Pymodbus:
* Modbus Hardware (if used):

### Pymodbus Specific

* Client: tcp/rtu/- sync

### Description

Hello!
I would like to get the exception code returned from a server when polling for a holding register. I know it shows when debug logging is enabled, but would like to record it for test purposes. Is this possible with the api on both tcp as well as serial.
I

[2021-05-20 15:21] dhoomakethu commented on #634
A modbus register is 2 bytes long, so you are going to read all 16bits(read 2 bytes) when you read 1 register. If you want to read the next register, you will have to use the next offset. If you want to decode 1 byte at time use`decode_8bit_int` or `decode_8bit_uint` methods from `BinaryPayloadDecoder`. Refer https://github.com/riptideio/pymodbus/blob/master/examples/common/modbus_payload.py#L155

[2021-05-20 15:24] dhoomakethu commented on #635
@munich-ml This error is generally coming from the underlying `pyserial` stack. You will have to make sure your serial port settings are correct, check system/dmesg logs for more info.

[2021-05-20 15:24] #635 closed

[2021-05-20 17:34] protocolpy commented on #636
Sorry I didn't elaborate. The exception is of type ModbusIOexception
Modbus Error: [Input/Output] No Response received from the remote unit/Unable to decode response
When I print(message.ExceptionResponse.exception_code), the ModbusIOexception class doesn't have ExceptionResponse

[2021-05-21 04:16] dhoomakethu commented on #636
`ModbusIOException` are raised when pymodbus coudn't find a response on time (empty response) or the CRC validation fails. In either case there wont be a standard modbus exception code that could be derived. However the original function code of the request could be tracked with attribute `fcode` https://github.com/riptideio/pymodbus/blob/master/pymodbus/exceptions.py#L33

[2021-05-21 08:48] fess1100 commented on #634
Thank you for your help! Unfortunately, there is a lack of experience in the field of data distribution. I don't understand how it works, but I solved the problem by looking at the method in the minimalmodbus library. The method seems not elegant, I was counting on a compact request from the pymodbus library

[code]

[code]

[2021-05-21 09:10] fess1100 commented on #634
An elegant solution was found, just about what you said. Offset. I'll share it. Problem solved

[code]

[code]

[2021-05-21 10:02] protocolpy commented on #636
DEBUG:pymodbus.transaction:RECV: 0x0 0x2 0x0 0x0 0x0 0x5 0x1 0x86 0x1

This is the response I get. If it times out and not recognizing the response error code, how can I retrieve the response itself so I could record the code, instead of logging?

[2021-05-22 06:00] #634 closed

[2021-05-22 06:02] dhoomakethu commented on #636
Unfortunately, pymodbus discards the message. I will take this as an enhancement so that the raw data is available with exception response.

[2021-05-27 11:35] OldTinfoil opened #638 "Modbus updating server sending fin/ack to query"
### Versions

* Python: 3.5.3
* OS: Raspbian GNU/Linux 9 (stretch)
* Pymodbus: 2.3.0 (suspected - still looking to confirm)
* Modbus Hardware (if used): n/a

### Pymodbus Specific
* Server: tcp - (updating) sync
* Client: 3rd party software

### Description

System is being polled every 30s, but with multiple queries per "round". After the 5th successful query, the 6th query is ACK'd and bundled w

[2021-05-27 11:35] OldTinfoil commented on #638
Apologies - accidentally hit enter too early. Still editing the issue.

[2021-05-27 11:57] OldTinfoil commented on #638
There we go. Finished butchering this issue.

[2021-05-28 11:33] Krolken commented on #627
I just got an OMNI gas flow computer in my lab that uses Enron Modbus so I am also interested in implementing the Enron version of Modbus.

[2021-05-28 11:40] swamper123 commented on #627
I would recommened that in case you want to develope such an extension, you may want to start on the 3.0.0 branch (which drops Python2 and so is breaking changes).

[2021-05-29 04:41] dhoomakethu commented on #638
@OldTinfoil Do you also observe the same with Pymodbus 2.5.2?

[2021-05-29 04:43] dhoomakethu commented on #627
@Krolken / @mosolovsa Feel free to implement and raise a PR .Also as @swamper123  mentioned please make sure it is python3 compatible.

[2021-05-30 11:17] fess1100 commented on #634
The tests were never successful. Could you tell us how to use a bit mask and a loop to convert an integer of 16 bits into an array [True, False, etc...]? Maybe there is a link

[2021-06-05 09:08] aneesahmedpro opened #640 "asyncio TCP client timeout broken"
### Versions

* Python: 3.8.5
* OS: Ubuntu 20.04.2
* Pymodbus: 2.5.2
* Modbus Hardware (if used): No hardware used

### Pymodbus Specific
* Server: tcp - sync/async
* Client: tcp - async

### Description

#### What were you trying?

A very simplistic TCP-only setup.
1. Install pymodbus default (minimal) package: `pip install pymodbus`
2. Create a TCP server which has a datastore which takes 5 seco

[2021-06-05 09:15] aneesahmedpro commented on #640
Could this be the root cause? Look at the `async_io_factory` function in `client/asynchronous/factory/tcp.py`
[code]

This function does not end up using the `timeout` argument it accepts.

[2021-06-05 16:50] MAKOMO opened #641 "AttributeError: 'ModbusUdpClient' object has no attribute '_in_waiting'"
### Versions

* Python: 3.9.5
* OS: macOS
* Pymodbus: v2.5.2
* Modbus Hardware (if used):

### Pymodbus Specific
* Client: tcp/rtu- sync

### Description

The ModbusTcpClient and ModbusUdpClient with retry_on_empty=True or retry_on_invalid=True fail with

[code]

as `_in_waiting` is only defined for `ModbusSerialClient`.

### Code and Logs

[code]

[2021-06-07 15:08] protocolpy commented on #636
Hello
Can you please clarify on these questions below..
1. Retries don't seem to work in TCP but works well for RTU. I have added manual retries on error response to TCP in my code.
2. Is there a way I can reduce the debug level to print only the send and receive responses

[2021-06-09 20:30] timgates42 opened #642 "Proposing a PR to fix a few small typos"
# Issue Type

[x] Bug (Typo)

# Steps to Replicate and Expected Behaviour

- Examine examples/common/asynchronous_processor.py, examples/contrib/asynchronous_asyncio_modbus_tls_client.py, examples/contrib/concurrent_client.py, examples/contrib/modbus_saver.py, examples/contrib/modbus_tls_client.py and observe `neccessary`, however expect to see `necessary`.
- Examine pymodbus/repl/client/mclient.p

[2021-06-10 05:51] dhoomakethu commented on #642
Thanks @timgates42  Please raise a PR against the `dev` branch.

[2021-06-10 20:03] altendky commented on #581
meh...

[2021-06-14 16:00] aneesahmedpro opened #644 "ModbusTlsServer should use ModbusTlsFramer by default, NOT ModbusSocketFramer."
### Versions

* Pymodbus: 2.5.2

### Pymodbus Specific
* Server: tls - sync
* Client: none

### Description

(Technically, this a feature request, but trust me it feels like a bug.)

I was trying to create a TLS modbus server. Since I wanted to start and stop the server manually, I chose to use `pymodbus.server.sync.ModbusTlsServer` instead of `pymodbus.server.sync.StartTlsServer`. But it did not

[2021-06-16 14:40] dhoomakethu commented on #581
Adding label so that this wont get stale.

[2021-06-18 18:00] georgezhao2010 commented on #641
I got this issue too.

[2021-06-20 21:15] ovunccetin opened #646 "Slaves start not responding when multiple ones are running on the bus"
### Versions

* Python: 3.7.3
* OS: Raspbian GNU/Linux 10 (buster)
* Pymodbus: 2.5.2
* Modbus Hardware (if used): Raspberry Pi Zero W Rev 1.1

### Pymodbus Specific
* Server: rtu - sync/async
* Client: rtu - sync

### Description

I have two identical slaves (RPi Zero) and a master (RPi 4) on the Modbus. Each slave runs a sync RTU server listening port '/dev/serial0'. The slave code is the modifie

[2021-06-23 02:07] #633 closed

[2021-06-24 13:08] tiberryb opened #647 "GUI (Graphical User Interface) stops/crashes when the SerialServer starts"
### Versions

* Python: 3.9
* OS: Raspian
* Pymodbus: 2.5.1
* Modbus Hardware (if used): Raspberry Pi 3B

### Pymodbus Specific

* Server: rtu - sync/async
* Client: rtu - sync/async

### Description

I want to start the SerialServer after clicking a button on the graphical user interface.
After a click on the button the Gui stops and I have to stop my programm.

### Code and Logs
[code]

[2021-06-26 13:10] dhoomakethu commented on #647
`StartSerialServer` is blocking. You probably have to call it in a separate thread ?

[2021-06-28 17:17] dhoomakethu commented on #646
Are both slaves connected on the same port ?

[2021-06-29 15:26] ralienpp commented on #338
I work in an environment where we use a Python interpreter for various processes. Although `twisted` is present, the process that uses `pymodbus` relies exclusively on `asyncio`, so the solution from https://github.com/riptideio/pymodbus/pull/339 is not suitable for our case.

A note for others digging around this area - I monkey-patched `is_installed` with a function that always returns False, to

[2021-06-29 16:32] dhoomakethu commented on #338
If there's a possibility use virtualenvs to avoid these kinds of problems and workaround

[2021-07-01 11:54] tiberryb opened #648 "Pymodbus: After StopServer -> StartSerialServer doesn't work (could not open port: PermissionError)"
### **Versions**

* Python: 3.9
* OS: Raspian
* Pymodbus: 2.5.1
* Modbus Hardware (if used): Raspberry Pi 3B

### **Pymodbus Specific**
* Server: rtu - sync/async
* Client: rtu - sync/async

### **Description**

In my application I want to start a SerialServer, which can be read by a client connected over RTU. After the client has read the values I want to stop the server. At this point the user s

[2021-07-01 12:56] timgates42 commented on #642
Thanks @dhoomakethu raised #649 against the `dev` branch

[2021-07-01 13:27] dhoomakethu commented on #648
Looks like some part of your code is keeping the port occupied, see if there are any stray processes/threads running in the background which are not killed.

[2021-07-05 02:08] #638 closed

[2021-07-05 02:08] #627 closed

[2021-07-05 07:44] OldTinfoil commented on #638
We haven't been able to replicate the issue with the version in use in the lab, nor with 2.5.2. Due to the pandemic, I haven't been able to travel to the remote site to investigate the issue in person. I'll loop back around if I make any headway with the issue.

[2021-07-12 14:20] tiberryb commented on #648
I also tried sync server but there was the same issue. I think the problem is, when I want to close and stop the server the server_close function wants to reconnect to the client but this is not possible because when I start the server the Client in already connected. Is it possible to stop the server without connencting the client again?

[code]

[2021-07-14 02:07] #636 closed

[2021-07-15 15:49] dhoomakethu commented on #648
@tiberryb the client connects to server and not the other way around I believe. When the server is stopped , the server will disconnect all active connections.

[2021-07-16 06:26] tiberryb commented on #648
@dhoomakethu thanks for your reply.
But there is the problem. When I want to stop the server after starting it, this doesn't work. The server gets no permission because when the server is stopped, he wants to connect to the client first. In my application I only want to disconnect from the client without reconnecting.

**Log:**

**Server was started.**
[code]
**Server was stopped.**
[code]

[2021-07-16 10:53] WimmerMarkus opened #651 "Serverside Callback with Address and Value"
Hello, i am setting up a ModbusServer with pymodbus. i read a datalist over Serial port an write it into datastore of the server. so i can see data f.e. in ModbusPoll

now i want **write back** datapoints f.e. dp 1, value 10 function 16 on my modbus server

is there any callback or method to catch which address and value hast changed?

Many Thanks

[2021-07-21 08:51] dhoomakethu commented on #651
Take a look in to https://github.com/riptideio/pymodbus/blob/master/examples/common/updating_server.py .

[2021-07-21 08:54] dhoomakethu commented on #648
That sound OS specific issue and nothing to do with pymodbus. It looks likes some of the resources are not released when you stop the server, it could be that there is an active connection in place. You can start with stopping and restarting server with out a client connected and repeat the experiment with a client connected.

[2021-07-23 22:49] vabhasin commented on #328
I think @mpf82 's comment above mentions that this was an issue in version 2.1.0 and was fixed in 2.2.0. Haven't tried it myself but its confirmed in that issue's thread
[Issue with read_input_registers in version 2.1.0 #353](https://github.com/riptideio/pymodbus/issues/353)

[2021-07-25 12:11] starnight commented on #644
Thanks for your report. :)
We can make it more robust here.  I am going to have a PR to enhance it.

[2021-07-27 06:45] #647 closed

[2021-07-27 15:26] ArjunAnantharaman opened #654 "Help required with connection to sensor"
### Versions

* Python: 3.8
* OS: Windows
* Pymodbus: 2.5.2

### Description

I am new to Pymodbus and I want to establish a connection to a sensor that seems to use the half-duplex protocol. From my reading and searching online, I used pymodbus with multiple implementations, the most descriptive being with the ModBusClient. I have a sensor whose data is publically available at https://www.micro-e

[2021-07-28 06:42] ScrabbleProgrammer commented on #654
You're using parity 'E'. Try changing it to 'N'. Also, make sure the baudrate is the same as on the sensor.

[2021-07-28 07:06] ScrabbleProgrammer opened #655 "ImportError on Raspberry Pi 4 terminal"
### Versions

* Python: 3.9.6
* OS: Raspbian OS
* Pymodbus: 2.5.2

### Description

Hello, I'm currently using PyModbus to communicate with a number of sensors via RS485 from a Raspberry Pi 4 and occasionally my PC. And although the script runs perfectly from an IDE, I'm unable to run the script through the terminal. For some reason, the Raspberry Pi 4 is unable to import the PyModbus module, even

[2021-07-28 07:13] mindforger commented on #655
make sure your "default" python is 3.9.6 in your terminal, just run the python console and check there, because as far as i am aware default python is still python2 on raspbian

try /python3 modbus_monitoring.py isntead to selectively call python3 instead of 2 for testing

[2021-07-28 08:08] ArjunAnantharaman commented on #654
I tried with Parity 'N', still the same result, and the baudrate is as specified by the sensor manual. I even tried changing the baud rate in the device manager in windows to match that of the sensor (9600 is the default for those COM ports) but the same error persists.

[2021-07-28 08:23] dhoomakethu commented on #654
If you are using on windows, try `strict=False` while initialising the client (`ModbusClient(method=..., strict=False)`).

[2021-07-28 08:27] dhoomakethu commented on #654
In any case, the documentation does not specify the protocol to be `modbus` but just plain RS485. I do not think pymodbus can help you there. Try `pyserial` library directly to read the data with the frame structure mentioned in the document,

[2021-07-28 08:27] #654 closed

[2021-07-28 08:28] dhoomakethu commented on #655
This is not an issue with pymodbus per say, Please check your python path and make sure you are using the correct python interpreter.

[2021-07-28 08:28] #655 closed

[2021-07-28 09:23] ArjunAnantharaman commented on #654
I tried to use the strict, but with the same results. I was initially trying only with pyserial to directly use the ser.readline() command to get the data from the sensor. When the port opened (similar to this), there was no data being sent to be read.

Again, this could be a very basic mistake on my part since I have not worked with this before, so thank again, and I hope further suggestions can

[2021-07-28 13:29] track02 opened #656 "Correct way to keep connection open?"
### Versions

* Python: 3.8
* OS: MacOS / Linux
* Pymodbus: 2.5.2
* Modbus Hardware (if used): N/A

### Pymodbus Specific
* Client: tcp async

### Description

Using Pymodbus as a client along with a Windows modbus simulator (Modbus Slave)

I've been doing some testing today, creating a client doing a few reads and writes but if I leave the program running and come back after a few minutes and mak

[2021-07-28 13:59] dhoomakethu commented on #656
what particular version of pymodbus is this ? the latest is 2.5.2

[2021-07-28 14:00] track02 commented on #656
@dhoomakethu - Apologies, this is 2.5.2

[2021-07-31 14:37] janiversen opened #657 "ModbusTCP _in_waiting not defined."
### Versions

* Python: 3.8
* OS: hastío
* Pymodbus: 2.51
* Modbus Hardware (if used):

### Pymodbus Specific
* Client: tcp - sync

### Description
The modbus integration in home assistant uses pymodbus, and lately we have started getting more and more issues with
[code]

We use slave 0 as default, and some users inform that the error goes away if they specify a slave > 0, but this is not consiste

[2021-07-31 15:00] dhoomakethu commented on #657
Is the issue also seen with 2.5.2?

[2021-07-31 15:03] dhoomakethu commented on #657
Never mind this is a bug.

[2021-07-31 15:07] dhoomakethu commented on #656
Is slave a real device or a simulated modbus slave ?

[2021-07-31 15:07] janiversen commented on #657
Yup but difficult to reproduce and isolate, I have tried for a while….but of course you know the code a lot better.

Looking forward to see a fix.

[2021-07-31 15:18] dhoomakethu commented on #656
Also, please enable the debug logs to get more info on what;s happening with the client internally.
You can add the below code block to your code.

[code]

[2021-08-01 12:39] #642 closed

[2021-08-01 12:39] dhoomakethu commented on #641
Fixed with #659

[2021-08-01 12:39] #641 closed

[2021-08-03 09:20] track02 commented on #656
I'll have access to the simulator later this week, will enable the logs and re-run

This is the slave simulator https://modbustools.com/modbus_slave.html being used, happy to try another for comparison if you have any recommendations

[2021-08-04 14:07] Krolken commented on #627
Just to follow up. I tried to work out if it was possible to add the Enron modbus in this library. I think some of enron modbus would be OK to implement since it is mostly just supporting 32 bit answers.
But the real special cases like History readout would just make it really hard to get into the current code.

So I made a separate python package if anyone is interested. [https://github.com/u9n/e

[2021-08-05 10:35] track02 commented on #656
Couldn't see any detailed logs available in the simulator apart from a sparse traffic log which I assume matches up with the first write and read:

[code]

Only had a Python 3.7 machine this time, but same error - enabling logs as suggested gives the following:

Seems like it is disconnecting and then reconnecting

[code]

[2021-08-09 07:10] dhoomakethu commented on #657
Please give a try with [2.5.3rc1](https://github.com/riptideio/pymodbus/releases/tag/v2.5.3rc1) .
PyPi: https://pypi.org/project/pymodbus/2.5.3rc1/

[2021-08-09 07:11] janiversen commented on #657
will do

[2021-08-09 10:10] janiversen commented on #657
As far as I can tell it solves the issue, however I can only do limited testing. I have issued a PR to have 2.5.3rc1 on our dev, allowing much more users to test.

[2021-08-13 15:57] xavidotcat opened #663 "ImportError: No module named custom_message"
I have the next issue...

debian@beaglebone:/usr/bin/modbus$ sudo python modbus_server.py
Traceback (most recent call last):
  File "modbus_server.py", line 24, in <module>
    from custom_message import CustomModbusRequest
ImportError: No module named custom_message

Any can help me? Thanks

[2021-08-16 07:07] dhoomakethu commented on #663
You need to make sure your `PYTHONPATH` is correct. Your import statement says you need to have `custom_message.py` file in the same directory as the `modbus_server.py`.

[2021-08-16 07:07] #663 closed

[2021-08-24 06:00] #648 closed

[2021-09-02 11:27] MaximeVinzio commented on #514
Hello, the bug is still relevant for pymodbus-2.5.2 on windows.

[2021-09-02 18:48] monkphx commented on #49
This worked for me
sudo pip install pymodbus --upgrade

[2021-09-05 18:13] mdavidsaver commented on #624
I've bumped into this issue as well.  The doc comment for `processIncomingPacket()` describes `unit=` as:

https://github.com/riptideio/pymodbus/blob/731b080df0d277f0c6c32c949667a24a69a6bd7b/pymodbus/framer/rtu_framer.py#L219-L220

This matches what is (I think) happening with a synchronous client, where `unit=request.unit_id`.

https://github.com/riptideio/pymodbus/blob/731b080df0d277f0c6c32c9496

[2021-09-10 03:13] FabianInostroza opened #666 "ignore_missing_slaves parameter has no effect"
### Versions

* Python: 3.9.7
* OS: Debian Testing
* Pymodbus: git master
* Modbus Hardware (if used):

### Pymodbus Specific
* Server: tcp/rtu/ascii - sync, async not tested

### Description

The parameter `ignore_missing_slaves` of the servers is ignored, the servers always ignores requests to missing slaves and doesn't generate any responses.

### Code and Logs

[code]

[2021-09-14 10:09] janiversen opened #667 "pymodbus tcp client does not clean socket when not receiving data."
### Versions

* Python:
3.8.2
* OS:
hassio (raspbian 64bit)
* Pymodbus:
2.5.3rc1
* Modbus Hardware (if used):

### Pymodbus Specific
* Server: tcp/rtu/ascii - sync/async
* Client: tcp/rtu/ascii - sync/async
client tcp / sync

### Description

What were you trying, what has happened, what went wrong, and what did you expect?

I am maintaining the modbus integration in Home Assistant, and I have lat

[2021-09-14 14:52] dhoomakethu commented on #667
There is a keyword option `reset_socket` which I believe is set to `False` by default on `2.5.3rc1` , did you try setting that to `True` to see if the socket gets reset on error?

[2021-09-14 16:00] janiversen commented on #667
I should have said it is a tcp connection.

Setting “reset_socket=True” does not change anything. I added the parameter on my production system, and first time the solar inverter had a problem pymodbus went into a loop trying to connect. A restart solved the problem until next time.

I am happy to help with more debugging etc.

[2021-09-14 16:17] dhoomakethu commented on #667
@janiversen Do you mean, the client tries to reconnect automatically ? Or is it the home assistant modbus client which tries to run transactions in loop ?

[2021-09-14 16:18] dhoomakethu commented on #667
And was this working before with earlier versions of pymodbus?

[2021-09-14 16:24] janiversen commented on #667
my software the client only calls read* in pymodbus every couple of seconds. It is pymodbus that tries to reconnect.

the “cannot reconnect” issues started a couple of months ago, could be around the time I updated to the release candidate. Let me see if I can try with 2.5.2

[2021-09-14 18:21] janiversen commented on #667
Nope inverter is down again. Anything I can do to help you narrow it down?

[2021-09-15 04:32] dhoomakethu commented on #667
@janiversen can you explicitly set `reset_socket=False` in the client initialisation and see if that helps?

[2021-09-15 08:41] janiversen commented on #667
That did not change a lot, but retry_on_empty=true seems to have solved my issue.

I do however think there is a problem hidden in all this. I will try to make test server and see if I can make something reproducible.

I use StartTcpServer with custom messages, but I have not found a way to add a function that allows modifications at the level of tcp send, any suggestions ?

[2021-09-15 13:29] dhoomakethu commented on #667
Have you tried Modbus server REPL ? It has features to control the response from the server.

[code]

[2021-09-24 07:46] Hvitnov commented on #657
After update to 2.5.1 I have seen this issue pretty consistently on several dataloggers communicating on modbusTCP via Narrowband IOT.

Updating to 2.5.3rc1 solved this for me.

[2021-09-24 08:02] #657 closed

[2021-09-30 04:56] dhoomakethu commented on #667
@janiversen any updates on this with explicti `reset_socket=False` ?

[2021-09-30 05:30] janiversen commented on #667
Ups sorry got held up. Yes but it is not good news, the problem persist, an error occurs, socket seems to stay open and pumodbus cannot reconnect.

I still have to try it out with REPL, will get some time this sunday.

[2021-10-02 09:52] nikito7 opened #669 "Support for single 32bits register in RTU"
### Versions

* Python:
* OS:
* Pymodbus:
* Modbus Hardware (if used):

### Pymodbus Specific
* Server: tcp/rtu/ascii - sync/async
* Client: tcp/rtu/ascii - sync/async

### Description

With Modbus TCP registers above 2 bytes work correctly.

My device have single registers with N bytes. Like clock, serial number (count:1; variable size)

But in RTU or rtuovertcp still fails.

Maybe a CRC issue?

[2021-10-02 09:59] nikito7 commented on #669
Related? https://github.com/riptideio/pymodbus/pull/608

[2021-10-02 13:47] nikito7 commented on #669
How I can use recvPacket?

[code]

Rtuovertcp bridge:

[code]

Script above:

[code]

[2021-10-02 13:49] nikito7 commented on #669
Work in TCP

[code]

[2021-10-06 09:34] bden16 opened #672 "Basic Tcp communication failure"
### Versions

* Python: 3.9
* OS: Windows
* Pymodbus: 2.5.2
* Modbus Hardware (if used): none

### Pymodbus Specific
* Server: **tcp**/rtu/ascii - sync/async
* Client: **tcp**/rtu/ascii - sync/async

### Description

Hi,

I try to set up the simplest connexion between two python scripts in Modbus, I'm learning in an internship for engineering studies. I tried various things, the first one with a m

[2021-10-08 15:16] ferdymercury opened #673 "unit parameter"
### Versions

GitHub master

### Description

When using pymodbus within an IDE like Spyder3, some ModbusSerialClient functions contain a 'hidden' parameter, namely one that does not appear as autocompletion, and that can only be found by looking in the docstrings by opening the source code. I am referring to parameter 'unit' in https://github.com/riptideio/pymodbus/blob/master/pymodbus/repl/clien

[2021-10-09 17:04] mjm987 commented on #33
I know this is is old thread but following works for me like a charm by ..
a) overloading ModbusSerialClient  and
b) calculate the correct RTS delay time

`class MyModbusSerialClient(ModbusSerialClient):
  def __init__(self, **args):
    super(MyModbusSerialClient, self).__init__(**args)

  def _send(self, request):
    if not self.socket:
        raise ConnectionException(self.__str__())
    if r

[2021-10-11 10:02] ksjoberg opened #674 "Cannot participate as slave on a multi-drop bus if there are other slaves"
### Versions

* Python: 3.7
* OS: Current Raspberry OS
* Pymodbus: 2.5.2
* Modbus Hardware (if used): Exar CC-USB-RS485-150U / Exar 21B1411

### Pymodbus Specific
* Server: rtu - sync + async
* Client: rtu - sync + async

### Description

In serial/RTU mode, PyModbus participates on a Modbus bus using PySerial. Unfortunately, PySerial's `read` behaves differently to `recv` on sockets, as the pySer

[2021-10-17 06:56] #640 closed

[2021-10-18 09:02] dhoomakethu commented on #672
Can you try with elevated permissions for port 502 or use other ports>1024 and see if the issue still persists?

[2021-10-19 10:58] maltekliemann opened #675 "Default framer for async `async_io.ModbusSocketServer` is ambiguous"
### Versions

* Python: 3.8.0
* OS: macOS 11.6
* Pymodbus: 2.5.2
* Modbus Hardware (if used): None

### Description

`server.async_io.ModbusSerialServer` uses `ModbusRtuFramer` as default framer, but the factory `server.async_io.StartSerialServer` uses `ModbusAsciiFramer`. Neither default value is mentioned in the documentation, which makes this slightly confusing, especially since all other facto

[2021-10-21 14:57] russalex83 opened #676 "write_register does not accept negavive values"
I am trying to write a value to a register 2700 to a VenusOS via ModbusTCP which controls Victron Multiplus Grid setpoint output. It works with all the positive values, so if I get extra energy from my solar or batteries I need to push back to the GRID in this case need to set negative value in register 2700.

`from pymodbus.client.sync import ModbusTcpClient as ModbusClient

CONNECTION = ModbusCl

[2021-10-25 10:24] maltekliemann opened #677 "`server.async_io.ModbusServerServer` has no `identity` parameter"
### Versions

* Python: Python 3.8.0
* OS: macOS Big Sur
* Pymodbus: 2.5.3

### Pymodbus Specific
* Server: tcp/rtu/ascii - async
* Client: tcp/rtu/ascii - async

### Description

`server.async_io.StartSerialServer` uses an `identity` parameter, which is passed to `server.async_io.ModbusSerialServer` as positional keyword. But `ModbusSerialServer` doesn't have an `identity` parameter, meaning that

[2021-10-25 10:42] maltekliemann opened #678 "`server.async_io.StartSerialServer` raises low-level exception"
### Versions

* Python: Python 3.8.0
* OS: macOS Big Sur 11.6
* Pymodbus: 2.5.2
* Modbus Hardware (if used): No hardware, just `/dev/ttyp0` and `/dev/ptyp0` pseudo terminals

### Pymodbus Specific
* Server: rtu - async
* Client: rtu - async

### Description

I've removed the `indentity` parameter from the `server.async_io.StartSerialServer` factory and then ran the  `examples/common/asyncio_server

[2021-10-25 11:38] maltekliemann opened #679 "Synchronous serial example fails on macOS"
### Versions

* Python: 3.8.0
* OS: macOS Big Sur 11.6
* Pymodbus: 2.5.2
* Modbus Hardware (if used): No hardware, only pseudo terminals

### Pymodbus Specific
* Server: rtu - sync
* Client: rtu - sync

### Description

I'm running the following server code:

[code]

... and the following client code:

[code]

This results on an error on macOS (see below). The same thing works fine on Linux using

[2021-10-26 12:10] #677 closed, assigned to dhoomakethu

[2021-10-26 12:12] #679 closed, assigned to nobody

[2021-11-03 10:42] bilalh96 commented on #635
what I dont understand is there is no attribute called "registers" in the module then how does this solve the problem , if it really does , for me it dosent :(

[2021-11-03 12:22] munich-ml commented on #635
hi @bilalh96,
in my case it really was a permission thing. This will probably print Error on your case:
[code]
If so, see this part of my repo for UART setup on Raspberry Pi: https://github.com/munich-ml/raspi_walli/tree/main/raspi_uart

[2021-11-03 12:55] bilalh96 commented on #635
is unit =1 slave/server address of device? It can be diff too right

[2021-11-03 13:13] munich-ml commented on #635
`unit` is the slave address. In case of my Heidelberger Wallbox Energy Contact, I can program the slave address 1.. 15.

[2021-11-03 13:50] bilalh96 commented on #635
can I have your email where I can discuss my specific issue with this unit id rather than extending this chat here for no reason? thank you :)

[2021-11-03 16:59] munich-ml commented on #635
I believe there can be value in our discussion for other users, too. So I'd rather continue in here.

[2021-11-04 09:22] Jeroen6 opened #680 "ModbusTcpClient.is_socket_open() always true"
### Versions

* Python: 3.9.1
* OS: Windows 10.0.19043 Build 19043
* Pymodbus: pymodbus-2.5.3
* Modbus Hardware (if used):  wago 750-362

### Pymodbus Specific
* Client: tcp - sync

### Description

is_socket_open() keeps returning True when the connection is closed by something other than close().
For example, when the remote node issues a FIN due to 60 second idle timeout.

Plus trying to catch

[2021-11-05 02:31] Apteryks opened #681 "the asynctest library used in test suite is abandoned, not supported with Python 3.9+"
All is in the title; see: https://github.com/Martiusweb/asynctest/issues/158.

[2021-11-12 20:39] elfring opened #682 "Increase the usage of augmented assignment statements"
:eyes: Some source code analysis tools can help to find opportunities for improving software components.
:thought_balloon: I propose to [increase the usage of augmented assignment statements](https://docs.python.org/3/reference/simple_stmts.html#augmented-assignment-statements "Augmented assignment statements") accordingly.

Would you like to integrate anything from a transformation result which c

[2021-11-15 07:18] swamper123 commented on #682
When we drop python2 (and perhaps everything below 3.7) support, we will gain more oppurtunities to improve the code (not just aufmented assinment statements alone). :)

[2021-11-15 12:17] elfring commented on #682
:thought_balloon: Do any factors hinder the wider application of [functionality which became generally available with Python 2](https://docs.python.org/3/whatsnew/2.0.html#augmented-assignment "Augmented assignments")?

[2021-11-21 02:16] tracernz commented on #676
You need to pack the value into an unsigned 16-bit int yourself if using raw register read/write.

[2021-11-21 14:15] dhoomakethu commented on #676
@russalex83 refer https://github.com/riptideio/pymodbus/blob/master/examples/common/modbus_payload.py#L100 to send signed values.

[2021-11-21 14:15] #676 closed

[2021-11-23 09:05] Ataraxiall opened #686 "Modbus RS485 with RTS control"
Hello, everyone,

I am trying to make a very simple file to consult the intensity of an energy meter,

I have it physically connected to ttS2, the address in hexadecimal is 139, length 2, function 3 and it is unit 1.

this is what I have.

`
import serial
from pymodbus.pdu import ModbusRequest
from pymodbus.client.sync import ModbusSerialClient as ModbusClient #initialize a serial RTU client insta

[2021-11-24 02:09] #672 closed

[2021-11-24 03:36] dhoomakethu commented on #686
Can you try setting `setRTS` after the `connection = client.connect()` ? Also what version of pymodbus is this?

[2021-11-25 09:19] SvenBunge commented on #680
I have the same issue (and not able to update to 3.x because the device is only providing python 2.7):

Got the same error and it seems that the peer is closing the connection sometimes silently. It's not about a timeout, the peer is closing it between 8 reads in a row. Looking into the mentioned method:
[code]

This is only checking that the socket is set. It is unset by the `close()` method but

[2021-11-29 15:36] levmarki opened #687 "REPL console/server no connection"
### Versions

* Python: 3.8.10
* OS: Ubuntu 20.04
* Pymodbus: last
* Modbus Hardware (if used): Fatek

### Pymodbus Specific
* Server: tcp/rtu/ascii - sync/async
* Client: tcp/rtu/ascii - sync/async

### Description
I'm trying to use Fatek PLC through TCP/IP Modbus.
As the first stage I tried to run REPL console and server on the same computer (I also tried to run on different PCs). The client.con

[2021-11-29 15:47] swamper123 commented on #687
Could you provide a minimum setup, what you have done?

[2021-12-01 01:24] marcosatti opened #688 "Partial reads cause RTU framer to discard whole frame with asyncio"
### Versions

* Python: 3.10
* OS: Windows 10
* Pymodbus: 2.5.3
* Modbus Hardware (if used):  USB RS-485 adapter to custom hardware

### Pymodbus Specific
* Client: rtu - async

### Description

Using the asyncio client, partial reads will cause the RTU framer to discard the whole incoming packet, complaining about the unit ID not being valid:

(Logs have been scrubbed of sensitive data.)

[code]

[2021-12-01 01:29] marcosatti commented on #688
Additionally, you aren't able to control pyserial-asyncio very much in regards to buffering, which I tried to do as a workaround (it would be fine if the data was all received at once).

[2021-12-01 02:17] #678 closed

[2021-12-01 06:42] dhoomakethu commented on #688
partial data is a pain point and we are not yet able to come to a solution which can be generic. Please feel free to raise a PR if its working for you so that others can review and comment.

[2021-12-01 11:40] marcosatti commented on #688
Is there prior discussion on it?

I'm guessing RTU framing is different to TCP framing etc without having a look, but for RTU framing simply not checking the subsequent partial frame data would be ok... By spec no device is meant to be replying except the addressed device.

[2021-12-02 12:30] levmarki commented on #687
Hello,
yes, sure.
I opened two terminals, one with server and one with console.
When I wrote client.connect I got 'true'
When I wrote client.read_coils address...
I got the error listed below.
The OS is Ubuntu 20.04.

[2021-12-03 20:11] farzadpanahi commented on #379
Having the same problem. Any update on this issue?

[2021-12-08 07:13] swamper123 commented on #681
I would recommened to replace asynctest with `pytest-asyncio` which is a plugin for pytest.

In later future versions we may be able to switch to the inbuilt solution from python, since unittests supports async stuff in ... 3.9 I guess? But that second thing is still up in the air.

[2021-12-08 07:22] swamper123 commented on #560
Since this issue is now ~ a year old: Is it still goal to support 3.6 or shall we step up to 3.7 as minimal version?
IMO python 3.6 was a big step, especially for async stuff, but is still not so compatible with newer versions.

[2021-12-08 07:32] swamper123 commented on #257
What can be done is throwing [black](https://black.readthedocs.io/en/stable/) on it (but pls. with 120 chars per line, unless you realy want that stuff shall looks nice on the terminal), see what stuff was changed (and if tests are still running fine) and merge a PR.
Then add flake8 tests on the Github Actions, kick all PRs again in Github Actions and newer tests have to pass it as well.

[2021-12-08 07:35] swamper123 commented on #257
In the same breath we may add sth. that the coverage will not drop and contributers are forced to add tests for new PRs.

[2021-12-12 10:10] zcattacz opened #690 "AttributeError: module 'asyncio' has no attribute 'exceptions'"
[code]

in the code

[code]
python 3.7 at least 3.7.3 doesn't have `asyncio.exceptions`
Maybe it was supposed to be >= 3.8.

[2021-12-12 14:54] dhoomakethu commented on #690
This should've been `if IS_PYTHON3 and PYTHON_VERSION >= (3, 8):`.

[2021-12-12 21:51] dcneeme opened #691 "multiple register write (fc16) issue via sync modbusTCP with certain hosts"
Hi,
have noticed a strange difference in modbustcp communication with similar pymodbus clients (on Ubuntu Linux) to two different TCP servers.  Both servers send a similar (to my eye) answer, but only one of them gets accepted by pymodbus client. The other one causes complaint about too short response (while it isn't, fc16 response should be exactly 12 bytes, as it is with both hosts).
Using the l

[2021-12-13 19:05] dcneeme commented on #691
Found a mistake (wrong  bytecount) in the failing response. This is why pymodbus expected 17 bytes instead of 12...

[2021-12-13 19:06] #691 closed

[2021-12-15 06:35] IndustrialCommunication opened #692 "do support the tcp-listener mode(modbus client base on tcp server)?"
commonly,modbus tcp client is tcp client mode, in some cloud case, need use tcp server mode listen the tcp client to connect itself.

[2021-12-16 05:20] dhoomakethu commented on #692
@IndustrialCommunication have you looked in to [isinstance(b, bytes) ](https://github.com/riptideio/pymodbus/blob/master/examples/contrib/remote_server_context.py) and https://github.com/riptideio/pymodbus/blob/master/examples/contrib/serial_forwarder.py ? This should be something you are looking for.

[2021-12-17 01:23] IndustrialCommunication commented on #692
that is different,  that is serial_forwarder,this is modbus client as a tcp server to listen the modbus slave to connect
![图片](https://user-images.githubusercontent.com/77141668/146473112-07ed45d6-0df1-422b-b151-812ef3140826.png)

[2021-12-18 10:36] elfring commented on #682
Would you like to improve the source code any further also for this software by using more augmented assignment statements? :thinking:

[2021-12-18 17:25] GayanJayakody opened #694 "Modbus Device Identification details overwrite"
### Versions

* Python: 3.7.0
* OS: Windows 10
* Pymodbus: 2.5.2

### Pymodbus Specific
* Server: tcp, sync
* Client: tcp sync

### Description

I am running two Pymodbus servers on the same machine in two threads. I have given two sets of identification information for each server. But Device information gets overwritten. (i.e. I always get the device information of the last created server even I

[2021-12-20 05:52] swamper123 commented on #682
If we update to Python3 ( see e.g.  #564 ), I don't see why we shouldn't ... Perhaps not with the first bigger release, but built on top of that. A general cleanup after that, would be good.

[2021-12-20 09:33] elfring commented on #682
:thought_balloon: I imagine that the affected source code can be improved earlier according to the suggested transformation pattern.

[2021-12-20 09:37] swamper123 commented on #682
If you got a tool to help or you got sth. in the wings, feel free to make a PR on that.
Every step of improvement is a step forwards.

[2021-12-20 09:42] elfring commented on #682
Would you dare to try another transformation approach out which would be similar to my Perl command example? :thinking:

[2021-12-20 10:40] swamper123 commented on #682
I have no clue about Perl, so I wouldn't try using it. ^^ I would use other Python codestyle related tools (guess sth. like a PEP8 checker shall mention it).
In the end a Pythonfile is a Textfile. Also, if you pull the repo, run your script, and commit your stuff, you'll see what changes have been made and if tests break. With a PR, you can't do any harm to this project (until sb. merges it). ^^

[2021-12-20 10:51] elfring commented on #682
:thought_balloon: Would you like to become more familiar with the application of named capture groups (as they are used in the shown regular expressions for another source code search and replace approach)?

How do you think about to influence the evolution any further for more advanced software analysis tools (besides my feature requests)? :thinking:

[2021-12-20 11:04] swamper123 commented on #682
If I would take some time on the regex topic again, I could handle it. ^^
Before that discussion is slipping to much into offtopic, I am a big fan of analysis tools, but haven't got the ressources at the moment to contribute something.

[2021-12-20 11:15] elfring commented on #682
Some programming languages support operators with a special property:
* augmented
* combined
* compound

Thus corresponding change possibilities can occasionally be reconsidered, can't they? :thinking:

[2021-12-23 11:27] ByWaleed opened #695 "Asyncio TCP TimeoutError exception (after successful connection)"
### Versions

* Python: 3.10.0
* OS: Linux (virtualenv)
* Pymodbus: v2.5.3
* Modbus Hardware (if used): Energy Meter

### Pymodbus Specific
* Client: tcp - async

### Description

**What were you trying?**

To create a very simple TCP client which reads a single register using Asyncio.

1. Install pymodbus default (minimal) package: ```pip install pymodbus```
2. Create an asyncio based TCP client,

[2021-12-23 16:56] tiagomiguelrs opened #696 "Transaction failed. (Modbus Error: [Invalid Message] No response received, expected at least 8 bytes (0 received))"
### Versions

* Python: 3.8.8
* OS: Windows 10
* Pymodbus: 2.5.3
* Modbus Hardware (if used): Omron CP1E-N30

### Pymodbus Specific
* Client: tcp - sync/async

### Description

Hi! I have searched for possible answers online regarding the  pymodbus package but I didn't find anything that would solve my problem.
So, I am trying to communicate with a PLC through direct ethernet connection from my wi

[2021-12-23 22:27] Makimax35 commented on #331
Hi, I need to read ModbusTCP IP addresses and registers listed into a MySQL table and read those datas registers into corresponding Modbus devices and log values into another MySQL table. I am new to Modbus and python programming.

1. Get devices modbus informations from mysql
2. Read modbus corredponding input registeres
3. Print results and see possible errors
4. Every 15 minutes Insert last val

[2021-12-27 05:57] dhoomakethu commented on #696
There is no response coming in back from the slave,  Have you tried using a unit-id with the requests ?
[code]

[2021-12-27 06:00] dhoomakethu commented on #696
Also, port 9600 is not a traditional modbus TCP port, Are you sure this device supports Modbus TCP ?

[2021-12-28 14:50] tiagomiguelrs commented on #696
So, I have been looking into the matter and I have to appologise, my rookie self thought that it only needed a TCP port to support Modbus TCP. I called the Omron support and they indeed confirmed me that it doesn't support TCP.

I am sorry for wasting your time, hopefully it wasn't much and I know better now.

[2021-12-28 14:50] #696 closed

[2021-12-31 02:21] #686 closed

[2022-01-06 03:13] JimitD opened #698 "Doesn't construct payload if unit is greater than 0x9, unit=0x9"
### Versions

* Python: 2.7
* OS: Raspbian
* Pymodbus: 2.5.3
* Modbus Hardware (if used):

### Pymodbus Specific
* Server: tcp/rtu/ascii - sync/async: RTU Over TCP - sync
* Client: tcp/rtu/ascii - sync/async: RTU -sync

### Description

What were you trying, what has happened, what went wrong, and what did you expect?

Trying to read Modbus registers of a device who has slave id of 9.
In that case

[2022-01-07 02:26] #687 closed

[2022-01-10 16:00] mabl commented on #538
I still observe this issue on TCP sync client if transmission is interrupted by `KeyboardInterrupt`. I think this is caused by the reconnect code not catching this exception. Maybe consider making try catch clause more indiscriminate?

[2022-01-12 10:04] tr-gis opened #700 "Modbus Error: [Connection] Failed to connect[ModbusTcpClient]"
### Versions

* Python: 3.8.10
* OS: 20.04.1-Ubuntu
* Pymodbus: 2.5.2
* Modbus Hardware (if used): USR-W610 Wifi converter with DELTA PLCs

### Pymodbus Specific
* Server: tcp - sync
* Client: tcp- sync

### Description

I have couple of PLCs each one with different id sitting behind a USR-W610 Wifi converter. All the PLCs are connected via a common RS-485 bus that then plugs into the WifiConverte

[2022-01-12 11:05] tr-gis commented on #700
I found the issue. It was a bug in my code . I was creating clients within a loop and quickly exceeded the max number of simultaneous connections that USR-W610 can handle (which was 24 in my case). This made WifiConverter to reject requests. Sorry for bothering you. I will close this issue.

[2022-01-12 11:05] #700 closed

[2022-01-13 19:49] EduardoRonchi opened #701 "Modbus Error: [Connection] Failed to connect"
### Versions

* Python: 3.7.3
* OS: Raspian (Buster)
* Pymodbus: 2.5.3
* Modbus Hardware (if used): Raspberry Pi 4B

### Pymodbus Specific
* Server: tcp - sync
* Client: tcp - sync

### Description

What were you trying, what has happened, what went wrong, and what did you expect?
I am trying to communitate from my raspberry pi (client) to my computer windows 10 (master). In windows 10 (ip:192.168

[2022-01-14 13:41] dhoomakethu commented on #701
This looks like an issue with the network and not with the pymodbus library.

[2022-01-14 15:04] idvsas opened #702 "multi-slave PYMODBUS Serial data loss"
Versions

* Python: 3.7.3
* OS: Debian 10.5
* Pymodbus: 2.5.3 / 2.3.0
* Modbus Hardware:  Modbus Poll and Pymodbus Client

Description

I have two computers running as slaves with pymodbus, when I do the individual reading they work very well, but when I try to read both at the same time I start to have data loss.

This is the master:

[code]

These are the slaves:
[code]
These are the results:

[

[2022-01-14 18:12] EduardoRonchi commented on #701
I guess it is a network issue. Anyone faced similar issues with windows 10?

[2022-01-18 08:17] andersjohnsen opened #703 "Fragmented TCP messages are not handled correctly"
As seen here

https://github.com/riptideio/pymodbus/blob/c5772b35ae3f29d1947f3ab453d8d00df846459f/pymodbus/framer/socket_framer.py#L160

if a modbus TCP packet is split between two or more fragments, the frame will be reset in between and will thus fail parsing. As TCP is a fully streaming protocol that supports splitting and merging data at will, this is leading to unreliable behavior. Simply rem

[2022-01-20 16:06] idvsas commented on #702
@dhoomakethu  This is my "schematic", i tried with different master devices and two computers with pymodbus

![rtu esquema](https://user-images.githubusercontent.com/62605905/150375198-85777bac-ca22-4781-a93a-c3d80bfe4286.png)

[2022-01-21 23:37] sjpark608 opened #704 "Slow read operation when sync serial client and servers are running at the same time"
### Versions

* Python:python3.7
* OS: Linux raspberrypi 5.10.63-v7l+
* Pymodbus: 2.5.3
* Modbus Hardware (if used):  none

### Pymodbus Specific
* Server: tcp/rtu/ascii - sync/async: rtu-sync-serial
* Client: tcp/rtu/ascii - sync/async: rtu-sync-serial

### Description

I have two serial ports each configured as server and client. I am doing a speed test of reading a single and bulk reading of th

[2022-01-22 02:07] #692 closed

[2022-01-22 23:49] iceisfun commented on #673
Should functions like read_holding_registers have a custom timeout parameter?

[2022-01-24 09:52] dhoomakethu commented on #673
@iceisfun the read time out is applicable for all transactions, Do you have a specific use case why you would need that ?

[2022-01-26 11:48] bsense-rius opened #705 "timeout is not handled by AsyncModbusSerialClient defaults to 3 seconds"
### Versions

* Python: 3.8
* OS: Ubuntu 20.04
* Pymodbus: 2.5.3
* Modbus Hardware (if used):

### Pymodbus Specific
* Server: None
* Client: serial rtu - async

### Description

Calling AsyncModbusSerialClient(..., timeout=5) and actually times out after 3 seconds

### Code and Logs

[code]

[2022-01-26 12:18] bsense-rius opened #706 "creating an AsyncModbusSerialClient from within an existing loop hangs"
### Versions

* Python: 3.8
* OS: Ubuntu 20.04
* Pymodbus: 2.5.3
* Modbus Hardware (if used):

### Pymodbus Specific
* Server: None
* Client: serial rtu - async

### Description

When calling AsynModbusSerialClient inside a running asyncio task (from a loop):

async def myCoro():
    ...
    loop, client = AsyncModbusSerialClient(schedulers.ASYNC_IO, loop=asyncio.get_running_loop(), ...)

Gets han

[2022-01-26 15:12] dhoomakethu commented on #706
what version of pymodbus is this?

[2022-01-26 16:15] bsense-rius commented on #706
Sorry!
I missed the topic. It is pymodbus 2.5.3

[2022-01-26 16:32] bsense-rius commented on #704
Same issue here.  In fact my guess is that the issue is in sync version of the server (not a hardware / rasp)

If i run the twisted version of the server, both sync and async client examples run ok, wihtout no issues passing all the asster tests.

BUT when i run the server in sync mode, results are really unereliable. Some times timesout, others frames are not complete etc.

I guess that deserves

[2022-01-26 18:49] sjpark608 commented on #704
@bsense-rius Thanks for sharing your experience and your suggestions. I will try the async version and let you know the progress.

[2022-01-27 06:51] dhoomakethu commented on #704
Do you have a pic of your setup ? Are the serial ports real (USB ports etc) or virtual serial ports ?

[2022-01-27 06:54] dhoomakethu commented on #706
@bsense-rius can you share your script with out the work around? Thanks

[2022-01-27 19:46] sjpark608 commented on #704
Hi, the schematic is deemed confidential, but both serial ports are two separate pairs of physical serial lines (RX1/TX1 and RX2/TX2) connected to a raspberry pi. I configured each line as a server and a client.

I also tried connecting one serial port on the raspberry pi to a laptop through a USB to serial cable using FTDI chip. And configured the laptop as server/client and the raspberry pi as c

[2022-01-28 02:09] #695 closed

[2022-01-28 08:39] dhoomakethu commented on #704
Can you enable debug logs on both server and client and paste the output here?

[2022-01-28 14:48] bsense-rius commented on #706
Sure, here it goes:

[code]

This has been tested with Modbus devices (different types of temperature sensors) and with your slave simulator.

[2022-01-29 01:38] sjpark608 commented on #704
Here is debug output of the server and client.

Server config port: ttyAMA1, baudrate 9600, timeout: 300ms
Client config port: ttyAMA0, baudrate 9600, timeout:300ms

Client: 10 single-register read operations
[code]

Server: 10 single-register read
[code]

[2022-01-30 15:38] dhoomakethu commented on #704
Thanks for the logs, I see you are logging the total consumed for each transaction. However, I want to know the time spent in each stage. Could you please update your logging to include the timestamp ?
[code]
Apologies for not being explicit. Thanks in advance.

[2022-01-31 18:05] sjpark608 commented on #704
I just realized the client logging configuration was different from the server. The server and client configurations are the same as the previous logging.

<details><summary>Client: 10 single-register read operations</summary>

[code]

</details>

<details><summary>Server: 10 single-register read operations</summary>

[code]

</details>

[2022-02-01 04:06] theobarkerh opened #708 "ReadFileRecordRequest.execute() doesn't wait for complete pdu"
### Versions

* Python: 3.8.10
* OS: Ubuntu 20.04, Windows 10
* Pymodbus: 2.3.5
* Modbus Hardware (if used): Hach Company reference implementation - slave

### Pymodbus Specific
* Server: none
* Client: /rtu - sync

### Description

When trying to read a file using the ReadFileRecordRequest (Function code 20), the pymodbus.transaction transitions from WAITING FOR REPLY to PROCESSING REPLY before a

[2022-02-01 06:38] dhoomakethu commented on #704
@sjpark608 thanks for the logs, I will take a look and try to reproduce the issue.

[2022-02-02 04:47] robot-ranger opened #710 "updating_server.py example results in "TypeError: 'ModbusSlaveContext' object is not subscriptable""
### Versions

* Python: 3.10
* OS: W10
* Pymodbus: 2.5.3
* Modbus Hardware (if used): trying to run a server. developing on windows, planning on raspi

### Pymodbus Specific
* Server: tcp, synchronous

### Description
I am sure this is something really stupid and obvious. I am not an expert.

I am trying to get a server running, but I cant figure out how to ~~write to the discrete inputs~~ update

[2022-02-02 07:30] dhoomakethu commented on #710
Use `context = a` instead of `context = a[0]` .

[2022-02-02 07:30] #710 closed

[2022-02-04 14:18] janiversen commented on #669
Just to be sure, Home assistant modbus integration do not have this problem! @nikito7 have this problem with the modbus configuration because he wants to do something that do not adhere to the modbus standard.

[2022-02-04 14:25] nikito7 commented on #669
2006 standard!!!

Most implementations had fixes or tweaks for single register 4bytes or more.

My device have uint32 in a single register !!

[2022-02-04 14:32] janiversen commented on #669
“most” is really grasping for air, lets see some numbers to support your claim ! please do not forget that the modbus organization consist of the biggest modbus companies so if they want it, it would at least be in a draft spec.

Feel free to point at a newer standard where register_size is variable and I will be happy to support your claim.

[2022-02-04 15:09] nikito7 commented on #669
Without HA correct support this is not needed.

Thank you

[2022-02-07 11:59] maltekliemann opened #711 "AttributeError: 'ModbusDisconnectedRequestHandler' object has no attribute 'protocol' when closing UDP server"
### Versions

* Python: 3.9.7
* OS: macOS Monterey 12.1
* Pymodbus: 2.5.3 (dev)
* Modbus Hardware (if used): None

### Pymodbus Specific

* Server: asyncio UDP

### Description

I'm trying to open and then gracefully close an asyncio UDP server.

### Code and Logs

[code]

This results in:

[code]

[2022-02-07 12:54] maltekliemann opened #712 "`TypeError: buildPacket() missing 1 required positional argument: 'message'` when using `ModbusRtuFramer` with async client"
### Versions

- Python: 3.9.7
- OS: macOS Monterey 12.1
- Pymodbus: 2.5.3 (dev)
- Modbus Hardware (if used): None

### Pymodbus Specific
* Server: tcp/async
* Client: tcp/async

### Description

(Possibly related to #153)

Tried to use `ModbusRtuFramer` with the `ModbusAsyncTCPClient` and received this error:

[code]

### Code and Logs

I used the examples from `examples/common` and only added the

[2022-02-09 07:56] Franck-PowerUp opened #713 "updating_server.py error"
### Versions

* Python: 3.7
* OS: Ubuntu 20
* Pymodbus: 2.5.0
* Modbus Hardware (if used):

### Pymodbus Specific
* Server: rtu - sync
* Client: rtu - sync

### Description

Error when i try the "updating_server.py" example, Exception occured line 55.

### Correction

the error is due to the data access, the example goes deeper than needed.

i propose:

[code]

[2022-02-09 08:04] Franck-PowerUp opened #714 "callback_server.py example error"
### Versions

* Python: 3.7
* OS: Ubuntu 20
* Pymodbus: 2.5.0
* Modbus Hardware (if used):

### Pymodbus Specific
* Server: rtu - sync
* Client: rtu - sync

### Description

When I adapt the "callback_server.py" example, I make the queue client modify the datastore, but my client doesn't see the changes.
after some work, it's due to the use of Process creation for the queue listener that makes cha

[2022-02-12 06:08] dhoomakethu commented on #713
@Franck-PowerUp can you paste the traceback please?

[2022-02-14 08:29] Franck-PowerUp commented on #713
[code]

[2022-02-14 08:36] Franck-PowerUp commented on #713
Not an error, I've used threading.Timer instead of initial twisted.

[2022-02-14 08:36] #713 closed

[2022-02-14 16:23] mEgha061295 commented on #437
Hi, here is my code :
import minimalmodbus
from pymodbus.client.sync import ModbusSerialClient as ModbusClient
from pymodbus.register_read_message import ReadInputRegistersResponse

client = ModbusClient(method= 'rtu', port= '/dev/serial0', stopbits=1, bytesize=8, parity= 'N', baudrate= 57600, timeout = 0.9, strict = False)

connection = client.connect()
print(connection)

#value = client.read_inp

[2022-02-17 11:19] nyorem commented on #514
Hello, I'm still experiencing this issue on Windows 10 with python 3.10.2 and pymodbus 2.5.3.

[2022-02-19 02:11] #701 closed

[2022-02-21 22:52] diagonalfish commented on #712
Submitted the above fix for this issue since I ran into the same problem today. Seems to work with everything I've tried so far.

[2022-02-24 10:59] zmatlik117 commented on #694
I think it's caused by __data dictionary here:
https://github.com/riptideio/pymodbus/blob/master/pymodbus/device.py#L191
being defined as a class attribute instead of class INSTANCE attribute - and unfortunately is also mutable.
I had to drink a hell of a lot of whiskey before i figured that out.

But i don't think i know enough about pymodbus architecture to attempt to fix it right now. I mean -

[2022-02-25 02:19] #702 closed

[2022-02-25 21:46] diagonalfish commented on #712
@maltekliemann After looking at the test failures on my PR it seems that there's a simple workaround:
`framer=ModbusRtuFramer(ClientDecoder())`

Based on the failures in the tests, in the asynchronous client it seems to be expecting the framer parameter to be an instance rather than a class like in the synchronous one.  Not sure whether to leave the PR open and adjust the tests to improve consiste

[2022-02-27 04:01] makaay2007 opened #717 "windows10, asynchronous_server.py got an unexpected keyword argument 'timeout'"
### Versions

* Python:3.8
* OS:windows 10
* Pymodbus:2.5.3
* Modbus Hardware (if used):

### Pymodbus Specific
* Server: rtu - async

### Description

I use the asynchronous_server.py as an example:
but I got an error,
  File "C:\Users\22804\Documents\myPycharmEnv\pymodbusEnv\lib\site-packages\pymodbus\server\asynchronous.py", line 338, in StartSerialServer
    SerialPort(protocol, port, reactor,

[2022-03-09 10:15] twriventa commented on #717
I too am encountering the same issue with an asynchronous serial rtu server.

Python 3.8
Windows 10
pymodbus 2.5.3

File "C:\Riventa\Source\HMI\modbus_server\venv\lib\site-packages\pymodbus\server\asynchronous.py", line 338, in StartSerialServer
    SerialPort(protocol, port, reactor, baudrate=baudrate, parity=parity,
TypeError: __init__() got an unexpected keyword argument 'timeout'

`StartSerial

[2022-03-09 14:55] dhoomakethu commented on #712
@diagonalfish sorry for the delayed response, yes you should be initializing the framer. the test might need an update.

[2022-03-09 16:05] diagonalfish commented on #712
No problem.  In this case the test does seem to be initializing the framer, which is why it broke when my PR modified how the framer argument is used.  The main thing is that this is different from the API for the synchronous client which seems to expect you to pass the class rather than an instance (https://pymodbus.readthedocs.io/en/latest/source/example/changing_framers.html).

Either is fine a

[2022-03-10 04:14] ehn opened #719 "REPL history file path hardcoded to ../.pymodhis"
### Versions

* Python: 3.8.3
* OS: macOS 12.2.1
* Pymodbus: 2.5.3
* Modbus Hardware (if used): N/A

### Description

It [looks like](https://github.com/riptideio/pymodbus/blob/c5772b35ae3f29d1947f3ab453d8d00df846459f/pymodbus/repl/client/main.py#L172) the history file of the REPL is hardcoded to `../.pymodhis`. If I run `pymodbus.console` in my home directory, I get this error:

[code]

If I run

[2022-03-10 16:26] makaay2007 opened #720 "I run async_twisted_client_serial then protocol stop running."
### Versions

* Python: 3.8.9
* OS: windows
* Pymodbus: 2.5.3
* Modbus Hardware (if used):  just connect to virtual serial

### Pymodbus Specific
* Client: rtu- async

### Description

log will stop typing and nothing error code generate, what's going with it, how can we make it more robust

### Code and Logs
DEBUG:pymodbus.client.asynchronous.twisted:send: 0x1 0x1 0x0 0x0 0x0 0x3 0x7c 0xb
DEBUG:p

[2022-03-15 09:51] Jon-Salmon commented on #703
I'm not sure why this issue has been closed prematurely, this is a substantial bug in the Modbus TCP implementation.

[2022-03-15 09:56] swamper123 commented on #703
This is caused by a bot, which is closing issues, if no activity happens on this issue.
Will reopen it.

[2022-03-17 16:17] janiversen opened #721 "sync modbus tcp crashed when server breaks connection (in HomeAssistant)"
### Versions

* Python:
verifified with 3.8, 3.9 and 3.10

* OS:
Hass

* Pymodbus:
2.53

* Modbus Hardware (if used):
Reproduceable with software server as well.

### Pymodbus Specific
* Server: tcp/rtu/ascii - sync/async
* Client: tcp/rtu/ascii - sync/async
Client sync (modbus integration)

### Description
This is the original issue:

https://github.com/home-assistant/core/issues/68161

Hello,

I

[2022-03-21 06:24] dhoomakethu commented on #721
3.x is long pending, I am not able to find time to do that. Apologies for that. Is the remote unit explicitly closing socket before rebooting ?

[2022-03-21 06:31] janiversen commented on #721
Most likely not.If its inly time you miss, then I might be able to help you, let me now what is missing.

[2022-03-21 10:31] janiversen commented on #721
see https://github.com/riptideio/pymodbus/pull/722 for a solution.

[2022-03-24 10:38] sarathtv opened #723 "Modbus Tcp Client Connection closing unexpectedly"
### Versions

* Python: 3.9.6
* OS: Windows 10
* Pymodbus: 2. 3.5
* Modbus Hardware (if used): USR-TCP232-304

### Pymodbus Specific
* Client: tcp - sync

### Description

I am trying to communicate to an Smart Meter from Schneider Conzerv EM6436 . Initially i used the RS485 to USB converter to read data from the smart meter and i was able to do this without any problem.
Then i wanted to try the E

[2022-03-25 09:53] dhoomakethu commented on #723
Looks like remote host is closing the connection. Does this work well with other modbus clients ?

[2022-03-25 10:43] sarathtv commented on #723
Hai, @dhoomakethu
I had used a raspberry pi3 to fetch data from the smart meter using the USB to RS485 converter . I had no problems in that set up.

[2022-03-25 13:29] dhoomakethu commented on #723
No that is Modbus RTU , what I meant was have you ever tried with any Modbus TCP client for this unit ?

[2022-03-27 01:05] nikito7 commented on #669
Some users still use usb rtu

The problem is in rtuframer

4 bytes is non standard, but works with Modbus TCP

[2022-03-27 01:15] nikito7 commented on #669
[b'\x01\x04\x04\x00K\xa0\xd7'] not ready

This is strange

x00K?

[2022-03-27 07:18] janiversen commented on #669
your system delivers an incomplete frame.

[2022-03-27 12:09] dhoomakethu commented on #723
You can try the same code from a raspberry pi and see if you get the same behaviour, there are multiple stand-alone modbus clients for windows which you can try to see if the behaviour is consistent or the issue is only with pymodbus

[2022-03-27 12:39] janiversen commented on #721
Solution merged into dev.

[2022-03-27 12:39] #721 closed

[2022-03-27 12:52] dhoomakethu commented on #721
@janiversen There is pre-release for 3.x branch avaialble now on Pypi. https://github.com/riptideio/pymodbus/releases/tag/v3.0.0dev.2
JFYI

[2022-03-27 12:55] janiversen commented on #721
Thanks just saw it, I will try to test it tomorrow.

[2022-03-27 15:20] nikito7 commented on #669
Only misses CRC but it's normal in pymodbus I think

RECV is correct without crc.

I suppose that is hardcoded 2 bytes

But it works in Modbus TCP....

Should be easy to fix, but I don't understand the code 😆

Framer processing not

[2022-03-28 01:50] sarathtv commented on #723
ok. thank you

[2022-03-28 03:48] dhoomakethu commented on #669
@nikito7 I do not understand this
[code]

[2022-03-28 04:17] nikito7 commented on #669
Makes sense. It's this?

How dynamically configure?

[code]

Maybe need change code?

Because pymodbus will expect only two bytes of data...

---

Anyway

Modbus TCP don't have CRC. How pymodbus known the number of bytes to read?

Because all work. Even a special 12 bytes register...

---

So RTU will need some dynamically expected size...

Forgetting big anormal registers.
I only want try to read

[2022-03-28 04:21] nikito7 commented on #669
Modpoll for example have a option for it:

```Use Daniel/Enron single register 32-bit mode```

[2022-03-28 04:37] nikito7 commented on #669
Tell it to all EDP clients in Portugal. 😆

Tasmota work.
ESPHome work.
Modpoll work.
Home Assistant (TCP) work.

Why shouldn't pymodbus RTU support 32bits too...

[2022-03-28 04:54] nikito7 commented on #688
But it will fail CRC check

Modbus TCP don't have CRC in modbus payload. Because TCP stream already have CRC

[2022-03-28 08:02] janiversen commented on #669
because it is non-standard and if tcp works then you have a solution. If you want a non-standard solution the best way is to fork this repo and make your changes locally.

btw this is not a question of crc, it is simply your device sends an unexpected structure (1 register is 4 bytes not 2).

[2022-03-28 08:18] dhoomakethu commented on #669
@nikito7 it is good to have and I am willing to accept any PR's if you are willing to work on it. This is something not really required by the majority of the users and being the only developer who is working on this project at my free time, it is quite difficult to accomodate this feature request with so many items pending in the backlog.

[2022-03-28 08:18] #669 closed

[2022-03-29 04:50] nikito7 commented on #669
[code]

Not really a solution but worked.
Make that dynamic will be hard.
And maybe not the  correct code to change 😆

Just a test anyway
Single 12 bytes register: clock/date

![20220329_054739](https://user-images.githubusercontent.com/45373783/160535578-35acf005-4ee7-4172-a45d-1fa30d0c6365.jpg)

[2022-03-29 09:44] ruimarinho commented on #669
I've just hit exactly this problem as I was using pymodbus via https://github.com/gavinying/modpoll. I've been reading about this issue and it looks like Enron or Enron/Daniels Modbus is standard modbus with a few vendor extensions.

I see that @rahulraghu94 published his Daniel/Enron Modbus work under https://github.com/u9n/enron-modbus if anyone's interested, although it would be great to see th

[2022-03-29 13:03] janiversen opened #724 "Test version 3.0"
This is just to a place to collect comments on 3.0 prereleases.

### Versions

* Python:
* OS:
* Pymodbus:
* Modbus Hardware (if used):

### Pymodbus Specific
* Server: tcp/rtu/ascii - sync/async
* Client: tcp/rtu/ascii - sync/async

### Description

What were you trying, what has happened, what went wrong, and what did you expect?

### Code and Logs

[code]

[2022-03-29 13:06] janiversen commented on #724
@dhoomakethu I like it, I just finished testing dev2, when your email arrived…..I will test again.

Dev2 worked fine with HomeAssistant, I still need to test the async part.

I observed a potential new problem when a message is sent as multiple packets, but I need to test more to be sure.

Thanks for your good eork.

[2022-03-31 10:02] swamper123 commented on #467
This was cleaned up with #564 .
At least I couldn't find any decorator.

[2022-03-31 10:05] #513 closed

[2022-03-31 10:06] #467 closed

[2022-03-31 10:07] swamper123 commented on #544
With the new default branch 3.0.0 and #564 merged, this issue is solved.
Case closed. :detective:

[2022-03-31 10:07] #544 closed

[2022-03-31 12:47] dhoomakethu commented on #513
Please be aware, we are supporting 3.7 also so removing co-routines completely would break things for pymodbus on python3.7

[2022-03-31 13:28] swamper123 commented on #513
Isn't this decorator not just a compatible thing to async/await syntax?
Since my PR is a while ago, I will take a look again if I have fixed that the way it was right.

[2022-03-31 13:42] janiversen opened #734 "make plugin framework for async factories"
### Description

In order for pymodbus to only support asyncio directly, we need to make a plugin framework so that e.g. tornado/twister/trio can be easily supported and maintained by others.

A starting example of the framework can be found in examples/twisted/plugins/pymodbus_plugin.py (if not present look in e.g the 2.5.3 code).

Twister and tornado should not be removed but replaced by 2 plugi

[2022-04-01 05:57] swamper123 commented on #513
Well, it looks like I have just replaced one decorator, but replaced it with modern syntax.
I guess this is for codecompatibility with older versions, but isn't used anymore and not important for >= 3.7.
Even you replaced one last year. ;)

[2022-04-01 08:29] janiversen commented on #97
Is this issue still relevant, if not it will be closed in a couple of days.

[2022-04-01 13:14] dhoomakethu commented on #97
@janiversen  we can remove the lable `invetigating` so that the bot will auto-close if no issue activity. This can be closed as there is no activity.

[2022-04-01 13:15] dhoomakethu commented on #513
My memory is fading :P , Thanks for taking care.

[2022-04-01 14:00] janiversen commented on #220
Is this issue still open ? I tested with a usb-rs485 adapter and 3 devices using version 2.5.3, tested both sync and async, all without problems.

[2022-04-03 15:35] janiversen opened #747 "Cleanup branches to avoid confusion"
I suggest to clean up the branches in the repo, primarily to avoid confusion but also to get an overview of which branches are still in development.

A) The following branches have been merged, and therefore can be deleted without problems:
- **dev-rebase**
- **Fix-#657**
- **home-assit-fix-#629**
- **test-fixes**
- **2.5.0**, identical to the v2.5.0 release tag,
- **revert-536-use_hexlify_packets

[2022-04-03 15:36] janiversen commented on #747
@dhoomakethu this is one where I really need your input and opinion.

[2022-04-04 18:52] janiversen commented on #717
Solved on dev (pre 3.0.0) but continue to exist in 2.5.3

[2022-04-05 06:19] dhoomakethu commented on #747
@janiversen
* `A`  can be deleted straight forward
*  From `B` `gh-pages` was intendend at creating github page @ pymodbus.github.io , I need to check if its really required.
*  Also from `B` please hold on with deleting `repl-improvements` , I will double confirm if there are any pending changes in there which needs to be in `dev`
* `3.0.0` branch needs to be available for some more time as we ha

[2022-04-05 08:12] janiversen commented on #747
Done now we are down to:
[code]

[2022-04-12 16:16] tomas-bozek commented on #706
Hello,

i had a simmilar problem,
this resolves problems for me

changed in `AsyncModbusSerialClient`

from
[code]

to
[code]

[2022-04-12 16:27] janiversen commented on #706
This looks like a correct solution, but I suspect it affects the other client types as well.

[2022-04-13 10:22] tomas-bozek opened #776 "TLS Modbus Client/Server crash when unit id is different than 0"
Python: 3.8
OS: Windows
Pymodbus: 2.5.3

Example:

[code]

When unit == 0 then everything is OK, when is something else (for example 2) then is problem

An Error is in:
- ModbusTlsFramer does not know anything about `unit`, class does not encode/decode nothing only function_code
- ModbusFramer in `_validate_unit_id` checks `self._header` for `uid`, but ModbusTlsFramer  header is empty dictionary,

[2022-04-13 10:25] janiversen commented on #776
please attach the backtrace so we can see where it breaks.

[2022-04-13 10:25] #747 closed

[2022-04-13 10:31] tomas-bozek commented on #776
exception

[code]

[2022-04-13 10:33] janiversen commented on #776
This is a timeout, are you sure your devices responds to the request?

[2022-04-13 10:45] tomas-bozek commented on #776
problem is in `ERROR    pymodbus.server.async_io Unknown exception ''uid'' on stream ('127.0.0.1', 50850) forcing disconnect`

like i wrote before
ModbusFramer in _validate_unit_id checks self._header for uid, but ModbusTlsFramer header is empty dictionary, it crashs and connection is lost.

When i change unit on server side and client side to value == 0, everything is ok, because `_validate_unit_

[2022-04-13 10:56] tomas-bozek commented on #776
I modified `pymodbus.server.async_io` row 184

from

[code]

to

[code]

and tracebacks

[code]

[2022-04-13 11:00] couling commented on #560
Python 3.6 is now EOL. https://endoflife.date/python though it wasn't technically at the time of @swamper123 's comment.
May I humbly suggest pymodbus 3 should drop support for all EOL versions.

[2022-04-13 11:05] swamper123 commented on #560
@couling We are already a step ahead. with #736 we dropped the tests. ;)
But in general I am with you about EOL versions.

[2022-04-13 13:38] tomas-bozek opened #778 "AttributeError when using uvloop"
Linux: Ubuntu 20.04
Python: 3.8
Pymodbus: 2.5.3

Exception when using `uvloop`

[code]

[2022-04-13 15:32] dhoomakethu commented on #778
`uvloop` is not supported , use `asyncio` loop instead.

[2022-04-14 00:49] tracernz commented on #778
Can <BaseTransport>.get_extra_info('socket') not be used instead of accessing the private _sock member? It appears to only be used to get the socket name.

https://docs.python.org/3/library/asyncio-protocol.html#asyncio.BaseTransport.get_extra_info

[2022-04-14 05:47] janiversen commented on #778
try it, patches are welcome.

[2022-04-21 08:59] janiversen commented on #778
Closing as non-supported.

[2022-04-21 08:59] #778 closed

[2022-04-21 17:54] PaulKGrimes commented on #719
This is a not an enhancement request.  It prevents this software project being used.

[2022-04-21 18:06] janiversen commented on #719
well this is also something you can easily patch, so even though it is a bug it does not prevent you from using pymodbus.

[2022-04-21 18:08] janiversen commented on #719
not to mention, that you could make a sub directory in a place where you have access and start your program there. So lot of solutions.

[2022-04-21 18:10] PaulKGrimes commented on #719
Yes, there are workarounds.  But it's still a bug, not an enhancement.

[2022-04-21 18:25] PaulKGrimes commented on #719
It does not work as documented, depending on the permissions of the parent
directory to your current working directory.  The program crashes
unexpectedly, when following the example given in the readme, so there is a
bug.

On Thu, Apr 21, 2022 at 2:13 PM jan iversen ***@***.***>
wrote:

--
Receiver Laboratory
Smithsonian Astrophysical Observatory
60 Garden St, Cambridge, MA 02138
+1 (617) 496-7640

[2022-04-21 18:28] janiversen commented on #719
if you say do….but I do not think it is documented that it should be able to run in a place where you do not have permissions.

But lets cut it short, this is a open source projects, so feel free to submit a patch.

[2022-04-21 18:31] PaulKGrimes commented on #719
The example does not run in a working directory where you do have permissions, because it requires permissions in the parent of the working directory.  This is very unusual behavior for a project.

[2022-04-21 18:37] janiversen commented on #719
as I wrote earlier, patches are welcome.

[2022-04-22 01:08] ehn commented on #719
Separately from not working unless you have write permissions to the parent directory of where you run the software, it will also spread history files throughout your directory structure if invoked in various places, and the history won't work as expected, since it will depend on where in the directory structure the software is invoked. This can hardly be the intended behavior.

[2022-04-22 04:32] dhoomakethu commented on #719
I agree it could be considered as bug depending on the perspective, in either way its just a one line fix in my opinion. It will be part of the new `3.0.0.rc4` or will land in `dev` branch soon. Feel free to raise a PR if you think its something that has a major side effect on the overall codebase.

[2022-04-22 04:43] dhoomakethu commented on #719
@PaulKGrimes Thanks for the PR

[2022-04-22 07:10] janiversen commented on #719
@dhoomakethu I added a suggestion along your idea, because I need that in order to be able to use it as an app on my Mac.

The big pylint round is complete, so the time is right for a 3.0.0.rc4 in my opinion.

[2022-04-25 18:52] sjpark608 commented on #704
@dhoomakethu is there any update regarding this issue?

[2022-04-27 05:38] janiversen commented on #723
Did you find a solution?

[2022-04-28 04:41] aasick opened #860 "PyModbus server client payload"
Hello Team,

I am trying to implement server and client modbus simulator with pymodbus using virtual serial connector (COM1 <-> COM2).
I have two python codes one is for modbus server and another one for client. I have attached both codes below
-----------------------------------server.py-------------------------------------------------------------------------------------
from pymodbus.datastore i

[2022-04-28 04:57] aasick commented on #860
@[dhoomakethu](https://github.com/dhoomakethu) can you take a look

[2022-04-28 05:09] aasick commented on #704
@dhoomakethu eagerly waiting for your response.

I am also trying same, like two serial cable connected with rtu configuration. One COM port act as server and another COM port act as server. but setting up address on server and reading exact value on slave I have facing issue.

I have created issue request on following link https://github.com/riptideio/pymodbus/issues/860

[2022-04-28 05:20] dhoomakethu commented on #860
what version of pymodbus is this ?

[2022-04-28 05:42] aasick commented on #860
following version available in my system
\lib\site-packages (from pymodbus) (1.16.0)
\lib\site-packages (from pymodbus) (3.5)

[2022-04-28 05:44] swamper123 commented on #860
1.16.0 would be a quite old version of Modbus (2.5.3 is the latest and 3.0 is incoming).
3.5 hasn't been released ... do you got the right numbers?

[2022-04-28 05:45] swamper123 commented on #860
Just took a deeper look in the release history...there is neither a 1.16.0

[2022-04-28 05:45] aasick commented on #860
I have 2.5.3 on my system

[2022-04-28 05:47] aasick commented on #860
is my code looking good? server and client?

[2022-04-28 06:04] swamper123 commented on #860
Haven't worked with the rtu and server part so far.
My guttfeeling tells me, that `Exception Response(131, 3, IllegalAddress)`  says you tried to read sth. on an address that is not correct.

[2022-04-28 06:06] janiversen commented on #860
Your feeling is correct, the server tells that the client requested a non existing address.

[2022-04-28 06:06] aasick commented on #860
yeah, address is main issue.
my server I started with StartSerialServer() method call. following is server code

builder = BinaryPayloadBuilder(byteorder=Endian.Little,
                                   wordorder=Endian.Little)

    builder.add_8bit_int(-0x12)
    builder.add_8bit_uint(0x12)

    block = ModbusSequentialDataBlock(1, builder.to_registers())
    store = ModbusSlaveContext(di=block,

[2022-04-28 06:09] swamper123 commented on #860
So what are your registers on the Server?
And what are you trying to read in your command?
Explain it preciscely (and maybe I got an idea more ^^).

[2022-04-28 06:12] aasick commented on #860
can you help me, how to mention register before starting server with StartSerialServer() method

[2022-04-28 06:14] aasick commented on #860
I haven't find right example for starting rtu based server with StartSerialServer()

[2022-04-28 07:03] dhoomakethu commented on #704
@sjpark608 apologies, this got derailed. I will spend some time to see if this could be reproduced.

[2022-04-28 07:23] dhoomakethu commented on #860
Try this example

[code]

[2022-04-28 07:23] dhoomakethu commented on #860
change `port` and other `serial` properties appropriately

[2022-04-28 07:24] dhoomakethu commented on #860
Logs
[code]

[2022-04-28 07:59] aasick commented on #860
yeah getting same output logs

2022-04-28 13:20:19,057 MainThread      DEBUG    payload        :125      [24930, 25444, 25958, 26472, 23278, 4744, 43316, 4812, 60927, 65400, 22068, 4652, 18988, 51794, 47282, 16722, 47282, 49425, 16722, 8703, 65535, 65519, 48813, 56952
, 22068, 4845, 48813, 57071, 48813, 57037, 52428, 52428, 56414, 16589, 52428, 52428, 56414, 49152]
2022-04-28 13:20:19,057 MainThre

[2022-04-28 08:08] aasick commented on #860
In this case how our client should be....? is below code is right ? because from our server side we not mention any address right?

`    client = ModbusSerialClient("rtu", port='COM1', stopbits=1, bytesize=8, parity='E', baudrate=9600, timeout=1)
    client.connect()

    data = client.read_holding_registers(address=0x01, count=10, unit=1)

    print(data)`

[2022-04-28 08:30] aasick commented on #860
I need to send following hex data as payload, what was the right method to use -> 01 2B 0E 01 01 00 00 03 00 0A 53 69 65 6D 65 6E 73 20 41 47 01 07 50 41 43 32 32 30 30

[2022-04-29 15:29] roguh commented on #560
`@coroutine` will actually be removed in Python 3.11, not 3.10

https://docs.python.org/3/library/asyncio-task.html

[2022-04-29 16:49] janiversen commented on #560
and btw. @corutine works in 3.10 (at least here on my mac).

[2022-05-02 05:52] swamper123 commented on #560
@roguh Is there still a leftover I have missed?
@janiversen Like rough said, it will be removed in 3.11. Since 3.8 it is deprecated.

[2022-05-02 06:59] janiversen commented on #560
Did any of you bother to look at the code? the @asyncio.coroutine is in line 24 of asyncio_test_helper.py, in a comment, so I really wonder what the talk is about.

[2022-05-02 14:02] gieljnssns opened #873 "ValueError: filedescriptor out of range in select()"
### Versions

* Python: 3.9
* OS: HAOS
* Pymodbus: 2.5.3 and 3.0.0dev3
* Modbus Hardware (if used):  SolarEdge SE3000

### Pymodbus Specific
* Server: tcp/rtu/ascii - sync/async
* Client: tcp/rtu/ascii - sync/async

### Description

I'm using a custom component for Home Assistant and I'm alway having this error after ±25min

Original issue https://github.com/WillCodeForCats/solaredge-modbus-multi/

[2022-05-02 14:14] janiversen commented on #873
That is solved in #722 and merged into dev, however it have not been released yet.

If you want a fast solution simply copy/paste the change.

[2022-05-02 14:27] gieljnssns commented on #873
I use
[code]
as a manifest file

[2022-05-02 14:28] janiversen commented on #873
ok, but it is not in dev3, it will be in dev4.

Simply control if sync.py contained the patch I pointed you to.

[2022-05-02 14:50] janiversen commented on #873
Seems so, please try to change sync.py line 295 from:
[code]
to
[code]
Seems you are getting another exception that expected.

[2022-05-02 15:12] gieljnssns commented on #873
I was able to change the file with vi, I will report back...

[2022-05-02 15:38] gieljnssns commented on #873
[code]

[2022-05-02 17:03] janiversen commented on #873
This is a wanted exception, because it informs the application that a connection was broken.

[2022-05-05 05:19] aasick opened #879 "Creating context and decoding on client"
I try to create server context and tried to decode and print on client side. But always it's throwing error.
PyModbus example code works fine. when I try to modify always registers error occurred.

**Server code:**
    builder.add_8bit_int(-0x12)
    builder.add_8bit_uint(0x12)
    builder.add_16bit_int(-0x5678)
    builder.add_16bit_uint(0x1234)
    builder.add_32bit_int(-0x1234)
    builder.add_

[2022-05-05 05:20] aasick commented on #879
https://github.com/dhoomakethu can you take a look, I need to modify payload for power meter readings

[2022-05-05 14:23] gieljnssns commented on #873
![image](https://user-images.githubusercontent.com/17234951/166944425-8ce0cfdb-8b7c-4389-8461-e6398c2df978.jpeg)
![image](https://user-images.githubusercontent.com/17234951/166944481-6c5a0b0f-c7b7-4c7f-aacf-c12ebf6aa70c.jpeg)
![image](https://user-images.githubusercontent.com/17234951/166944668-9b2335e0-46a2-4384-983b-7a6724a3a88b.jpeg)

[2022-05-05 14:25] gieljnssns commented on #873
pymodbus debug logs
[code]

[2022-05-05 14:29] janiversen commented on #873
HA uses pymodbus 2.5.3, so I suppose you miss the patch.

[2022-05-05 14:46] dhoomakethu commented on #879
Have you looked in to this example ? https://github.com/riptideio/pymodbus/blob/dev/examples/common/modbus_payload_server.py

[2022-05-08 09:03] gieljnssns commented on #873
I use the dev version
<img width="1089" alt="Schermafbeelding 2022-05-08 om 11 01 47" src="https://user-images.githubusercontent.com/17234951/167289236-e74ea8c3-c6ff-4d48-a33e-fb25cdc80290.png">

I have some debug logs
[code]

[2022-05-09 01:03] mickstevens1 opened #881 "mask_write_register command processes partial responses"
### Versions
* Python: 3.10.0
* OS: Win 10
* Pymodbus: 3.0.0.dev3 (also 2.5.3)
* Modbus Hardware (if used): Custom

### Pymodbus Specific
* Client: rtu - sync/async

### Description

The mask_write_register command processes partial responses resulting in error:

_Modbus Error: [Input/Output] No Response received from the remote unit/Unable to decode response_

The issue is traced back to the _cla