[2018-03-07 14:47] muhlbaier commented on #276
Sorry about that, I didn't look through the closed issues so I didn't notice #256 or #260. Thanks for the fix.

[2018-03-13 12:13] yegorich commented on #272
We are trying to integrate this package into [Buildroot](https://buildroot.org/). Buildroot doesn't use pip, but downloads source code (PyPI tar.gz, git etc.) and performs `python setup.py install`. The whole dependencies  management occurs in Buildroot's own recipe files. This is needed because of the cross-compilation framework. So putting a tarball on PyPI would help us a lot.

[2018-03-13 12:47] dhoomakethu commented on #272
@yegorich will you not be able to use the source distribution from [pymodbus github release ](https://github.com/riptideio/pymodbus/releases) ? I see from this [example](https://github.com/rancher/buildroot/blob/master/docs/manual/adding-packages-python.txt) , All you need is a path on the web from where you need to download the source tar ball. I am not so familiar with buildroot ,so I might be m

[2018-03-13 14:05] yegorich commented on #272
@dhoomakethu it is possible to use github, but PyPI approach is more straight forward. So far I can see the vast majority of the Python packages distributes the source code in a tarball (tar.gz).

[2018-03-13 14:11] yegorich opened #279 "License"
What type of BSD this project is licensed to? There are more than 10 different versions of BSD license featured on [SPDX](https://spdx.org/licenses/). A license file would be also appreciated.

[2018-03-13 16:14] dhoomakethu commented on #279
We do have a license file(hidden under doc) [License](https://github.com/riptideio/pymodbus/blob/master/doc/LICENSE)

[2018-03-13 19:05] yegorich commented on #279
OK. I see now. Seems to be BSD-3-Clause. Thanks.

[2018-03-13 19:05] #279 closed

[2018-03-15 11:11] memetb commented on #63
You should investigate `authbind`. Changing anything inside this library to essentially emulate what authbind gives you is probably not good security practice.

[2018-03-15 11:32] memetb opened #281 "ModbusTCP sync client returns ModbusIOException object instead of raising it"
### Versions

* Python: 3.6.0 (anaconda)
* OS: linux debian 4.9.0-5
* Pymodbus: 1.4.0
* Using Modsim32 as master

### Pymodbus Specific
* Client: tcp - sync

### Description

When running modbus tcp client in sync mode, calling `client.read_holding_registers(...)` with the underlying connection broken results in a *return* value of `ModbusIOException` instead of an actual exception being raised.

[2018-03-19 06:27] dhoomakethu commented on #281
@memetb This was done to address #175 .

[2018-03-19 13:09] memetb commented on #281
Understood. It would seems to me that the solution to #175 was the raise an exception instead of returning NoneType. Returning an exception type is not very pythonic.

I have worked around the issue in my code for the time being.

[2018-03-19 13:09] #281 closed

[2018-03-19 14:00] timothyarnold1983 commented on #274
We've been progressing this issue with the device manufacturer and they have fixed the issue their side - disabling their receiver when transmitting the response. Apparently the device was getting a buffer overflow of some description.

As suspected, no issue with the fantastic pymodbus stack.!

[2018-03-19 14:54] dhoomakethu commented on #274
@timothyarnold1983 thanks for the confirmation, will close this issue.

[2018-03-19 14:54] #274 closed

[2018-03-19 14:57] dhoomakethu commented on #281
@memetb I really don't remember the reason why we went with returning the ModbusException object.  But since this is introduced in 1.3.x ,changing this might break existing behaviour . I will think about this when releasing 2.x series of pymodbus. But as of now there won't be any change in the existing behaviour.

[2018-03-20 01:04] memetb commented on #281
No problem @dhoomakethu: I completely understand the backward compatibility issue.

[2018-03-27 10:38] kcsekhar14 opened #282 "Pymodbus Sync Server - Config Issue & Not able to connect to Client Port"
### Versions

* Python: 3.5
* OS: Ubuntu
* Pymodbus: Latest
* Modbus Hardware (if used): No

### Pymodbus Specific
* Server: tcp - sync

### Description

I am using the Pymodbus server application to communicate with the client. I my client i want to read first 16 words and write next 16 words of 32 length data.

1.  How can i input the which data variable are read type (function code = 4) and whi

[2018-03-27 11:12] dhoomakethu commented on #282
@kcsekhar14  what client are you using ? Is it a pymodbus client or from other modbus stack ?

[2018-03-27 11:20] dhoomakethu commented on #282
@kcsekhar14 your problem is that you are declaring ServerContext with single set to True but you are passing a dict as store. Please change it to
`context = ModbusServerContext(slaves= store2, single=True)` to get it working.

[2018-03-27 11:20] #282 closed

[2018-03-27 12:19] kcsekhar14 commented on #282
@dhoomakethu : I am using the third party client.
I have changed code to  `context = ModbusServerContext(slaves=slaves, single=False)` to make it work.

If i changed my code to `context = ModbusServerContext(slaves=store2, single=True)` to make it work. Does it consider the slaves id's number to communicate ?
[code]
**I want to print the values of block21 and block22, how can i access these variab

[2018-03-27 12:45] dhoomakethu commented on #282
If you want to use the slave id passed as a key to the dict, use `single=False`. What exactly you want to print with your block, if you enable debug logging, they get printed to console by default.

[2018-03-27 13:00] kcsekhar14 commented on #282
According to the Program, Server has to read from Client [0-15] and server is sending data to Client [16-31] of value 323 initialized. I am able to receive from server to client data of value 323, but i am not able to read data from client to server.

### Console is printing below msg continuously :
[code]
### Client Data Log :
![image](https://user-images.githubusercontent.com/36920686/37968694-7

[2018-03-27 13:27] dhoomakethu commented on #282
If you are trying to write , your need to use function code 0x10 (Write Multiple Registers) , You are currently using 0x0F (Write Coils).

[2018-03-27 13:43] kcsekhar14 commented on #282
Where i have to use function 0x0F -
[code]
hr is Holding register for writing data of function code 16 and ir is input register to read data of function code 4. [0x00, 0x0F] are start and end of data array. Is my understanding is correct ? or i have to input the function code sepeately.

Is there any way to read and write the data values while server is running and print these values online

[2018-03-27 15:35] dhoomakethu commented on #282
I would suggest you to go through the [specs](http://www.modbus.org/docs/Modbus_Application_Protocol_V1_1b3.pdf) first. Your client should send the correct requests , for writing to holding registers you need to send  (0x10) Write Multiple registers request, to read the holding registers send  (0x03) Read Holding Registers and to read input registers  (0x04) Read Input Registers.

[2018-03-27 16:23] kcsekhar14 commented on #282
I understand, but now client and server both are running with out errors. My server script I have already shared initially just few corrections only.

I want to write some loopback function in server itself, something like -
just like read_server_data & write_server_data any function or script with can access the variables. (Client side I am able to read and write it back, I want to do the same on

[2018-03-27 16:28] dhoomakethu commented on #282
You can not write from server directly, use pymodbus client in your code to read the server data. Refer example
https://github.com/riptideio/pymodbus/blob/master/examples/common/synchronous_client.py

[2018-03-28 00:53] kcsekhar14 commented on #282
Actually, I want to replace a third party modbus sever application where I can manipulate the data read and write by server. Similar, I cannot do that using pymodbus.

On the client side anyway, I will do the data manipulation by reading and writing using pymodbus or other client devices.

Let's suppose, I am running a pymodbus server in PC and client as HMI. Here I have send data to HMI to visual

[2018-03-28 04:46] dhoomakethu commented on #282
If you are unable to use pymodbus client to query/write registers on the server, the only option I could think is to access teh ModbusServerContext object directly. You will have to run the server in a separate thread
[code]
For list of function codes refer modbus specs .

[2018-03-28 07:23] kcsekhar14 commented on #282
I have used the following code for testing, this is the latest code now running on server side.

Client side, i am running the third party application to receive the data. i have shared the screen shot of this below.

With the present server code, i am not able to read the data from client and print it on console.

### Client Side
![image](https://user-images.githubusercontent.com/36920686/3801454

[2018-03-28 08:46] dhoomakethu commented on #282
Multiple issues.

1. You are doing `StartTcpServer` which is blocking and the control never reaches to your LoopingCall, You need to use `ModbusTcpServer` and run `server.serve_forever()` in a separate thread to start the server
2. In your `updaetvalues` function `values = contxt[slave_id].getValues(rfuncode, address, count=32)` This would fail, ModbusSlaveContext does not support indexing . You c

[2018-03-28 13:38] kcsekhar14 commented on #282
I have tried many possibilities to run function updatevalues while running background function server.serve_forever(). But when ever execution reaches server.serve_forever(), it is not interrupting or not allowing other functions to execute.

Do you have any idea on how to execute the updatevalues(server) function or while running the server.serve_forever() function in background or any other poss

[2018-03-28 14:41] dhoomakethu commented on #282
[code]

And the output I see, Note I am reading and updating holding registers

[code]

[2018-03-29 08:37] kcsekhar14 commented on #282
@dhoomakethu Works like a charm. Now i am able to read and write on both server and client side. Yesterday, i have tried many combinations, to work the both LoopingCall & ModbusTcpServer parallel but not able to converge.

Thanks a lot for your contribution & time. Your quick response helped me to solve my problem easily.

[2018-03-29 14:43] dhoomakethu opened #283 "Fix BinaryPayloadBuilder/Decoder"
### Versions

* Python: 2.7-3
* OS: NA
* Pymodbus: 1.4.0
* Modbus Hardware (if used):  NA

### Pymodbus Specific
* Server: tcp/rtu/ascii - sync/async
* Client: tcp/rtu/ascii - sync/async

### Description

Modbus Payload Server with datablocks built using BinaryPayloadBuilder does not store data in correct register order

reported by @bosnj on gitter

### Code and Logs

[code]
[simple_sim.py](https

[2018-03-29 14:48] dhoomakethu opened #284 "Async Server - Provide an option to start reactor outside StartTcpServer function"
### Versions

* Python: 2.7 - 3.x
* OS: NA
* Pymodbus: 1.4.0
* Modbus Hardware (if used):  NA

### Pymodbus Specific
* Server: tcp/rtu/ascii -async

### Description

`reactor.run()` is invoked as part of `StartTcpServer`, `StartUdpServer`, `StartSerialServer` when running async servers. An option to be provided to defer `reactor.run()` call so that it could be called at some other place .

Reporte

[2018-04-08 02:16] LorenAmelang commented on #105
@dhoomakethu
I ended up here again, love it when Google finds me my own questions...  Your pip suggestion worked perfectly in Win 10 Python 3.5.0 :: Anaconda 2.4.0 (64-bit)!

`pip install pymodbus
Collecting pymodbus
  Downloading pymodbus-1.4.0-py2.py3-none-any.whl (82kB)
    100% |################################| 86kB 483kB/s
Collecting pyserial>=2.6 (from pymodbus)
  Downloading pyserial-3.4-p

[2018-04-12 11:32] NagarjunaReddy1242 opened #286 "Pymodbus buffer receiving"
Hi!!!!!
I have one problem that is when i was send query through GPIO (BeagleBoneBlack P8-18&P8-30). when i was send query before i enabled GPIO is HIGH(both). after sending query i make it GPIO LOW , than after i would get responds. but receive responds is not happening please solve that problem.
Program:
[code]

Note1: before Sending time both GPIO pins are make it HIGH
Note2: before Receiving t

[2018-04-13 17:01] dhoomakethu commented on #286
please post the pymodbus logs from your program.

[2018-04-13 17:16] NagarjunaReddy1242 commented on #286
Thank you for replay to me. I got the answer.

On Fri 13 Apr, 2018, 10:31 PM dhoomakethu, <notifications@github.com> wrote:

[2018-04-13 17:36] #286 closed

[2018-04-18 07:13] toplinuxsir opened #287 "asyncio can not import"
[code]
# error asyncio module not exist , can not import ModbusClientProtocol

### Versions

* Python: 3.6.2
* OS: Debian linux 9.0
* Pymodbus: 1.4
* Modbus Hardware (if used):

### Pymodbus Specific
* Server: tcp/rtu/ascii - sync/async
* Client: tcp/rtu/ascii - sync/async

### Description

What were you trying, what has happened, what went wrong, and what did you expect?

### Code and Logs

[code

[2018-04-18 17:54] MAKOMO opened #289 "Errors communicating with Maxwell MTA-48 PID"
### Versions

* Python: 3.6
* OS: Mac OS X 10.13
* Pymodbus: v1.3-branch-python3-plus-pull74, v1.4 pip install, v1.5 pull
* Modbus Hardware (if used):  3x Maxwell MTA-48 PIDs

### Pymodbus Specific
* Server: ---
* Client: rtu sync

### Description

This issue popped on using pymodbus within the Artisan open-source roast logging app <https://github.com/artisan-roaster-scope/artisan>. In the use cas

[2018-04-19 07:36] dhoomakethu commented on #289
@MAKOMO  thanks for the logs,  From the logs here are the stats I could get.
[code]
and observations.
- If you see the number of failures , they are almost same (1% of transactions are getting failed) .

- The patched version , is not retrying to get the correct response on receiving an error from the device
- 1.4 is retrying (3 times for all failed transactions) to get the correct response on err

[2018-04-19 07:56] MAKOMO commented on #289
@dhoomakethu Thanks for taking a look at this and for documenting your observation that precise. It is clear that the real issue of the communication errors is electrical noise and maybe the baudrate is to high for this (but cannot be changed for various reasons). Still it was observed that v1.3-patched performed better for the end-user. This is not about performance, which is not too critical in

[2018-04-19 07:57] MAKOMO commented on #289
Oh, would the retry_on_empty=False or True make a difference here?

[2018-04-19 08:58] dhoomakethu commented on #289
`retry_on_empty` is useful in the cases where the slave is not returning any response with in the read timeout. In your case ,they all seem to be returning some response so you can choose not to use it . Re. v1.4 swapping responses , Are you trying to read data from different threads ?

[2018-04-19 10:46] MAKOMO commented on #289
Ok, so retry_on_empty cannot harm if performance is not too important, but the value of catching all readings is.

No, there is only one thread communicating on the MODBUS bus and its guarded by semaphores. What might happen is that a request is send to the first PID, the reply comes too late triggering a timeout and Artisan notes an error value, the next request is send to the next PID in the row

[2018-04-19 11:33] MAKOMO commented on #289
Excellent news!

[2018-04-20 08:56] dhoomakethu commented on #289
@MAKOMO could you please give a try on this [branch](https://github.com/riptideio/pymodbus/tree/patch-1)  . Let me know your findings.

[2018-04-20 11:18] MAKOMO commented on #289
Success! Not one error on the end-user side. Some retries on the Artisan app layer notes in the log, but that one retry always succeeded. Cannot see any pymodbus level retries (maybe not logged) nor the error that triggered Artisan to retry the request. The retries parameter was not explicit set and should default to 3, right?

Looks good! Thanks a lot! Hope to see this soon in the v1.5 release of

[2018-04-20 11:18] #289 closed

[2018-04-23 07:37] dhoomakethu commented on #289
@MAKOMO thanks for the confirmation, you can expect a new release by the end of this month.

[2018-04-23 12:40] pokornyElgas opened #290 "Sync Modbus RTU client always waits for timeout- When writing multiple Analog Holding Registers"
### Versions

* Python: 2.7.9
* OS: Windows 7 Professional
* Pymodbus: 1.4.0
* Modbus Hardware (if used):

### Pymodbus Specific
* Server: rtu - sync
* Client: rtu - sync

### Description
Sync Modbus RTU client always waits for timeout- When writing multiple Analog Holding Registers. Similar to Issue 76
I have solved it by adding method get_response_pdu_size to the class WriteMultipleRegistersRequ

[2018-04-23 15:12] dhoomakethu commented on #290
This is already fixed as part of upcoming v1.5.0, you can give a try of the [pre-release ](https://github.com/riptideio/pymodbus/releases/tag/v1.5.0.rc2).

[2018-04-24 04:52] pokornyElgas commented on #290
OK, clear, thank You for answer. And for Your work on pymodbus too!

[2018-04-24 04:52] #290 closed

[2018-04-26 13:19] dhoomakethu commented on #284
Fixed as part of v.1.5.0, refer releases or dev branch

[2018-04-26 13:19] #284 closed

[2018-04-26 13:19] dhoomakethu commented on #283
fixed with Pymodbus 1.5.0. refer releases or dev branch

[2018-04-26 13:19] #283 closed

[2018-04-26 13:20] dhoomakethu commented on #278
Fixed with v1.5.0 , refer dev branch or release

[2018-05-02 08:29] chintal opened #297 "Dangerous behavior when faced with invalid ADUs"
### Versions

* Pymodbus: 1.4.0+ atleast, probably historic versions as well

### Pymodbus Specific
* Client: observed in sync, though probably applies to async as well

## Servers should reject malformed commands

The bug that led to #291 was a pymodbus issue that has since been resolved. However, the way it manifested itself exposed a serious flaw in the way pymodbus handles malformed packets.

[2018-05-02 08:32] dhoomakethu commented on #297
@chintal this has been fixed as part of 1.5.0 release, could you please confirm if you still have this issue with 1.5.0 as well ?

[2018-05-02 09:57] chintal opened #298 "Make treatment of exceptions more pythonic"
### Versions

* Pymodbus: 1.4.0+ atleast, probably historic versions as well

### Pymodbus Specific
* Server: Probably unaffected, though I can't quite say for sure
* Client: observed in sync, though probably applies to async as well

Pymodbus (mis-)handles exceptions, presenting a non-intuitive interface and in some cases potentially dangerous behavior in terms of exception handling. This Issue l

[2018-05-02 10:14] chintal commented on #297
@dhoomakethu Indeed it seems to have been. I am unable to actually test this at the moment, but it looks like the code does now discard invalid packets. Closing the issue.

[2018-05-02 10:14] #297 closed

[2018-05-03 02:16] dhoomakethu commented on #298
@chintal thanks for the detailed explanation . I know it is quiet confusing to start with to understand why pymodbus does not raise exceptions on failure but returns `ModbusIOException` and There is no definite `this is the way` it needs to be handled as well.  At present (v1.5.0),   `ModbusIOException` is raised when there is no response received or when malformed packets are received resulting i

[2018-05-03 02:17] dhoomakethu commented on #277
Fixed with v1.5.0

[2018-05-03 02:17] #277 closed

[2018-05-03 02:17] #221 closed

[2018-05-03 02:21] #41 closed, assigned to nobody

[2018-05-03 02:23] #54 closed, assigned to nobody

[2018-05-03 02:25] #63 closed

[2018-05-03 02:27] #110 closed

[2018-05-03 02:28] dhoomakethu commented on #212
Fixed with v1.5.0

[2018-05-03 02:28] #212 closed

[2018-05-03 06:42] chintal commented on #298
@dhoomakethu It would be nice if this would be how such code could look, if necessary by a user explicitly throwing some switches during Client instantiation :

[code]
The try block can grow to as large or as small as is needed for your exception handling process. For a  number of cases, the block could be as large as a complex function, with many related modbus calls, or in simpler cases encapsul

[2018-05-03 06:45] dhoomakethu commented on #272
@yegorich , @duliba the source dist is also available on pypi, starting with [v1.5.0](https://pypi.org/project/pymodbus/#files)

[2018-05-03 06:51] yegorich commented on #272
@dhoomakethu Great! Thanks.

FYI: the 1.4.0 is already in Buildroot.

[2018-05-03 07:10] duliba commented on #272
Thank you :) that's awesome

Le jeu. 3 mai 2018 à 09:51, Yegor Yefremov <notifications@github.com> a
écrit :

[2018-05-04 00:29] toplinuxsir commented on #287
It support asyncio ?

[2018-05-04 00:37] toplinuxsir opened #299 "It support asyncio ?"
It support asyncio ?
The asyncio example can not work
https://pymodbus.readthedocs.io/en/async/source/example/async_asyncio_client.html#

### Versions

* Python:
* OS:
* Pymodbus:
* Modbus Hardware (if used):

### Pymodbus Specific
* Server: tcp/rtu/ascii - sync/async
* Client: tcp/rtu/ascii - sync/async

### Description

What were you trying, what has happened, what went wrong, and what did you e

[2018-05-11 14:36] dhoomakethu commented on #28
This should be fixed with pymodbus v1.5.0 and above (sync client)

[2018-05-11 14:36] #28 closed

[2018-05-11 14:37] #47 closed

[2018-05-14 03:40] dhoomakethu opened #302 "serial sync client `is_socket_open` method throws type error"
### Versions

* Python: 2.7/3+
* OS: ALL
* Pymodbus: 1.5.1
* Modbus Hardware (if used): NA

### Pymodbus Specific
* Server: tcp/rtu/ascii - sync/async
* Client: tcp/rtu/ascii - sync/async

### Description

serial sync client `is_socket_open` method throws type error

### Code and Logs

[code]

[2018-05-14 03:55] #302 closed

[2018-05-15 22:54] d4ddi0 commented on #298
Older versions of pymodbus returned None, which was also (in my view) more pythonic that the current behavior. Upgrading to 1.4 broke my stuff...(so I'm all for backwards compatibility going forward)

I also feel like raising exceptions is the proper way to go, but for backwards compatibility, I would suggest keeping the the current functions exactly as they are, but deprecating them in the next r

[2018-05-16 13:57] memetb commented on #298
For what it's worth, I've previously expressed a preference for raising exceptions as well.

While the additions of `isError` are useful and fulfill the role, it would be nice to have a future roadmap where exceptions are done in the pythonic way. `except` and `finally` are very useful constructs which simply can't be taken advantage of in the current code.

Perhaps a kwarg flag during client crea

[2018-05-16 14:37] dhoomakethu commented on #298
I have added this issue to 2.0.0 milestone . I will let you guys know for a code review when an initial draft is ready. I am ok with what @chintal has proposed (with explicit arguments to control the exceptions either being returned or raised).

[2018-05-17 20:47] chintal opened #304 "Make the factory methods' interfaces consistent"
### Versions

* Pymodbus: 1.5+ (Perhaps target 2.0 or beyond)

### Pymodbus Specific
* Server: NA
* Client: All

### Description

Pymodbus provides factory methods in its clients which present a relatively simpler interface. However, it is my (subjective) opinion that these methods are inconsistent and needlessly so.

Specifically, from client/common.py :

[code]

Here, the current implementation

[2018-05-25 12:06] 007-akash commented on #50
I have used the same process above. But I have 3 slaves and having different sets of holding registers. I want to create an event on one slave that if one of its holding register is high it master should process it first and then it will process the rest slaves holding registers.
How can i do it.
Any help will be highly appreciated.

[2018-05-25 13:58] karlp commented on #50
@007-akash this is a closed issue, if you have a new issue, please make a new issue.

[2018-05-25 14:08] 007-akash commented on #50
What do u mean by closed issue. Is it solved already or cannot be solved?

[2018-05-25 14:44] dhoomakethu commented on #50
@007-akash You will have come with your own business logic to achieve what you are asking. You can refer to the example [callback_server](https://github.com/riptideio/pymodbus/blob/master/examples/common/callback_server.py). It may not be something that is a solution right out of the box for your but atleast should give you some hints on how to go ahead. Again , as I said in the beginning  (if I u

[2018-05-28 07:28] dhoomakethu opened #307 "ReadDeviceInformationRequest fails with struct error"
### Versions

* Python: 2.7/3.x
* OS: NA
* Pymodbus: 1.5.2
* Modbus Hardware (if used): [Veris-8036](https://www.veris.com/Item/H8036-0100-2.aspx) / [Schenier EM-6400](https://www.schneider-electric.co.in/en/product-range/63369-em6400ng)

### Pymodbus Specific
* Client: rtu-sync

### Description

Trying to execute mei message (ReadDeviceInformationRequest) and ReportSlaveIdRequest results in struc

[2018-07-09 14:00] yegorich opened #314 "A program using ModbusTcpSlave doesn't exit"
### Versions

* Python: 3.6.5
* OS: Ubuntu 18.04 LTS
* Pymodbus: 1.5.2
* Modbus Hardware (if used):

### Pymodbus Specific
* Server: tcp - sync/async

### Description

A threaded class creates and starts ModbusSlave, but invoking StopServer() makes the main process stuck. So after "OK" the program doesn't return to the prompt. Both sync and asynch versions showed the same behavior. Am I missing so

[2018-07-09 15:56] dhoomakethu commented on #314
It could be the way how twisted reactor runs in thread, a simple work around would be to make the thread `daemon` so that it wont block when the main program exits. Just add `self.daemon = True` in the `__init__` method after `threading.Thread.__init__(self)`.

[2018-07-10 05:35] yegorich commented on #314
`self.daemon = True` helped. Thanks.

[2018-07-10 05:35] #314 closed

[2018-07-14 08:28] MAKOMO opened #315 "ERROR:pymodbus.server.sync:can't concat NoneType to bytes"
### Versions

* Python: 3.6/3.7
* OS: Mac OS X
* Pymodbus: 1.5.2 (todays trunk)
* Modbus Hardware (if used): external software client

### Pymodbus Specific
* Server: tcp(UDP) - sync
* Client: external software client

### Description

Running this pymodbus based sync server via UDP I receive above error on connecting an external (software) client. It seems this error is thrown in ModbusDisconnect

[2018-07-18 12:38] chintal commented on #315
processIncomingPacket could simply return if data is None, but what are the conditions under which you actually get valid TCP packets but result in zero length data?

If this is happening at the moment of disconnection or so, does it warrant special handling, given your client is going away and the request will have to be purged anyway? More specifically, does it just pollute the log or does it al

[2018-07-18 13:02] MAKOMO commented on #315
It does not render the server non-functional, but this issue did not occur with previous versions.

[2018-07-23 21:03] MM8704 commented on #84
Hello, I have a question if I have a button that stops the server with the Stopserver () function, how can I start it again without closing the program?

[2018-07-24 15:54] dhoomakethu commented on #84
The `reactor` is not restartable . So I am not sure if there is way to restart it again with out calling `StartTcpServer` method.

[2018-07-24 15:55] madhujk opened #316 "Request for feature of "native or a RFC 2217 implementation of the Serial class, depending on port/url""
### Versions

* Python:
* OS:
* Pymodbus:
* Modbus Hardware (if used):

### Pymodbus Specific
* Server: tcp/rtu/ascii - sync/async
* Client: tcp/rtu/ascii - sync/async

### Description

What were you trying, what has happened, what went wrong, and what did you expect?

### Code and Logs

[code]

[2018-07-24 16:00] MM8704 commented on #84
Thanks for your answer dhoomakethu, I have to implement a method able to change the IP address of the server, without closing the main program.

Initially try to stop the server and start it again with the StarTcpServer method with a new Ip address, but when you stop the reactor and start it again, an error appears. Any recommendation?.

[2018-07-24 16:05] dhoomakethu commented on #84
@MM8704 could you share the error and any code to reproduce your use case?

[2018-07-24 16:06] dhoomakethu commented on #316
@madhujk Could you provide more info on your request ?

[2018-07-24 16:23] madhujk commented on #316
It is a request to support both, local ports and remote ports servers supporting rfc2217  format ,
format:
rfc2217://<host>:<port>[?<option>[&<option>...]]
socket://<host>:<port>[?logging={debug|info|warning|error}]
loop://[?logging={debug|info|warning|error}]
hwgrep://<regexp>[&skip_busy][&n=N]
spy://port[?option[=value][&option[=value]]]
alt://port?class=<classname>

Pyserial support above url h

[2018-07-24 16:51] MM8704 commented on #84
@dhoomakethu sure, is a small example of a server mounted on kivy

Please download it in google drive:
https://drive.google.com/open?id=10_VHhRWViiBYwp_OLX20VHzIF8Jo7WVk

[2018-07-24 17:20] dhoomakethu commented on #84
You can take a look at [modbus-simulator](https://github.com/riptideio/modbus-simulator. It is also based on pymodbus and kivy supports both TCP and Serial servers (uses pymodbus sync server and threads though). You can find the backend code [here](https://github.com/riptideio/modbus-simulator/blob/master/modbus_simulator/utils/pymodbus_server.py)

[2018-07-26 19:43] MM8704 commented on #84
Hi @dhoomakethu, without any positive, have you found something?

[2018-07-27 04:01] dhoomakethu commented on #84
@MM8704 sorry but your code throws me error while running
`     on_press: Server_TCP.stop(self)
 TypeError: unbound method stop() must be called with Server_TCP instance as first argument (got ToggleButton instance instead)`. I would suggest to use the modbus-simulator mentioned above for the time being. I will take a closer look in to your code when I get some free time.

[2018-07-27 13:50] MM8704 commented on #84
@dhoomakethu I tried to execute the code that you mentioned but I could not (the launcher file does not really know how to execute it), I just read the code to implement it in my program ... without results.

[2018-07-31 09:01] joseluisfloresbarroso opened #317 "Detected bugs in multiple files"
I was conducting a set of security tests using different software packages in the industrial field, and one of them was this modbus server. I have used MTF (https://github.com/avoyages/etfa2015) as fuzzer to find bugs.

As a a result we have found several bug in different files:
* bit_read_message.py
* bit_write_message.py
* diag_message.py
* factory.py
* file_message.py
* mei_message.py
* registe

[2018-07-31 15:07] dhoomakethu commented on #317
Hello @joseluisfloresbarroso , Thanks for your testing. If you have any reports handy from your tests ,please share it here.

[2018-08-13 10:32] joseluisfloresbarroso commented on #317
Hi

I have used this software package: mtf-2015 (
https://github.com/avoyages/etfa2015), as a fuzzer with the following
parameters:

*python ./mtf.py -i <IP Address> -s -z -f*

Where the IP corresponds to the modbus server IP address.

And after several hours we have obtained several bugs with specific python
function, on the other hand we have modified the fuzzer to increase the
logging level to

[2018-08-17 18:07] patrickfuller opened #318 "Dev branch - different binary parsing?"
I maintain and use [numat/clickplc](https://github.com/numat/clickplc) for lab-scale automation projects.

I've been using the `ReconnectingAsyncioModbusTcpClient`, which was only available on the `python3` branch. This has since moved to `dev`. I changed the import ([here](https://github.com/numat/clickplc/commit/f7c3d8a8145f905b89f631065caffaac0d1a04ee)), but now the `BinaryPayloadDecoder` ([her

[2018-08-18 03:42] dhoomakethu commented on #318
`[BinaryPayloadDecoder](https://github.com/riptideio/pymodbus/blob/dev/pymodbus/payload.py#L261)` now also takes in to consideration `wordorder )` and `byteorder` . I see that you are using the defaults for both of those arguements (`Endian.Little for byteorder` and `Endian.Big for wordorder`) Check if that is something that is giving you a wrong output. It would helpful, If you can share more inf

[2018-08-20 04:50] JinTran89 commented on #122
Hi,
I am trying to connect Modbus RTU from RasPi to PowerMeter and read holding register. But I'm having problems printing register: "AttributeError: 'ModbusIOException' object has no attribute 'registers'". I hope someone can help me.
Thanks!
Here is my code :
from pymodbus.client.sync import ModbusSerialClient as ModbusClient
from pymodbus.register_read_message import ReadInputRegistersResponse

[2018-08-20 05:11] dhoomakethu commented on #122
@JinTran89 Please check if raspberry pi you are using support RS-485 , if your communication settings are good and the device supports RS-485 communication you should see the response. You can enable debug logs for more insights on what's happening at the bus level.

[2018-08-20 05:43] JinTran89 commented on #122
Thanks for the quick answer
I'm using a USB-RS485 converter: https: //www.ebay.co.uk/itm/111944569765? _Trksid = p2057872.m2749.l2649 & ssPageName = STRK% 3AMEBIDX% 3AIT

And after adding debug logs I get the result:
True
DEBUG:pymodbus.transaction:Current transaction state - IDLE
DEBUG:pymodbus.transaction:Running transaction 1
DEBUG:pymodbus.transaction:SEND: 0x1 0x3 0x75 0x31 0x0 0x1 0xcf 0xc9

[2018-08-20 08:11] dhoomakethu commented on #122
Your response `0x1 0x80 0x2 0xc0 0x1` is not valid, it could be that your line is too noisy or you are not using the correct serial settings.  Try using another adapter (may be a different brand ?) Check the raspberry pi forums for the working ones.

[2018-08-20 08:26] JinTran89 commented on #122
Thanks you! I'm trying

[2018-08-20 13:59] patrickfuller commented on #318
Thanks for the information. Adding `byteorder` and `wordorder` args is definitely cleaner ([fix](https://github.com/numat/clickplc/commit/542a4eab6bbd3e1f729ce2385a5fe28a889d7fb7)).

I know this branch is for 2.0.0, so breaking changes should be expected. However, I'm curious why this branch changes the default endianness from Little/Little to Little/Big. My two cents - It's fine if there's a good

[2018-08-20 15:35] dhoomakethu commented on #318
Thanks for your suggestion.Please note,  the `byteorder` was set to `Endian.Little` by default in the earlier versions as well. There were few bug fixes the way words were handled when wordcount>1 (16 bits) with the newer version.

[2018-08-20 15:35] #318 closed

[2018-08-21 12:30] cbergmiller opened #319 "`asyncio.async` deprecated since python 3.4.4 and was removed in 3.7"
### Versions

* Python: 3.7
* OS: Windows
* Pymodbus: async branch

### Description

`asyncio.async` has been deprecated since python 3.4.4 and was removed in 3.7.
See: [https://docs.python.org/3.5/library/asyncio-task.html#asyncio.async](https://docs.python.org/3.5/library/asyncio-task.html#asyncio.async)

The alias `ensure_future` should be used instead. See [https://docs.python.org/3.5/library/

[2018-08-21 12:35] cbergmiller opened #320 "async branch is not compatible with python 3.7"
`async` is a not allowed in Python 3.7 module paths.

### Versions

* Python: 3.7
* OS: Windows
* Pymodbus: async branch

### Description

The async branch can not be used with Python 3.7
A solution would be to rename `pymodbus.client.async` with `pymodbus.client.aio` or `pymodbus.client.asynchronous`.

I can create a PR if desired.

### Code and Logs

[code]

[2018-08-21 13:32] dhoomakethu commented on #320
@cbergmiller thanks for bringing this to notice, do you have any more hints on why this is happening ? Is `async` a reserved keyword starting with 3.7 ?

[2018-08-21 13:33] dhoomakethu commented on #319
@cbergmiller , Thanks. A PR is appreciated

[2018-08-21 13:46] cbergmiller commented on #320
@dhoomakethu yes `async` and `await` are reserved keywords since 3.7:
[https://docs.python.org/3/whatsnew/3.7.html](https://docs.python.org/3/whatsnew/3.7.html)

[2018-08-21 14:27] dhoomakethu commented on #320
@cbergmiller Appreciate if you can raise a PR . Thanks.

[2018-08-21 15:40] cbergmiller commented on #320
It would be great if Python 3.7 could be added to the Travis CI test environments.

[2018-08-28 08:39] agn-7 opened #322 "How to use REUSEADDR in a Synchronous ModbusTcpServer?"
### Versions

* Python: 3.6.5
* OS: Ubuntu 16.04
* Pymodbus: 1.5.2
* Modbus Hardware (if used): No

### Pymodbus Specific
* Server: tcp - sync
* Client: tcp - sync

I'm using Synchronous ModbusTcpServer  to create a Modbus slave, here's the code:

[code]

When I close this code (with <kbd>Ctrl</kbd>+<kbd>C</kbd>) and run again encountered with this error:

`OSError: [Errno 98] Address already in u

[2018-08-29 04:35] dhoomakethu commented on #322
You will have to override `ModbusTcpServer` class and set the property `self.allow_resuse_address` to `True` to make it work.
[code]
https://docs.python.org/2/library/socketserver.html#SocketServer.BaseServer.allow_reuse_address

[2018-08-29 04:44] dhoomakethu commented on #322
@agn-7  I will be closing this issue. Please re-open the issue if that does not resolve the issue.

[2018-08-29 04:44] #322 closed

[2018-08-30 16:28] agn-7 opened #324 "Unable to close Synchronous ModbusTcpServer"
### Versions

* Python: 3.6.6
* OS: Ubuntu 16.04
* Pymodbus: 1.5.2
* Modbus Hardware (if used): No

### Pymodbus Specific
* Server: tcp - sync
* Client: tcp - sync

### Description

When I start  a Synchronous ModbusTcpServer with `.server_forever()` in a thread, I can't close it with <kbd>Ctrl</kbd>+<kbd>C</kbd> when a synchronous client connected (`client.connect()`) to it and not closed  (`clie

[2018-08-31 06:13] dhoomakethu commented on #324
You are mixing threads and reactor . And twisted has its own signal handlers which could be the reason why the server is not quitting as expected. BTW, have you checked the [updating_server.py](https://github.com/riptideio/pymodbus/blob/master/examples/common/updating_server.py) example ? That looks similar to what you are doing ,except it uses Async server. It comes with reusing address by defaul

[2018-08-31 08:36] agn-7 commented on #324
Thank you, my problem resolved, this code works, and I think the mentioned updating_server.py (async server) is a better approach.

[2018-08-31 12:05] #324 closed

[2018-09-07 06:48] dhoomakethu opened #326 "Enable using existing asyncio loop"
### Versions

* Python:
* OS:
* Pymodbus: dev branch
* Modbus Hardware (if used):  N/A

### Pymodbus Specific
* Client: tcp/rtu/ascii -async

### Description
Reported by @makuser in https://github.com/riptideio/pymodbus/pull/246#issuecomment-352371967

TBH I'm not quite sure how to implement this, since I'm using already using my own asyncio loop in my application.

Since It's using loop.run_until

[2018-09-07 06:48] dhoomakethu commented on #326
Workarounds :
https://github.com/riptideio/pymodbus/pull/246#issuecomment-408232003

[2018-09-15 10:33] shedfly commented on #103
For the next person looking, its discussed here:
https://groups.google.com/forum/#!topic/pymodbus/X4vtEg9Hq10

in summary, use builder.to_registers()

Example here:
https://github.com/riptideio/pymodbus/blob/master/examples/common/modbus_payload_server.py

[2018-09-16 14:11] marcoprestes opened #328 "Modbus Error: [Input/Output] No Response received from the remote unit/Unable to decode response"
### Versions

* Python: 3.7 32bits
* OS: Windows 10 64bits
* Pymodbus: 1.5.2
* Modbus Hardware (if used):

### Pymodbus Specific
* Client: rtu - sync

### Description

Hi,
I`m trying to perform some basic holding registers readings, but I`m always getting the same error: Modbus Error: [Input/Output] No Response received from the remote unit/Unable to decode response
I`ve trying to find solutions f

[2018-09-16 16:28] dhoomakethu commented on #328
Looks like your response is having an extra byte (0x0) at the beginning .May be you could try different baudrate if possible?

[2018-09-18 04:38] gbrucepayne opened #330 "bug in utilities.py BinaryPayloadDecoder"
### Versions

* Python: 2.7.13
* OS: Windows 7 Enterprise (64-bit)
* Pymodbus: 1.5.2
* Modbus Hardware (if used): n/a (any)

### Pymodbus Specific
* Server: tcp - async

### Description

I'm trying to use a BinaryPayloadDecoder to read a value that could be spread across multiple registers. Stepping through the code **decode_16bit_int** passes a list to the utilities function **make_byte_string**

[2018-09-18 05:16] dhoomakethu commented on #330
Could you provide some more information on how you are using `BinaryPayloadDecoder` also some test values for the registers you are dealing and expected result ?

[2018-09-18 12:54] dhoomakethu commented on #330
I think you are using the library wrong, Have you looked in to [modbus_payload_server](https://github.com/riptideio/pymodbus/blob/master/examples/common/modbus_payload_server.py) example ? Basically when you are passing your payload to decoder , you will have to pass it as byte string if you directly instantiating the object like `BinaryPayloadDecoder(payload)` . The value returned from `context.g

[2018-09-18 12:54] #330 closed

[2018-09-18 17:09] gbrucepayne commented on #330
Thanks I will try that and let you know.

I did look at the examples and it was not clear to me from those, I had to do a lot of trial and error with different methods.

________________________________
From: dhoomakethu <notifications@github.com>
Sent: Tuesday, September 18, 2018 8:54:47 AM
To: riptideio/pymodbus
Cc: gbrucepayne; Author
Subject: Re: [riptideio/pymodbus] bug in utilities.py Binary

[2018-09-18 17:27] gbrucepayne commented on #330
Thanks for clarifying with examples.  Your suggestion fixed my problem and misunderstanding of the operations.

[2018-09-19 00:18] marcoprestes commented on #328
I`ve tried to decrease and increase the baud rate, the extra byte does not shows up again, but I got another error:
2018-09-18 21:16:19,285 MainThread      DEBUG    transaction    :107      Current transaction state - IDLE
2018-09-18 21:16:19,285 MainThread      DEBUG    transaction    :111      Running transaction 1
2018-09-18 21:16:19,285 MainThread      DEBUG    transaction    :201      SEND: 0

[2018-09-19 09:04] deverakondabalakrishna opened #331 "Modbus SQL Datastore"
### Versions

* Python:
* OS:
* Pymodbus:
* Modbus Hardware (if used):

### Pymodbus Specific
* Server: tcp/rtu/ascii - sync/async
* Client: tcp/rtu/ascii - sync/async

### Description

What were you trying, what has happened, what went wrong, and what did you expect?

### Code and Logs

[code]

[2018-09-19 09:16] deverakondabalakrishna commented on #331
Hi All, I am able to execute pymodbus examples able to do master and slave communication successfully. In my project, I need to map Modbus slave to a MySQL database and read this data from Modbus master. I am new to Modbus and python programming. Please suggest me any python based Modbus examples

[2018-09-19 09:37] dhoomakethu commented on #331
Refer https://github.com/riptideio/pymodbus/blob/master/examples/common/dbstore_update_server.py. Let us know if you need any further help.

[2018-09-19 09:37] #331 closed

[2018-09-19 09:38] dhoomakethu commented on #328
There is no response being received as per your logs. Are you sure you are using the correct baudrate/stop bit/parity etc ?

[2018-09-20 02:29] deverakondabalakrishna commented on #139
Hi All, Could you please someone help me how to map custom based registers to kept in the database for Modbus?  I am very new to python and working on Modbus. Please help me in this regards.
@sansal54, In the above code "from database_store import DatabaseSlaveContext" -- could you please help me how to create own database according to Modbus registers and add to the server example?

[2018-09-21 02:41] dhoomakethu commented on #139
@deverakondabalakrishna You need to be more specific on what exactly you would like us to help with. The examples have the explanantion on various datastores and datablocks (refer  [synchronous_server](https://github.com/riptideio/pymodbus/blob/master/examples/common/synchronous_server.py) ). I am pasting the content here for quick reference.
[code]

[2018-09-21 11:46] #326 closed

[2018-09-21 15:10] #254 closed

[2018-09-21 15:53] jjrobsontime opened #333 "RTU framer stuck in infinite loop"
### Versions

* Python: 2.7.13
* OS: Debian 9.4
* Pymodbus: 1.5.2

### Pymodbus Specific
* Client: rtu - sync

### Description

What were you trying:
Polling a device for 30 registers at a time (READ_HOLDING_REGISTERS). Polling over RS485 using an FTDI USB-RS485 adapter. The polling is 19200 baud, parity N, stopbits 1. Making around 5 requests per second. I was testing what happens when the USB co

[2018-09-25 09:21] dhoomakethu commented on #333
@jjrobsontime Could you please give a try with v2.0.0 and let me know if the problem exists there as well. I am trying to reproduce this issue with out any success so far. What kind of USB-Serial converter are you using ? Also if possible please provide the logs before the USB cable is removed .

[2018-09-25 21:24] patrickfuller opened #338 "`client.async` sneaking in dependencies"
In importing `client.async.asyncio`, `client.async.__init__` triggers `from pymodbus.client.async.deprecated.async` ([source](https://github.com/riptideio/pymodbus/blob/master/pymodbus/client/async/__init__.py)), which then imports twisted. Twisted is a fairly heavy dependency and is not needed to use asyncio.

[2018-09-26 05:46] dhoomakethu commented on #338
@patrickfuller please give a try with branch https://github.com/riptideio/pymodbus/tree/sneaky-twisted and let me know if that solves this issue. Thanks.

[2018-09-26 09:14] jjrobsontime commented on #333
Thanks @dhoomakethu. I'll give it a go on v2.0.0 when I get some time in the next day or two. I didn't realise v2.0.0 was out the very day I decided to test this! I'm using an FTDI USB/rs485 converter :https://www.ftdichip.com/Products/Cables/USBRS485.html

I acknowledge that it is unlikely to be an easily reproduce able bug as it involves removing the USB converter at the exact moment the transac

[2018-09-26 09:49] dhoomakethu commented on #333
Thanks @jjrobsontime for the detailed logs. I will take a look.

[2018-09-26 13:38] dzimine opened #340 "Exception thrown by BinaryPayloadDecoder"
### Versions

* Python: 2.7
* OS: Ubuntu 16.04 + AWS Greengrass
* Pymodbus: 2.0.0
* Modbus Hardware (if used): No

### Pymodbus Specific
* Server: tcp - sync/async
* Client: tcp - sync/async

### Description

Parsing payload sometimes throws an exception:
[code]
The same code works with exactly the same input data on OS-X and Ubuntu 16.04 but strangely fails when run as Lambda on AWS Greengrass co

[2018-09-26 13:39] patrickfuller commented on #338
This fix works for me. Thanks!

[2018-09-26 14:31] dhoomakethu commented on #340
@dzimine, this error is hard to fix on multiple platforms. I will accept your PR as a fix and will try to find a more reliable and foolproof solution later.

[2018-09-26 14:32] dhoomakethu commented on #338
Thanks for the confirmation. I will merge the PR in to `dev`.

[2018-09-26 14:34] #338 closed

[2018-09-27 05:16] dhoomakethu commented on #340
New version with the fix is now available on pypu (v2.0.1)

[2018-09-27 05:16] #340 closed

[2018-09-27 14:07] abhishekricky opened #343 "Need tool to convert Modbus RTU to TCP and vice versa"
Hi,

Need help with python code where modbus rtu hex can be converted to modbus tcp and vice versa

### Versions

* Python: 2.7
* OS: Raspbian
* Pymodbus: 2.0
* Modbus Hardware (if used):

### Pymodbus Specific
* Server: tcp/rtu/ascii - sync/async
* Client: tcp/rtu/ascii - sync/async

### Description

What were you trying, what has happened, what went wrong, and what did you expect?

### Code and

[2018-10-01 04:30] dhoomakethu commented on #333
I was able to reproduce this issue but in a different way, If there is an exception raise when receiving the message, the framer gets in to a infinite loop. I do not see any such exceptions being raised in your case. Are you using multiple threads to talk to the same slave ?

[2018-10-01 12:59] dhoomakethu commented on #333
@jjrobsontime Please give a try with the changes in this [branch](https://github.com/riptideio/pymodbus/tree/%23333-Infinite-Loop) and let me know your findings. Thanks.

[2018-10-03 03:17] dhoomakethu commented on #333
Thanks for the confirmation. This should be available with the next release some time this week.

[2018-10-03 12:47] dhoomakethu commented on #333
Fixed with 2.1.0

[2018-10-03 12:47] #333 closed

[2018-10-03 12:48] dhoomakethu commented on #307
Fixed with v2.1.0

[2018-10-03 12:48] #307 closed

[2018-10-08 08:01] winterscar opened #349 "Async code does not support timeout"
### Versions

* Python: 3.6
* OS: Ubuntu 18.04 LTS
* Pymodbus: 2.1.0
* Modbus Hardware (if used): N/A

### Pymodbus Specific
* Client: TCP asyncio

### Description

There is an issue where the async versions of the library dont respect the timeout.
I'm running the asyncio example [here](https://github.com/riptideio/pymodbus/blob/master/examples/common/async_asyncio_client.py)
and connecting to net

[2018-10-08 10:19] deverakondabalakrishna commented on #139
@dhoomakethu! Thank you for the above suggestions! I am able to read and write from the database in the slave side and able print on console but when I am trying from client side I am not able to read any data from registers. When I am trying to read hold register address from the client I am getting "Illegal Address". The below are the codes and console output.
my objective is to get database dat

[2018-10-09 10:03] deverakondabalakrishna commented on #139
@dhoomakethu Thank you for your prompt reply. I have tested with the above-mentioned branch, even I am getting the same error "IllegalAddress".
Please suggest me If there are any other ways to access data from database/file to Modbus registers(slave side) and then read from client.

[2018-10-09 10:28] dhoomakethu commented on #139
@deverakondabalakrishna There are two things you are doing wrong.
1. The starting address for your context is wrong , you are using `40000` , you will have to use zero based index .
2. In your client, the offsets you are using is wrong ( 40000 == 80000 and 0x16 == 40022) both of them are illegal as your context is created with size (0x08) and the valid registers offsets are between (0 -7)

I have

[2018-10-10 04:02] deverakondabalakrishna commented on #139
@dhoomakethu. Thank you very much!
I am able to write and read from the database using "store = ModbusSlaveContext(SqlSlaveContext())". Using this, it will create pymodbus.db file and able to write "db" file and able to read "db" values from the client. The below is code snippets for slave and client:
===================================================================
slave: count=8
    context[sl

[2018-10-10 05:10] dhoomakethu commented on #139
Just remove the the calls to the `updating_writer` and it works like a normal server .

[code]

[2018-10-10 07:40] deverakondabalakrishna commented on #139
@dhoomakethu. I have tried with removing the calls to the updating_writer and with different combinations, but I am able to read zeros at both slave/client or with some comibinations getting an error "Unhandled error in Deferred:". The below are the slave and client codes, I am a bit of confusion that maybe I am doing wrong. Please once go through my codes and give me your suggestion or modificati

[2018-10-11 06:31] deverakondabalakrishna commented on #139
@dhoomakethu! I have tested with different scenarios and test cases with "SqlSlaveContext", "ModbusSlaveContext" and "ModbusSlaveContext(SqlSlaveContext())", but I am not able to read values from existing db file using client. The below are the results of different test cases. Please let me know if I am doing anything wrong in the below test cases.

Test1. In this case I used "ModbusSlaveContext(S

[2018-10-11 06:41] dhoomakethu commented on #139
@deverakondabalakrishna apologies for late reply. Your question is too vague and lengthy. With out any code formatting its hard to read . Would you mind telling precisely what exactly are you trying to achieve or the problem you are facing? I would suggest you to use proper formatting of the comments so that its easier to read and people can suggest a solution.

[2018-10-11 08:11] deverakondabalakrishna commented on #139
@dhoomakethu. Thank you for the reply! In my case, I have a database file which continuously updating values from other devices and I have to assign this file with Modbus slave(beaglebone) and read this values from Modbus client (PC).
The below code which can able to write(SetValues) values to db file(pymodbus.db) and read(getvalues) values from db file but I am not able to read these registers fr

[2018-10-12 02:58] dhoomakethu commented on #139
Are you running these examples on the correct branch. Please share the pymodbus version (`pip freeze | grep pymodbus`).
Your example works perfectly on my machine. Also from the server logs I see that request is successfully being processed and sent back to the master. Here are the logs for your reference.

Server
[code]

Client:
[code]

Make sure you are working on the correct branch, If you are

[2018-10-12 12:51] NagarjunaReddy1242 opened #352 "pymodbus read_input_status"
Hi sir,
I got one error passing this parameter.
result= client.read_input_status(0x002E,0x003,unit=0x01)

o/p:  result=client.read_input_status(0x002E,3,unit=0x01)
AttributeError: 'ModbusSerialClient' object has no attribute 'read_input_status'

[2018-10-12 15:12] dhoomakethu commented on #352
There is no method called `read_input_status` in modbus client, You probably are trying to use `read_discrete_inputs` or `read_input_registers`.

[2018-10-12 15:12] #352 closed

[2018-10-15 09:49] deverakondabalakrishna commented on #139
@dhoomakethu Thank you very much. Now it is working good and I am started working on Sunspec based slave controller. Once again Thanks a lot.
The problem was I am running in a separate virtualenv.

[2018-10-15 09:52] #139 closed

[2018-10-16 12:32] mpf82 opened #353 "Issue with read_input_registers in version 2.1.0"
### Versions

* Python: 3.4, 64
* OS: Windows 10, 64
* Pymodbus: 2.1.0
* Modbus Hardware (if used): PM-3133

### Pymodbus Specific
* Client: rtu - sync

### Description

Since upgrading to version 2.1.0 I cannot read the whole input registers as I could with other versions.
Instead I receive an error:

### Code and Logs

[code]

### Log with pymodbus version 2.0.1
[code]

### Log with pymodbus ver

[2018-10-16 12:52] dhoomakethu commented on #353
@mpf82 Thanks for the report, I tried the latest (v2.1.0) from pypi , as well as on dev and master branches. I was not able to reproduce this issue (against simulator). I was able to read the maximum permissible register count (125) with out any issues. From the logs it seems that the response received is partial. If you could add the below log format and paste the logs again (both with 2.1.0 and

[2018-10-16 12:57] mpf82 commented on #353
Thanks for the fast reply.

### 2.0.1
[code]

### 2.1.0
[code]

[2018-10-16 13:15] dhoomakethu commented on #353
@mpf82 Thanks for the quick response, Could you please execute your test against this [branch](https://github.com/riptideio/pymodbus/tree/%23353-Error-Reading-Registers) ? I have just added the debug logs nothing else, just to see whats happening. You could also edit pymodbus/client/sync.py and `_logger.debug("Available in read buffer - {}".format(avaialble))` after line 536.

[2018-10-16 13:50] dhoomakethu commented on #353
My bad, thats correct it's not called for register reads, sorry for that. The socket read is for some reason not reading the full data , If you print `len(result)` after `result = self.socket.read(size)`. You would see that the read is incomplete (13 bytes). Interesting part is the read timeout is 3 secs but the actual socket read is timing with in 30ms.

Are you running these tests in separate vi

[2018-10-16 14:03] mpf82 commented on #353
Yes, the tests are in a separate venv.

``print(serial.__version__)`` outputs 3.4 for both 2.01 and 2.1.0

which would match the output of pip:

``Collecting pymodbus==2.0.1``
``Successfully installed pymodbus-2.1.0 pyserial-3.4 six-1.11.0``

(Yes, it really print "pymodbus-2.1.0" when installing 2.0.1, but I can tell by version.py and the behaviour that the version really changed.)

``Collecting

[2018-10-16 15:52] dhoomakethu commented on #353
With this , Could you please share the logs with timing info ?  Ideally , the response should be ready within in the read timeout. If possible and time permits, could you please also run the tests with out this fix but with bigger timeout (say 6 sec) ?. Thanks.

[2018-10-16 16:20] mpf82 commented on #353
I'll look into int tomorrow.

[2018-10-17 07:13] mpf82 commented on #353
Increasing the timeout to e.g. 10 or even more seems to have no effect at all. I also tested with a timeout of 1000, but it really makes no difference and I always the the afore mentioned error when I run the sample program w/o my fix.

The response of the ``self.socket.read(...)`` is almost immediate, no matter the timeout value.

Maybe it's worth noting that I'm connected to the device using an

[2018-10-17 07:40] dhoomakethu commented on #353
Thanks for the logs, interesting to know that socket.read() is not waiting for the complete data till read timeout. I have tried with almost all the modbus devices we have here (on linux) and the issue is not reproducible. The only major diff between 2.0.1 and 2.1.0 is introduction of `interCharTimeout` (refer [line](https://github.com/riptideio/pymodbus/blob/master/pymodbus/client/sync.py#L476) )

[2018-10-17 07:46] mpf82 commented on #353
That line seems to be the culprit.

If I comment it out, the whole data gets read in one go:

[code]

[2018-10-17 07:57] dhoomakethu commented on #353
So my guess was correct, I went through the serial implementation for windows and found this line in `serialwin32.py`
[code]
The windows documentation for [COMTIMEOUT](https://docs.microsoft.com/en-us/windows/desktop/api/winbase/ns-winbase-_commtimeouts) has this description for `ReadIntervalTimeout`

So it looks like the data is being received slower than expected (which basically does not adhere

[2018-10-17 08:00] mpf82 commented on #353
Like I said, I'm connected via an USB adapter, maybe that's slowing down the communication?

And a timeout of ``0.000859375`` still seems pretty low to me - is that an "OK" value?

[2018-10-17 08:04] dhoomakethu commented on #353
Hmm, that 859.375 micro seconds is still ok as per modbus spec per-say  but yes, using an external USB-RS485 can impose its own limitations. How about providing an option to disable this timeout during client creation ? By default it is enabled but for cases like yours , one could choose to turnoff it .

[2018-10-17 08:07] mpf82 commented on #353
I tested around, and the "sweet spot" in my case seems to be

    self.socket.interCharTimeout = 0.016 # self.inter_char_timeout

where the communication would sometime fail and sometime succeed.

As in ``0.015`` -> always fail
and ``0.017`` -> always succeed

But yeah, an option to disable it completely would be nice.

[2018-10-17 08:50] dhoomakethu commented on #353
I am planning to introduce another kwarg `strict` which is `True` by default.
[code]

[2018-10-18 15:21] Jendem opened #356 "Modbus RTU client never recovers if bad serial line. Filling buffer."
### Versions

* Python: 2.7
* OS: Gentoo Linux
* Pymodbus: 1.5.2 and 2.1.0
* Modbus Hardware (if used): PLC using Modbus RTU over RS-485

### Pymodbus Specific
* Server: rtu - async

### Description

What were you trying:

Modbus client on PLC is writing to pymodbus server using code 16 (Write Multiple Registers). If the serial line is disconnected and then connected again, the RTU framer never pa

[2018-10-18 16:37] dhoomakethu commented on #356
Have you checked the latest pymodbus 2.1.0 ? There was a similar issue reported and was fixed

[2018-10-22 08:30] Jendem commented on #356
I have now tried with the latest version, 2.1.0, but the problem still exists.
The  ``if checkFrame()`` is never true in ``processIncomingPacket(...)`` in ``rtu_framer.py``.

Maybe it could compare ``frame_size`` and ``len(self._buffer)``, and if the buffer grows beyond the frame size, it should call ``self.resetFrame()``?

[2018-10-22 12:11] dhoomakethu commented on #356
Ok, Thanks for the confirmation. I will take a look.

[2018-11-02 12:00] laberning opened #357 "Extension hook to support messages with custom function codes"
### Versions

* Python: 3.6.5
* OS: Mac OS
* Pymodbus: 2.1.0
* Modbus Hardware (if used):  Danfoss ECL 310

### Pymodbus Specific
* Client: tcp - sync/async

### Description

Add an extension hook to pymodbus to support messages with custom function codes.

[custom_message.py](https://github.com/riptideio/pymodbus/blob/master/examples/common/custom_message.py) shows an example for a simple custom

[2018-11-09 16:07] jonadem commented on #155
It should be nice to state clearly in the package 'pymodbus3' on pypi that 'pymodbus' should be used instead.
https://pypi.org/project/pymodbus3/

[2018-11-20 01:30] Yaser-Motiee opened #359 "Modbus Error: [Invalid Message] Incomplete message received, expected at least 2 bytes (0 received)"
### Versions

* Python: 3.7.0
* OS: 10-64bit
* Pymodbus: 2.1.1
* Modbus Hardware (if used): Arduino Uno x 2
* Connector: USB to Rs-485 adapter, [this one](https://potentiallabs.com/cart/image/cache/catalog/Latest%20components/usb%20to%20485%20converter_01-800x800.jpg)

### Pymodbus Specific
* Client: rtu - sync

### Description

Hello .
When I want to read information from two clients, I read the

[2018-11-20 07:13] dhoomakethu commented on #359
are both the slaves connected on the same interface ?

[2018-11-20 08:06] Yaser-Motiee commented on #359
Yes, both of them connected. When each of the slaves is connected alone, they get the right answer.
It's just right when they are connected and only a slave is called.

[2018-11-20 08:07] dhoomakethu commented on #359
Can you share the logs of them individually connected ?

[2018-11-20 08:50] Yaser-Motiee commented on #359
Yes, Sure

[2018-11-21 08:34] Yaser-Motiee commented on #359
In this case, the loop is complete, but this is not desirable to me.

**Code**
[code]
**Logs**
[code]

[2018-11-21 09:06] dhoomakethu commented on #359
Thanks for the logs, I was more interested in the complete logs for 10 iteration in the first case or the second (with 1 sec sleep in between). In any case ,I would definitely see this as an issue with the serial line rather than pymodbus.  we use [this](https://www.startech.com/Cards-Adapters/Serial-Cards-Adapters/USB-to-RS-422-485-Converter-with-Isolation~ICUSB422IS) adapter in our test environm

[2018-11-21 09:41] Yaser-Motiee commented on #359
Thanks a lot, I use the usb to rs-485 converter, which is the CH340 chip.
[USB to RS485 Converter Adapter ch340T ](https://www.amazon.in/Converter-Adapter-ch340T-64-bit-Supported/dp/B00NKAJGZM)

[2018-11-21 11:02] Yaser-Motiee commented on #359
Yes, that's right. I tried the mimimal modbus and it was the same problem.

[2018-11-22 03:44] dhoomakethu commented on #359
Thanks for the confirmation, I shall close this issue as of now.

[2018-11-22 03:44] #359 closed

[2018-11-27 09:18] jessekerkhoven commented on #320
Any update on merging `dev3.7` branch in to master for a new release? See also #346

[2018-11-27 16:35] dhoomakethu commented on #320
@jessekerkhoven apologies for the delay, I am yet to do a code review . Will try to complete this asap.

[2018-11-30 12:44] pazzarpj opened #360 "Async Serial Client Can't Recover from task cancellations"
### Versions

* Python: 3.5
* OS: Windows/Linux
* Pymodbus: 2.1
* Modbus Hardware (if used): Serial loopback

### Pymodbus Specific
* Client: rtu - async

### Description
I encountered this issue when trying to read asynchronously after performing a task.cancel on an awaited read.

[code]
If the timeout is allowed to kick in (ie. the read takes longer than 1 second, by not having server running or

[2018-12-01 08:15] dhoomakethu commented on #360
@pazzarpj Thanks for the report and the PR, will take a look in to it soon.

[2018-12-03 04:43] pazzarpj commented on #356
Can confirm am having the same issue

[2018-12-03 10:04] dhoomakethu commented on #357
@laberning Please give a try on [this](https://github.com/riptideio/pymodbus/tree/%23357-Custom-Function) branch. Refer examples
https://github.com/riptideio/pymodbus/blob/%23357-Custom-Function/examples/common/custom_message.py
and
https://github.com/riptideio/pymodbus/blob/%23357-Custom-Function/examples/common/custom_synchronous_server.py
on usage.

[2018-12-04 00:33] pazzarpj commented on #356
Added a potential fix and test results in comments #363 .

[2018-12-05 13:34] pe2a commented on #217
I have added time.sleep function ant it has fixed.

[2018-12-07 05:59] zeinsteinz opened #364 "SqlSlaveContext seems not work"
### Versions

* Python: 3.5.2
* OS: ubuntu 16.04
* Pymodbus: 2.1.0
* Modbus Hardware (if used):

### Pymodbus Specific
* Server: tcp - sync/async
* Client: tcp - sync/async

### Description

I am running the "examples/common/dbstore_update_server.py" without any modification, and it works fine when updating related datastores. However, when I try to use a client to request holding registers, I alw

[2018-12-07 06:43] dhoomakethu commented on #364
You will have to access the correct register, the example generates rando, register address and the register you are trying to read might not actuall exists.
Check the db for the correct register to poll or change this [line](https://github.com/riptideio/pymodbus/blob/master/examples/common/dbstore_update_server.py#L61) in the code .

[2018-12-07 07:56] zeinsteinz commented on #364
sorry, I did not make it clear. I am sure that the registers I try to access are available. For example, I query "pymodbus.db", and the results are as follows.

sqlite> select * from pymodbus;
h|40001|111
h|40002|111
h|40003|111
h|40004|111
h|40005|111
h|40006|111
h|40007|111
h|40008|111
h|29549|538
h|60700|3120
h|49585|3983
h|58959|820
h|32452|368
h|4557|52

Then I use my client to make a request

[2018-12-07 08:32] dhoomakethu commented on #364
There is a fix already in place, please give it a try  with `dev` branch. Refer #351

[2018-12-10 12:45] zeinsteinz commented on #364
I tried, but it seems not work yet.

[2018-12-10 16:34] dhoomakethu commented on #364
Please note, you will have to use the offset ( `offset = address-1`) when executing the read transaction. Refer the image below. If you check the db , the address in the db would `offset + 1`

[code]

![image](https://user-images.githubusercontent.com/9276974/49746098-731ffb00-fcc6-11e8-987d-2415c1daf6f9.png)

[2018-12-11 03:52] #364 closed

[2018-12-11 07:35] zeinsteinz opened #365 "Question about writing register when using SqlSlaveContext"
### Versions

* Python: 3.5.2
* OS: Ubuntu 16.04
* Pymodbus: 2.1.1-dev
* Modbus Hardware (if used):

### Pymodbus Specific
* Server: tcp - sync/async
* Client: tcp - sync/async

### Description

I failed to write register when using SqlSlaveContext, since nothing is written to the database. I find that the problem is related to "_check" function in "sql_datastore.py". Every time when we try to wri

[2018-12-11 08:49] dhoomakethu commented on #365
looks like a bug. Will check and revert.

[2018-12-12 12:25] zeinsteinz opened #366 "Bug with _update function in sql_datastore.py"
### Versions

* Python: 3.5.2
* OS: ubuntu 16.04
* Pymodbus: 2.1.1-dev
* Modbus Hardware (if used):

### Pymodbus Specific
* Server: tcp - sync/async
* Client: tcp - sync/async

### Description

The update statement used wrong column name.
In "query = self._table.update().values(name='value')", "name" should be "value". Since there is no column called "name", this will result in failure in update

[2018-12-18 12:36] muhlbaier opened #368 "RTU broadcast doesn't function as expected using client.write_registers(add, val, unit=0)"
### Versions

* Python: 2.7.15
* OS: Win 7
* Pymodbus: 2.1.0
* Modbus Hardware (if used): pymodbus on both sides

### Pymodbus Specific
* Server: rtu - sync
* Client: rtu - sync

### Description

When there are multiple slaves on a pymodbus server I would expect them all to receive a broadcast message but none receive the message. There doesn't seem to be any special handling for the broadcast add

[2018-12-19 11:44] muhlbaier commented on #368
If there is anything I can do to assist in implementing this feature please let me know.

[2018-12-19 14:22] dhoomakethu commented on #368
@muhlbaier thanks for asking, If you have a fix handy, please raise a PR.

[2019-01-04 12:42] MarekLew opened #369 "timeout in client.sync._recv"
I find maby ridiculus problem in https://github.com/riptideio/pymodbus/blame/master/pymodbus/client/sync.py#L271

timeout is badly calculated

### Versions
* Pymodbus: source < f0edef3071d500b

[2019-01-04 15:44] dhoomakethu commented on #369
Thankyou @MarekLew I will take a look.

[2019-01-06 16:59] MarekLew commented on #369
this is a standard error (inicialize `begin` variable over loop)

move line 254 to while loop
before:
[code]
after:
[code]
is fix this.

[2019-01-09 11:59] muhlbaier commented on #368
There is another related issue where when writing a broadcast message (sending to unit_id 0) the transaction will always timeout as current implementation tries to read bytes but there is no response when writing to unit_id 0 according to the modbus specs.

@dhoomakethu I have a fix already for the above issue but I get authentication errors when trying to publish my new branch (based on "dev") an

[2019-01-09 13:32] dhoomakethu commented on #368
You will have to fork the repo and raise a PR . You will not be able to push directly to the dev Branch

[2019-01-10 03:51] dhoomakethu opened #371 "Pymodbus REPL on python3 fails during auto completion for `result`"
### Versions

* Python: python 3.6.5
* OS: Mac OSX
* Pymodbus: 2.1.0
* Modbus Hardware (if used): NA

### Pymodbus Specific
* Server: tcp/rtu/ascii - sync
* Client: tcp/rtu/ascii - sync

### Description

Trying to use `Pymodbus repl` to read and decode holding registers, the read goes fine but while trying to decode the data with `result` command, no auto-completion is provided upon typing `result

[2019-01-12 13:16] neerajkumarjarvis opened #373 "AttributeError: 'NoneType' object has no attribute 'interCharTimeout'"
https://github.com/riptideio/pymodbus/blob/f0edef3071d500b7e3a987ee196c38bb79f59518/pymodbus/client/sync.py#L476

Following error is coming when i am trying to make a serial modbus connection through ```rtu```
Please put a check None check here

[code]

[2019-01-12 13:20] dhoomakethu commented on #373
what version of pyserial are you using ? Please use the template to report the issue (OS , Pymodbus etc)
Also, please refer pyserial documentation [here](https://pythonhosted.org/pyserial/pyserial_api.html#serial.Serial.interCharTimeout) for interCharTimeout

[2019-01-12 16:00] neerajkumarjarvis commented on #373
Name: pymodbus
Version: 2.1.0
Summary: A fully featured modbus protocol stack in python
Home-page: https://github.com/riptideio/pymodbus/
Author: Galen Collins
Author-email: bashwork@gmail.com
License: BSD
Location: /home/user/.local/lib/python3.6/site-packages
Requires: six, pyserial

OS:
Raspberry Pi
Linux (uname -a) -> 4.15.0-43-generic #46-Ubuntu SMP Thu Dec 6 14:45:28 UTC 2018 x86_64 x86_64 x

[2019-01-12 16:32] dhoomakethu commented on #373
Could you please paste the output of `pip list`.

[2019-01-12 16:42] neerajkumarjarvis commented on #373
alembic (1.0.5)
apturl (0.5.2)
asn1crypto (0.24.0)
Babel (2.4.0)
blinker (1.4)
Brlapi (0.6.6)
certifi (2018.11.29)
chardet (3.0.4)
Click (7.0)
colorama (0.3.7)
command-not-found (0.3)
cryptography (2.1.4)
cupshelpers (1.0)
defer (1.0.6)
distro-info (0.18)
Flask (1.0.2)
Flask-BabelEx (0.9.3)
Flask-Gravatar (0.4.2)
Flask-HTMLmin (1.3.2)
Flask-Login (0.4.0)
Flask-Mail (0.9.1)
Flask-Migrate (2.3.1)
Fl

[2019-01-12 16:50] dhoomakethu commented on #373
I see you are using `pyserial==3.4` . Which definitely has `interCharTimeout`.

[code]

[2019-01-12 17:12] neerajkumarjarvis commented on #373
Yes it has attributes

only ```none``` check need before calling this attribute in case ```Serial``` object is not initialised
```self.socket.interCharTimeout```

[2019-01-12 22:44] MarekLew commented on #369
Problem is in ModbusTcpClient not in ModbusSerialClient. Timout in ModbusSerialClient is calculate correctly(I don't see any problem). I not have scenario when transmission for TCP have 2 or more time breaks for next package, when `self.socket.recv(recv_size)` not receive all data.

After a year, I wanted to update the library to a newer version and this was the first function I reviewed. I saw an

[2019-01-13 10:19] dhoomakethu commented on #373
A PR already is in place #354  for the same.

[2019-01-14 03:02] dhoomakethu commented on #369
Oops, sorry I overlooked it. Anyhow I ran the same program with `ModbusTcpClient` and could not reproduce the issue (as per your comments on the commit ). Please share any logs you have for further analysis.

[code]

[2019-01-14 04:43] dhoomakethu commented on #320
For any one wanting support on python 3.7, please give a try on branch [pymodbus-2.2.0](https://github.com/riptideio/pymodbus/tree/pymodbus-2.2.0)

[2019-01-14 04:44] dhoomakethu commented on #319
Now part of branch [pymodbus-2.2.0](https://github.com/riptideio/pymodbus/tree/pymodbus-2.2.0), please give it a try and feedback

[2019-01-14 04:45] dhoomakethu commented on #353
Fix Now part of branch [pymodbus-2.2.0](https://github.com/riptideio/pymodbus/tree/pymodbus-2.2.0), please give it a try and feedback

[2019-01-14 04:45] dhoomakethu commented on #357
Fix Now part of branch [pymodbus-2.2.0](https://github.com/riptideio/pymodbus/tree/pymodbus-2.2.0), please give it a try and feedback

[2019-01-14 04:46] dhoomakethu commented on #365
Fix Now part of branch [pymodbus-2.2.0](https://github.com/riptideio/pymodbus/tree/pymodbus-2.2.0), please give it a try and feedback

[2019-01-14 04:46] dhoomakethu commented on #366
Fix Now part of branch [pymodbus-2.2.0](https://github.com/riptideio/pymodbus/tree/pymodbus-2.2.0), please give it a try and feedback

[2019-01-14 09:54] MarekLew commented on #369
I have test for this. Client disconect after `4.02500009537` `timeout=10`
[code]
[code]

[client.py](https://github.com/riptideio/pymodbus/files/2754651/client.py.txt)
[serwer.py](https://github.com/riptideio/pymodbus/files/2754635/serwer.py.txt)

[2019-01-14 10:03] MarekLew commented on #369
Other test:
[client.py](https://github.com/riptideio/pymodbus/files/2754679/client.py.txt)
[log.txt](https://github.com/riptideio/pymodbus/files/2754680/log.txt)
[serwer.py](https://github.com/riptideio/pymodbus/files/2754681/serwer.py.txt)

[2019-01-14 15:32] dhoomakethu commented on #369
Thanks @MarekLew . I see what's happening and you are right, the timeout is calculated in-correctly when partial data is received .

[2019-01-16 12:30] dhoomakethu commented on #371
Fixed and available as part of [v2.2.0rc1](https://github.com/riptideio/pymodbus/releases/tag/v2.2.0rc1).
`pip install pymodbus==2.2.0rc1`

[2019-01-16 12:37] dhoomakethu commented on #366
Fixed and available as part of [v2.2.0rc1](https://github.com/riptideio/pymodbus/releases/tag/v2.2.0rc1).
`pip install pymodbus==2.2.0rc1`

[2019-01-16 12:37] #366 closed

[2019-01-16 12:37] dhoomakethu commented on #365
Fixed and available as part of [v2.2.0rc1](https://github.com/riptideio/pymodbus/releases/tag/v2.2.0rc1).
`pip install pymodbus==2.2.0rc1`

[2019-01-16 12:37] #365 closed

[2019-01-16 12:37] dhoomakethu commented on #357
Fixed and available as part of [v2.2.0rc1](https://github.com/riptideio/pymodbus/releases/tag/v2.2.0rc1).
`pip install pymodbus==2.2.0rc1`

[2019-01-16 12:37] #357 closed

[2019-01-16 12:38] dhoomakethu commented on #320
Fixed and available as part of [v2.2.0rc1](https://github.com/riptideio/pymodbus/releases/tag/v2.2.0rc1).
`pip install pymodbus==2.2.0rc1`

[2019-01-16 12:38] #320 closed

[2019-01-16 12:38] dhoomakethu commented on #319
Fixed and available as part of [v2.2.0rc1](https://github.com/riptideio/pymodbus/releases/tag/v2.2.0rc1).
`pip install pymodbus==2.2.0rc1`

[2019-01-16 12:38] #319 closed

[2019-01-16 20:02] MarekLew commented on #369
Sorry for not rebranching.  Not have t
time in this weak.

[2019-01-18 20:37] stegm opened #377 "ModbusSerialClient throws AttributeError instead of returning False"
### Versions

* Python: 3.6
* OS: Ubuntu
* Pymodbus: 2.1
* Modbus Hardware (if used): None

### Pymodbus Specific
* Server: None
* Client: rtu - sync

### Description

If the `ModbusSerialClient` is created with method 'rtu' and a non-existing device, the `connect`-method throws an attribute error instead of returning `False`.

Example:

[code]

### Code and Logs

This is because of this code (`Mo

[2019-01-19 11:59] dhoomakethu commented on #377
There is sa fix available with v2.2.0rc1, please do `pip install pymodbus==2.2.0rc1` and update If that still does not solve the problem

[2019-01-21 06:58] stegm commented on #377
2.2.0rc1 gives the same error for me.

[code]

[2019-01-21 07:16] dhoomakethu commented on #377
Thanks for the confirmation. I will look in to this.

[2019-01-23 08:19] agn-7 opened #379 "Unable to stop an async ModbusTcpServer and restart it by a new context"
### Versions

* Python: 3.6.5
* OS: Ubuntu-16.04
* Pymodbus: 2.1.0

### Pymodbus Specific
* Server: tcp - async

### Description

I want to stop a pymodbus async ModbusTcpServer then start a new server, so I tried with the following simplified snippet code, but I got an exception with `twisted.internet.error.ReactorNotRestartable` content.

### Code and Logs

[code]
Out:

[code]

---
### Related [

[2019-01-24 19:11] programatt commented on #373
@dhoomakethu I've installed 2.2.0rc1 and getting the same error as the OP.

    /Users/mathewphillips/code/venvs/TestModbusTk/bin/python
    /Users/mathewphillips/code/TestModbusTk/client.py
    Traceback (most recent call last):
      File "/Users/mathewphillips/code/TestModbusTk/client.py", line 30, in <module>
        main()
      File "/Users/mathewphillips/code/TestModbusTk/client.py", line 2

[2019-01-25 02:00] dhoomakethu commented on #373
As a temp workaround , you can create your client s with kwarg `strict=False`>.
Client = ModdbusSerialClient(....,strict=False)`

[2019-01-25 11:45] muhlbaier opened #380 "sync RTU client timeout not functioning properly in _recv"
### Versions

* Python: 3.6
* OS: Windows
* Pymodbus: 2.2.0rc1
* Modbus Hardware (if used): Custom

### Pymodbus Specific
* Server: Custom
* Client: rtu - sync @ 115200 buad

### Description

Every few transactions _recv(self, size) in ModbusSerialClient:sync.py returns with no or partial data when elf.socket.read(size) is called and no attempt is made to read more data if there is a timeout set >

[2019-01-25 19:27] arslion opened #381 "Is there any way to Convert the type of value we are getting from read_holding_registers?"
I am getting the data using Read holding registers. All is working fine.
Also I am getting data using Modbus Poll on Windows.
I am getting same values when I choose signed in Display. But I want to get the value which is in Float Inverse.
![image](https://user-images.githubusercontent.com/3967627/51767971-b3b1c780-2100-11e9-8c5b-efea9ce51729.png)

How can I achieve this using pymodbus?

### Versio

[2019-01-25 22:39] tracernz commented on #381
PyModbus includes the BinaryPayloadDecoder class:
https://pymodbus.readthedocs.io/en/latest/source/library/pymodbus.html#pymodbus.payload.BinaryPayloadDecoder
https://pymodbus.readthedocs.io/en/latest/source/example/modbus_payload.html

Alternately you can just use python's struct module to pack the 16-bit register values to bytes, then unpack in the format of your choice.

[2019-01-26 04:59] dhoomakethu commented on #377
Please give a try with the latest on [pymodbus-2.2.0](https://github.com/riptideio/pymodbus/tree/pymodbus-2.2.0) branch and feedback. Thanks

[2019-01-26 05:01] dhoomakethu commented on #380
@muhlbaier What is the read timeout in your client and corresponding read/write timeouts in your custom server.

[2019-01-26 10:06] muhlbaier commented on #380
@dhoomakethu 1.0s on the client and the server is embedded and has exclusive control of the port so there is no timeout. I have used a logic analyzer to make sure the data on the bus is as expected and it is. There is a 2-5ms delay from the end of the request from the client to the start of the response from the server which is well within the timing requirements @ 115200 baud.

[2019-01-26 12:53] arslion commented on #381
How can I get Float Inverse value using struct?
![GitHawk Upload by arslion](https://i.imgur.com/Xhh5gs1.jpg)

`unpack(‘f’,pack(‘hh’,value1,value2))`

Let me know what to use here instead of `f` and `hh`

<sub>Sent with <a href="http://githawk.com">GitHawk</a></sub>

[2019-01-27 07:01] tracernz commented on #381
I think you need to swap the registers, at least according to what I could find on "float inverse" [0].
[code]

[0] Section 4.4.4 https://www.walchem.com/literature/Controllers/WM/180413_WIND%20Modbus%20Manual.pdf

[2019-01-27 07:31] dhoomakethu commented on #381
You can use `BinaryPayloadDecoder` where in you can specify the`byteorder` and `wordorder` as well. refer comments in this [example](https://github.com/riptideio/pymodbus/blob/master/examples/common/modbus_payload.py)

[2019-01-28 08:58] mpf82 commented on #353
Sorry for the late reply.

Yes, I can confirm that with version ``2.2.0rc1`` setting ``strict      = False,`` will fix the issue.

[2019-01-28 09:30] #353 closed

[2019-01-28 12:02] snaptec opened #382 "USRIOT TCP232-304 reading problem"
### Versions

* Python: Python 2.7.13
* OS: Raspbian GNU/Linux 9 \n \l
* Pymodbus: pymodbus-2.1.0
* Modbus Hardware (if used): USRIOT TCP232-304

### Pymodbus Specific
* Server: tcp/rtu/ascii - sync/async
Server on Port 8899, 9600 / 8n1

### Description

I would like to read a Modbus Device connected to a USR TCP232-304.

What I would like to do:
Using the ModbusTCPClient to connect, read a regist

[2019-01-29 09:12] dhoomakethu commented on #380
@muhlbaier Would it help if you increase the read timeout of the client  (>1sec)?

[2019-01-29 13:35] muhlbaier commented on #380
@dhoomakethu I can test but I would be shocked if it helped. All the data is received within 10ms of the request, I'm not sure why the OS (tested on Windows and Linux) returns from self.socket.read(size) so quickly. The code posted above fixes the problem by retrying self.socket.read() until the number of bytes is what we want or we actually hit the timeout.

[2019-01-29 13:48] muhlbaier commented on #380
@dhoomakethu I don't think the bug is in pymodbus, I think pyserial isn't properly respecting the timeout that is set when pymodbus opens the port. My fix will ensure we at least try reading bytes until we have them or until the timeout has really been reached.

[2019-01-29 14:12] dhoomakethu commented on #380
@muhlbaier I think you are hitting the issue #353, please refer for the solution there.All you need to do is create your client with kwarg `strict=False`. Let me know if that helps.

[2019-01-31 03:16] bhtakti-aatma commented on #373
@programatt did you got solution. I'm struggling with same. So please help me in communicating with RS-485. I'm able to get value in modscan32 but not in Rpi.

[2019-01-31 04:10] dhoomakethu commented on #373
@bhtakti-aatma Please refer #377 for a fix.

[2019-01-31 04:36] bhtakti-aatma commented on #373
@dhoomakethu thanks for quick response. Now I'm getting result:
False
Connection lost, Try again
but when I'm operating with another code it's giving my connection as True.
please help me to get communicated with RS-485.

[2019-01-31 05:10] dhoomakethu commented on #373
Could you be more specific with what you mean by `another code` ? Please share your code which is working and also the one which doesn't work. Also Is both code running against the same modbus slave using same settings or different one. Please share any other info which might be useful (OS etc)

[2019-01-31 05:20] bhtakti-aatma commented on #373
@dhoomakethu here's my python script:

from pymodbus.constants import Endian
from pymodbus.payload import BinaryPayloadDecoder
from pymodbus.client.sync import ModbusTcpClient
from pymodbus.client.sync import ModbusSerialClient #as ModbusClient

def validator(instance):
    if not instance.isError():
        '''.isError() implemented in pymodbus 1.4.0 and above.'''
        decoder = BinaryPayloadD

[2019-01-31 05:38] bhtakti-aatma commented on #373
@dhoomakethu now it's coming : ========================== RESTART: /home/pi/rs3.py ==========================

True
DEBUG:pymodbus.transaction:Current transaction state - IDLE
DEBUG:pymodbus.transaction:Running transaction 1
DEBUG:pymodbus.transaction:SEND: 0x1 0x3 0xf 0x57 0x0 0x2 0x76 0xcf
DEBUG:pymodbus.client.sync:New Transaction state 'SENDING'
DEBUG:pymodbus.transaction:Changing transaction

[2019-01-31 05:42] dhoomakethu commented on #373
You are passing the wrong data address (`DEBUG:pymodbus.transaction:RECV: 0x1 0x83 0x2 0xc0 0xf1`) . You will have to pass the exact offset to pymodbus for it to work.

[2019-01-31 06:03] bhtakti-aatma commented on #373
@dhoomakethu Your help is too much appreciable, I'm making progress step by step. Now it's coming like this:
True
DEBUG:pymodbus.transaction:Current transaction state - IDLE
DEBUG:pymodbus.transaction:Running transaction 1
DEBUG:pymodbus.transaction:SEND: 0x1 0x4 0xf 0x57 0x0 0x2 0xc3 0xf
DEBUG:pymodbus.client.sync:New Transaction state 'SENDING'
DEBUG:pymodbus.transaction:Changing transaction sta

[2019-01-31 10:07] py2pi commented on #373
@dhoomakethu  if you need some more information for this, then please let me know ? I'm still  unable solve it.

[2019-01-31 10:33] muhlbaier commented on #380
@dhoomakethu strict=False also fixes the issue. Thank you!

[2019-01-31 10:33] #380 closed

[2019-01-31 12:21] py2pi commented on #373
@dhoomakethu thanks for letting me solve this at my own after guiding me.  You are a good instructor. Keep doing your good work.

[2019-02-01 15:50] drakes00 opened #383 "Broadcast responses handling in Sync RTU"
### Versions

* Python: 3.5.3
* OS: Debian GNU/Linux 9.7 (stretch) // Linux hostname 4.9.0-8-amd64 #1 SMP Debian 4.9.130-2 (2018-10-27) x86_64 GNU/Linux
* Pymodbus: 2.1.0 and 2.2.0
* Modbus Hardware (if used): RS485 cable with 3 ends in order to link one client with two servers (see below)

### Pymodbus Specific
* Server: tcp/rtu/ascii - sync/async -- Sync RTU __x2__
* Client: tcp/rtu/ascii - sync

[2019-02-01 15:54] snaptec commented on #382
Thanks @dhoomakethu
More or less, that's it.
It is working, but about 2 out of 10 read outs returns:
AttributeError: 'ModbusIOException' object has no attribute 'registers'

I try to figure out why it is not working stable.

[2019-02-01 16:34] dhoomakethu commented on #383
Interesting bug report, are you running pymodbus rtu server with one unit on the same port in two numbers or just one pymodbus server with  2 units ? Could you please share the logs of the second server receiving the response ? Also the code for your server as well.

[2019-02-02 01:10] sputt opened #384 ""Six" library should not be pinned to an exact version"
requirements.txt calls out six==1.11.0. This is over-constrained (and tests pass with 1.12.0)

[2019-02-03 18:33] willcharlton commented on #373
@py2pi can you summarize how this issue was resolved for you? I'm having a similar issue. Was it as simple as `strict=True` in client constructor kwargs?

[2019-02-04 08:41] dhoomakethu commented on #384
Is there any particular problem you have faced with `six==1.11.0` ? We try to keep things which are proved to be working fine and hence the requirements are not updated frequently. If you think having `1.12.0` against `1.11.0` is useful. please let us know.

[2019-02-04 19:59] wrobell commented on #349
BTW. This example will not work

https://pymodbus.readthedocs.io/en/latest/source/example/async_asyncio_serial_client.html

as `pymodbus.client.asynchronous.asyncio.AsyncioModbusSerialClient` does not support `timeout` parameter (ver 2.2.0rc1).

[2019-02-05 03:38] sputt commented on #384
It's good practice to keep the requirements of a python library as unconstrained as possible.  For example, pymodbus may be used in a project that pulls in hundreds of libraries, and pymodbus alone may be the only reason they are unable to take a new version of six in their environment.

We can use CI to verify that new versions of reqs don't break this package, rather than relying on hard pins.

[2019-02-07 13:16] py2pi commented on #373
@willcharlton Sorry for late reply. It can work on strict=False. You just have to read the correct registers.

[2019-02-07 13:44] py2pi commented on #373
@willcharlton I used this code to read the holding registers. Hope it'll help out you.

import pymodbus
import serial
from pymodbus.pdu import ModbusRequest
from pymodbus.client.sync import ModbusSerialClient #as ModbusClient #initialize a serial RTU client instance
from pymodbus.transaction import ModbusRtuFramer
import logging
import time
logging.basicConfig()
log = logging.getLogger()
log.setLe

[2019-02-07 18:42] wrobell opened #385 "Serial asyncio client does not recover after device goes online"
### Versions

* Python: 3.7.2
* OS: Linux
* Pymodbus: 2.2.0rc1
* Modbus Hardware (if used): Growatt 1500-s

### Pymodbus Specific
* Client: rtu - async

### Description
The Growatt 1500-s is a solar panel inverter. I am connecting to it via USB to serial cable.

When there is not enough energy from the solar panels, the inverter shuts down. The serial device still exists, you can send data, but yo

[2019-02-08 05:57] dhoomakethu commented on #385
Could be similar to #349

[2019-02-08 16:32] wrobell opened #386 "Reconsider use of time.time() function"
Going through the code, I can see that `time.time` function is used in few places - to calculate timeouts mostly. The time returned by this function can be adjusted (i.e. what will happens to 30s timeout scheduled just before an user or NTP client changed the time?). IMHO, it would be better to switch to use of `time.monotonic`.

EDIT: Originally, I have stated that `time.time` can be affected by

[2019-02-08 16:36] dhoomakethu commented on #386
That's a good suggestion, I will make a note. Thanks

[2019-02-08 17:09] wrobell commented on #385
The issue can be simulated with the scripts `p1.py` and `p2.py` (see the code below).

To reproduce the problem

1. Create virtual serial device with socat
[code]
2. Run `p1.py` script.
3. Run `p2.py` script with `ok` parameter.
4. The `p1.py` script will print `received 12627`.
5. Now run `p2.py` script with `fail` parameter.
6. The `pymodbus` in `p1.py` script will log `DEBUG:pymodbus.framer.rtu

[2019-02-11 05:08] dhoomakethu commented on #385
I was able to reproduce this with your provided code and was able to work around it using `async_timeout` and [pymodbus 2.2.0rc2](https://github.com/riptideio/pymodbus/tree/pymodbus-2.2.0).

[code]

[2019-02-11 09:10] wrobell commented on #385
thanks, it will take me 2 days to test it or so.

[2019-02-12 04:54] dhoomakethu commented on #381
@arslion I will be closing this issue. Please feel free to reopen in case you have not found what you were looking for.

[2019-02-12 04:54] #381 closed

[2019-02-12 04:54] #343 closed

[2019-02-12 04:55] #328 closed

[2019-02-13 15:13] landon-humatics commented on #371
FYI - same type of problem occurred with 'help' command completion and v2.2.0rc1 does not fix the issue.

[code]

Installed 2.2.0rc1....

[code]
[code]

[2019-02-13 21:49] wrobell commented on #385
There is still an issue with long running tasks.

This can be simulated with the following

1. Run with `p1.py` script with
[code]
2. Run script `p2.py` *after* 15 seconds.
3. `pymodbus` reports that data is received, but `rr = await... timeout=1)` still timeouts.
4. After a period of time, the data is returned by new tasks.

It seems, that despite task cancellation, `pymodbus` still tries to retu

[2019-02-16 05:52] dhoomakethu commented on #371
@landon-humatics thanks for reporting. Will take a look

[2019-02-16 05:56] dhoomakethu opened #387 "Pymodbus 2.2.0rc2 failing to read registers/coils"
### Versions

* Python: 2.7.12
* OS: OSX
* Pymodbus: 2.2.0rc2
* Modbus Hardware (if used):  NA

### Pymodbus Specific
* Server: tcp/rtu/ascii - sync/async --> all
* Client: tcp/rtu/ascii - sync/async  --> all

### Description
Basic operations on TCP to read coils/registers failing with `[Input/Output] No Response received from the remote unit/Unable to decode response`.
 The same code works just f

[2019-02-16 08:24] dhoomakethu commented on #387
Fixed with v2.2.0rc3

[2019-02-16 08:24] #387 closed

[2019-02-16 08:27] dhoomakethu commented on #371
@landon-humatics please check v2.2.0rc3 and see if the issue is fixed

[2019-02-19 20:33] wrobell commented on #385
Is there any other additional data to be provided to push this issue forward?

[2019-02-20 02:43] dhoomakethu commented on #385
@wrobell sorry, I got offtrack with other activities. I will try to see if I can work on this over the weekend or in up coming weeks .

[2019-02-21 21:29] arunpersaud commented on #384
Just run into the same issue. My openSUSE distribution comes with 1.12.0 and I can't pip install pymodbus on it :( If I try to install it with --no-dependencies, then the install works, but when importing a module that depends on pymodbus, I still get errors:

ContextualVersionConflict: (six 1.12.0 (/usr/lib/python3.7/site-packages), Requirement.parse('six==1.11.0'), {'pymodbus'})

my current solu

[2019-02-21 23:25] tracernz commented on #384
Pinning so tightly means you can basically only use PyModbus in a virtualenv.

[2019-02-22 10:53] dhoomakethu commented on #384
If it helps, you can also use `pip install pymodbus` with `--user` option to install pymodbus to the Python user install directory for your platform.

[2019-02-23 16:22] msoto42 opened #388 "ImportError: cannot import name 'BinaryModbusDecoder'"
Hi, I've been testing pymodbus and I was trying to try the "modbus_mapper" example but when I run it I get the following error:
"ImportError: can not import name 'BinaryModbusDecoder'", when reviewing the import I see that in the file payload.py this class does not exist. How can i fix this?

[2019-02-23 16:26] msoto42 commented on #388
CODE....

#from pymodbus.pdu import ModbusRequest
from pymodbus.client.sync import ModbusSerialClient as ModbusClient #initialize a serial RTU client instance
#from pymodbus.transaction import ModbusRtuFramer
from modbus_mapper import csv_mapping_parser
from modbus_mapper import mapping_decoder
from pymodbus.payload import BinaryModbusDecoder

import logging
logging.basicConfig()
log = logging.get

[2019-02-24 23:16] geoffbrucepayne opened #389 "Parity issues"
### Versions

* Python: 2.7.13
* OS: Raspbian
* Pymodbus: 2.1.0
* Modbus Hardware (if used): various

### Pymodbus Specific
* Server: rtu - async

### Description

When I start my serial server, it seems to run fine when using 'N' parity, but when configured to run 'E' parity it seems to be operating as 'N'.  I'm currently running a simulator on Raspberry Pi which has my Pymodbus code and has been

[2019-02-25 03:06] dhoomakethu commented on #388
You will have to use `from pymodbus.payload import BinaryPayloadDecoder`. Sorry some examples are not up to date. More example on usage is [here](https://github.com/riptideio/pymodbus/blob/master/examples/common/modbus_payload.py)

[2019-02-27 22:20] AtibaBryan opened #390 "Syntax Error for python3 examples/common/asynchronous_server.py"
### Versions

* Python: 3.4
* OS: macOS 10.14.3
* Pymodbus: 2.10
* Modbus Hardware (if used): virtual serial port with socat

### Pymodbus Specific
* Server: tcp/rtu/ascii - sync/async
* Client: tcp/rtu/ascii - sync/async

### Description

What were you trying, what has happened, what went wrong, and what did you expect?
Run the asynchronous server in the same manner I wrote the synchronous one.
#

[2019-02-27 22:22] AtibaBryan commented on #390
for the record I'm trying to run a serial RTU server to test an app that depends on a modbus connection.

[2019-02-27 22:32] AtibaBryan commented on #390
it looks like it has to do with the module name. I'll be making another issue that describe the issue

[2019-02-27 22:32] #390 closed

[2019-02-27 22:36] AtibaBryan opened #391 "Module named async which is a reserverd word in python3."
The module for making asynchronous communication over modbus is named `async` which is a reserved word in python3. This is making importing the async module in python3 code difficult to impossible.

I propose renaming the module, but I know that would be a breaking change.
Does anybody know of a work around for the time being?

[2019-02-28 03:44] dhoomakethu commented on #391
The support is part of 2.2.0 release (available via PIP as well as a release canidate `pip install pymodbus==2.2.0rc3`

[2019-02-28 03:44] #391 closed

[2019-03-04 10:16] arslion commented on #381
`struct.unpack('>f', struct.pack('>HH', value2, value1))`
I got the value by doing this. You got to use big-endian of little endian depending on OS. Also you need to pack inside unpack. Somehow its not working if I pack in another variable and pass it in unpack.

for details depending on what others are using check this link: [Python 2](https://docs.python.org/3/library/struct.html) [Python 3](htt

[2019-03-04 15:01] makawi24 opened #392 "Pymodbus RTU sync issue with consecutive readings/writings"
### Versions

* Python: 3.7.2
* OS: Windows
* Pymodbus: 2.1.0 and 2.2.0
* Modbus Hardware (if used): Regin

### Pymodbus Specific
* Client: rtu - sync

### Description
When reading or writing just one register, normally the operation always success.
Nevertheless, when there are consecutive readings or writings, many times fails.
I’ve tested in both pymodbus-2.1.0 and pymodbus-2.2.0 without success

[2019-03-06 04:42] dhoomakethu commented on #392
@makawi24 Could you please provide the logs ? I am not able to reproduce this issue. Also can you check what happens if you increase the timeout to value > 1 ?

[2019-03-06 11:16] agn-7 opened #393 "DeprecationWarning: asyncio.async()"
### Versions

* Python: 3.6.5
* OS: Ubuntu 16.04
* Pymodbus: 2.1.0
* Modbus Hardware (if used): Delta Gateway

### Pymodbus Specific
* Client: tcp - async

### Description

When I unplug Modbus Delta-Gateway device TCP port, I'm dealing with the following warning:

[code]

[2019-03-06 11:41] dhoomakethu commented on #393
Please give it a try on 2.2.0rc4 and see if the issue is fixed .

[2019-03-07 12:12] makawi24 commented on #392
Hi dhoomakethu,
1) Please find attached the logging information.
What I’ve noticed is that, when adding the logs, the success rate is much higher than the error rate. But without them is the opposite…
[Logging Information.pdf](https://github.com/riptideio/pymodbus/files/2941136/Logging.Information.pdf)

2) Increasing the time.sleep doesn’t solve the issue. Sometimes yes, sometimes not. It’s very r

[2019-03-08 04:30] dhoomakethu commented on #392
Do you observe this only with the modbus hardware reported in this issue (Regin) or with other hardwares as well. I am not able to reproduce this issue with the existing modbus hardwares I am having with me. I will try to poke around more and see if I could reproduce and find a fix. Thanks.

[2019-03-08 09:56] agn-7 commented on #393
Thanks for the response, I will try it by `sudo pip3 install pymodbus==2.2.0rc4`

[2019-03-08 21:41] RonnyDe1982 opened #394 "RTU Framer discards packets splitted into two calls to "processIncomingPacket""
### Versions

* Python: 3.6.7
* OS: Ubuntu 18.10
* Pymodbus: 2.1.0 (rtu_framer.py function ProcessIncomingPacket patched to 2.2.0)
* Modbus Hardware (if used):

### Pymodbus Specific
* Server: rtu - async

### Description
The RTU Framer had a known issue related to modbus requests not served by the library but other physical modbus devices. This issues seems to be fixed in branch "pymodbus-2.2.0".

[2019-03-10 05:59] agn-7 commented on #393
With this update, I'm dealing with the following error:

[code]

[2019-03-10 06:56] dhoomakethu commented on #393
Yes, it is expected. You will have to use `from pymodbus.client.asynchrnous.tcp import AsyncModbusTCPClient as ModbusClient` now.

Please refer the [changelog](https://github.com/riptideio/pymodbus/releases/tag/v2.2.0rc1).

[2019-03-10 07:20] agn-7 commented on #393
Now, there is not `ModbusTcpClient` Class:

[code]

[2019-03-10 08:44] dhoomakethu commented on #393
Because your import is wrong, it should be
`from pymodbus.client.asynchrnous.tcp import AsyncModbusTCPClient as ModbusClient`

[2019-03-10 09:54] agn-7 commented on #393
- Missing an "o" in `asynchrnous` typing :-D
 - In changelog is `import ModbusTcpClient` also

However, the importing problem solved by `from pymodbus.client.asynchronous.tcp import AsyncModbusTCPClient as ModbusClient`

Then I encountered with `schedulers` import error which I solved that by:

[code]

Apparently, my code is working and there isn't any warning.

Thanks for the response.

[2019-03-10 10:50] dhoomakethu commented on #393
Thanks wIll update the change log.

[2019-03-10 10:50] #393 closed

[2019-03-15 11:47] mberntsen opened #395 "dev.read_discrete_inputs can return wrong response class, sync issue?"
I've got an application that reads and writes coils. I simulate the devices using pymodbus server.
When I quit the server and restart it, I sometimes get a wrong response object in my client code:

This is what my client does:
rq = self.dev.write_coils(0, co)
wait 100 ms
di = self.dev.read_discrete_inputs(0, 4)
ir = self.dev.read_holding_registers(0, 4)

sometimes di or ir return the pymodbus.bit_

[2019-03-15 12:09] dhoomakethu commented on #395
What version of pymodbus are you running ?

[2019-03-15 18:17] transistorgrab commented on #392
I recently ported a logger application from python 2 to python 3 and in this progress I also got the latest version of pymodbus.
The script runs on a Raspberry Pi with Python 3.5.3 and collects data from a SMA solar inverter in an interval of 5 seconds.
The logger runs for a long time successfully. But after a day or so  I think I see the same error as the OP.
The error message is

The representat

[2019-03-16 05:49] dhoomakethu commented on #392
@transistorgrab You will have to check for valid registers before feeding to `BinaryPayloadDecoder`. Perhaps something like
[code]

[2019-03-16 14:07] transistorgrab commented on #392
Thanks for the hint.
I will try this and keep you updated.

[2019-03-16 18:05] transistorgrab commented on #392
Well... I started the script with your addition:

                if not received.isError():
                    message = BinaryPayloadDecoder.fromRegisters(received.registers, byteorder=Endian.Big, wordorder=Endian.Big)
                    message_errorcounter = 0
                if received.isError():
                    print (thisdate," Receive error!")

But I just got again the message from

[2019-03-17 16:49] transistorgrab commented on #392
Update:
I added this line to my script in the except block:
`print ("Received is: ", received)`
This gives this output:

I have no idea why this does not trigger the lines in the try section:
[code]

Any idea from your side?
The errors are quite sporadic and occur as single events only every few hours.

[2019-03-18 03:26] dhoomakethu commented on #392
The error is not raised !!! The read returns an `ModbusIOException` object in case of failure. There is a feature request #298 for the same.

[2019-03-18 11:57] makawi24 commented on #392
Sorry for the delay, not easy to get a different controller.
Performing the tests with the second controller (from a different manufacturer) the results are similar (please find attached “Controller 2 results.pdf”).
Also tested with another USB-RS485 converter with also similar results.
I think I’ll make a condition that, in case of error, reread the value, and that’s all.
Thank you
[Controller 2

[2019-03-18 14:44] dhoomakethu commented on #392
@makawi24 thanks for the confirmation, I will try to reproduce the issue.

[2019-03-20 21:19] mberntsen commented on #395
2.1.0

[2019-03-20 21:28] mberntsen opened #396 "tcp framer isframeready, checkframe incomplete -> resetframe??"
excerpt from the socket_framer.py:
[code]
if the header is received, isFrameReady() will return true,
if the data is not complete yet, checkFrame() will return false,
this leads to the frame being dropped, while the missing data leads to an invalid frame in the next read (the data is received, but nog yet put into the buffer
If you would wait for the data, but it would not come, the framer would g

[2019-03-21 10:19] ondrej1024 opened #397 "How to cancel a client write request after it times out ?"
### Versions

* Python: 2.7
* OS: Raspbian Stretch Lite
* Pymodbus: 1.2.0

### Pymodbus Specific
* Client: tcp - sync

### Description

When issuing a client write request `client.write_register() `via synchronous TCP method, in some cases the request times out without receiving a response from the server. So far so good.
However, even after closing the connection the request seems to remain in th

[2019-03-21 10:39] dhoomakethu commented on #397
You are using very old  version of pymodbus, Please give a try with latest pymodbus==2.2.0.rc4 .

[2019-03-21 11:55] dhoomakethu commented on #395
Could you please give a try with the latest release candidate `pip install pymodbus==2.2.0rc4` and update ?

[2019-03-21 11:56] dhoomakethu commented on #396
There is a potential fix for this issue in v2.2.0rc4, please give a try on the latest release candidate  `pip install pymodbus==2.2.0rc4`

[2019-03-21 16:18] ondrej1024 commented on #397
OK, now I have tried with the latest stable version 2.1.0, installed with pip. The issue persists.

Here are the details:

I have a ModbusTCP server listening on port 5010:
[code]
I start a PyModbus connection with `client.connect()` and get 2 new connections in state ESTAB:
[code]
Now I request to write a register with `client.write_register()`, connection status remains the same, even after the

[2019-03-21 16:38] dhoomakethu commented on #397
what happens if you explicitly call `client.close()` when the timeout happens ? Will that help ?

[2019-03-21 16:55] ondrej1024 commented on #397
I _always_ call `client.close()` directly after `client.write_register()`.

[2019-03-22 01:21] divi255 opened #398 "StartSerialServer async and port parameters"
async StartSerialServer should pass bytesize, parity and stopbits to twisted SerialPort.

the only way to do this now is to write own StartSerialServer helper.

[2019-03-22 01:42] geoffbrucepayne commented on #389
I'm concerned I might have a low level timing issue for the slave when I compare 2 different Master devices polling it.  In all cases I am running serial RTU 9600-8N1

Here is a debug log from a Master that seems to communicate reliably:
2019-03-21T23:55:21.526Z,[DEBUG],(MainThread),async.dataReceived:64,Data Received: 0x1
2019-03-21T23:55:21.529Z,[DEBUG],(MainThread),async.dataReceived:64,Data Re

[2019-03-22 13:35] dhoomakethu commented on #398
What version of pymodbus are you using ? Could you please share any code samples on how you are initialising the client ?  If you follow the latest examples on [async serial client based on twisted](https://github.com/riptideio/pymodbus/blob/master/examples/common/async_twisted_client_serial.py), you can pass these serial values as kwargs.
[code]

[2019-03-22 13:49] dhoomakethu commented on #397
Is the server here is pymodbus server or any third party modbus tcp slave ?

[2019-03-22 13:58] dhoomakethu commented on #389
@geoffbrucepayne apologies for the delay, I will try to poke around regarding the wrong parity, It should not be the case. Also there is no way at present to view the serial settings being applied unless you are hacking the code to print the serial object attributes or using a debugger to view the state.  Regarding your second comment, Could you please share the client code you are using to connec

[2019-03-22 18:18] geoffbrucepayne commented on #389
@dhoomakethu I'm only using a pymodbus async server implementation as a [simulator](https://github.com/gbrucepayne/modbus_sim), no pymodbus client at this point.  The 2 clients I am using are third party tools/devices:
1st Client that I did most of my initial testing with: [Modbus Poll](https://modbustools.com/modbus_poll.html)
2nd Client I am having problems with is a physical device that claims

[2019-03-23 05:24] dhoomakethu commented on #389
This is a bug, thanks for the detailed explanation. The culprit appears to be this [line](https://github.com/riptideio/pymodbus/blob/master/pymodbus/server/async.py#L317) in the code. Pymodbus is only passing the `Port` and `Baudrate` info to the twisted serial port.

[2019-03-23 06:27] dhoomakethu commented on #389
@geoffbrucepayne Please give a try with [pymodbus-2.2.0](https://github.com/riptideio/pymodbus/tree/pymodbus-2.2.0) branch and let me know if that fixes the issue. Please note, this branch is compatible with python3.7 and hence the use of `async` is not permitted. You will have to do the import of your server as `from pymodbus.server.asynchronous import StartSerialServer` .

[2019-03-23 14:39] charliboy opened #399 "RedisSlaveContext bug"
### Versions

* Python:3.6.4
* OS:win 10
* Pymodbus:2.10
* Modbus Hardware (if used):

### Pymodbus Specific
* Server: tcp/rtu/ascii - sync/async
* Client: tcp/rtu/ascii - sync/async

### Description

When using RedisSlaveContext, communication is not possible, and communication address validation is wrong

### Code and Logs

[code]

[2019-03-25 09:56] ondrej1024 commented on #397
The server is a custom server developed by me based on the C library [libmodbus](https://libmodbus.org).

Thinking some more about this I've come to the conclusion that PyModbus is behaving correctly. It looks like it has no way of knowing if a connection to the server is still pending in the queue or if it is already being processed by the server.

I observed that all connections from the PyModbu

[2019-03-25 10:32] dhoomakethu commented on #397
Thanks for the clarification, I have checked with the pymodbus server and it closes the connection whenever a client is disconnected. Since this is an issue with external server, I will close this issue.

[2019-03-26 10:08] geoffbrucepayne commented on #389
@dhoomakethu can you clarify the main differences between synchronous and asynchronous?  Does synchronous better conform to the Modbus serial spec of 3.5 frame sleep?

[2019-03-26 11:15] dhoomakethu commented on #389
The main difference is synchronous server does not process requests in parallel and is sequential . Asynchronous servers can handle multiple requests at once and process . I am not quiet sure Both the servers can conform with modbus serial protocols. But when it comes to client the sync client does conform with the protocol.

[2019-03-26 14:20] mberntsen commented on #396
The release candidate has been running since friday without any issue, looks good

[2019-03-27 14:42] meierphil commented on #394
I stumbled upon the same issue:
### Versions
Python: 3.6.4, 3.7.3
OS: Windows10

and
Python 3.6.5
OS: Ubuntu 18.04.1 LTS

with
Pymodbus: 2.2.0rc4
Hardware: Voegtlin red-y smart Series GSM mass flow meter

### Description
When I integrated @RonnyDe1982's workaround, a key error was raised for `self._header['len']`:
[code]
Hence, I adapted the snippet to:
[code]
Not the neatest solution, but it work

[2019-03-27 16:45] dhoomakethu commented on #394
@meierphil Thanks for the hints and workaround. I will try to get a solution for this

[2019-03-27 16:46] #396 closed

[2019-03-27 16:46] #397 closed

[2019-03-29 04:45] dhoomakethu commented on #399
Can you give me your redis schema ? And are there any entries in your redis db when you start polling ?

[2019-03-29 09:06] charliboy commented on #399
Redis is the default configuration, not new schema. I understand that is the automatic generation when data is writing,But when the data is written from the client, the server will check the address first, and the server can not pass the address check.

[2019-03-29 14:08] dhoomakethu commented on #399
Yes that is because the `RedisSlaveContext` does not initialise the db with default values and the db is essentially empty. If you can give a try by creating dummy entries with redis-cli `set pymodbus:h:<offset> <value>` and see if the writes works as expected. If you are using python3 , the read might not work after this and might end up with struct error. Having said that redis context purely ex

[2019-04-01 16:15] transistorgrab commented on #392
short update from my side: it seems that checking for .isError seems to work for now for me. :)
Further crashes of my script seem to stem from some other imported module.

[2019-04-02 16:20] cdgarren opened #401 "Distribute License with Source"
Should the license be distributed with the source tarball? I'm trying to create a yocto recipe to use this and it generally expects there to be a license file, but the download from pypi does not have it included.

[2019-04-03 03:15] dhoomakethu commented on #401
[LICENSE](https://github.com/riptideio/pymodbus/blob/master/doc/LICENSE) is part of the doc folder. You can modify the recipe to fetch it from there.

[2019-04-03 03:15] #401 closed

[2019-04-03 12:44] cdgarren commented on #401
I understand that it's part of the doc folder. However, yocto recipes can easily pull from pypi, and your distribution there does NOT include the License file.

[2019-04-03 13:57] dhoomakethu commented on #401
Got it, I will make sure it is available as part of pypi in future releases. Thanks

[2019-04-04 02:05] charliboy commented on #399
@dhoomakethu ,thanks
I've corrected some bugs in the redis_datastore file and can now pass the above client code test in Python 3. But I haven't tested it in Python 2.

#Redis database initialization code
   host='localhost'
    port=6379
    r=redis.Redis(host=host, port=port)
    pre='pymodbus'
    num=100
    vals=[b'\x00\x00']*num
    c=('%s:c:%s' % (pre, v) for v in  range(num))
    c=dict(zi

[2019-04-04 03:02] dhoomakethu commented on #399
Thanks @charliboy I am working on some enhancements as well for redis store, I will update it here once thats ready.  Can you confirm if the reads are also working fine on Python3 ?

[2019-04-04 03:11] charliboy commented on #399
@dhoomakethu ,Yes, at present, the above code works well on pyhon 3 and can pass the test  code on the client side.

[2019-04-05 08:15] lalit-lintel opened #402 "Use pycryptodome instead of pycrypto."
### Versions

* Python: 2.7.12
* OS: Ubuntu 18.04
* Pymodbus: 2.1.0 [twisted]
* Modbus Hardware (if used):

### Pymodbus Specific
* Server: tcp - async

### Description

I am trying to use Mod bus server on TCP protocol, but when I installed pymodbus and I saw it's installed pycrypto, which is deprecated and dead software.

I already have installed pycryptodome in my application, which is a confli

[2019-04-08 04:44] dhoomakethu commented on #402
I am not sure of the amount of effort this might need, I would be glad to accept a PR if you can give a try with pycryptodome and can assure nothing breaks.

[2019-04-08 07:06] tracernz commented on #402
AFAICT twisted doesn't use PyCrypto? https://github.com/twisted/twisted/pull/953

[2019-04-10 15:49] wildstray opened #404 "better retries for incorrect data received"
### Versions

* Python: 2.7.9, 3.4.2
* OS: Debian 8.10
* Pymodbus: 2.2.0
* Modbus Hardware (if used):  Qeed TCP bridge and modbus RTU meters (QE-POWER-T-STD, QE-BR-ETH485 datasheets on http://www.qeed.it/)

### Pymodbus Specific
* Client: tcp - sync

### Description

When I try to read some meters across a TCP bridge (so I use ModbusTcpClient) sometimes (randomly, probably due to buggy firmware) I

[2019-04-10 16:16] dhoomakethu commented on #404
Please share your client initialisation code .

[2019-04-10 16:28] wildstray commented on #404
[code]

[2019-04-10 20:51] divi255 commented on #398
actually I see it's already fixed in 2.2.0

https://github.com/riptideio/pymodbus/commit/e4f202cb0973b08c8c38c0f667c4b29b80a1a64e

[2019-04-10 20:51] #398 closed

[2019-04-11 15:20] wildstray commented on #404
It seems to me the transaction is completed also with invalid data received, at least for socket (at the moment I'm not fitted for an RS485 serial test). NB: Qeed equipments, probably due to poor firmware, cause erratic readings also with another sw we use (DOG: Ontology-Powered OSGi Domotic Gateway). We cannot change equipment, so the only option is to deal with invalid respose and retry the tran

[2019-04-12 13:23] wildstray commented on #404
[code]
Ok, I just see that there is a little validation (_validate_unit_id()) in the socket framer and this would be enoght to deal with out issue in most cases. But we need to retry the transaction when the unit id is wrong, not resetFrame() and just return an error. Any hints?

[2019-04-12 13:29] dhoomakethu commented on #404
We are trying to do something inline with the specification (emphasis on the `may` be part below) (refer section 2.4.1 from http://www.modbus.org/docs/Modbus_over_serial_line_V1_02.pdf)

The simplest work around would be re-initiate the transaction.

[2019-04-18 08:46] #371 closed

[2019-04-20 07:59] lalit-lintel commented on #402
Added pull request with changes in the setup file, which will allow installing Cryptodome instead Crypto.

Pull request #409

[2019-04-29 21:20] jonemo commented on #384
Just ran into the same problem, trying to use `pymodbus` together with [`opcua`](https://pypi.org/project/opcua/) in a project and `pip install` shows this error in red (but still installs pymodbus):

[code]

However, using any of the entrypoints of my project fails with this setuptools error message:

[code]

I think it is incorrect to label this issue as "not an issue". At least for my (pretty s

[2019-04-30 02:58] dhoomakethu commented on #384
Thanks for the update, I will update the requirement to `six >= 1.1.0` in coming versions. Meantime, you can do a `pip install six==1.1.0` to fix your issue.

[2019-05-07 13:20] NagarjunaReddy1242 opened #414 "write_register pymodbus(not updating the value)"
hi,
I have connected one damper to modbus controller.when i was updated the value damper should move, for that i have used modbus write_register function.
address is 40065
i have mentioned below the following code

[code]
o/p:
[code]
problem:
value is not updating.

[2019-05-08 05:00] dhoomakethu commented on #414
You are receiving a valid response for your write register request, either you are writing to the wrong register or your slave is not able to update the register.

[2019-05-08 05:03] pazzarpj commented on #385
Can you try this with 2.2.0
https://github.com/riptideio/pymodbus/pull/367 was merged into it and I think might help

[2019-05-08 05:04] pazzarpj commented on #349
Can you try this with 2.2.0
https://github.com/riptideio/pymodbus/pull/367 was merged into it and I think might help

[2019-05-08 06:27] NagarjunaReddy1242 commented on #414
Slave address is correct . It is working when i was used modscan tool.

On Wed, 8 May 2019, 10:30 am dhoomakethu <notifications@github.com wrote:

[2019-05-09 14:34] dhoomakethu commented on #414
You will have to use the offset 0x40 and not 0x41, Offset 0x00 corresponds to register 40001, similarly 0x40(64) corresponds to register 40065.

[2019-05-09 14:36] NagarjunaReddy1242 commented on #414
Thanks you for giving your response. It's working

On 9 May 2019 8:04 pm, "dhoomakethu" <notifications@github.com> wrote:

You will have to use the offset 0x40 and not 0x41, Offset 0x00 corresponds
to register 40001, similarly 0x40(64) corresponds to register 40065.

—
You are receiving this because you authored the thread.
Reply to this email directly, view it on GitHub
<https://github.com/riptid

[2019-05-09 14:38] #414 closed

[2019-05-11 14:07] wrobell commented on #385
I am in the process of testing.

I would like to note that with newer versions of socat, the speed needs to be prefixed with `b`, i.e.

[code]

[2019-05-11 23:28] wrobell commented on #385
The initial testing with the scripts above looks promising. Testing now with the real device.

[2019-05-12 07:02] wrobell commented on #385
Unfortunately, there is still something wrong with the asyncio data read:

[code]

If I switch to standard serial client:

[code]

It seems like the async client tries to decode the frame too fast?

[2019-05-14 22:24] isj4 commented on #316
I need this, specifically the "hwgrep://" syntax.
Scenario: Remote box, two FTDI RS-485 USB adapters, other USB devices also show up as /dev/ttyUSB*, so I cannot rely on the device names as they change on reboot.
So ideally I would specify the serial ports to be:
"hwgrep://0403:6001" and "hwgrep://0403:6001&n=2"

I hacked the pymodbus module, sync.py, ModbusSerialClient.connect()
Instead of:

[2019-05-15 07:43] techietoday commented on #281
I have been facing the same error, how did you fix it?

[2019-05-15 08:39] dhoomakethu commented on #316
@isj4 Thanks for the workaround, I will see if this is something we can support from the pymodbus library directly

[2019-05-23 18:22] dacalin opened #415 "Opening twice a port with a sync RTU client"
### Versions

* Python: 3
* OS: mac
* Pymodbus: 2.2
* Modbus Hardware (if used):

### Pymodbus Specific
* Server: rtu - sync
* Client: rtu- sync

### Description
Hello,

I have a service running as a master device (sync, rtu, rs485). Now, I want to create another service in the same machine and in the same port. I know I need to implement a communication mecanism between the two services in order

[2019-05-27 14:52] dhoomakethu commented on #415
You can technically use the same port but as you have correctly mentioned you need to make sure only one is talking on the bus at any given point of time.

[2019-05-29 13:06] BjornSvensson opened #416 "Client.Sync inter_char_timeout at high baud rates"
### Versions

* Python: 3.7.0
* OS: Win10
* Pymodbus: 2.2.0
* Modbus Hardware (if used):

### Pymodbus Specific
* Client: rtu - sync

### Description

I read a single register using function code 3 (Read Holding Registers) 1000 times. About 2% of the readings failed, i.e. isError() was set in the response.

Baud rate 115200.

I suspect that the problem is that inter_char_timeout is not set for hig

[2019-05-29 13:24] dhoomakethu commented on #416
I believe you are facing the same issue as #353 . Use keyword option `strict=False` in your client initialization.

[2019-05-31 13:27] richaeell commented on #322
Where did you find the async.py with the socket.SO_REUSEADDR??

[2019-06-05 09:37] fiecato opened #417 "updating_writer() takes no keyword arguments"
### Versions

* Python: 3.7.3
* OS: linux mint 19.1
* Pymodbus: 2.2.0
* Modbus Hardware (if used):

### Pymodbus Specific
* Server: tcp - async

### Description

I created a new processin in the project with the multiprocessing module to run `tcp_server`, but the `StartTcpServer` runtime generates a prompt for `updating_writer() takes no keyword arguments`.

Modbus server can be connected by a cli

[2019-06-11 09:29] PrakharPriyesh opened #418 "Getting response as 32768 when reading holding register"
### Versions

* Python: 3.6
* OS: Windows
* Pymodbus: 2.2.0
* Modbus Hardware (if used): Energy Meter from schneider

### Pymodbus Specific
* Client: rtu - sync

### Description
I want to read the register value but in response I am getting 32768

### Code and Logs

[code]

[2019-06-13 05:00] PrakharPriyesh commented on #418
Issue was solved.
Actually the Schneider Energy Meter from which I was reading the frequency data has the register address 43109 and 43110. These two register combined together gave the output as floating point value. So, you need to read both the registers together and convert in the correct Endian representation Therefore the new code working is:

import struct
from pymodbus.client.sync import M

[2019-06-13 05:01] #418 closed

[2019-06-14 09:59] muratguenduez opened #419 "cant installing module pymodbus[twisted]"
from pymodbus.client.sync import ModbusTcpClient
ModuleNotFoundError: No module named 'pymodbus.client'; 'pymodbus' is not a package

i used pip procedure to install pymosbus step by step, i insatalled again visal studio build tools and sdk and the v14.0,  tried both pip and  pip3, paths were added.
but i have an error during the "pymodbus[twisted]" installing as below,

 LINK : fatal error LNK115

[2019-06-14 12:44] Tanjimuddin commented on #139
Hi, I am trying to send a command from CasModbus client software to Modbus server  running on raspberry pi to write 40001 register value to 50 and save it to the database. Is it possible in this way that you were discussing above?

[2019-06-18 04:28] dhoomakethu commented on #139
@Tanjimuddin You will have to use a [CustomDatablock](https://github.com/riptideio/pymodbus/blob/dev/examples/common/custom_datablock.py) along with `SqlSlaveContext` to achieve what you are hoping.

[2019-06-18 07:08] Tanjimuddin commented on #139
@dhoomakethu Thanks for your reply. I used below code and run this in pi. when I send command from CasModbus to write value to database. It shows an illegal data address.Could you please tell me where is the problem?
from __future__ import print_function
from pymodbus.server.asynchronous import StartTcpServer
from pymodbus.device import ModbusDeviceIdentification
from pymodbus.datastore import Mod

[2019-06-19 14:26] dhoomakethu commented on #139
Could you please attach the logs as well ?

[2019-06-19 14:53] dhoomakethu commented on #139
Ok here is the reason why you are getting `invalidAddress` error.

The `SqlContext` would create a database by name `pymodbus` in the directory where you are running the script and if you check the db, there are no entries in it by default. You will have to add rows to your table for the register address you want to access/store before trying to write to the db.

[code]
The `types` supported are `

[2019-06-27 07:08] Tanjimuddin commented on #139
@dhoomakethu Thanks for your reply. It is now working after creating rows into the database.

[2019-06-27 14:57] OldTinfoil commented on #419
If I were you, I would download the wheel file from Unofficial Windows Binaries for Python Extension Packages from the amazing Christoph Gohlke's site (https://www.lfd.uci.edu/~gohlke/pythonlibs/#twisted). Once downloaded, install it via `pip install c:\path\to\file`.

[2019-07-02 16:02] Sr4l opened #420 "Transaction failed. Connection reset by peer."
#96 # Versions

* Python: 3.5
* OS: Ubuntu 16.04 and Windows 10 tested
* Pymodbus: 1.5.2 and 2.2.0
* Modbus Hardware (if used): ABB Freelance Controller

### Pymodbus Specific
* Server: tcp - sync
* Client: tcp - sync

### Description
**What i've done:**
Write one program requesting registers every 100ms (data recorder).
Writer another program writing every 100ms a value (remote controller).

**Wh

[2019-07-02 22:09] HAMH96 opened #421 ""Incomplete message received" - Cannot read values of registers"
### Versions

* Python: 3.4.2
* OS: Debian (Raspberry 3B)
* Pymodbus: 2.2.0
* Modbus Hardware (if used): Multifunction Energy Meter YG889E-9SY

### Pymodbus Specific
* Server: Serial - Sync
* Client: RS485  - I don't know if sync or async
I use a RS485 to USB converter connected to raspberry

### Description

What were you trying, what has happened, what went wrong, and what did you expect?
Hi, I

[2019-07-03 01:27] dhoomakethu commented on #421
You are missing `unit` kwarg in your requests. The requests needs to be in the format  `value = client.read_input_registers(<offset>,<count>, unit=<unit-id>)`.

[2019-07-03 10:24] itofficeeu opened #422 "Example code fails - Async Asyncio Serial Client Example"
The code from this example:
[https://github.com/riptideio/pymodbus/blob/master/examples/common/async_asyncio_serial_client.py](https://github.com/riptideio/pymodbus/blob/master/examples/common/async_asyncio_serial_client.py)

Returns:

[code]

After removing "async" in front of "def" - comes this error:

[code]

Maybe something that should be corrected somehow ? - If it is an error?...

[2019-07-03 10:32] dhoomakethu commented on #422
Asyncio works only on Python 3.5 and above.

[2019-07-03 10:32] #422 closed

[2019-07-03 15:05] mpf82 commented on #384
Any updates on this? It's still ``six==1.11.0`` in the requirements.txt in all branches.

[2019-07-03 16:07] dhoomakethu commented on #384
It will be part of next release `2.3.0`.

[2019-07-03 19:51] HAMH96 commented on #421
What does "unit"means in that instruction? I don't understand so well

[2019-07-04 02:38] dhoomakethu commented on #421
The slave address you are trying to communicate.

ಗುರು, ಜುಲೈ 4, 2019 01:22 ದಿನಾಂಕದಂದು HAMH96 <notifications@github.com> ಅವರು
ಬರೆದಿದ್ದಾರೆ:

[2019-07-04 08:36] AlexandreRio commented on #389
I'm experiencing the same issue, specifying a parity Even works with a synchronous slave but the parameter seems to be ignored with the async slave.
What workaround do you recommend? I need to update my register from a different thread (as detailed in https://pymodbus.readthedocs.io/en/latest/source/example/updating_server.html)

[2019-07-04 10:25] dhoomakethu commented on #389
This should be fixed with pymodbus 2.2.0.

[2019-07-04 10:25] #389 closed

[2019-07-18 14:44] sfl0r3nz05 opened #423 "pymodbus over TLS"
### Versions

* Python: 3.7
* OS: Ubuntu 18.04
* Pymodbus: 2.2
* Modbus Hardware (if used): -

### Pymodbus Specific
* Server: tcp/rtu/ascii - sync/
* Client: tcp/rtu/ascii - sync/

### Description

What were you trying, what has happened, what went wrong, and what did you expect?

Hi, i'm trying to provide securty to modbus via [tlslite-ng](https://github.com/tomato42/tlslite-ng). Firstly, I test

[2019-07-22 02:42] dhoomakethu commented on #420
Apologies for the delayed response, where is the server running ? Also on the same PC ?

[2019-07-22 02:47] dhoomakethu commented on #417
How about initializing the loop like this ?`loop = LoopingCall(f=updating_writer, (context, subscriber ))`.

[2019-07-27 18:43] Sr4l commented on #420
Clients run on PC with versions and OSs mentioned above.

Server is running on a ABB Freelance AC700F (https://new.abb.com/control-systems/essential-automation/freelance/controller/ac700f)

[2019-07-28 04:23] dhoomakethu commented on #420
I would suggest to have both the operations running in the same script with locks to do only one operation at a time. The problem could be that the programs are receiving wrong responses which are not intended for them . It could also be the limitation on the server ad it could not handle the requests fast. Connection reset is generally initiated by the other party. Please try with a longer interv

[2019-07-30 18:38] kashperanto commented on #349
I believe I am having a similar issue with hanging code using the AsyncioModbusSerialClient, and I believe it is due to the timeout.  The coroutine just hangs forever, and when I use the asyncio.wait_for() workaround I just get a timeout every time.

Using the synchronous equivalent works perfectly fine, provided I use a reasonable timeout value on the serial connection (client.socket.timeout).  I

[2019-08-01 15:02] chshanoo opened #428 "Reading register sometimes but mostly gives error. 'ModbusIOException' object has no attribute 'registers' ."
There are similar issues posted before but those didnt helped me out in figuring out what causing this problem. Is it problem with my code or device

### Versions

* Python: 3.7
* OS: Windows/Raspbian
* Pymodbus: 2.2
* Modbus Hardware (if used): Baykee Solar Inverter

### Pymodbus Specific
* Server: tcp/rtu/ascii - sync/async
* Client: tcp/rtu/ascii - sync/async
Using RTU , rs485 to USB converter.

[2019-08-02 08:01] Tanjimuddin commented on #139
@dhoomakethu is it possible to save sql database 32bit long integer?

[2019-08-02 10:25] dhoomakethu commented on #139
Yes, it should be possible technically but considering the fact that each
word is 16bit long it is advised to store them as two successive entry in
the dB(16bit).

ಶುಕ್ರ, ಆಗ 2, 2019 13:31 ದಿನಾಂಕದಂದು Tanjim <notifications@github.com> ಅವರು
ಬರೆದಿದ್ದಾರೆ:

[2019-08-02 14:03] Tanjimuddin commented on #139
@dhoomakethu Thank you for your reply. I am having difficulties to insert unsigned 32bit integer in sql using sqlslavecontext and customdatablock. here attached is a client command and  pymodbusdb. code is also here.

` from __future__ import print_function
from pymodbus.server.asynchronous import StartTcpServer
from pymodbus.device import ModbusDeviceIdentification
from pymodbus.datastore import

[2019-08-02 16:19] pjrimmer opened #429 "Updating Server Problem"
Hello all, hopefully someone can help me please!

I have taken the following updating server example and adapted it for my needs:
https://pymodbus.readthedocs.io/en/latest/source/example/updating_server.html

My setup is a PLC running as a Modbus RTU master reading data from a Modbus RTU slave device. In between these nodes I have two Raspberry Pi's both with 2 x USB to RS485 adapters, which I am

[2019-08-02 16:47] pjrimmer commented on #429
Additional information:

I can reproduce the problem by using just a simple modbus master script on the local pi to poll the remote pi. Sometimes it works and sometimes it fails. It is almost as if the remote pi is too busy to respond so the request times out.

I have tried increasing the timeout period for the _ModbusSerialClient_ but this then seems to cause problems with updating the context.

[2019-08-02 16:47] pjrimmer commented on #429
Additional information:

I can reproduce the problem by using just a simple modbus master script on the local pi to poll the remote pi. Sometimes it works and sometimes it fails. It is almost as if the remote pi is too busy to respond so the request times out.

I have tried increasing the timeout period for the _ModbusSerialClient_ but this then seems to cause problems with updating the context.

[2019-08-02 20:43] pjrimmer commented on #429
I have done some more tests and it is definitely an issue with the remote pi not being able to respond to the read requests while it is updating its own slave context values.

I know this because as a test I changed the remote pi to just incrementing the values of the slave context as per the original example and the problem still occurs.

Any help on this would be greatly appreciated.

[2019-08-02 22:48] tracernz commented on #429
The synchronous client calls will block the event loop right?

[2019-08-03 09:28] pjrimmer commented on #429
Thanks for the reply. So should I try an asynchronous client instead then? I've tried but not had much luck with them so far!

[2019-08-08 03:33] srikanthsrnvs opened #430 "Modbus request Queue feature"
### Description

I'm working with a Modbus motor, and using registers to set it's position synchronously. Writing data to the register results in a Response before the motor has completed it's movements, and so multiple calls to move the motor, result in erratic behaviour. Here's some pseudo code below

### Code and Logs

[code]

This results in the motor only moving 1 unit, since it received a ne

[2019-08-08 03:43] dhoomakethu commented on #430
You can wait for the response to arrive before going with the next
transaction. Also try with different read timeouts so that you are not
sending the next request before the motor can process the request and send
back the response.

On Thu, Aug 8, 2019 at 9:03 AM Srikanth Srinivas <notifications@github.com>
wrote:

[2019-08-08 03:58] srikanthsrnvs commented on #430
@dhoomakethu The motor does not send a response after it completes the movement. It sends only an acknowledgement that it has received an update to a register.

[2019-08-08 13:59] Sr4l commented on #420
I simply can't connect with a second process over the same IP only solution is to share the same connection.

I  tried other ModbusTCP implementation as well. As long as there is one process in connected state, not even requesting or sending coils or registers. The second process can connect, but gets a `broken pipe` or `connection reset by peer` if he tries to use the connection.

Seems to be a p

[2019-08-08 13:59] #420 closed

[2019-08-15 00:57] srikanthsrnvs commented on #430
Anyone know how I can solve this?

[2019-08-17 21:08] fabaff commented on #384
Is there an ETA for 2.3.0?

[2019-08-19 03:32] dhoomakethu commented on #384
@fabaff Not sure, I am hopeful to clear some PR's this month and there should be a release next month but my hands are full and I can not commit a date. Thanks

[2019-08-19 15:01] fabaff commented on #384
Thanks

[2019-08-24 18:17] muzzammilhussain opened #432 "Check Modbus port before reading"
I am using Python 2.7 with pymodbus on rasberry 3 , I am trying to read the logs from one of the solar inverters by Growatt Company I am having a very strange issue , The inverter has two ports RS485 and rs232 , on rs485 a smart energy meter is working with modbus , on the other port Growatt own monitoring device was connected using Modbus I removed it and attachted a rasberry with pymodbus , now

[2019-08-26 10:43] krishnacy opened #433 "ModuleNotFoundError: No module named 'modbus_mapper'"
Hi there,

I am new to python and I am trying to write a small code to read modbus registers from a csv file with the help of https://github.com/riptideio/pymodbus/blob/master/examples/contrib/modbus_mapper.py
However, I'm getting the following error, please help me sort this issue.

I'm trying to import the modbus_mapper as follows:
from pymodbus.client.sync import ModbusTcpClient
from modbus_map

[2019-08-26 15:11] dhoomakethu commented on #433
The examples in `contrib` folders are quiet outdated and are prone to be incompatible with latest pymodbus but in your case it looks like you are having a [PYTHONPATH](https://stackoverflow.com/questions/3701646/how-to-add-to-the-pythonpath-in-windows-so-it-finds-my-modules-packages) issue. Please make sure you set the `PYTHONPATH` correctly before running your program.

[2019-08-26 15:11] #433 closed

[2019-08-29 01:50] hackerboygn opened #434 "Parity issues in the Async Asyncio Client"
### Versions

* Python:3.7.4
* OS:Windows 10
* Pymodbus:2.2.0  （pip install）
* Modbus Hardware (if used): None

### Pymodbus Specific
* Client: rtu- async

### Description

I follow the manual test 'Async Asyncio Client Example', and I want change parity to even but don't work,  I use the monitoring software found out the parity always None. I think we forgot to pass this parameters to pyserial.

[2019-08-29 01:58] hackerboygn commented on #434
#389

[2019-08-29 10:26] tracernz commented on #423
Word is that Schneider will soon support Modbus over TLS on their PLCs as specified in http://modbus.org/docs/MB-TCP-Security-v21_2018-07-24.pdf

[2019-08-29 10:58] tracernz commented on #430
I can see two ways:
- poll the motor controller for it's status and/or position
- wait at least long enough for the requested move to complete

The first is much less error prone.

[2019-08-30 01:11] hackerboygn commented on #434
#436

[2019-09-02 02:35] srikanthsrnvs commented on #430
This was the solution. I implemented a priority queue where polling has a smaller priority than a command, and ran the queue in a loop.

[2019-09-02 02:35] #430 closed

[2019-09-02 07:45] Howeng98 opened #437 "'ModbusIOException' object has no attribute 'registers'"
### Versions

* Python: 3.7
* OS: Linux
* Pymodbus: 1.3.1
* Pymodbus3: 1.0.0
* Modbus Hardware (if used):

### Description

I want to use Modbus to execute JY-CZ1000-GN.  And I use the code as below, and It can't worked. The point is it can worked last time (a few weeks ago),but now cannot.
I wonder that maybe it is not the software(code) problem, should be handware problem, I guess it is the wire

[2019-09-02 08:09] dhoomakethu commented on #437
Try using the kwarg `strict=False` when initializing the client on windows environment.
`scale = ModbusClient(method='rtu', port='/dev/ttyUSB0', parity='N', baudrate=9600, bytesize=8, stopbits=2, timeout=1, strict=False)`. Please share the logs if you are still having the issues.

[2019-09-02 08:36] Howeng98 commented on #437
@dhoomakethu
Hi sir, sorry for typo , I am using Linux for running this code
And I had tried to add 'strict' into that line, but the error message still same as before

Error Msg:
Modbus Error: [Input/Output] No Response received from the remote unit
'ModbusIOException' object has no attribute 'registers'

I also had tried to use time.sleep(1) to make it delay for received complete data message,or

[2019-09-02 10:55] dhoomakethu commented on #437
Please use the latest version of pymodbus (2.2.0) and see if it solves the issue. The issue could also be due to wrong serial settings. Please share the logs for further analysis.

[2019-09-03 07:23] Howeng98 commented on #437
@dhoomakethu
Thanks for you suggestion sir, I have try to use pymodbus (2.2.0) version but it still can't work.

Log:
DEBUG:pymodbus.transaction:Current transaction state - IDLE
DEBUG:pymodbus.transaction:Running transaction 1
DEBUG:pymodbus.transaction:SEND: 0x10 0x4 0x0 0x0 0x0 0xa 0x73 0x4c
DEBUG:pymodbus.client.sync:New Transaction state 'SENDING'
DEBUG:pymodbus.transaction:Changing transactio

[2019-09-05 13:27] jaroslaw-wieczorek opened #438 "Modbus TCP/IP ReadHoldingRegisters - decoding error"
### Versions

* Python: 3.7
* OS: Linux Manjaro
* Pymodbus: 2.20

### Description
I met problem with decoding requests and response messages with function_code == 3 Holding Registers:
List of example packages - first package is ReadHoldingRegistersResponse and is decoded correctly.
But another packets always return error message:  'unpack requires, a buffer of 4 bytes'
(when i try decode them as r

[2019-09-08 09:30] starnight commented on #423
If you are trying to use internet as the transmission media, you can import ModbusTcpClient (or other socket related) instead of ModbusSerialClient.  By the way, I have also just sent the PR #439 that you may be interested in.

[2019-09-10 14:55] Oliver-Prislan opened #442 "Access Siemens PAC3100 (RTU) via PAC4200 (TCP)"
can somebody assist providing a __short example__ on how to read the serial meters behind a modbusTCP __gateway__ with pymodbus?

I know the PAC4200 should listen on port 17002 (mod1) for slaves and the address should be 10.

modbusTCP to port 502 to the master works quite well already.

Thank you

[2019-09-11 12:26] saanchezfer opened #443 "Connection with a converter in the middle?"
* Python: 3.7
* OS: Windows
* Pymodbus: Last
* Modbus Hardware (if used):  Cirwatt 410-vt7a-90b-10

### Description
Hi! I'm an internship in the Electric Company of my city. They told us to read some three-fase meters that have RS232 ports. We can read them very easy, but the idea is to have them far away from here, so they put [this](https://www.usriot.com/products/rs232-to-ethernet-converter.htm

[2019-09-13 12:16] Howlinmoon commented on #394
I'm trying to figure out if I am seeing this same split packet issue with the RTU framer.

My master device is sending this command:

[2019-09-13T12:09:37.412Z][DEBUG]-ModbusMaster.py:43,Sending request: address=1, function=3, data=[0, 0, 0, 1]

And the Pymodbus Async server is reporting this error:

2019-09-13 07:51:33,892 MainThread      DEBUG    sync           :45       Client Connected [/dev/t

[2019-09-17 02:39] dhoomakethu commented on #443
If the device can support Modbus TCP and if you can get a public IP assigned to it or if the device is accessible from with in your network, you can use pymodbus to read data over ModbusTCP. Otherwise it is not possible. You can take a look at https://github.com/riptideio/pymodbus/blob/master/examples/contrib/serial_forwarder.py. May be that is something you are looking for.

[2019-09-17 02:39] #443 closed

[2019-09-17 02:40] dhoomakethu commented on #442
Refer https://github.com/riptideio/pymodbus/blob/master/examples/contrib/serial_forwarder.py . That could help.

[2019-09-17 02:40] #442 closed

[2019-09-17 02:41] dhoomakethu commented on #438
@jaroslaw-wieczorek  Sorry for the delayed response. Could you provide a complete debug log for this issue ?

[2019-09-17 02:49] dhoomakethu commented on #434
Closed with #436

[2019-09-17 02:49] #434 closed

[2019-09-17 02:50] dhoomakethu commented on #432
If you can control the readings of both device from the same script, use `locks` to restrict access to the bus when other is reading.

[2019-09-17 11:17] saanchezfer commented on #443
No, the device only throws info through RTU, but we have to arrive to it through a converter because it will be far away from the computer.

[2019-09-19 10:14] dexterhussain commented on #432
yes its done thanks :)

[2019-09-19 10:15] dexterhussain opened #445 "Modbus daisychain"
We have 20 Trio and 30 Trio installed , we are making a daisy chain , in daisy chain when a connection is made , first 7 are working correct , and 5 in same building are also when we connection two buildings , we start getting checksum error. Any Idea or help why is being caused?

[2019-09-25 09:10] krishnacy commented on #433
Hi @dhoomakethu

Sorry for the late reply, Thank you for your support with the path issue, i am importing the def from the modbus_mapper and facing the following issue in the following function

template = ['addr', 'fun', 'type', 'stat']
def mapping_decoder(mapping_blocks, decoder=None):

    for block in mapping_blocks.values():
        for mapping in block.values():
            print(mapping)

[2019-09-26 03:41] dhoomakethu commented on #445
Are you reading the bus at the same time ?

[2019-09-26 07:08] jaroslaw-wieczorek commented on #438
I use kaitai struct library to extract Modbus TCP/IP from payload TCP/IP.
My decoder based on this example: https://pymodbus.readthedocs.io/en/v1.3.2/examples/message-parser.html
Problem is with decoding message because some devices send one byte more - something like 1 byte flag on the end of message.

During debug I noticed that ReadRegistersRequestBase in "decode" method get 5 bytes more than e

[2019-09-26 08:09] dhoomakethu commented on #438
That is interesting to know that you can still decode the message in wireshark . Could you please provide a screenshot of wireshark or the data you are feeding to pocketor for me to verify ?

[2019-09-26 13:33] jaroslaw-wieczorek commented on #438
![Screenshot_2019-09-26 Packetor - Online network Packet Analyzer Decoder](https://user-images.githubusercontent.com/19189927/65692513-fdc5c100-e072-11e9-9fa8-754339aa4751.png)

![obraz](https://user-images.githubusercontent.com/19189927/65692406-c6571480-e072-11e9-933e-5a3fa17e796f.png)

[2019-09-27 07:46] shnabin opened #448 "TypeError: string indices must be integers"
Hi @dhoomakethu

Sorry for the late reply, Thank you for your support with the path issue, i am importing the def from the modbus_mapper and facing the following issue in the following function

template = ['addr', 'fun', 'type', 'stat']
def mapping_decoder(mapping_blocks, decoder=None):

    for block in mapping_blocks.values():
        for mapping in block.values():
            print(mapping)

[2019-09-29 02:55] aharrah commented on #307
Hello,

I've run into a curious issue in sync.py's _wait_for_data().

I have two USB to RS485 converters. One behaves well, but the other, which unfortunately I am strapped with, does not.

Specifically the poorly behaving converter will send along about 9 bytes, then buffer the remaining bytes. This buffering takes longer than the 0.01 second threshold in _wait_for_data(), such that _wait_for_dat

[2019-09-29 05:29] dhoomakethu commented on #307
@aharrah can you give some more info on your setup (os, pymodbus version etc?)

[2019-09-30 05:39] aharrah commented on #307
OS: Windows 10
Python version: 3.6.8
pymodbus version: 2.2.0

I am communicating with sensors from www.vaisala.com, specifically their temperature and CO2 sensors.

The only issue is with `ReadDeviceInformationRequest`. All `read_holding_register` requests work w/o any issues.

The USB to RS485 adapter provided by Vaisala behaves well, but the generic USB to RS485 adapter does not behave well.

[2019-09-30 07:30] dexterhussain commented on #445
reading bus means?

[2019-09-30 09:51] fkromer opened #449 "Read the docs v2.2.0 link is dead"
### Versions

* Pymodbus: v2.2.0

### Description

I'd like to reference the specific pymodbus documentation v2.2.0 on read the docs in a project. It seems like version specific documentation is generated, but the link to the docs of the version in question is dead: [pymodbus.readthedocs.io (v.2.2.0)](https://pymodbus.readthedocs.io/en/v2.2.0/) Will this link work as soon as v2.2.0 is no the lates

[2019-09-30 12:24] dhoomakethu commented on #449
Latest should be pointing to be referencing to v2.2.0 . I will check why the link is broken

[2019-10-01 22:10] aharrah commented on #307
I was also able to reproduce the behavior on Linux. We are using a PLC (https://revolution.kunbus.com/revpi-connect/) that runs Linux.

uname -a:
`Linux still-boat 4.9.76-rt60-v7+ #1 SMP PREEMPT RT Tue, 12 Mar 2019 15:19:36 +0100 armv7l GNU/Linux`

[2019-10-02 11:32] dhoomakethu commented on #307
On Windows you probably will have to use `strict=False` as one of the kwarg while creating the client. You can also increase read timeout to see if that helps. In any case debug logs would help to identify the issue.

[2019-10-02 18:00] aharrah commented on #307
The issue is with the `while` loop on line 546. This loop will loop as long as new data arrives. When 10ms goes by without any new data the loop will exit.

In some cases 10ms is too short and the loop exits prematurely. Increasing the wait on line 553 to 30ms will work around the problem, at least for my particular situation.

--

There is a related issue in `_send()` around line 525 which is:
`r

[2019-10-04 13:00] saanchezfer opened #450 "Pymodbus over DNP3 message"
* Python: 3.7
* OS: Windows
* Pymodbus: Last

I have this, and I don't know how to "translate" to something that pymodbus can understand, my head is broken till now. I understand that dnp3 is compatible with modbus.
![image](https://user-images.githubusercontent.com/52218924/66209301-7210ed80-e68d-11e9-936a-8596abe5da97.png)

Ty!

[2019-10-07 10:43] dhoomakethu commented on #384
This should be fixed as part of [v2.3.0rc1](https://pypi.org/project/pymodbus/2.3.0rc1/) , please give it a spin and update.

[2019-10-07 10:44] #384 closed

[2019-10-10 16:58] sherpya opened #453 "intermittent exceptions.ValueError: invalid literal for int() with base 16: ''"
I'm trying to implement a simple client/server using twisted, I've made a connection between two serial ports adapters (ttyUSB0 and ttyUSB1).

server code:
[code]

client code:

[code]

The code works intermittently, the server is launched and never stopped, the client is launched multiple times, unfortunately the error is into non user-catchable code.

There is something wrong in the design? I su

[2019-10-12 00:43] tompropst commented on #437
I am seeing this same error. In my case, I'm connecting over TCP and most the register reads succeed. Only about once a day (or less) do I see this error while reading every 10 seconds.

From the log output above, it looks like the incomplete message should be [raising an exception](https://github.com/riptideio/pymodbus/blob/master/pymodbus/transaction.py#L260) but perhaps it is being ignored some

[2019-10-12 06:42] tracernz commented on #437
Those exceptions are caught and returned by functions higher up. As you can see in @Howeng98 reply above:

The way error handling currently works in the public pymodbus API is exception objects are returned, not raised as exceptions. See the comment by @dhoomakethu https://github.com/riptideio/pymodbus/issues/298#issuecomment-386175043, and that issue for wider context.

[2019-10-15 16:24] wonka929 opened #454 "Missing option for 64bit dword swap"
We found on some device installations that there are few devices that expose variables in 64bit format with dword swap + word swap + byte swap (ideally, Big.Endian, Big.Endian, Big.Endian)

There is actually no option to allow for dword swap for 64bit registers. May I ask for it to be introduced?

( example: from 7FFB 3A70 CE88 FB3F  to  3FFB 88CE 703A FB7F )

[2019-10-16 19:17] andrey-gvrd opened #455 "Please add a float16 formatter for the REPL"

[2019-10-17 16:08] iudeen opened #456 "ERROR: pymodbus 2.2.0 has requirement six==1.11.0, but you'll have six 1.12.0 which is incompatible."
ERROR: pymodbus 2.2.0 has requirement six==1.11.0, but you'll have six 1.12.0 which is incompatible. On installing pymodbus alongside Azure Iot edge for using in a dockerized iot edge deployment.

Upgrading the library to use latest six requested.

[2019-10-17 16:30] dhoomakethu commented on #456
This is fixed in `pymodbus==2.3.0rc1`

[2019-10-17 16:30] #456 closed

[2019-10-20 22:16] Sytten opened #457 "Small typo"
Just a small typo here: https://github.com/riptideio/pymodbus/blob/f0edef3071d500b7e3a987ee196c38bb79f59518/pymodbus/pdu.py#L22
`mesages` -> `messages`

[2019-10-20 22:20] Sytten commented on #457
Found another one: https://github.com/riptideio/pymodbus/blob/2ef91e9e565b10fc9abc0840c87cf4a29f3d9bbf/pymodbus/transaction.py#L40
`Impelements` -> `Implements`

[2019-10-21 01:11] dhoomakethu commented on #455
modbus at the end of the day can only deal with integers, to convert float in to integer (ieee754 single precision float format) pymodbus depends on Python built in library `struct` , which requires a minimum 4 bytes(32 bits) as input and hence we only support float32 and float64

[2019-10-21 08:34] tracernz commented on #455
[Is it not `e`](https://docs.python.org/3.8/library/struct.html#format-characters)? Look like [it was added in Python 3.6](https://docs.python.org/3.6/whatsnew/3.6.html#struct) and not supported in 2.7.

[2019-10-21 15:02] simplezhao opened #458 "How dose asyncio client recover from server restart"
### Versions

* Python: 3.7
* OS: macOS
* Pymodbus: pymodbus-2.3.0rc1
* Modbus Hardware (if used):

### Pymodbus Specific
* Client: tcpasync

### Description

What were you trying, what has happened, what went wrong, and what did you expect?
I want to use asyncio to run pymodbus client, Normally it is working. But when I stop the Modbus server and restart the Modbus server. My problem is :
the cli

[2019-10-21 16:34] dhoomakethu commented on #453
@sherpya do you have a traceback and logs at the time of error?

[2019-10-21 16:35] dhoomakethu commented on #455
@tracernz thanks for the hint. I will have it added to the pymodbus to-do list.

[2019-10-22 12:45] sherpya commented on #453
@dhoomakethu it is a defective usb/serial converter, the problem is here:
[code]

(I've manually added the exception in the same place), somehow data is an empty string here,
I suppose it is not so common, but it definitively can happen

[2019-10-22 18:27] ffontaine commented on #401
It seems that latest release (2.3.0rc1) on pypi doesn't contain the license file. It would be really nice to add it on next release.

[2019-10-24 14:45] andreasoie opened #460 "AttributeError: 'ExceptionResponse' object has no attribute 'registers'"
# Version

* Python: 3.6.8
* OS: Windows 10
* Pymodbus: 2.2.0
* Modbus Hardware (if used):

### Pymodbus Specific
* Server: tcp = WAGO PLC 750
* Client: tcp=  MY PC

### Description

Im trying to establish some sort of communication with my WAGO PLC over Modbus TCP.
Can't really say its easy tbh. I've encountered many small issues, but this one its the obvious one.
Have tried to access the slave a

[2019-10-24 17:56] tracernz commented on #460
Replace:
[code]
With:
[code]
You are getting an exception response, most likely from the device at the other end.

[2019-10-27 16:00] mberntsen opened #461 "udp server using asyncio has bugs"
### Versions

* Python: 3.7
* OS: linux
* Pymodbus: git version
* Modbus Hardware (if used):

### Pymodbus Specific
* Server: tcp - async
* Client: tcp - async

I've been toying with the UDP server using asyncio and ran into two issues:

client/asynchronous/asyncio/__init__.py:
line 128: self.transport.write(packet)
notimplemented error
reason: UDP transport uses sendto instead of write (for TCP)

[2019-10-29 11:00] #461 closed

[2019-10-29 11:02] #457 closed

[2019-10-29 11:03] #449 closed

[2019-10-29 11:05] dhoomakethu commented on #449
https://pymodbus.readthedocs.io/en/v2.3.0/

[2019-10-31 14:08] iguqur opened #462 "ModbusSerialServer blocking causes response dislocation"
### Versions

* Python:3.7.4
* OS:ubuntu 16.04
* Pymodbus:2.2.0
* Modbus Hardware (if used):

### Pymodbus Specific

* RemoteServer: tcp - sync (libmodbus C)
* Server: rtu - sync - timeout=3 - RetryOnEmpty=True - Retries=1
* Client: rtu - sync - timeout=3 - RetryOnEmpty=False

### Description

ModbusSerialServer blocking causes response dislocation.

The steps like this:
1. Client send frame 1 to

[2019-11-03 16:54] TheChatty opened #463 "ModbusServerContext does not pass down unit id"
### Versions

* Python: 3.8.0
* OS: Windows 10 x64
* Pymodbus: 2.3.0
* Modbus Hardware (if used):

### Pymodbus Specific
* Server: tcp - sync
* Client: rtu - sync

### Description

While running _Synchronous Serial Forwarder_ example I noticed that the unit id from client call is not used as I expected it. In all cases I have my client call the forwarder like:
`client.read_holding_registers(0,1,un

[2019-11-03 17:05] TheChatty opened #464 "socket_framer can't handle Trovis View 4.66 ModBus TCP/IP"
### Versions

* Python: 3.8.0
* OS: Windows 10 x64
* Pymodbus: 2.3.0
* Modbus Hardware (if used): Trovis View 4.66

### Pymodbus Specific
* Server: tcp - sync for Trovis View
* Client: tcp - sync with rtu framer for my heating regulator

### Description

I'm trying to use PyModbus as a TCP RTU gateway. Upon connect [Trovis View 4.66](https://www.samsongroup.com/fileadmin/user_upload/service/softwa

[2019-11-03 18:02] TheChatty opened #465 "PyModbus unreliable compared to minimalmodbus"
### Versions

* Python: 3.8.0
* OS: Windows 10 x64
* Pymodbus: 2.3.0
* Modbus Hardware (if used): Trovis 5573

### Pymodbus Specific
* Server: rtu - sync
* Client: rtu - sync

### Description

I am comparing two simple scripts basically doing the same. The minimalmodbus script is very reliable with a timeout >=0.15s. The PyModbus script is failing very often no matter which timeout I set (even 10s

[2019-11-04 01:51] dhoomakethu commented on #465
@TheChatty if you are using this on a windows machine create the client with `strict=False` . That should fix the issue you are facing.

[2019-11-04 12:03] TheChatty commented on #465
@dhoomakethu: That solved it. Then I was experimenting with different inter_char_timeout value and found that 3.5 * self._t0 did the trick as well. Values lower than that had the error appear once in a while.

[2019-11-04 12:03] #465 closed

[2019-11-05 11:18] stv0g commented on #385
I see the same behaviour in our setup.

I was hoping that disabling the strict mode to relax the intra character timing requirements could fix the issue.

However, creating the client with the `strict=False` setting is only supported in the synchronous version.

[2019-11-05 16:16] dhoomakethu commented on #462
Please provide code samples and logs to understand the issue better.

[2019-11-05 16:16] #460 closed

[2019-11-05 16:19] dhoomakethu commented on #455
Fixed with v2.3.0

[2019-11-05 16:19] #455 closed

[2019-11-05 16:20] dhoomakethu commented on #423
Should be fixed with v2.3.0. Please feel free to open if something is broken

[2019-11-05 16:20] #423 closed

[2019-11-05 16:21] #417 closed

[2019-11-05 16:21] dhoomakethu commented on #399
Should be fixed with v2.2.0 and above

[2019-11-05 16:21] #399 closed

[2019-11-05 16:24] dhoomakethu commented on #401
@ffontaine @cdgarren Please check v2.3.0. The license should be part of the source distribution now.

[2019-11-05 19:10] TheChatty commented on #464
That link was working at the moment I posted it. I'll tell the vendor later.

[V4.63 for Trovis 500x](https://www.samsongroup.com/fileadmin/user_upload/service/software/TROVIS-VIEW/tv4-500x-v463.zip) is probably working similarily. You can select any heating regulator it and configure it to use Modbus TCP. When you try to connect it will send its "garbage" already.

A [Trovis 5573](https://www.sam

[2019-11-11 17:06] albireox opened #467 "Deprecated coroutine"
### Versions

* Python: 3.8
* OS: macOS 10.15
* Pymodbus: 2.3.0
* Modbus Hardware (if used): WAGO

### Pymodbus Specific
* Client: tcp - async

### Description

Trying to import `from pymodbus.client.asynchronous.asyncio import AsyncioModbusTcpClient` produces a series of messages `[WARNING]: "@coroutine" decorator is deprecated since Python 3.8, use "async def" instead (DeprecationWarning)`. Pyth

[2019-11-11 23:16] TheChatty commented on #464
I sniffed on the communication between Trovis View and my heating regulator and found that it encapsulates all requests and the response repeats that encapsulation. And my 5573 understands both messaging methods.

So if I want to read the first holding register I can send (like PyModbus does):
`0xf7,0x03,0x00,0x00,0x00,0x01,0x90,0x9c`
I get the response:
`0xf7,0x03,0x02,0x15,0xc5,0xbe,0x92`

But T

[2019-11-15 19:23] TheChatty opened #468 "Payload Building/Decoding Example fails"
### Versions

* Python: 3.8.0
* OS: Windows 10 x64
* Pymodbus: 2.3.0
* Modbus Hardware (if used):

### Pymodbus Specific
* Server: [payload-server.py](https://pymodbus.readthedocs.io/en/latest/source/example/modbus_payload_server.html)
* Client: [payload-client.py](https://pymodbus.readthedocs.io/en/latest/source/example/modbus_payload.html)

### Description

While trying to find the best way to s

[2019-11-18 11:41] iguqur commented on #462
hi

server.py
[code]

client.py
[code]

log for server.py
[code]

log for client.py
[code]

### Description

As long as ModbusSerialServer blocks onece, the next transactions will be dislocation and cannot automatically resume normal.

[2019-11-19 11:01] charliboy opened #469 "bug feedback"
https://github.com/riptideio/pymodbus/blob/fbdc470ae3e138c50e3659ec4ec8ebf39df58936/pymodbus/framer/socket_framer.py#L160

here is a bug.
When the data of 1024 bytes are processed to the last frame, there will be a frame with insufficient data length. At this time, which should not be discarded. It should be combined with the new data, otherwise the whole data will be confused. and then loss of a

[2019-11-27 11:25] charliboy commented on #469
Later code also needs to be commented out, like the following:

while True:
            if self.isFrameReady():
                if self.checkFrame():
                    if self._validate_unit_id(unit, single):
                        self._process(callback)
                    else:
                        _logger.debug("Not a valid unit id - {}, "
                                      "ignoring!

[2019-12-04 14:27] marcin1j opened #472 "Socket framer tries to decode partial ADU"
### Versions

* Python: 3.6.5
* OS: Linux 4.19
* Pymodbus: 2.1.0
* Modbus Hardware (if used): Modbus TCP/RTU gateway (microcontroller, custom hardware)

### Pymodbus Specific
* Server: not used
* Client: tcp async

### Description

Modbus TCP asyncio client tries to decode partially received TCP/IP ADU frame and complains about being unable to decode request.
This happens sparsely but strongly sug

[2019-12-04 14:49] dhoomakethu commented on #472
Are you observing the same behaviour with the latest pymodbus 2.3.0 ?

[2019-12-08 20:07] tty74it opened #473 "Problem with modbus MC6 thermostat"
2019-12-08 20:56:21 DEBUG (SyncWorker_1) [pymodbus.transaction] Running transaction 7
2019-12-08 20:56:21 DEBUG (SyncWorker_1) [pymodbus.transaction] SEND: 0x0 0x7 0x0 0x0 0x0 0x6 0x1 0x3 0x0 0x2 0x0 0x1
2019-12-08 20:56:21 DEBUG (SyncWorker_1) [pymodbus.client.sync] New Transaction state 'SENDING'
2019-12-08 20:56:21 DEBUG (SyncWorker_1) [pymodbus.transaction] Changing transaction state from 'SEN

[2019-12-08 20:16] tty74it commented on #473
I've tried also rtuovertcp but no way

2019-12-08 21:14:50 DEBUG (SyncWorker_12) [pymodbus.transaction] Current transaction state - IDLE
2019-12-08 21:14:50 DEBUG (SyncWorker_12) [pymodbus.transaction] Running transaction 1
2019-12-08 21:14:50 DEBUG (SyncWorker_12) [pymodbus.transaction] SEND: 0x1 0x3 0x0 0x2 0x0 0x2 0x65 0xcb
2019-12-08 21:14:50 DEBUG (SyncWorker_12) [pymodbus.client.sync] New Tr

[2019-12-09 21:38] dbc opened #474 "AsyncModbusTCPClient does not support custom messages"
### Versions
Python 3.7.2 (default, Jan 11 2019, 21:31:15)
[GCC 5.4.0 20160609] on linux
Type "help", "copyright", "credits" or "license" for more information.

'2.3.0'

Linux/Ubuntu 16.04, also 18.04
* Python:
* OS:
* Pymodbus:
* Modbus Hardware (if used):

### Pymodbus Specific

using asyncio, tcp

### Description

What were you trying, what has happened, what went wrong, and what did you expect

[2019-12-11 07:47] charliboy commented on #472
I have the same problem. It's caused by this bug :
https://github.com/riptideio/pymodbus/issues/469

[2019-12-11 16:15] marcin1j commented on #472
@dhoomakethu Sorry for my late reply. It seems I forgot to send my comment a couple of days ago...

First of all, switching to pymodbus 2.3.0 doesn't make any difference. Sadly all the extra logs (from both 2.2.0 and 2.3.0) are now gone but I assure there was no difference in log messages.

Now to the point. After a careful review my finding is that it looks like the library complains about incomp

[2019-12-12 01:05] charliboy commented on #472
@marcin1j  When the communication data is large, many frames data are received at the same time. due to the bug of https://github.com/riptideio/pymodbus/issues/469 ,the last frame data with MBAP header but incomplete will be discarded . The new data received next time contains the rest of the data of the previous frame, but when decoding, because there is no MBAP, the system cannot decode the data

[2019-12-12 18:31] dbc opened #475 "AsyncModbusTCPClient does not support concurrent requests"
### Versions

* Python: 3.7.2
* OS: Ubuntu 16.04
* Pymodbus: 2.3.0
* Modbus Hardware (if used): Sorry, can't say. Major equipment maker.

### Pymodbus Specific
* Server: tcp/rtu/ascii - sync/async
* Client: tcp/rtu/ascii - sync/async -TCP/async

### Description

What were you trying, what has happened, what went wrong, and what did you expect?

Calling await rr = connection.read_holding_registers(

[2019-12-16 05:53] ujwalashirodkar21 commented on #49
I am facing the same problem of importing inspite of successful installation of pymodbus

ModuleNotFoundError: No module named 'pymodbus'

[2019-12-16 15:12] maximeLeurent commented on #394
Hi,

I just face the same issue with a TCP device.
I am using a SMA Sunny Tripower device. In SMA FAQ, they are talking about message split [https://www.sma.de/fr/produits/surveillance-controle/interface-protocole-modbus.html](url) (section Modbus provides two answers upon request).

Here a piece of code, showing my issue. In sync mode there is no problem; In async mode, the message is split in tw

[2019-12-17 18:30] lovasoa opened #476 "MyPy type annotations"
### Description

Type annotations allow programmers to automatically check whether code uses APIs with the right parameter types. They are very useful and often prevent bugs. It would be great if this project could provide [mypy type annotations](https://mypy.readthedocs.io/en/latest/stubs.html).

[2019-12-18 01:06] dhoomakethu commented on #476
@lovasoa thanks for the suggestion. Right now I do not have enough bandwidth for this. I will be more than happy to accept a PR.

[2019-12-18 01:06] #476 closed

[2019-12-18 09:31] lovasoa commented on #476
Great ! Can we keep the issue open until then ? It will give it more visibility. Maybe you could add a "help wanted" label ?

[2019-12-18 13:45] lpilz commented on #394
### **Versions**

    Python: 2.7.16
        OS: Raspbian 10
        Pymodbus: 2.1.0

### **Pymodbus Specific**

    Server: rtu - sync

### **Description**

I am seeing a similar problem with a RTU device (synchronous). Here, sometimes the messages get cut off and I get a `ModbusIOException`. This, however, is not reliably reproducible, it just happens some of the time. When I then try to send th

[2019-12-18 17:30] lovasoa opened #477 "Asyncio server fails on every connection when the logging level is set to "debug""
### Pymodbus Specific
* Server: tcp - async with asyncio
* OS: MacOS 10.15.1

### Description

The asyncio server raises an error on every connection when setting it to listen on "localhost" on MacOS.

### Code and Logs

[code]

[code]

[code]

[code]

Edit: Removed inaccurate diagnostic.

[2019-12-18 17:37] lovasoa commented on #477
The same bug seems to exist in `connection_lost`, in the same class.

This may come from a quick copy&paste from the synchronous server. In the synchronous server, `self.client_adress` is a tuple `(host, port)`. In the async server, it is obtained from `transport.get_extra_info('peername')`, which is a string.

[2019-12-18 18:23] lovasoa commented on #477
Here is the documentation for the format returned by `transport.get_extra_info('peername')` and  `transport.get_extra_info('peername')` :

https://docs.python.org/3/library/socket.html#socket-families

The value is not always a two-tuple.

I worked around the bug by binding the server on `127.0.0.1` instead of `localhost`.

[2019-12-19 09:40] lovasoa opened #479 "AttributeError: 'NoneType' object has no attribute 'cancel' in pymodbus.server.asyncio"
### Versions

* Python: 3.7
* OS: MacOS 10.15.1
* Pymodbus: 2.3.0

### Pymodbus Specific
* Server: tcp - asyncio

### Description

Launching a local asyncio server with verbose logging, connecting to it, and then disconnecting.

### Code and Logs

[code]

Then connecting to the tcp socket and immediately disconnecting :

[code]

[2019-12-29 08:36] andynnd commented on #394
I met the same issue like yours.

[2019-12-30 14:23] andynnd commented on #394
Hi, you can use [https://github.com/riptideio/pymodbus/pull/466](url) to fix your issue. I use this and it works.

[2019-12-30 15:55] otdftr opened #485 "pymodmus sync RTU client produces CRC failure"
Upon receiving serial data, the slave unit id is returned as a two byte value MSB first. This behaviour  after the udate from pymodbus 1.3 > 2.3 an a debian (raspian) update).

Up to now, I could not find out the actual reason for this (and I am not a python programmer). I assume it could be a type cast somewhere in the receiving code.

For the time being, I improvised a quick fix which works for

[2020-01-01 06:34] dhoomakethu commented on #485
@otdftr what is the slave under discussion here ? is it an external modbus device or pymodbus serial server running locally ?

[2020-01-01 14:36] otdftr commented on #485
hi @dhoomakethu, the devices are modbus electricity meters, both show the same behaviour. ID #2 is a Finder 7E.8.400, #21 (not shown above) an Eastron SDM630-Modbus V2.

[2020-01-05 22:52] gbrucepayne opened #486 "Asyncio serial client not passing in all serial parameters, may help with sync issues"
### Versions

* Python: 3.6.9
* OS: Linux Mint 19.3
* Pymodbus: 2.3.0
* Modbus Hardware (if used): SCADAPack 100 (Schneider Electric)

### Pymodbus Specific
* Client: rtu - async - asyncio

### Description

I see frequent framing errors where the client is not waiting for the response to complete, dropping bytes that cause the CRC to fail.  I tried to add 'timeout' parameter but it threw an unexpe

[2020-01-11 14:54] dhoomakethu commented on #479
Use `address=("0.0.0.0", 5020)` instead of `('localhost', 5020)`. That should solve this issue.
Sorry for the delayed response.

[2020-01-11 22:10] lovasoa commented on #479
This is a useful workaround, but don't you think the underlying issue deserves a fix ? `"localhost"` is a perfectly valid host. If you don't have the bandwidth to fix the issue now, maybe you can just leave it opened ?

[2020-01-12 06:09] dhoomakethu commented on #479
I agree , that's is the reason why I have put the label as `enhancement`

[2020-01-19 23:18] mihai-dobre commented on #298
2 years later we still need to module to behave in a more pythonic way when it comes to exceptions. Another problem I've identified is the fact that the exceptions are not actual exceptions( they not inherit Exception ). So there is literally a nightmare to do exception handling. I know, I'm complaining, but I'm also willing to help if possible.

[2020-01-20 01:05] dhoomakethu commented on #298
I am all open for PR's. Thanks

[2020-01-21 23:58] modular-tester-wa opened #488 "Modbus server not retry to send packet when client not responding, Retries not working"
### Versions

* Python: 3.7
* OS: Windows
* Pymodbus: 2.2.0
* Modbus Hardware (if used):

### Pymodbus Specific
* Server: rtu
* Client: rtu

### Description
Modbus server not retry to send packet when client not responding. Packet is sent only first time, after that no any activity from server.

### Code

[code]
### Logs from pymodbus
[code]

[2020-01-23 17:05] lovasoa opened #489 "ReconnectingAsyncioModbusTcpClient.start yields an invalid client when the first connection does not succeed"
### Description

ReconnectingAsyncioModbusTcpClient.start does start a client that tries to reconnect, but when the first connection attempt fails, the client is returned immediately instead of waiting for the next attempt.

### Code and Logs

[code]

When the connection fails in client.start, one could expect that the client will retry the connection and yield a value only when the connection is

[2020-01-28 20:41] rodrigorpgsc opened #490 "Maximum value for count at read_holding register"
### Versions

* Python: 3.6.9-64bits
* OS:Ubuntu bionic64
* Pymodbus: 2.2.0
* Modbus Hardware (if used):  None

### Pymodbus Specific
* Client: tcp - sync

### Description

The ammount of register from read_holding_register don`t sound rigth if the size is above 128. If you run the code below you`ll able to see the behaviour

### Code and Logs

[code]
The output is 127 and 1, but should be 127 and

[2020-01-29 01:10] dhoomakethu commented on #490
The max number of registers you can poll using read_holding_registers is 125 as per modbus specs, And it is not guaranteed if any number greater than that would yield a proper value. you will have to split up your reads .

[2020-01-29 01:10] #490 closed

[2020-01-29 11:10] rodrigorpgsc commented on #490
ah ok, I didn`t know that! Thanks for your reply

[2020-02-02 15:59] wildstray opened #491 "Another typo length lenght"
Apart the typos carried by my PR #480, I just noticed another one in pymodbus/framer/socket_framer.py (dev branch):
[code]

[2020-02-06 03:45] alexanderK1987 opened #492 "Wierd logic when handling no_response_device in transaction.py"
file: `transaction.py`
function: `def execute(self, request)`

if the comment section in function `def _transact(...)` is correct
the value of `full` parameter for a irresponsive device should be `False` and the value for a responsive device should be `True`.

[2020-02-11 07:33] uddin122 opened #493 "pymodbus server running in local LAN does not connect from remote clinet."
I am trying to connect pymodbus server running on 192.168.1.32:502 from a virtual machine that has an IP address of 130.230.42.42. What would be the reason except for network connection. The server is able to connect from the client 192.168.1.10.

[2020-02-14 17:16] wildstray opened #494 "'ModbusTcpClient' object has no attribute 'handle_local_echo' if client != ModbusSerialClient"
Branch: dev

  File "/home/andrea/LWE/MPO/Myna/wolf/pymodbus/transaction.py", line 242, in _transact
    if self.client.handle_local_echo is True:
AttributeError: 'ModbusTcpClient' object has no attribute 'handle_local_echo'

Suggested fix:

```if getattr(self.client, 'handle_local_echo', False) is True:```

Instead of:

```if self.client.handle_local_echo is True:```

[2020-02-17 10:18] #493 closed

[2020-02-19 10:45] gcbirzan opened #495 "isFrameReady for ModbusRtuFramer returns True incorrectly on partial reads"
### Versions

* Python: 3.7.x
* OS: Linux
* Pymodbus: 2.3.0
* Modbus Hardware (if used): Qeed QC-PM485 electricity meter

### Pymodbus Specific
* Client: rtu - async

### Description

The RTU isFrameReady very naive.

https://github.com/riptideio/pymodbus/blob/fbdc470ae3e138c50e3659ec4ec8ebf39df58936/pymodbus/framer/rtu_framer.py#L132-L140

It assumes that if self._hsize (1 in this case) was read,

[2020-02-19 10:53] gcbirzan commented on #494
[code]
Is the pythonic way of doing that.

[2020-02-24 13:40] Grcutter commented on #382
@snaptec
Did you eventually get this working without the occasional errors?
I would like to use the USR-TCP232-304 to communicate with an EPSOLAR Tracer 3210A  RS485/Modbus device.  Would this be possible?

[2020-03-03 13:26] maximeLeurent opened #496 "asyncio ModbusTCPFramer problems with splited answer"
Hi,

I have a similar issue as #394 . I also comment in this issue, but this issue involved RTU and i am using TCP. The answer proposed (#466 ) is not valid for TCP. So i repost my issue here

I am using a SMA Sunny Tripower device. In SMA FAQ, they are talking about message split https://www.sma.de/fr/produits/surveillance-controle/interface-protocole-modbus.html (section Modbus provides two answ

[2020-03-17 10:30] JulesEmangeard opened #497 "Sync ModbusSerialClient don't get full response of RS485 equipments"
### Versions

* Python: 3.7
* OS: Windows 10 x64
* Pymodbus: 2.3.0
* Modbus Hardware (if used):

### Pymodbus Specific
* Server: tcp/rtu/ascii - sync/async
* Client: tcp/rtu/ascii - sync/async

### Description

What were you trying, what has happened, what went wrong, and what did you expect?

I was trying to get Modbus RTU equipments informations (like brand or reference) using function code 43 (

[2020-03-18 02:36] dhoomakethu commented on #497
On windows machine, use `strict=False` when the client is initialized . That should solve the issues most of the time.
`client = ModbusSerialClient(method='rtu', ...., strict=False)`

[2020-03-18 10:41] CrimsonGhost69 commented on #495
Thank you so much! That fixed my issue

[2020-03-18 11:21] #495 closed

[2020-03-21 09:53] akashb12 opened #498 "pymodbus.client.sync import ModbusTcpClient -error #244"
### Versions

* Python:
* OS:
* Pymodbus:
* Modbus Hardware (if used):

### Pymodbus Specific
* Server: tcp/rtu/ascii - sync/async
* Client: tcp/rtu/ascii - sync/async

### Description

What were you trying, what has happened, what went wrong, and what did you expect?

### Code and Logs

[code]

[2020-03-26 08:51] cheryjose commented on #421
@HAMH96 did you find a solution for this problem, I am having this problem now

[2020-03-26 08:53] cheryjose commented on #328
@marcoprestes did you find a solution for this problem

[2020-04-14 00:20] teddyrendahl opened #499 "Why does BinaryPayloadBuilder.add_bits flip bit order"
### Description
I have some `pymodbus` code that is writing different bits to a register and noticed that the `BinaryPayloadBuilder` is doing some interesting manipulation of my bits that I pass in before writing them.

Now, I want to re-iterate, I am **not** talking about the word order or the byte order. I am talking about the order of the bits that I am passing in.
### Code and Logs
Now to give

[2020-04-14 03:54] dhoomakethu commented on #499
@teddyrendahl Interesting observation. Let me check and update (Apologies if it takes more time to get back)

[2020-04-14 07:23] marhoy opened #500 "When using asyncio, received message is truncated"
### Versions

* Python: 3.7.3
* OS: Linux (Debian 10.3 on a rpi3)
* Pymodbus: 2.3.0
* Modbus Hardware: USB <-> serial: FT232 based.

### Pymodbus Specific
* Server: A Flexit ventilation aggregate
* Client: rtu - async

### Description
I'm trying to use the asyncio serial client with an already running event loop.

Using the sync serial client, I have no problems talking to my modbus device. But th

[2020-04-14 08:35] janiversen commented on #500
I can confirm this, as I have the same problem. Furthermore async tcp does not allow the use of the RTU framer. When looking at the source code it is not implemented.

[2020-04-16 10:19] keelung-yang opened #501 "Aligned hex-string in log"
I got debug log like this:
[code]
Too many 0x, and not aligned by width.
So it's hard to compare them by human's reading.

It's helpfull if each byte aligned like this:
[code]

[2020-04-21 04:28] dhoomakethu commented on #498
Closing as no description is available

[2020-04-21 04:28] #498 closed

[2020-04-21 04:29] dhoomakethu commented on #497
@JulesEmangeard Will be closing this .Please re-open if the solution provided does not help

[2020-04-21 04:29] #497 closed

[2020-04-23 07:14] krishnacy commented on #448
Hi @dhoomakethu

Any idea till when modbus_mapper example new release comes out ?

[2020-04-23 11:09] dhoomakethu commented on #448
@krishnacy honestly I have no timeline in mind. I am hopeful to clear the backlog next month. Hopefully end of may ,there should be a new release

[2020-05-07 09:17] qwyinxiang opened #502 "ModbusTcpServer cannot get value from client device."
My device connection diagram is like this：
ModbusTCPServer<——>ModbusTCPClient1<——>Device1 With Modbus Protocol.
ModbusTCPServer<——>ModbusTCPClient2<——>Device2 With Modbus Protocol.
ModbusTCPServer<——>ModbusTCPClient3<——>Device3 With Modbus Protocol.
Can any one give me a example to obtain devices datas through ModbusTCPServer?
I  don’t particularly understand what ModbusSequentialDataBlock means？

[2020-05-08 10:57] dhoomakethu commented on #502
Client is the one which can fetch data from a modus device a.k.a server. Is your device a real device or are you trying to simulate it with pymodbus?

[2020-05-11 01:33] qwyinxiang commented on #502
@dhoomakethu ，my device is real modbus sensors, such as noise sensor, temperature and humidity sensor and other real sensors, They all use the Modbus protocol. I have changed the noise sensor and temp&humi sensor's unitId to 1,2. and the sensors function code is 3, sensor's address is 0 and register count is 2.
When I use the ModbusTcpClient, I call the read_holding_registers() function to get sen

[2020-05-14 13:52] tty74it commented on #473
Is a hardware issue, with a new firmware the mc6 modbus thermostat works fine

[2020-05-14 13:52] #473 closed

[2020-05-18 15:43] nat-kh opened #503 "Reading REAL Holding Registers (float 32 bit)"
### Versions
* Python: 3.6.4
* Pymodbus: 2.3.0
* Modbus Hardware: Micro820, Rockwell Automation

### Pymodbus Specific
* Client: tcp- sync

### Description
For this Controller, I had to do the Modbus Mapping myself. Whilst all of the functions did work, I'm getting weird values when I read a **REAL** Holding Register (didn't have any issue with INT or BOOL).

**Modbus Mapping**: Address: 400001, v

[2020-05-19 08:11] nat-kh commented on #503
Just found out, what my mistake was... wordorder should be Endian.Little and not Endian.Big
Sorry!

[2020-05-19 08:11] nat-kh commented on #503
Just found out, what my mistake was... wordorder should be Endian.Little and not Endian.Big
Sorry!

[2020-05-19 08:11] #503 closed

[2020-05-20 07:29] bsuiram commented on #485
we are also seeing something like this on aarch64.
Same code works on x86_64. same external device,

Failing aarch64 (arm64):
`2020-05-20 07:25:30,228 - DEBUG - pymodbus.transaction - Current transaction state - IDLE
2020-05-20 07:25:30,229 - DEBUG - pymodbus.transaction - Running transaction 1
2020-05-20 07:25:30,229 - DEBUG - pymodbus.transaction - SEND: 0xa 0x4 0x75 0x3f 0x0 0x1 0x1a 0xb1
2020-

[2020-05-24 12:04] dhoomakethu commented on #485
@bsuiram the receive data on the aarch64 looks messy, does this happen for all reads or once in a while ? What OS are you running ?

[2020-05-25 12:57] bsuiram commented on #485
It happens for all reads.
The platform is a docker container (arm64v8/python:3-alpine) running on a cisco ir1101 router.
We are currently trying to verify the serial connection from the container to the device.

After implementing the quickfix described above (chopping of the first byte of the RECV buffer) we are getting strange values from the registers we are trying to read from the device, but

[2020-05-27 07:09] rag2180 commented on #333
@dhoomakethu - I am getting this same error in v.2.3.0.
**OS**: Raspbian GNU/Linux 8 (jessie)
**Hardware**: Raspberry Pi
**Connector**: RS485

Following are the logs:

2020-05-27 12:00:20,211 - pymodbus.transaction - DEBUG - Current transaction state - TRANSACTION_COMPLETE
2020-05-27 12:00:20,212 - pymodbus.transaction - DEBUG - Running transaction 1017
2020-05-27 12:00:20,214 - pymodbus.transacti

[2020-05-28 09:52] nat-kh opened #506 "Client doesn't connect to Server correctly"
### Versions
* Python: 3.6.4
* Pymodbus:  2.3.0
* Modbus Hardware (if used): Micro820 (Client)

### Pymodbus Specific
* Server: tcp - sync
* Client: tcp - sync

### Description
I'm trying to implement a Modbus server using pymodbus to serve different modbus clients.
I don't have errors in my code, but my client doesn't correspond to the right server. When I run the server code and the client code,

[2020-05-28 14:38] dhoomakethu commented on #506
Your port's looks different , that could be a typo. But without logs from both server and client, its hard to offer a solution.

[2020-05-28 15:02] nat-kh commented on #506
The server that I'm working with isn't a modbus server, but I want to make it one; I don't know if what I wrote above doesn't work because of that (since I need to create a modbus map for the controller in order to communicate with it, I assume).
 Would the simulator example help me furthter with creating a modbus map in the server and enabling it of a modbus communication?
I managaed to write and

[2020-06-12 07:59] bsuiram commented on #485
Do you need more infromation on this issue @dhoomakethu?

[2020-06-12 08:56] Culla95 opened #507 "Performance"
### Versions

* Python: 3.7
* OS: Windows/Linux(on docker)
* Pymodbus:
* Modbus Hardware (if used):

### Pymodbus Specific
* Server: tcp- sync
* Client: tcp- sync

### Description

I am testing pymodbus on Docker. So I built 2 images both based on Ubuntu(latest) one for the server in which I run "synchronous_server.py" and the client where I run "performance.py". It actually works but the results

[2020-06-13 02:15] dhoomakethu commented on #507
@Culla95 Could you provide information of about your host (CPU/RAM) ? The seems pretty low for TCP.

[2020-06-13 02:18] dhoomakethu commented on #485
@bsuiram Apologies for the delay. I haven't gotten any time to work on pymodbus offlate, so expect delays with the backlog clearing. Will check and update

[2020-06-13 08:32] Culla95 commented on #507
@dhoomakethu i5-6600k 16gb, it shouldnt be such a problem

[2020-06-17 15:32] BenoistM opened #508 "Python Modbus String decoding issue"
### Versions

* Python: python 3.6.9
* OS: linux ubuntu server 20.04
* Pymodbus: 2.3.0

### Pymodbus Specific
* Server: tcp
* Client: tcp

### Description

I have an issue with the pymodbus decoder with strings. For example, when I try to read 'abcdefg' pymodbus gives me 'badcfehg'. The byteorder and the wordorder don't change the result.

Here is my code:

### Code and Logs
[code]

The order does

[2020-06-19 10:35] tracernz commented on #508
The string decoder doesn't do any swapping, it just passes the underlying buffer through. https://github.com/riptideio/pymodbus/blob/5048a1a8da5558aa40d1d0f867982218c2096afe/pymodbus/payload.py#L495

[2020-06-19 13:00] BenoistM commented on #508
Yes but the decoder should swap depending on the byteorder and wordorder values, is not it?

[2020-06-20 12:53] tracernz commented on #508
It's not. I agree that it should, because as you have discovered, devices do swap strings as well.

[2020-06-21 05:58] krishnacy commented on #448
Hi @dhoomakethu , any chance of new release this month!

[2020-06-29 12:59] AnkitaPadma commented on #437
I m facing the same issue. Any solution was found?

[2020-07-02 07:20] dhoomakethu commented on #508
@BenoistM I tried the [modbus_payload.py](https://github.com/riptideio/pymodbus/blob/master/examples/common/modbus_payload.py) with all possible combination of Wordorder and byteorder against a synchornous server and I could not reproduce your issue. Here are the logs from the script

[code]

[2020-07-02 08:14] dhoomakethu commented on #506
@nat-kh I am not sure getting your problem, are you telling you want to mock a real modbus slave(server) ? A client in modbus world is someone who reads or writes to a slave(server) and it doesn't have a modbus map of its own.

[2020-07-03 08:31] dhoomakethu commented on #494
Fixed with https://github.com/riptideio/pymodbus/commit/e402d9fdd2f1f8a4e178b8da0c28b3b17aeefac3#diff-40a48d0b5cf576d37ccece3543183f65R242
Please give a try with this branch https://github.com/riptideio/pymodbus/tree/asyncio-bug-fixes

[2020-07-03 08:32] dhoomakethu commented on #491
Fixed in https://github.com/riptideio/pymodbus/tree/asyncio-bug-fixes

[2020-07-03 08:32] #491 closed

[2020-07-03 08:33] dhoomakethu commented on #486
This is fixed with. https://github.com/riptideio/pymodbus/tree/asyncio-bug-fixes Refer https://github.com/riptideio/pymodbus/commit/e402d9fdd2f1f8a4e178b8da0c28b3b17aeefac3#diff-90d825c299aa37cc31eb357be29777fbR731.

Please check and confirm.

[2020-07-03 08:37] dhoomakethu commented on #385
Fixed with https://github.com/riptideio/pymodbus/commit/e402d9fdd2f1f8a4e178b8da0c28b3b17aeefac3#diff-90d825c299aa37cc31eb357be29777fbR731. Now `timeout` could be passed as a kwarg during client initialization.

[2020-07-03 08:40] dhoomakethu commented on #500
A couple of issues have been fixed  with commit https://github.com/riptideio/pymodbus/commit/e402d9fdd2f1f8a4e178b8da0c28b3b17aeefac3.
1. Using already [running loop](https://github.com/riptideio/pymodbus/commit/e402d9fdd2f1f8a4e178b8da0c28b3b17aeefac3#diff-90d825c299aa37cc31eb357be29777fbR731)

Please give a try with branch https://github.com/riptideio/pymodbus/tree/asyncio-bug-fixes

[2020-07-03 09:48] tracernz commented on #508
@BenoistM Are you reading the string from a 3rd party device, or a pymodbus server instance?

[2020-07-03 10:15] BenoistM commented on #508
Thank you for your tests. As your log shows, why the encoded registers are the same whatever the wordorder and byteorder? If you try to encode 'abcdefg' with different wordorder/byteorder the writing registers should not be the same is not it?

I try to read the values from a schneider PLC, I can't define the byte/wordorder of the registers. I temporarily solve this issue with the python to_bytes

[2020-07-03 11:37] tracernz commented on #508
Which family? Quantum, M340/580? I can do some tests at work on those.

[2020-07-03 11:50] BenoistM commented on #508
It's an M340

[2020-07-04 05:04] dhoomakethu commented on #508
@BenoistM That's something I am currently looking in to. The issue is still open. Can you share the logs of your reads and write with the PLC please ?

[2020-07-04 14:01] dhoomakethu commented on #458
A potential fix is available in this branch https://github.com/riptideio/pymodbus/tree/async-updates. Please give it a try.

[2020-07-04 14:05] #416 closed

[2020-07-04 14:07] #432 closed

[2020-07-04 14:09] dhoomakethu commented on #437
use `result.isError()` to validate if the result is a valid response or an error response.

[2020-07-04 14:09] #437 closed

[2020-07-04 14:11] dhoomakethu commented on #458
This should be kind of fixed with branch https://github.com/riptideio/pymodbus/tree/async-updates. Please give it a try

[2020-07-04 16:28] BenoistM commented on #508
I can't write in this PLC, I only do reading:

Here is my code:

[code]

and the logs:
[code]

The original word is: "degrilleur" (+empty bytes). I did tests on encoding only (I did not write in the PLC). The results of the encoding were the same as @dhoomakethu (the registers were the same, whatever the order).

[2020-07-05 06:32] smoczy25 opened #509 "Python modbus Unit decode"
https://github.com/riptideio/pymodbus/blob/fbdc470ae3e138c50e3659ec4ec8ebf39df58936/pymodbus/client/asynchronous/twisted/__init__.py#L101

Always be 0 because all framers not return 'uid' but 'unit'

[2020-07-05 09:09] tracernz commented on #508
M340:
<img width="352" alt="Screen Shot 2020-07-05 at 8 57 20 PM" src="https://user-images.githubusercontent.com/9995998/86529147-62675380-bf02-11ea-88b4-7db72a699a75.png">

[code]

Quantum:
<img width="367" alt="Screen Shot 2020-07-05 at 9 05 48 PM" src="https://user-images.githubusercontent.com/9995998/86529251-5def6a80-bf03-11ea-9527-de319091186b.png">

[code]

The bytes definitely need to be s

[2020-07-05 09:31] dhoomakethu commented on #508
Thanks for the logs @BenoistM and for the analysis @tracernz . I will add this to 3.x release

[2020-07-06 11:51] AnkitaPadma commented on #437
@dhoomakethu  So to resolve the 'ModbusIOException' object has no attribute 'registers' i try resending the request multiple times till i receive a proper response.
Currently using a while loop.
Is there a service in pymodbus doing the same?

[2020-07-06 12:21] dhoomakethu commented on #437
@AnkitaPadma I am afraid that's the way to go. In general, unless the communication is  not stable the slaves should/would return the positive response. You can also check what kind of error is being returned to debug further.

[2020-07-07 12:09] smoczy25 opened #510 "Firsrst message is rejected"
https://github.com/riptideio/pymodbus/blob/master/pymodbus/framer/rtu_framer.py
Bad init of self._header, first message validation rise error of unit mismatch

### Versions

* Python:
* OS:
* Pymodbus:
* Modbus Hardware (if used):

### Pymodbus Specific
* Server: tcp/rtu/ascii - sync/async
* Client: tcp/rtu/ascii - sync/async

### Description

What were you trying, what has happened, what went wro

[2020-07-08 12:25] nat-kh commented on #506
@dhoomakethu I know. My Goal is to make my Controller a Modbus server. That's why I wanted to build a map for the Server and wanted to read it's Contents with my client. In this case, my Client happens to be a controller, that's capable of being both a Server and a client. Even though I only want it to be a Client to my server, I don't know why I'm getting the Contents of it's table (as if  I was

[2020-07-09 12:46] nat-kh commented on #506
@dhoomakethu another question: By Setting my server's port to 502,
 `server= ModbusTcpServer(context=context, identity=identity, address=('', 502))`
I would be reading the values that I set in my context when I run client's Code (i.e client.read_holding_registers)
but this seems to only work when my host is set as local host:
'client = ModbusClient(host='localhost', port=502)'
This doesn't seem to

[2020-07-09 13:35] dhoomakethu commented on #506
You can try `server= ModbusTcpServer(context=context, identity=identity, address=('0.0.0.0', 502))` to enable the server to listen on any enabled network interface , you can then connect to the server with `ModbusClient(host='localhost', port=502)` or `ModbusClient(host='<IP ADDRESS>', port=502)`

[2020-07-09 13:38] dhoomakethu commented on #506
Regarding your attempt to have both server and client on the same controller, checkout https://github.com/riptideio/pymodbus/blob/master/examples/contrib/remote_server_context.py and https://github.com/riptideio/pymodbus/blob/master/examples/contrib/serial_forwarder.py.

[2020-07-10 08:19] nat-kh commented on #506
@dhoomakethu Thank you for your help!
One final question, can I access my local host Server, that I built in python from a remote Client's software and read the server's values in that software?

Thank you for everything and sorry, I ended up asking a lot of things, since I was curious about a lot of stuff.

[2020-07-10 09:12] nat-kh commented on #506
@dhoomakethu  actually even in python, is it possible to have the localhost as the server, whereas an extern controller is the client?

[2020-07-10 13:12] nat-kh commented on #506
@dhoomakethu Thank you for your help!
Thank you for everything and sorry, I ended up asking a lot of things, since I was curious about a lot of stuff.

[2020-07-10 13:12] #506 closed

[2020-07-14 02:28] jsr1611 commented on #437
Hi folks,

I do face a similar issue.

I receive data but sometimes, it gives me the same error. Here is my print:

Count	 ID	 Temp	 Humidity	 Part03	 Part05	 DateTime
...
5 		 4	 23.28 	 49.51 		 6631 	 759 	 2020-07-14 11:22:19.464
6 		 1	 24.4 	 46.74 		 9259 	 848 	 2020-07-14 11:22:20.231
6 		 3	 24.32 	 47.02 		 7334 	 1492 	 2020-07-14 11:22:20.631
6 		 4	 23.26 	 49.52 		 6641 	 760 	 2020

[2020-07-14 15:13] Culla95 commented on #507
@dhoomakethu how did you managed that benchmark of 31430 request/second?

[2020-07-15 04:13] dhoomakethu commented on #507
@Culla95 I had my server and the performance monitoring script running on the same host to calculate those values.

[2020-07-15 09:22] Culla95 commented on #507
@dhoomakethu and what kind of host was it? because I have tried that on my i5-6600k 16gb and also in AWS EC2 and the best I am getting is close to 2000 request/second. If you could replicate the performance test I would appreciate it a lot. Thank you

[2020-07-15 14:26] dhoomakethu commented on #507
@Culla95 I happen to run the tests again now and I am not able to reach even 1000 req/second on i5 8GB machine. Will have to check what changed between the last time the tests were performed against now.

[2020-07-15 14:47] Culla95 commented on #507
@dhoomakethu ok thank you, when you do please let me know. Thanks once again.

[2020-07-15 14:58] dhoomakethu commented on #507
[code]

[2020-07-16 09:40] tracernz commented on #507
Even if you use uvloop it's not that much better.

Going back to older, with python 3.6.11 and pymodbus 1.3.2 I get 1413 req/s async and 1578 sync compared to 1642 async / 1520 sync with python 3.8.4 and pymodbus 2.3.0.

[2020-07-16 20:05] flyinggorilla commented on #508
ran into same bug

as a workaround I had to manually reverse the byteorder
[code]

[2020-07-19 17:04] tirkarthi opened #512 "Deprecation warning due to invalid escape sequences"
### Versions

* Python: 3.8
* OS: Ubuntu
* Pymodbus: master branch
* Modbus Hardware (if used):

### Description

Deprecation warnings are raised due to invalid escape sequences. This can be fixed by using raw strings or escaping the literals. pyupgrade also helps in automatic conversion : https://github.com/asottile/pyupgrade/

### Code and Logs

[code]

[2020-07-19 17:06] tirkarthi opened #513 "asyncio.coroutine has been deprecated since Python 3.8 and will be removed in future"
### Versions

* Python: 3.8
* OS: Ubuntu
* Pymodbus: master branch
* Modbus Hardware (if used):

### Description

asyncio.coroutine has been deprecated since Python 3.8 and will be removed in future. Use `async def` instead.

### Code and Logs

[code]